.context-menu {
  border-width: 2px;
  border-style: solid;
  border-color: @admin-medium-gray-border;
  background: @admin-white;

  li {
    font-family: @admin-font-family;
    background-color: transparent;
    font-size: 14px;
    width: 120px;
    border-width: 0;
    color: @admin-dark-gray-font;

    padding: 5px;
    margin: 0;

    &:hover:not(.context-menu-item-disabled) {
      cursor: pointer;
      background-color: @admin-blue;
      color: #fff;
    }

    &:disabled {
      opacity: 0.5;
    }

    &.disabled {
      opacity: 0.5;
    }

  }
}

