.x-toolbar.admin-topbar-panel {
    color: #FFF;
    font-size: 14px;
    padding: 6px;
    background: black; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 1, startColorstr = '#000000', endColorstr = '#4B4A4C'); /* for IE */
    background: -webkit-gradient(linear, left top, right top, from(#000), to(#4B4A4C)); /* for webkit browsers */
    background: -moz-linear-gradient(left, #000, #4B4A4C); /* for firefox 3.6+ */
}

.admin-topbar-panel .start-button button {
    overflow: visible;
}

.admin-topbar-panel .start-button .x-btn-icon {
    width: 24px;
    height: 24px;
    top: -4px;
}

.admin-topbar-panel .start-button .x-btn-inner {
    padding-left: 30px;
}

.admin-topbar-panel .start-button.x-btn-over {
    background: #444;
}

.admin-topbar-panel .x-toolbar-text,
.admin-topbar-panel .x-btn-default-toolbar-small .x-btn-inner {
    color: #FFF;
    font-size: 16px;
}

.admin-topbar-panel .x-btn-default-toolbar-small {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    padding: 6px 16px;
    border: 0 none;
    background-color: transparent;
}

.x-menu-body.admin-topbar-menu {
    background: #FFF !important;
    padding: 10px !important;
    border: 0 none !important;
}

.admin-topbar-menu .title {
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    color: #0066cc;
    text-align: center;
    overflow: visible;
    margin-bottom: 12px;
}

.admin-topbar-menu .title span {
    position: relative;
    bottom: -6px;
    padding: 0 4px;
    background: #FFF;
}

.admin-topbar-menu .info {
    text-align: center;
    font-size: 16px;
    color: #aaa;
    padding: 10px 0;
}

.admin-topbar-menu .tools {
    margin-top: 6px;
    font-size: 11px;
}

.admin-topbar-menu .tools a {
    color: #0066cc;
}

.admin-topbar-menu .tools a:visited {
    color: #0066cc;
}

.admin-topbar-menu .tools .close {
    float: left;
}

.admin-topbar-menu .tools .close-all {
    float: right;
}

.icon-data-white {
    width: 24px;
    height: 24px;
    background: url("../../../dev/examples/images/data_white.png") center no-repeat;
}

.icon-data-blue {
    width: 24px;
    height: 24px;
    background: url("../../../dev/examples/images/data_blue.png") center no-repeat;
}

.admin-topbar-menu-item {
    padding: 6px;
    font-size: 13px;
}

.admin-topbar-menu-item.active {
    background: #EEE;
}

.admin-topbar-menu-item .x-form-cb-wrap {
    padding: 0;
}

.admin-topbar-menu-item em {
    position: relative;
    top: -2px;
    font-size: 11px;
    font-style: normal;
}