/*****      Generic     *****/
.admin-preview-panel .x-fieldset-header {
    border-bottom: 1px solid #F0F0F0;
    display: block;
    width: 100%;
    padding: 0 15px;
}

.admin-preview-panel .x-fieldset-header-text {
    color: #555;
    font-weight: bold;
    font-size: 12px;
    float: none;
}

.admin-preview-panel .x-fieldset {
    border: 0 none;
    padding: 0;
    margin: 0 0 20px;
}

.admin-preview-panel .x-fieldset table {
    margin: 0 15px;
}

.admin-preview-panel, .admin-preview-panel td, .admin-preview-panel th {
    font-size: 11px;
}

.admin-preview-panel .path {
    font-size: 14px;
    color: #777;
}

.admin-preview-panel h1 {
    margin-bottom: 4px;
    font-size: 26px;
    font-weight: normal;
}

.admin-preview-panel td, .admin-preview-panel th {
    padding: 1px;
    text-align: left;
}

.admin-preview-panel ul {
    margin: 0;
}

.admin-preview-panel th {
    font-weight: bold;
    color: #555;
}

.admin-preview-panel td.label {
    width: 100px;
    color: #777;
}

.admin-preview-panel .message {
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    color: #ccc;
    margin: 50px;
}

/*****      West        *****/
.admin-preview-panel .west img {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
}

/*****      Center      *****/
.admin-preview-panel .center {
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.admin-preview-panel .center, .admin-preview-panel .center th, .admin-preview-panel .center td {
    font-size: 12px;
}

.admin-preview-panel .center th, .admin-preview-panel .center td {
    padding: 2px;
}

.admin-preview-panel .center .email {
    color: #777;
}

.admin-preview-panel .center .container {
    margin: 5px 10px 5px 10px;
}

.admin-preview-panel .center .config-container textarea {
    background: #FFF;
    border: 0 none;
}

/*****      East        *****/
.admin-preview-panel .east .container {
    margin-bottom: 20px;
}

/*****      Tabs strip    *****/
.admin-preview-panel .x-tab-bar-strip {
    top: 40px !important; /* Default value is 20, we add 20 = 40 */
    display: none;
}

.admin-preview-panel .x-tab-bar {
    background: none #f0f0f0;
    margin: 0 0 20px;
    border: 0 none;
}

.admin-preview-panel .x-tab-bar * {
    background: none transparent !important;
    border: 0 none !important;
}

.admin-preview-panel .x-tab-bar .x-tab-bar-body {
    height: 43px !important; /* Default value is 23, we add 20 = 43 */
    border: 0 none !important; /* Overides the border that appears on resizing the grid */
}

.admin-preview-panel .x-tab-bar .x-tab-bar-body .x-box-inner {
    height: 41px !important; /* Default value is 21, we add 20 = 41 */
}

.admin-preview-panel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
    height: 41px !important; /* Default value is 21, we add 20 = 41 */
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.admin-preview-panel .x-tab-bar .x-tab button {
    height: 33px !important; /* Default value 13, we add 20 = 33 */
    line-height: 33px !important; /* Default value 13, we add 20 = 33 */
    font-size: 12px;
    color: #777;
    font-weight: normal;
}

.admin-preview-panel .x-tab-bar .x-tab-active button {
    color: #000;
}

.center .x-panel-body-default {
    border: 0 none;
}

fieldset.admin-memberships-container {
    margin-bottom: 0 !important;
}

/*****      Places Tab      *****/
.admin-preview-panel .address {
    margin: 15px;
}

.admin-preview-panel .address  h3 {
    margin: 0 15px;
}

.admin-preview-panel .address .body {
    padding: 15px;
    border: 1px solid #ccc;
    background: #f5f5f5;
}

.admin-preview-panel .address .body table {
    margin: 0;
}

.admin-preview-panel > .x-panel-body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}