/*      24px    */

.icon-metro-accounts-24 {
    background: transparent url("../images/icons/metro/24x24/users2.png") 0 0 no-repeat !important;
}

.icon-metro-cluster-24 {
    background: transparent url("../images/icons/metro/24x24/virus.png") 0 0 no-repeat !important;
}

.icon-metro-content-studio-24 {
    background: transparent url("../images/icons/metro/24x24/cube_molecule.png") 0 0 no-repeat !important;
}

.icon-metro-userstores-24 {
    background: transparent url("../images/icons/metro/24x24/user_earth.png") 0 0 no-repeat !important;
}

.icon-metro-content-manager-24 {
    background: transparent url("../images/icons/metro/24x24/data.png") 0 0 no-repeat !important;
}

.icon-metro-site-admin-24 {
    background: transparent url("../images/icons/metro/24x24/earth.png") 0 0 no-repeat !important;
}

.icon-metro-live-trace-24 {
    background: transparent url("../images/icons/metro/24x24/window_oscillograph.png") 0 0 no-repeat !important;
}

.icon-metro-schedule-24 {
    background: transparent url("../images/icons/metro/24x24/clock.png") 0 0 no-repeat !important;
}

.icon-metro-dashboard-24 {
    background: transparent url("../images/icons/metro/24x24/gauge.png") 0 0 no-repeat !important;
}