#admin-user-preview {
}

/*--- Generic ---*/
.admin-user-preview,
.admin-user-preview td,
.admin-user-preview th {
    font-size: 11px;
}

.admin-user-preview h1 {
    font-size: 26px;
    font-weight: normal;
}

.admin-user-preview td,
.admin-user-preview th {
    padding: 1px;
    text-align: left;
}

.admin-user-preview ul {
    margin: 0;
}

.admin-user-preview table {
    width: 100%;
    margin-bottom: 20px;
}

.admin-user-preview th {
    font-weight: bold;
    color: #555;
}

.admin-user-preview td.label {
    width: 100px;
    color: #777;
}

/*--- West Layout ---*/
.admin-user-preview .west {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;

}

.admin-user-preview .west .photo-placeholder {
    margin-bottom: 10px;
}

.admin-user-preview .photo-placeholder img {
    width: 100px;
    height: 100px;
}

/*--- Center Layout ---*/
html>body .admin-user-preview .center {
    margin-left: 121px;
    margin-right: 241px;
}

.admin-user-preview .center {
    margin-left: 101px;
    margin-right: 101px;

    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;

}

.admin-user-preview .center,
.admin-user-preview .center th,
.admin-user-preview .center td {
    font-size: 12px;
}

.admin-user-preview .center th,
.admin-user-preview .center td {
    padding: 2px;
}

.admin-user-preview .center th,
.admin-user-preview .center td,
.admin-user-preview .center .container,
.admin-user-preview .center .navigation {
    padding-left: 10px !important;
}

.admin-user-preview .center th {
    border-bottom: 1px solid #f0f0f0;
}

.admin-user-preview .center .container {
    padding: 5px;
}

.admin-user-preview .center .navigation {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.admin-user-preview .center .navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    color: #777;
}

.admin-user-preview .center .navigation li.active {
    color: #000;
}

.admin-user-preview .center .email {
    color: #777;
}

/*--- East Layout ---*/
.admin-user-preview .east {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 221px;
}
