.admin-tree .admin-tree-thumbnail.site .overlay,
.admin-grid .admin-grid-thumbnail.site .overlay {
  right: 6px;
  padding: 2px 6px;
  line-height: 16px;
  border-radius: 10px;
  background: @admin-blue;
  font-size: 14px;

  &:before {
    content: "S";
  }
}

.content-type-list {

  .content-type-list-item {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 21px;
      color: white;
      line-height: 16px;
      padding: 2px 6px;
      border-radius: 10px;
      font-size: 14px;
    }

    &.site {

      .overlay {
        background: @admin-blue;

        &:before {
          content: "S";
        }
      }
    }

  }

}