.admin-grid .admin-grid-thumbnail,
.admin-tree .admin-tree-thumbnail {
  width: 32px;
  height: 32px;
  margin: 0 15px 0 10px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    vertical-align: middle;
  }

  &.site .overlay {
    right: -9px;
    padding: 2px 6px;
    line-height: 16px;
    border-radius: 10px;
    background: @admin-blue;
    font-size: 14px;

    &:before {
      content: "S";
    }
  }
}

.content-type-list {

  .content-type-list-item {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 21px;
      color: white;
      line-height: 16px;
      padding: 2px 6px;
      border-radius: 10px;
      font-size: 14px;
    }

    &.site {

      .overlay {
        background: @admin-blue;

        &:before {
          content: "S";
        }
      }
    }

  }

}