.button-background(@bg: @form-button-bg, @hoverBg: lighten(@bg, 10%)) {
  background-color: @bg;

  &:hover:not(:disabled) {
    background-color: @hoverBg;
  }
}

.button-foreground(@color: @form-button-font, @hoverColor: darken(@color, 10%), @activeColor: @color) {

  &:before, span {
    color: @color;
  }

  &:hover:not(:disabled) {

    &:before, span {
      color: @hoverColor;
    }
  }

  &.active:not(:disabled) {

    &:before, span {
      color: @activeColor;
    }
  }
}

.button(@color: @form-button-font, @bg: @form-button-bg, @hoverColor: @color, @hoverBg: lighten(@bg, 10%)) {
  .button-background(@bg, @hoverBg);
  .button-foreground(@color, @hoverColor, @admin-button-blue1);
  .box-sizing(border-box);

  display: inline-block;
  padding: 1px 19px 1px 19px;
  margin: 0;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;

  span {
    line-height: 24px;
    font-size: 14px;
    font-family: @admin-font-family;
    .color-transition;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:focus:not(:disabled) {
    box-shadow: 0 0 5px @admin-input-blue;
    border: 1px solid @admin-input-blue;
  }

}

.button {
  .reset();
  .button(@form-button-font, @form-button-bg);

  &.small {
    padding: 0 15px 0 15px;

    .label {
      font-size: 12px;
    }
  }

  &.large {
    padding: 5px 19px 5px 19px;

    .label {
      font-size: 16px;
    }
  }

  &.transparent {
    .button(@admin-button-blue1, transparent, @admin-button-blue2, transparent);
  }

  &.green {
    .button-background(green);
  }

  &.red {
    .button-background(#C92606);
  }

  &.blue {
    .button-background(@admin-button-blue2);
  }

}

.close-button {
  .button(@admin-white, rgba(55, 55, 55, 0.2), @admin-white, rgba(55, 55, 55, 0.5));

  &.transparent {
    .button(@admin-white, transparent, @admin-almost-white, transparent);
  }

  // should go last to override button defaults
  .box-sizing(content-box); // for firefox to center the icon
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;

  &:before {
    vertical-align: bottom;
  }

  span {
    display: none;
  }

}

