.cycle-button {
  position: relative;
  min-width: 85px;
  color: @admin-font-gray2;
  font-size: 14px;

  .notSelectable();

  &.button {
    border-color: @admin-font-gray1;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &.expanded {
    background-color: @admin-bg-light-gray !important;
    z-index: @z-index-toolbar-element;
    .box-shadow(0px 0px 10px darken(@admin-input-blue, 10%));
    .action {
      display:block;
      &.active {
        color: @admin-font-gray3;
      }
      &.hidden {
        display:none;
      }
    }
  }
  .action {
    display:none;
    &:hover {
      color: @admin-font-gray3;
    }
    &.active {
      display: block;
    }
    &:not(.active) {
      margin-top:10px;
    }

  }
  .drop-down-button {
    position: absolute;
    right:10px;
    top: 6px;
    margin-left:10px;
    &:before {
      color: @admin-font-gray2;
      font-size: 16px;
      &:hover {
        color: @admin-font-gray3;
      }
    }

    &:hover {
      .icon-arrow-down();
    }

    .icon-loop();
  }

}