.cycle-button {
  position: relative;
  color: @admin-font-gray2;
  font-size: 16px;

  .notSelectable();

  &.button {
    border: 2px solid @admin-font-gray1;
    padding: 2px 7px;
  }

  &:not(.live) {
    border-color: @admin-button-blue1;
    color: @admin-button-blue1;
  }
}

._960-1200, ._1200-1380, ._1380-1620, ._1620-1920, ._1920-UP {
  .cycle-button {
    display: none !important;
  }
}