.cycle-button {
  position: relative;
  color: @admin-font-gray2;
  font-size: 14px;

  .notSelectable();

  &.button {
    border: 2px solid @admin-font-gray1;
    padding: 2px 7px;
  }

  &:not(.live) {
    border-color: @admin-button-blue1;
    color: @admin-button-blue1;
  }
}
