.dropzone {
  .dropzone-glow();
  .box-sizing(border-box);

  font-size: 25px;
  font-weight: bold;
  color: @admin-dark-gray;
  text-align: center;
  overflow: hidden;
  min-height: 100px;
  line-height: 100px;

  &:before {
    content: "Drop here or click to select";
  }
}

.dropzone-glow(@color: @admin-input-blue) {

  &:not([disabled]) {
    border: 3px dashed @color;
    background-color: lighten(@color, 20%);

    &:hover,
    &:focus {
      border-color: darken(@color, 10%);
      .box-shadow(0px 0px 5px darken(@color, 10%));
    }
  }

  &[disabled] {
    border: 3px dashed saturation(@color, 0);
    background-color: saturation(lighten(@color, 20%), 0);
    cursor: default;
  }
}