.image-uploader {
  position: relative;

  .result-container {

    img {
      width: 100%;
      max-height: 500px;
      border: 1px solid transparent;

      &:hover {
        border-color: darken(@admin-input-blue, 10%);
      }

      &.selected {
        border-color: darken(@admin-input-blue, 10%);
        .box-shadow(0px 0px 10px darken(@admin-input-blue, 10%));
      }
    }

    .toolbar {
      height: auto;

      button {
        border: 1px solid transparent;
        padding: 5px;
        margin: 0;
        cursor: pointer;

        &:before {
          height: 24px;
          width: 24px;
          font-size: 24px;
        }

        span {
          display: none;
        }
      }
    }

  }

}
