.radio-group {

  .radio-button {
    margin-right: 10px;
    margin-bottom: 5px;
    min-width: 140px;
    display: block;

    label {
      margin-left: 10px;
    }
  }

  &.vertical {

    .radio-button {
      display: block;
      margin-right: 0;
    }

  }

  .form-input input[type="radio"] {
    width: auto;
    vertical-align: middle;
    position: relative;
  }

}