.tooltip {
  .reset();
  .opacity(.8);

  position: absolute;
  background: @admin-tooltip-bg;
  padding: 5px 8px 4px 8px !important; // to override bootstraps .tooltip.top etc.
  z-index: @z-index-tooltip;
  font-size: 11px;
  color: @admin-white;
  pointer-events: none; // to fight tooltip hijacking mouse over when lagging behind mouse
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &:before {
    content: " ";
    position: absolute;
    overflow: hidden;
  }

  .names-and-icon-view {

    .wrapper {
      .icon {
        color: @admin-dark-gray;
      }
    }

    .names-view {
      .main-name {
        color: @admin-dark-gray;
        font-family: @admin-font-family;
        max-width: 250px;
        .ellipsis();
      }
      .sub-name {
        color: @admin-dark-gray;
        font-family: @admin-font-family;
      }
    }
  }

  .arrow(@admin-tooltip-bg, 5px);

}