.input-view {
  .clearfix();

  /*&.invalid {
    TODO: To be designed in a better way
    border-right: 2px solid lightcoral;
  }*/

  &.valid {

  }

  &.no-label {

    .input-label {
      display: none;
    }

    .input-type-view,
    .bottom-button-row {
      margin-left: 0px;
    }
  }

  input {
    background-color: transparent;
  }

  .input-label {
    float: left;
    max-width: @form-label-width - 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    .wrapper.required {
      padding: 0 15px 0 0;
      &:after {
        position: absolute;
        content:'\00a0*';
        color: red;
      }
    }

    .label {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .required {
      &:after {
        content: '*';
        color:crimson;
      }
    }
  }

  .input-type-view {
    margin: 0 0 0 @form-label-width;
  }

  .bottom-button-row {
    clear: left;
    overflow: visible;    // for button glow
    margin: 0 0 0 @form-label-width;

    button {
      margin-top: 7px;
    }
  }
}

.context-window, ._0-240, ._240-360, ._360-540, ._540-720 {
  .input-view {
    .input-label {
      float: none;
      max-width: 100%;
      margin: 0 0 3px 0;
    }

    .input-type-view,
    .bottom-button-row {
      width: 100%;
      margin-left: 0;
    }
  }
}
