@form-width: 660px;
@form-label-width: 120px;
@form-field-spacing: 15px;
@form-field-set-spacing: 35px;

.form-element-spacing(@size: @form-field-spacing) {
  &:not(:first-child) {
    margin-top: @size;
  }

  &:not(:last-child) {
    margin-bottom: @size;
  }
}

.form-view {
  font-size: 12px;
  position: relative;
  overflow: visible;

  padding: 10px 10px 10px !important;

  .validation-viewer {
    display: none;
  }

  &.panel-may-display-validation-errors {
    .input-view {
      padding-top: 10px;
    }
    &.display-validation-errors .input-view {
      padding: 10px 10px 10px 10px;
      margin: 0px -10px 5px -10px;
    }
  }

  &.display-validation-errors {

    .input-view {
      padding: 10px 10px 0px 10px;

      &.invalid {
        padding: 10px 10px 10px 10px;
        .input-view-error();

        .upload-button {
          background-color: @admin-white;
        }

        .help-text p {
          color: @admin-black;
        }
      }
    }

    .show-validation-viewer();
  }

  &:not(.display-validation-errors) .input-view.highlight-validity-change {

    &.invalid {
      padding: 10px 10px 10px 10px;
      margin: 0px -10px 5px -10px;
      .input-view-error();
    }

    .show-validation-viewer();
  }

  .form-element-spacing(@form-field-set-spacing);

  .field-set-view, .form-item-set-view {
    .form-element-spacing(@form-field-set-spacing);
  }

  fieldset {
    min-width: 100%;
    .form-element-spacing(@form-field-set-spacing);

    legend {
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 2px;
      border-bottom: 1px solid @admin-medium-gray-border;
    }
  }

  .CodeMirror {
    float: left;
  }

  .label-over-input .checkbox label {
    height: 15px;
  }

  .checkbox label {
    height: auto;
  }
}

.context-window, ._0-240, ._240-360, ._360-540, ._540-720 {
  .form-fieldset-vertical();
}

.form-fieldset-vertical() {
  .form-view .input-view {
    label {
      float: none;
      max-width: 100%;
    }

    label + .form-input,
    label + .input-wrapper {
      margin-left: 0;
    }

    input[type="radio"] + label {
      margin-left: 5px;
      vertical-align: middle;
    }

  }
}
