@form-width: 660px;
@form-label-width: 120px;
@form-field-spacing: 20px;
@form-field-set-spacing: 35px;

.form-element-spacing(@size: @form-field-spacing) {
  &:not(:first-of-type) {
    margin-top: @size;
  }

  &:not(:last-of-type) {
    margin-bottom: @size;
  }
}

.form-view {
  font-size: 12px;
  position: relative;
  overflow: visible;

  padding: 10px !important;

  .validation-viewer {
    display: none;
  }

  &.panel-may-display-validation-errors {
    .input-view {
      padding-top: 10px;
    }
  }

  &.display-validation-errors {

    .input-view {

      &.invalid {
        padding: 10px;
        .input-view-error();

        .help-text p {
          color: @admin-black;
        }
      }
    }

    .show-validation-viewer();
  }

  &:not(.display-validation-errors) .input-view.highlight-validity-change {

    &.invalid {
      padding: 10px 10px 10px 10px;
      .input-view-error();
    }

    .show-validation-viewer();
  }

  .form-element-spacing(@form-field-set-spacing);

  .field-set-view, .form-item-set-view, .form-option-set-view {

    &:not(:last-child) {
      margin-bottom: @form-field-spacing;
    }
  }

  fieldset {
    min-width: 100%;
    .form-element-spacing(@form-field-set-spacing);

    legend {
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 2px;
      border-bottom: 1px solid @admin-medium-gray-border;
    }
  }

  .CodeMirror {
    float: left;
  }

  .label-over-input .checkbox label {
    height: 15px;
  }

  .checkbox label {
    height: auto;
  }

  .help-text-toggler {
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 17px;
    text-align: center;
    font-size: 12px;
    color: white;
    background: @form-button-bg-hover;
    .border-radius(50%);

    &:hover:not(.on) {
      color: @admin-dark-gray;
    }

    &.on {
      background: @admin-button-blue1;
    }
  }

  .help-text {
    font-size: 11px;
    padding-top: 2px;

    &:not(.visible) {
      display: none;
    }

    p {
      color: @admin-font-gray1;
      font-style: italic;
      text-align: justify;
    }
  }
}

.context-window, ._0-240, ._240-360, ._360-540, ._540-720 {
  .form-fieldset-vertical();
}

.form-fieldset-vertical() {
  .form-view .input-view {
    label {
      float: none;
      max-width: 100%;
    }

    label + .form-input,
    label + .input-wrapper {
      margin-left: 0;
    }

    input[type="radio"] + label {
      margin-left: 5px;
      vertical-align: middle;
    }

  }
}

.form-panel {
  &._0-240, &._240-360, &._360-540 {
    .form-view {
      padding: 10px 15px !important;
    }
  }
}

