.input-border(@color: @admin-medium-gray-border) {
  border: 1px solid @color;
}

.input-font(@size: 15px) {
  font-family: @admin-font-family;
  font-size: @size;
}

::-ms-clear {
  display: none;
}

.input-view {

  .clearfix();

  &:not(:last-child) {
    margin-bottom: @form-field-spacing;
  }

  border-bottom-width: 0;

  select, input, textarea {
    .input-glow();
  }

  .error {
    display: none;
    float: right;
    color: @admin-input-red;
    font-size: 12px;
    margin-left: 10px;
  }

  &.label-over-input {

    > .input-label, label {
      float: none;
    }

    > .input-type-view {
      margin-left: 0px;
    }

    > .input-type-view.image-selector {
      margin-left: 0px;
    }
  }

  &.no-label {

    > .input-label {
      display: none;
    }

    > .error {
      display: block;
    }

    > select, > input, > textarea {
      .input-error();
    }
  }

  &.no-label, &.label-over-input {
    > .input-type-view,
    > .bottom-button-row,
    > .validation-viewer {
      margin-left: 0px;
    }
  }

  &:not(.no-label) {
    .input-label {
      display: inline-block !important;
    }
  }

  label + .form-input,
  label + .input-wrapper,
  label + .@{_COMMON_PREFIX}button {
    margin-left: @form-label-width;
  }

  &:not(.label-over-input) .input-label, label {
    max-width: @form-label-width - 10px;
  }

  .input-label, label {
    float: left;
    text-overflow: ellipsis;

    .label {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
    }
    .required, .wrapper.required, &.required {
      &:after {
        float: left;
        position: absolute;
        content: '\00a0*';
        color: @input-red-text;
      }
    }
  }

  .input-wrapper .form-input {
    width: 100%;
  }
  .input-type-view {
    margin: 0 0 0 @form-label-width;

    .image-uploader-el {
      width: 100%;
    }

    &.max-length-limited {

      .input-occurrence-view + .input-occurrence-view {
        margin-top: 24px;
      }

      .input-wrapper {
        position: relative;
      }

      .length-counter {
        .order(4);
        display: block;
        width: 100%;
        position: absolute;
        right: 0;
        margin-top: 5px;
        text-align: right;
      }
    }
  }

  .bottom-button-row {
    clear: left;
    overflow: visible; // for button glow
    margin: 0 0 0 @form-label-width;

    button {
      margin-top: 7px;
    }
  }

  .validation-viewer {
    margin-left: @form-label-width;

    ul > li {
      margin-top: 7px;
    }
  }

  .context-window &,
  ._0-240 &,
  ._240-360 &,
  ._360-540 &,
  ._540-720 & {

    .input-label {
      float: none;
      max-width: 100%;
    }

    .input-type-view,
    .bottom-button-row,
    .validation-viewer {
      width: 100%;
      margin-left: 0;
    }
  }
}

.input-wrapper {

  &.valid-regexp, &.invalid-regexp {
    position: relative;

    input {
      padding-right: 100px;
    }

    &:after {
      content: attr(data-regex-status);
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }

  &.valid-regexp {
    &:after {
      color: @admin-level-1;
    }
  }

  &.invalid-regexp {
    &:after {
      color: @admin-level-3;
    }
  }

}
