@import "../variables";

#live-edit-drag-helper {
    font-size: 24px;
    color: #fff;
}

/* Align the font icon */
#live-edit-drag-helper:before {
    position: absolute;
    top: 12px;
    left: 12px;
}

.live-edit-font-icon-drop-allowed {
    cursor: none;
    background-color: #558e28;
}
.live-edit-font-icon-drop-not-allowed {
    cursor: none;
    background-color: #d90b00;
}

.live-edit-component-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}