@import "../variables";

/* Remove the outline added by browser */
.live-edit-edited-paragraph {
    outline-color: transparent;
    outline-style: none;
}

.live-edit-editor-toolbar {
    z-index: 1000100;
    background-color: @baseColor;
    border: 1px solid @borderColor;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    padding: 5px;
}

.live-edit-editor-button {
    border: 1px solid transparent;
    background-color: @baseColor;
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.live-edit-editor-button:hover {
    border: 1px solid #ccc;
}

.live-edit-editor-button[live-edit-data-tag=paste] {
    background: url("@{resourcePath}images/htmleditor/paste.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=insertUnorderedList] {
    background: url("@{resourcePath}images/htmleditor/list.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=insertOrderedList] {
    background: url("@{resourcePath}images/htmleditor/numbered-list.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=link] {
    background: url("@{resourcePath}images/htmleditor/link.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=cut] {
    background: url("@{resourcePath}images/htmleditor/scissors.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=strikeThrough] {
    background: url("@{resourcePath}images/htmleditor/strikethrough.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=bold] {
    background: url("@{resourcePath}images/htmleditor/bold.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=underline] {
    background: url("@{resourcePath}images/htmleditor/underline.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=italic] {
    background: url("@{resourcePath}images/htmleditor/italic.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=superscript] {
    background: url("@{resourcePath}images/htmleditor/superscript.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=subscript] {
    background: url("@{resourcePath}images/htmleditor/subscript.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=justifyLeft] {
    background: url("@{resourcePath}images/htmleditor/paragraph-left.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=justifyCenter] {
    background: url("@{resourcePath}images/htmleditor/paragraph-center.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=justifyRight] {
    background: url("@{resourcePath}images/htmleditor/paragraph-right.png") center center no-repeat;
}

.live-edit-editor-button[live-edit-data-tag=justifyFull] {
    background: url("@{resourcePath}images/htmleditor/paragraph-justify.png") center center no-repeat;
}