button.icon-toolbar-settings {

  background-image: url("../../../../images/cog.svg") !important;
  background-size: 24px;
  background-repeat: no-repeat;
  opacity: 0.4;

  margin: 6px 3px 6px 12px;
  width: 24px;
  height: 24px;

  &:hover {
    opacity: 0.6;
  }

}
