@enonic-logo-img-width: 103px;
@enonic-logo-img-height: 137px;
@enonic-logo-size: 0.9;
@enonic-logo-width: @enonic-logo-img-width * @enonic-logo-size;
@enonic-logo-height: @enonic-logo-img-height * @enonic-logo-size;
@enonic-logo-center-left: @enonic-logo-width/2;

.home-main-container {
  .home-main-container-mixin();

  h3,
  .installation-info {
    font-size: 24px;
    color: @admin-white;
  }

  /** Branding */
  .branding {
    .flexbox();
    align-items: center;
    -webkit-align-items: center;
    width: 200px;
    height: 100%;
    left: calc(~"50% - @{enonic-logo-center-left}");
    margin-top: -120px;
    position: absolute;
    text-align: center;
    z-index: 0;

    h1 {
      color: white;
      background: url("../../../images/enonic.svg") 0 0 no-repeat;
      background-size: 100%;
      height: @enonic-logo-height;
      width: @enonic-logo-width;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      padding-bottom: 20px;
    }

    .installation-info {
      font-size: 12px;
      text-align: right;
    }
  }

  /** Common */

  /** Login Form **/
  .login-form {
    position: static;
    margin: -4px auto 0;

    .message-container {
      position: absolute;
      width: 200px;
      height: 28px;
      line-height: 28px;
      margin-top: 10px;
      color: white;
      text-align: center;

      .ellipsis();
    }

    .input-view {
      font-family: @admin-font-family;
      font-size: 12px;
      box-sizing: border-box;
      margin-bottom: 10px;
      border: 1px solid @admin-bg-light-gray;
      vertical-align: top;
      padding: 4px 9px;
      background: none @admin-white !important;
      width: 200px;

      &.invalid {
        &[type=password] {
          color: @admin-red;
        }
        .animation(shake, .5s, 0s, linear, 1);
      }
    }

    .password-input {
      padding-right: 35px;
    }

    .@{_COMMON_PREFIX}text-input {
      min-height: initial;
      margin-bottom: 13px;
    }

    .login-button {
      .icon-arrow-right3;
      background-color: transparent;
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 3px;
      font-size: 20px;
      color: @form-button-bg;

      &.invalid {
        .animation(shake, .5s, 0s, linear, 1);
      }

      &:hover:not(:disabled) {

        &:before, span {
          color: inherit;
        }
      }

      &:focus:not(:disabled) {
        box-shadow: none;
        border: 1px solid transparent;
      }

      &:before {
        color: inherit; // updates icons color
      }

      span {
        display: none;
      }
    }

    .password-container {
      position: relative;
    }
  }

  .center-panel {
    .login-panel {
      .flexbox();
      .align-items(center);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }

}
