/* ::::: http://ir.asp.manamind.com/products/html/framework/screen.css ::::: */

.manamind { margin: 0px; padding: 0px; width: 100%; }
.manamind * { font-family: arial,helvetica; font-size: 11px; }
.manamind .graphImage iframe { height: 260px; }
