.context-window {
  color: @admin-font-gray3;
  .transition(all 0.1s ease-in-out);

  .splitter {
    position: relative;
    width: 5px;
    height: 100%;
    float: left;
    background-color: #d3d3d3;
    cursor: ew-resize;
    .notSelectable();
  }

  .ghost-dragger {
    height: 100%;
    background-color: @admin-dark-gray;
    opacity: 0.5;
    position: absolute;
    z-index: @z-index-draggable;
    cursor: ew-resize;
    width: 5px;
    .notSelectable();
  }

  input.search {
    margin: 15px;
    padding: 5px 3px;
    width: calc(100% - 20px);
    border: none;
    background-color: @admin-font-gray3;
    color: @admin-font-gray1;
  }

  .tab-bar {
    position: absolute;
    left: 5px;
    cursor: move;
  }
  & > .deck-panel {
    left: 5px;
    right: 0;
    top: 43px;
    width: auto;
  }
  .slick-viewport {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .grid-row {
    padding-left: 15px;
    border-right: 0;
    border-bottom: 1px solid @admin-almost-white;
    padding-bottom: 10px;
    padding-top: 5px;

    img {
      width: 30px;
      height: 30px;
      float: left;
      display: block;
      margin-right: 15px;
      margin-top: 3px;
    }

    &.slick-cell {
      height: auto;
    }

    .insertables-panel &:hover {
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
    }

    h5 {
      margin: 0;
      padding: 0;
      font-size: 13px !important;
      line-height: 1.50;
      font-weight: normal;
      color: @admin-font-gray3;
    }

    h6 {
      margin: 0;
      padding: 0;
      font-size: 11px !important;
      font-weight: normal;
    }

    .icon {
      font-size: 30px;
      float: left;
      margin-right: 15px;
      margin-top: 3px;
    }

    .rotate {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    [data-context-window-draggable="true"] {
      cursor: move;
    }

    &:hover {
      background-color: @admin-almost-white;
    }

    &.active {
      .rotate {
        display: block;
      }
    }
  }

  .insertables-panel {
    p {
      font-size: 12px;
      padding: 10px 15px;
    }
  }

  .emulator-panel {
    p {
      font-size: 12px;
      padding: 10px 15px;
    }
    .grid-row.active {
      background-color: @admin-almost-white;
    }

  }

  .inspection-panel {
    font-size: 12px;
    overflow-y: scroll;
    width: 100% !important;

    .form-view {
      .form-element-spacing(@form-field-spacing);

      form {
        margin: 0;
      }
    }

    //    .icon {
    //      font-size: 48px;
    //    }

    & > .names-and-icon-view {
      margin-bottom: 20px;
      .main-name {
        font-size: 18px;
        line-height: 20px;
        height: 24px;
        color: @admin-font-gray3;
      }
    }

    .descriptor-header, .component-name-header {
      margin-bottom: 10px;
      color: @admin-font-gray3;
    }

    input.component-name {
      width: 100%;
    }

    h3 {
      font-size: 26px;
      margin-top: 5px;
      text-transform: capitalize;
      font-weight: normal;
      color: @admin-font-gray3;
    }

    .rich-combobox {
      border: 1px #ffffff solid;

      .selected-option {
        border: 1px transparent solid;
        height: auto;
        padding: 0px;

        .option-value {
          margin-left: 0px;
        }

        .remove {
          padding: 15px 5px 0 0;
        }

        .names-and-icon-view {

          .wrapper {
            height: 48px;
            width: 48px;

            .icon {
              &:before {
                font-size: 38px;
              }
            }
          }

          .names-view {
            .main-name {
              height: auto;
              font-size: 24px;
              line-height: 30px;
            }
            .ellipsis();
          }
        }

      }

      .option-filter-input {
        .input-glow();
      }
    }
  }

  .select-panel {
    .combobox {
      display: block;
      .imagePicker();

      input {
        height: 37px;
        width: 100%;
        padding: 4px 37px 4px 4px;
        border: 1px solid @admin-medium-gray-border;
        background-color: transparent;
        margin-bottom: 0;
      }

      .slick-cell {
        height: 34px;
        padding: 8px;
        border: none;
        .box-sizing(content-box);

        &.selected .content-summary .display-name {
          color: #d3d3d3;
        }

        .icon {
          float: left;
          width: 32px;
          height: 32px;
          border: 1px @admin-medium-gray-border solid;
        }

        .content-summary {
          margin: 0 0 0 42px;

          .display-name {
            font-size: 14px;
            line-height: 16px;
            .ellipsis();
          }

          .path {
            color: @admin-font-gray2;
            font-size: 12px;
            .ellipsis();
          }
        }
      }
    }
    .selected-options {
      .imagePicker();
      .selected-option {
        overflow: hidden;
        height: auto;
        padding: 3px;
        color: @admin-almost-white;
        position: relative;

        img {
          float: left;
          margin: -3px;
          margin-right: 5px;
          display: block;
        }
        .container {
          overflow: hidden;
          float: left;
        }
        .title {
          font-size: 16px;
        }

        .subtitle {
          color: @admin-font-gray1;
        }

        .remove {
          color: @admin-almost-white;
          display: block;
          font-size: 12px;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 0px;
        }
      }
    }
    .recent-panel {
      h3 {
        font-size: 14px !important;
        margin-left: 15px;
      }
    }

    .template-panel {
      padding: 15px;
    }
  }

  //  .image-selector-small();

}

.drag-mask {
  background-color: transparent;
}

.imagePicker() {
  margin: 15px;
  width: auto;
}