@admin-light-gray-bg: #eee;
@admin-medium-gray-border: #ccc;
@admin-white: #fff;
@admin-light-gray-font: #777;
@admin-medium-gray-font: #acacac;
@admin-dark-gray-font: #333;
@admin-blue: #4294de;
@admin-blue-button: #2c76e9;
@admin-black: black;
@admin-dark-gray: #4b4a4c;
@admin-shadow-gray: #888;
@admin-input-blue: #98c9f2;

@form-button-bg: #555555;
@form-button-bg-hover: #6e6e6e;
@form-button-font: white;
@form-button-font-disabled: #aaaaaa;
