@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon(@content, @size: 1em, @color: black) {
  font-family: FontAwesome;
  &:before {
    content: @content;
    font-size: @size;
    color: @color;
  }
}

.icon-chevron-left(@size: 1em, @color: black) {
  .icon("\f053", @size, @color);
}

.icon-chevron-right(@size: 1em, @color: black) {
  .icon("\f054", @size, @color);
}

.icon-remove(@size: 1em, @color: black) {
  .icon("\f00d", @size, @color);
}