.email-input {
  position: relative;

  .form-input {
    width: 100%;
    padding-right: 120px;

    .input-glow();
    .input-font();
    .input-border();
    .box-sizing(border-box);
  }

  &:after {
    position: absolute;
    top: 2px;
    right: 4px;
  }

  &.checking {
    .form-input {
      .input-border(@admin-level-2);
      .input-glow(@admin-level-2);
    }

    &:after {
      content: 'Checking availability';
    }
  }

  &.notavailable {
    .form-input {
      .input-border(@admin-level-3);
      .input-glow(@admin-level-3);
    }

    &:after {
      color: @admin-level-3;
      content: 'Not available';
    }
  }

  &.available {
    &:not(.just-shown) {
      .form-input {
        .input-border(@admin-level-1);
        .input-glow(@admin-level-1);
      }

      &:after {
        color: @admin-level-1;
        content: 'Available';
      }
    }
  }

  &.error {
    .form-input {
      .input-border(@admin-level-3);
      .input-glow(@admin-level-3);
    }

    &:after {
      content: 'Connection error';
    }
  }

  &.invalid {
    .form-input {
      .input-border(@admin-input-red);
      .input-glow(@admin-input-red);
    }

    &:after {
      content: 'Invalid email';
    }
  }

  ._0-240 &,
  ._240-360 &,
  ._360-540 & {

    .form-input {
      padding: 0;
    }

    &:after {
      position: static;
      display: block;
      text-align: right;
      padding: 10px 0;
    }
  }

}
