.password-generator {
  position: relative;

  .input-wrapper {
    position: relative;

    .password-input {
      padding-right: 60px;
      width: 100%;
      .input-font();
      .input-border();
      .box-sizing(border-box);
    }

    .strength-meter {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 0;

      .transition(width, .5s);
      .transition(box-shadow, .5s);
    }
  }

  &:not(.weak):not(.good):not(.strong):not(.extreme) {

    .password-input {
      .input-glow();
    }
  }

  a {
    cursor: pointer;
    padding: 5px;
    display: inline-block;

    .notSelectable();

    &.show-link:after {
      content: attr(data-i18n);
    }
  }

  &:after {
    position: absolute;
    top: 2px;
    right: 5px;
    line-height: 26px;
  }

  &.unlocked {
    .password-input {
      -webkit-text-security: none;
    }
  }

  &.weak, &.good, &.strong, &.extreme {
    .password-input {
      box-shadow: none;
    }

    &:after {
      content: attr(data-i18n);
    }
  }

  &.weak {
    .strength-meter {
      width: 25%;
      .box-shadow(0px 0px 5px @admin-level-3);
    }

    &:after {
      color: @admin-level-3;
    }
  }

  &.good {
    .strength-meter {
      width: 50%;
      .box-shadow(0px 0px 5px @admin-level-2);
    }

    &:after {
      color: @admin-level-2;
    }
  }

  &.strong {
    .strength-meter {
      width: 75%;
      .box-shadow(0px 0px 5px @admin-level-1);
    }

    &:after {
      color: @admin-level-1;
    }
  }

  &.extreme {
    .strength-meter {
      width: 100%;
      .box-shadow(0px 0px 5px @admin-level-0);
    }

    &:after {
      color: @admin-level-0;
    }
  }

  ._0-240 &,
  ._240-360 & {

    .password-input {
      padding: 0;
    }

    &:after {
      display: none;
    }
  }

}
