.appbar {
  text-align: center;
  height: 44px;
  padding: 6px;
  background-color:rgba(0,0,0,0.8);
  background-position: top center;
  overflow: hidden;
  background-size: cover;
  .box-sizing(border-box);

  .launcher-button {
    &:extend(.icon);
    .icon-grid4;

    float: left;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 4px;
    border: 0 none;
    background-color: transparent;
    color: white;
    font-size:24px;
    cursor: pointer;
    &:before {
      .color-transition;
    }

    span {
      display:none;
    }
    &:hover {
      background-color: transparent;
      &:before {
        color: rgba(255,255,255,0.5);
      }
    }

  }

  .home-button {
    float: left;
    line-height: 20px;
    margin: 4px 0;
    padding: 2px 10px;
    border: 0;
    color: @admin-light-gray-bg;
    background-color: transparent;
    font-family: @admin-font-family;
    font-size: 14px;
    cursor: pointer;
    .color-transition;

    &:hover {
      color: rgba(255,255,255,0.5);
    }
  }

  .user-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    margin: 0 0 0 8px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-size: 44px;
    cursor: pointer;
  }
}

.user-info-popup {
  z-index: @z-index-user-info-popup;
  position: absolute;
  top: 44px;
  right: 12px;
  width: 250px;
  padding: 5px;
  background: white;
  display: none;

  .box-shadow(0px 0px 4px @admin-shadow-gray);

  img {
    width: 100px;
    height: 100px;
  }

  .title {
    padding: 5px;
    background: #333;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .user-name {
    margin: 5px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }

  button {
    width: 100%;
    margin: 5px 0;
    padding: 3px;
    border: none;
    cursor: pointer;
    background: #B51A00;
    color: white;
    font-weight: bold;
  }

  .content {
    .column {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 100px;

      * {
        display: block;
      }

      a {
        text-decoration: none;
        color: blue;
      }
    }
  }
}