.appbar-tab-menu {
  color: #fff;
  position: absolute;

  &:hover {
    background-color: rgba(75, 74, 76, 0.6);
  }

  a {
    padding-left: 10px;
  }

  .tab-menu-button {
    position: relative; // to position popup menu relative to me
    display: block;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    overflow: hidden;
    max-width: 360px;
    padding: 6px;
    background-color: transparent;

    &:before {
      display: none; // hide dropdown arrow from tab-menu
    }

    &.editing {
      img {
        display: block;
      }
    }

    img {
      position: absolute;
      top: 6px;
      left: 6px;
      display: none;
      height: 16px;
      width: 16px;
      margin: 2px 12px 2px 2px;
      border: none !important;
      background: transparent url("../images/pencil-FFFFFF.svg") 0 0 no-repeat;
    }

    .label {
      max-width: 300px;
      margin: 0 30px;
      .ellipsis();
    }

    .tab-count {
      display: block;
      position: absolute;
      top: 6px;
      right: 6px;
      margin-left: 10px;
      border-radius: 10px;
      background-color: red;
      height: 20px;
      width: 20px;
    }
  }

  ul {
    color: @admin-dark-gray-font;
    top: 32px;
    left: 0;
    width: auto;
    padding: 5px 5px 0 5px;
    margin-top: 7px;
    min-width: 150px;
    max-width: 360px;
    .box-shadow(0 1px 5px rgba(0, 0, 0, 0.7));

    &:before {
      content: " ";
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid white;
      position: absolute;
      top: -7px;
      left: 50%;
      margin-left: -7px;
    }

    .tab-menu-item {
      position: relative; // to position close icon relative to
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      margin-bottom: 5px;
      overflow: hidden;
      padding: 5px;

      * {
        vertical-align: top;
      }

      img {
        height: 16px;
        width: 16px;
        margin: 2px 12px 2px 2px;
        position: absolute;
        top: 5px;
        left: 5px;
        border: none !important;
        background: transparent url("../images/pencil-333333.svg") 0 0 no-repeat;
      }

      .label {
        max-width: 290px;
        margin: 0 30px;
        .ellipsis();
      }

      button {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        font-size: 20px;
        height: 30px;
        width: 30px;
        .icon-close2();

        &:hover {
          background-color: @admin-red;
        }

      }

      &.active {
        background-color: @admin-light-gray-bg;
      }

      &:hover {
        background-color: @admin-blue;
        color: @admin-white;

        button {
          &:before {
            color: @admin-white;
          }
        }

        img {
          background: transparent url("../images/pencil-FFFFFF.svg") 0 0 no-repeat;
        }
      }

    }
  }

}