.appbar-tab-menu {
  .flexbox();
  flex-flow: row no-wrap;
  align-items: stretch;
  align-content: stretch;

  .flex(1 1 100%);
  .order(2);

  position: static;
  margin: 0;

  color: @admin-font-gray3;

  a {
    padding-left: 10px;
  }

  .tab-menu-button {
    .flex(0 0 36px);
    position: relative; // to position popup menu relative to me
    display: block;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    overflow: hidden;
    max-width: 360px;
    padding: 6px;
    background: @admin-bg-light-gray;
    color: @admin-font-gray3;

    .noSelect();

    &:before {
      display: none;
    }

    .label {
      max-width: 300px;
      display: block;
      margin: 0 30px;
      .ellipsis();
    }

    &:hover{
      background-color: @admin-white;
    }
  }

  .tab-menu-button, ul.bar li {
    margin-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  ul.bar, ul.menu {
    .tab-menu-item {
      position: relative;
      overflow: hidden;
      height: 24px;
      line-height: 24px;
      padding: 5px;
      background: @admin-bg-light-gray;
      font-size: 14px;
      cursor: pointer;

      * {
        vertical-align: top;
      }

      .label {
        max-width: 290px;
        margin: 0 30px 0 5px;
        display: block;
        .ellipsis();
      }

      button {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        font-size: 20px;
        height: 30px;
        width: 30px;
        .icon-close2();

        &:hover {
          background-color: @admin-red;
          color: @admin-bg-almost-white;
        }
      }

      &.active {
        background-color: @admin-white;
      }

      &:hover{
        background-color: @admin-white;
      }
    }
  }

  ul.bar {
    .flexbox();
    flex-flow: row no-wrap;
    align-items: stretch;
    align-content: stretch;

    .flex(1 1 100%);

    background: transparent;
    position: static;
    padding: 0;
    top: 0;
    left: 0;

    .box-shadow(none);

    .tab-menu-item {
      .flex(0 1 180px);
      height: initial;
      margin-right: 1px;

      .label {
        line-height: 30px;
      }

      button {
        top: 9px;
        right: 5px;
        padding: 0px;
        height: 22px;
        width: 22px;
        border-radius: 11px;
      }
    }
  }

  ul.menu {
    position: absolute;
    top: 44px;
    right: 64px;
    left: initial;
    width: auto;
    padding: 5px 0;
    margin: 0px;
    min-width: 180px;
    max-width: 360px;
    background: @admin-bg-light-gray;
    color: @admin-dark-gray;
    .box-shadow(0 1px 5px rgba(0, 0, 0, 0.7));
  }

}