.appbar {
  text-align: center;
  height: 44px;
  padding: 6px;
  background-color: @admin-dark-gray;
  background-position: top center;
  overflow: hidden;
  background-size: cover;
  .box-sizing(border-box);

  .home-icon-button {
    &:extend(.icon);
    float: left;
    margin: 4px;
    border: 0 none;
    background-color: transparent;
    .app-icon {
      cursor: pointer;
      font-size: 24px;
      color: white;
      &:before {
        .color-transition;
      }
      &:hover {
        background-color: transparent;
        &:before {
          color: rgba(255, 255, 255, 0.5);
        }
      }

    }

  }


  .launcher-button {
    &:extend(.icon);
    .icon-grid4;

    float: right;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 4px;
    border: 0 none;
    background-color: transparent;
    color: white;
    font-size:24px;
    cursor: pointer;
    &:before {
      .color-transition;
    }

    span {
      display:none;
    }
    &:hover {
      background-color: transparent;
      &:before {
        color: rgba(255,255,255,0.5);
      }
    }

  }

  .home-button {
    float: left;
    line-height: 20px;
    margin: 4px 0;
    padding: 2px 10px;
    border: 0;
    color: @admin-bg-light-gray;
    background-color: transparent;
    font-family: @admin-font-family;
    font-size: 14px;
    cursor: pointer;
    .color-transition;

    &:hover {
      color: rgba(255,255,255,0.5);
    }
  }
}

._0-240, ._240-360, ._360-540, ._540-720 {
  .home-button {
    display: none;
  }
}

