.names-view {

  .main-name {
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    .ellipsis();
  }

  .sub-name {
    color: @admin-light-gray-font;
    font-size: 12px;
    .ellipsis();
  }

}