.publish-content-dialog {
  .delete-dialog();

  .item-list {
    h4 {
      width: 100%;
      span {
        display: block;
        float: right;
        text-transform: lowercase;
        font-variant: small-caps;
        margin-right: 15px;
        color: @admin-font-gray1;
      }
    }
  }
}