/*
    TODO: Review z-indexes
*/

/*** Reset */
.live-edit-loader-splash-content,
.live-edit-loader-splash-container,
.live-edit-loader-splash-content,
.live-edit-loader-splash-content img,
.live-edit-loader-splash-content div,
.live-edit-shader,
svg.live-edit-highlighter,
svg.live-edit-highlighter rect,
.live-edit-empty-region-placeholder,
.live-edit-empty-part-placeholder,
.live-edit-tool-tip,
.live-edit-tool-tip-type-text,
.live-edit-tool-tip-name-text,
.live-edit-component-tip,
.live-edit-component-tip-type-text,
.live-edit-component-tip-name-text,
.live-edit-component-menu,
.live-edit-button,
.live-edit-button-text,
.live-edit-button-icon,
.live-edit-icon-parent,
.live-edit-components-container,
#live-edit-drag-helper,
#live-edit-drag-helper img,
#live-edit-drag-helper-status-icon,
.live-edit-drop-target-placeholder,
.live-edit-html-element-placeholder,
.live-edit-html-element-placeholder div,
.live-edit-html-element-placeholder .live-edit-iframe,
.live-edit-html-element-placeholder .live-edit-object {
    border: 0;
    color: #000;
    font: 11px Tahoma, Geneva, Verdana;
    font-weight: normal;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/*** Misc */

/* This must be disabled for live-edit components, else input fields++ will not work */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
    Disable pointer events for A elements ("disables CSS hover selectors on links")
    Can we find a better cross browser solution that includes IE?
*/
a {
    pointer-events: none;
}

/*** Loader splash */
@-moz-keyframes live-edit-spinner {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.live-edit-loader-splash-content {
    cursor: progress !important;
}

.live-edit-loader-splash-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    background-color: #141414;
    z-index: 2000000;
}

.live-edit-loader-splash-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    text-align: center;
    z-index: 2000010;
}

.live-edit-loader-splash-content img {
    width: 72px;
    height: 72px;
    border: none;
    -moz-animation: live-edit-spinner .5s infinite linear;
    -webkit-animation: live-edit-spinner .5s infinite linear;
    -ms-animation: live-edit-spinner .5s infinite linear;
    -o-animation: live-edit-spinner .5s infinite linear;
    animation: live-edit-spinner .5s infinite linear;
}

.live-edit-loader-splash-content div {
    color: #bbb;
    margin-top: .7em;
}

/*** Shader */

.live-edit-shader {
    position: absolute;
    top: -15000px;
    left: -15000px;
    background-color: #000;
    opacity: .5;
    cursor: default !important;
    z-index: 1000045;
}

/*** Highlighter */

.live-edit-selected-component {
    position: relative;
}

svg.live-edit-highlighter {
    pointer-events: none;
    position: absolute;
    z-index: 1000040;
}

svg.live-edit-highlighter rect {
    stroke-width: 4;
}

/*** Placeholders for Empty components */

.live-edit-empty-region-placeholder {
    background-color: #fff;
    border: 2px dashed #add8e6;
    clear: both;
    color: #add8e6;
    font-size: 20px;
    padding: 28px;
    text-align: center;
}

.live-edit-empty-part-placeholder {
    border: 1px dashed #aaa;
    clear: both;
    color: #d3d3d3;
    margin-bottom: 10px;
    padding: 11px;
    text-align: center;
}

/*** Tool tip ***/

.live-edit-tool-tip {
    position: absolute;
    z-index: 1200150;
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: #ffffc7;
}

.live-edit-tool-tip-name-text,
.live-edit-tool-tip-type-text {
    display: block;
    color: #444;
}
.live-edit-tool-tip-name-text {
    font-weight: bold;
}

/*** Component tip ***/

.live-edit-component-tip {
    display: table-row;
    position: absolute;
    z-index: 1000050;
    background-color: #fff9cb;
    cursor: default;
    border: 1px solid #989898;
}

/* Arrow (cssarrowplease.com/) */
.live-edit-component-tip-arrow-bottom:after,
.live-edit-component-tip-arrow-bottom:before,
.live-edit-component-tip-arrow-top:after,
.live-edit-component-tip-arrow-top:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.live-edit-component-tip-arrow-bottom:after,
.live-edit-component-tip-arrow-bottom:before{
    top: 100%;
}
.live-edit-component-tip-arrow-top:after,
.live-edit-component-tip-arrow-top:before{
    bottom: 100%;
}

.live-edit-component-tip-arrow-bottom:after {
    border-color: rgba(255, 249, 203, 0);
    border-top-color: #fff9cb;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.live-edit-component-tip-arrow-bottom:before {
    border-color: rgba(152, 152, 152, 0);
    border-top-color: #989898;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}

.live-edit-component-tip-arrow-top:after {
    border-color: rgba(255, 249, 203, 0);
    border-bottom-color: #fff9cb;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.live-edit-component-tip-arrow-top:before {
    border-color: rgba(152, 152, 152, 0);
    border-bottom-color: #989898;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}


.live-edit-component-tip-left,
.live-edit-component-tip-center,
.live-edit-component-tip-right {
    display: table-cell;
}

.live-edit-component-tip-left {
    text-align: center;
    border-right: 1px solid #989898;
}
.live-edit-component-tip-center {
    vertical-align: middle;
    text-align: center;
    min-width: 80px;
    padding: 0 10px;
}
.live-edit-component-tip-right {
    border-left: 1px solid #989898;
}
.live-edit-component-tip-icon-menu,
.live-edit-component-tip-icon-parent,
.live-edit-component-tip-icon-deselect {
    vertical-align: middle;
    padding: 15px 15px;
    cursor: pointer;
}

.live-edit-component-tip-icon-menu-selected {
    background-color: #ffda85;
}

.live-edit-component-tip-type-text,
.live-edit-component-tip-name-text {
    display: block;
    color: #444;
}
.live-edit-component-tip-name-text {
    font-weight: bold;
}


/*** Component menu */

.live-edit-component-menu {
    position: absolute;
    z-index: 1000150;
    padding: 1px 1px 0 1px;
    background-color: #989898;
}

/*** Component bar */

.live-edit-components-container {
    opacity: 1;
    position: fixed;
    z-index: 1100150;
    top: 0;
    right: -200px;
    bottom: 0;
    background-color: #ebebeb;
    min-width: 235px;
    font: 14px Tahoma, sans-serif;
}


.live-edit-components-container {
    -webkit-transition: right 100ms ease-in, opacity 100ms linear;
    transition: right 100ms ease-in, opacity 100ms linear;
}

.live-edit-form-container {
    overflow: hidden;
}

.live-edit-components-toggle-text-container {
    float: left;
    text-align: center;
}

.live-edit-components-toggle-text {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -37px;
    cursor: pointer;
}

.live-edit-components {
    right: 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    min-width: 200px;
    z-index: -2;
}

.live-edit-components input {
    margin: 8px;
    padding: 5px 3px;
    width: 87%;
    -webkit-user-select: auto;
}

.live-edit-components ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.live-edit-components ul li {
    margin-bottom: 8px;
}

.live-edit-component-list-header {
    text-align: center;
    position: relative;
}

.live-edit-component-list-header:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

.live-edit-component-list-header span {
    background-color: #fff;
    padding: 0 8px;
    color: #4a87e5;
}

.live-edit-component-list-header span {

}

.live-edit-component {
    overflow: hidden;
    padding: 8px;
    cursor: move;
}

.live-edit-component:hover {
    background-color: #4a87e5;
    color: #fff;
}

.live-edit-component img {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.live-edit-component .text {
    float: left;
}

.live-edit-component span {
    display: block;
}

.live-edit-component small {
    display: block;
}

/*** Hover menu */

.live-edit-hover-menu {
    position: absolute;
    z-index: 1000070;
    padding: 0;
}

/*** Button */

/* Base */
.live-edit-button {
    cursor: pointer !important;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

/* Hover menu button */
.live-edit-button.live-edit-hover-menu-button {
    width: 62px;
    text-align: center;
    margin-bottom: 1px;
    padding: 5px;
    background-color: #7a7a7a;
}

/* Component menu button */
.live-edit-button.live-edit-component-menu-button {
    width: 120px;
    margin-bottom: 1px;
    padding: 10px;
    background-color: #ebebeb;
}

.live-edit-button-text {
    text-transform: capitalize;
}

.live-edit-hover-menu-button .live-edit-button-text {
    color: #fff;
}

.live-edit-component-menu-button .live-edit-button-text {
    color: #000;
}

/*** Component Menu buttons */

.live-edit-button-icon {
    display: block;
    width: auto;
    height: 24px;
    padding-bottom: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center 5px;
}

/*** Button icons */

.live-edit-icon-parent {
    background-image: url("../images/arrow_up_right.png");
}

/*** Drag and Drop */

#live-edit-drag-helper {
    border: 1px solid #c6c6c6;
    padding: 6px 8px 6px 8px;
    box-shadow: 2px 2px 2px 0 #888888;
    background-color: #fff;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#live-edit-drag-helper img {
    border: 0;
    vertical-align: top;
    margin-right: 5px;
}

#live-edit-drag-helper-status-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.live-edit-drop-target-placeholder {
    list-style-type: none; /* The placeholder in jQuery UI has the same tag name as the dragged component */
    clear: both;
    border: 2px dashed #000;
    padding: 28px;
    color: #000;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    margin: 1px 0 10px 0;
}

/*** HTML element placeholders */

.live-edit-html-element-placeholder {
    position: relative;
    color: #444;
    background-color: Lightgoldenrodyellow;
    border: 1px solid #ccc;
}

.live-edit-html-element-placeholder div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    padding-top: 22px;
}

.live-edit-html-element-placeholder .live-edit-iframe {
    background: transparent url("../images/window_star.png") no-repeat;
}

.live-edit-html-element-placeholder .live-edit-object {
    background: transparent url("../images/plug.png") no-repeat;
}
