@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*** Reset */

.live-edit-loader-splash-container,
.live-edit-loader-splash-content,
svg.live-edit-highlight-border,
#live-edit-shader-north,
#live-edit-shader-east,
#live-edit-shader-south,
#live-edit-shader-west,
#live-edit-page-shader,
.live-edit-tool-tip,
.live-edit-component-menu,
.live-edit-components-container,
.live-edit-component,
live-edit-component-text-name,
live-edit-component-text-subtitle,
.live-edit-loader-splash-content,
.live-edit-shader,
#live-edit-page-shader,
svg.live-edit-highlight-border,
svg.live-edit-highlight-border rect,
.live-edit-empty-region-placeholder,
.live-edit-empty-part-placeholder,
.live-edit-tool-tip,
.live-edit-tool-tip-name-text,
.live-edit-tool-tip-type-text,
.live-edit-tool-tip-name-text,
.live-edit-editor-toolbar,
.live-edit-editor-toolbar-arrow-bottom,
.live-edit-editor-toolbar-arrow-top,
.live-edit-component-menu,
.live-edit-component-menu-title-bar,
.live-edit-component-menu-title-icon,
.live-edit-component-menu-title-text,
.live-edit-component-menu-title-close-button,
.live-edit-component-menu-page-icon,
.live-edit-component-menu-region-icon,
.live-edit-component-menu-part-icon,
.live-edit-component-menu-paragraph-icon,
.live-edit-component-menu-content-icon,
.live-edit-component-menu-button,
.live-edit-button-text,
.live-edit-button-icon,
.live-edit-button-text,
.live-edit-button,
#live-edit-drag-helper,
#live-edit-drag-helper-status-icon,
#live-edit-drag-helper-text,
.live-edit-drop-target-placeholder,
.live-edit-html-element-placeholder,
.live-edit-html-element-placeholder
.live-edit-iframe,
.live-edit-html-element-placeholder
.live-edit-object {
    border: 0;
    outline: 0;
    color: #000;
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1.2;

}

/** Misc */

/* Remove the outline added by the browser */
.live-edit-edited-paragraph {
    outline-color: transparent;
    outline-style: none;
}

/*
    Disable pointer events for A elements ("disables CSS hover selectors on links")
    Can we find a better cross browser solution that includes IE?
*/
a {
    pointer-events: none;
}

/** Arrow */

/* Arrow (cssarrowplease.com/) */
.live-edit-arrow-bottom:after,
.live-edit-arrow-bottom:before,
.live-edit-arrow-top:after,
.live-edit-arrow-top:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.live-edit-arrow-top:after,
.live-edit-arrow-top:before {
    bottom: 100%;
}

.live-edit-arrow-top:after {
    border-color: rgba(255, 249, 203, 0);
    border-bottom-color: #f6f5f7;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.live-edit-arrow-top:before {
    border-color: rgba(152, 152, 152, 0);
    border-bottom-color: #aaa;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}

.live-edit-arrow-bottom:after,
.live-edit-arrow-bottom:before {
    top: 100%;
}

.live-edit-arrow-bottom:after {
    border-color: rgba(255, 249, 203, 0);
    border-top-color: #f6f5f7;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.live-edit-arrow-bottom:before {
    border-color: rgba(152, 152, 152, 0);
    border-top-color: #aaa;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}

/** z-indexes */

.live-edit-loader-splash-container {
    z-index: 2000000;
}

.live-edit-loader-splash-content {
    z-index: 2000010;
}

svg.live-edit-highlight-border {
    z-index: 1000000;
}

#live-edit-shader-north {
    z-index: 1000050;
}

#live-edit-shader-east {
    z-index: 1000060;
}

#live-edit-shader-south {
    z-index: 1000070;
}

#live-edit-shader-west {
    z-index: 1000080;
}

#live-edit-page-shader {
    z-index: 1000090;
}

.live-edit-editor-toolbar {
    z-index: 1000100;
}

.live-edit-tool-tip {
    z-index: 1000150;
}

.live-edit-component-menu {
    z-index: 1000200;
}

.live-edit-components-container {
    z-index: 1000250;
}

/*** Loader splash */

@-moz-keyframes live-edit-spinner {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.live-edit-loader-splash-content {
    cursor: progress !important;
}

.live-edit-loader-splash-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    background-color: #141414;
}

.live-edit-loader-splash-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    text-align: center;
}

.live-edit-loader-splash-content img {
    width: 72px;
    height: 72px;
    border: none;
    -moz-animation: live-edit-spinner .5s infinite linear;
    -webkit-animation: live-edit-spinner .5s infinite linear;
    -ms-animation: live-edit-spinner .5s infinite linear;
    -o-animation: live-edit-spinner .5s infinite linear;
    animation: live-edit-spinner .5s infinite linear;
}

.live-edit-loader-splash-content div {
    color: #bbb;
    margin-top: .7em;
}

/*** Shader */

.live-edit-shader {
    position: absolute;
    top: -15000px;
    left: -15000px;
    background-color: #000;
    opacity: .3;
    cursor: default !important;
}

#live-edit-page-shader {
    position: fixed !important;
}

/*** Highlighter */

.live-edit-selected-component {
    position: relative;
}

svg.live-edit-highlight-border {
    pointer-events: none;
    position: absolute;
}

svg.live-edit-highlight-border rect {
    stroke-width: 4;
}

/*** Placeholders for Empty components */

.live-edit-empty-region-placeholder {
    background-color: #fff;
    border: 2px dashed #add8e6;
    clear: both;
    color: #add8e6;
    font-size: 20px;
    padding: 28px;
    text-align: center;
}

.live-edit-empty-part-placeholder {
    border: 1px dashed #aaa;
    clear: both;
    color: #d3d3d3;
    margin-bottom: 10px;
    padding: 11px;
    text-align: center;
}

/*** Tool tip ***/

.live-edit-tool-tip {
    position: absolute;
    border: 1px solid #000;
    padding: 10px 10px;
    background-color: #ffffc7;
}

.live-edit-tool-tip-name-text,
.live-edit-tool-tip-type-text {
    display: block;
    color: #444;
}

.live-edit-tool-tip-name-text {
    font-weight: bold;
}

/*** Editor Toolbar ***/

.live-edit-editor-toolbar {
    background-color: #f6f5f7;
    border: 1px solid #aaa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    padding: 5px;
}

.live-edit-editor-button {
    border: 1px solid transparent;
    background-color: #f6f5f7;
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.live-edit-editor-button:hover {
    border: 1px solid #ccc;
}

.live-edit-editor-button[data-tag=paste] {
    background: url("../images/htmleditor/paste.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=insertUnorderedList] {
    background: url("../images/htmleditor/list.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=insertOrderedList] {
    background: url("../images/htmleditor/numbered-list.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=link] {
    background: url("../images/htmleditor/link.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=cut] {
    background: url("../images/htmleditor/scissors.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=strikeThrough] {
    background: url("../images/htmleditor/strikethrough.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=bold] {
    background: url("../images/htmleditor/bold.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=underline] {
    background: url("../images/htmleditor/underline.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=italic] {
    background: url("../images/htmleditor/italic.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=superscript] {
    background: url("../images/htmleditor/superscript.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=subscript] {
    background: url("../images/htmleditor/subscript.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=justifyLeft] {
    background: url("../images/htmleditor/paragraph-left.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=justifyCenter] {
    background: url("../images/htmleditor/paragraph-center.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=justifyRight] {
    background: url("../images/htmleditor/paragraph-right.png") center center no-repeat;
}

.live-edit-editor-button[data-tag=justifyFull] {
    background: url("../images/htmleditor/paragraph-justify.png") center center no-repeat;
}

/*** Component menu */

.live-edit-component-menu {
    position: absolute;
    min-width: 150px;
    padding: 0;
    background-color: #f6f5f7;
    border: 1px solid #aaa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.live-edit-component-menu-title-bar {
    overflow: hidden;
    margin-bottom: 2px;
    cursor: hand;
    cursor: grab !important;
    cursor: -moz-grab;
    cursor: url(../images/cursor-grab.png), pointer !important;
    cursor: -webkit-grab;
}

.live-edit-component-menu-title-icon,
.live-edit-component-menu-title-text,
.live-edit-component-menu-title-close-button {
    padding: 5px;
}

.live-edit-component-menu-title-icon {
    padding: 7px;
    float: left;
}

.live-edit-component-menu-title-icon > div {
    width: 22px;
    height: 22px;
}

.live-edit-component-menu-page-icon {
    background: transparent url("../images/component-types/file.png") center center no-repeat;
}

.live-edit-component-menu-region-icon {
    background: transparent url("../images/component-types/compass.png") center center no-repeat;
}

.live-edit-component-menu-part-icon {
    background: transparent url("../images/component-types/puzzle.png") center center no-repeat;
}

.live-edit-component-menu-paragraph-icon {
    background: transparent url("../images/component-types/text-color.png") center center no-repeat;
}

.live-edit-component-menu-layout-icon {
    background: transparent url("../images/component-types/insert-template.png") center center no-repeat;
}

.live-edit-component-menu-title-text {
    float: left;
    font-size: 14px;
    color: #000;
    padding-top: 7px;
    padding-left: 2px;
}

.live-edit-component-menu-title-close-button {
    float: right;
    cursor: pointer;
    background: transparent url("../images/close.png") center center no-repeat;
    width: 22px;
    height: 22px;
    padding: 5px 7px;
}

/* Component menu button */
.live-edit-component-menu-button {
    padding: 7px 10px;
}

.live-edit-component-menu-button:hover {
    background-color: #3892dd;
    color: #fff !important;
}

.live-edit-button-text {
    font-size: 14px;
    color: #606060;
    line-height: 20px;
    text-transform: capitalize;
}

.live-edit-button-icon {
    display: block;
    width: auto;
    height: 24px;
    padding-bottom: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center 5px;
}

.live-edit-component-menu-button:hover .live-edit-button-text {
    color: #fff !important;
}

/*** Component bar */

.live-edit-components-container {
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    font: 14px Tahoma, sans-serif;
}

.live-edit-components-container.live-edit-collapsed .live-edit-toggle-components-container {
    background-image: url("../images/arrow-left.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    height: 100px;
}

.live-edit-components-container .live-edit-toggle-components-container {
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
}

.live-edit-components-container {
    -webkit-transition: right 100ms ease-in, opacity 50ms linear;
    transition: right 100ms ease-in, opacity 50ms linear;
}

.live-edit-form-container {
    overflow: hidden;
}

.live-edit-toggle-components-container {
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2e70FA;
    height: 100px;
    box-shadow: 0 0 10px #777777;
}

.live-edit-toggle-text-container {
    display: block;
    -webkit-transform: rotate(90deg) translateY(0);
    transform: rotate(90deg) translateY(0);
    padding-left: 45px;
    padding-top: 10px;
    font-weight: bold;
    color: #ffffff;
}

.live-edit-components {
    right: 0;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    top: 0;
    min-width: 205px;
    z-index: -2;
    box-shadow: 0 0 10px #777777;
}

.live-edit-components input {
    margin: 8px;
    padding: 5px 3px;
    width: 87%;
    -webkit-user-select: auto;
}

.live-edit-components ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.live-edit-components ul li {
    margin-bottom: 8px;
}

.live-edit-component-list-header {
    text-align: center;
    position: relative;
}

.live-edit-component-list-header:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

.live-edit-component-list-header span {
    background-color: #eeeeee;
    padding: 0 8px;
    color: #4a87e5;
}

.live-edit-component {
    overflow: hidden;
    padding: 8px;
    cursor: move;
}

.live-edit-component:hover {
    background-color: #3892dd;
    color: #fff;
}

.live-edit-component img {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.live-edit-component-text-name {
    font-size: 14px;
    margin-bottom: 2px;;
}

.live-edit-component-text-subtitle {
}

/*** Button */

/* Base */
.live-edit-button {
    cursor: pointer !important;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

/*** Drag and Drop */

#live-edit-drag-helper {
    border: 1px solid #c6c6c6;
    padding: 6px 8px 6px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}

#live-edit-drag-helper img {
    border: 0;
    vertical-align: top;
    margin-right: 5px;
}

#live-edit-drag-helper-status-icon {
    vertical-align: middle;
}

#live-edit-drag-helper-text {
    display: inline-block;
    padding-top: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.live-edit-drop-target-placeholder {
    list-style-type: none; /* The placeholder in jQuery UI has the same tag name as the dragged component */
    clear: both;
    border: 2px dashed #000;
    padding: 28px;
    color: #000;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    margin: 1px 0 10px 0;
}

/*** HTML element placeholders */

.live-edit-html-element-placeholder {
    position: relative;
    color: #444;
    background-color: Lightgoldenrodyellow;
    border: 1px solid #ccc;
}

.live-edit-html-element-placeholder div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    padding-top: 22px;
}

.live-edit-html-element-placeholder .live-edit-iframe {
    background: transparent url("../images/window_star.png") no-repeat;
}

.live-edit-html-element-placeholder .live-edit-object {
    background: transparent url("../images/plug.png") no-repeat;
}