.html-area-modal-dialog.source-code-modal-dialog {

  textarea {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: @admin-bg-dark-gray;
    line-height: normal;
  }
}