.html-area {
  .mce-toolbar-grp {
    display: none;
  }

  .mce-edit-area {
    border-top: 0px;
  }

  .html-area-focused {
    .mce-tinymce {
      .box-shadow(0px 0px 5px @admin-input-blue);
      .input-border(@admin-input-blue);
    }

    .mce-toolbar-grp {
      display: block;
      border-bottom-width: 1px;
    }

    .mce-edit-area {
      border-top: 1px;
    }
  }

  .sticky-toolbar {
    .mce-toolbar-grp {
      position: fixed;
      .box-shadow(0px 3px 6px 0 @admin-toolbar-shadow);
      z-index: 1000;
      border-top: 1px solid @admin-medium-gray-border;
    }
  }

  .autosize-attendant {
    display: none;
  }

}

.mce-fullscreen {
  .panel {
    overflow: visible; // to allow deeply nested mce container to be shown fullscreen
  }
  .mce-toolbar-grp {
    width: inherit !important;
    position: static !important;
  }
}