.html-area {

  .cke_top, .cke_bottom {
    display: none;
  }

  .cke_bottom {
    padding: 1px 8px 2px;
  }

  .cke_button__maximize, .cke_button__code {
    float: right;
  }

  .cke_path {
    padding-top: 6px;
  }

  .cke_focus {
    .box-shadow(0px 0px 5px @admin-input-blue);
    .input-border(@admin-input-blue);

    .cke_top, .cke_bottom {
      display: block;
    }
  }

  .sticky-toolbar {
    .cke_top {
      position: fixed;
      .box-shadow(0px 3px 6px 0 @admin-toolbar-shadow);
      z-index: 1000;
      border-top: 1px solid @admin-medium-gray-border;
    }
  }

  .autosize-attendant {
    display: none;
  }

}

.cke_maximized {
  z-index: 100 !important;

  .cke_bottom {
    padding: 1px 8px 2px;
  }

  .cke_button__maximize, .cke_button__code {
    float: right;
  }

  .cke_path {
    padding-top: 6px;
  }

  .cke_top {

    text-align: center;
    width: 100% !important;

    .cke_toolbox {
      display: inline-block;
      padding-right: 30px;
      vertical-align: middle;
    }
  }
}
