.html-area {

  .cke_top {
    display: none;
  }

  .cke_focus {
    .box-shadow(0px 0px 5px @admin-input-blue);
    .input-border(@admin-input-blue);

    .cke_top {
      display: block;
    }
  }

  .sticky-toolbar {
    .cke_top {
      position: fixed;
      .box-shadow(0px 3px 6px 0 @admin-toolbar-shadow);
      z-index: 1000;
      border-top: 1px solid @admin-medium-gray-border;
    }
  }

  .autosize-attendant {
    display: none;
  }

}
