.html-area-modal-dialog.macro-modal-dialog {

  .transition(margin-top 50ms linear);
  max-height: 100%;

  .hasSelectedItemPreview();

  &.macro-selector {
    .showsSelectedOption(true);

    .selected-options .selected-option {
      height: auto;
      .@{_COMMON_PREFIX}names-view .@{_COMMON_PREFIX}main-name {
        font-size: 24px;
        color: @admin-black;
        height: 24px;
        line-height: 24px;
      }
      .@{_COMMON_PREFIX}wrapper {
        height: 41px;
      }
    }
  }

  .panel {
    overflow: visible; // for the dropdowns to be able to go outside the dialog
  }

  .dialog-content > .docked-panel {
    display: none;
    margin-top: 0px;

    .autosize-attendant {
      display: none;
    }
  }

  &.shows-preview {

    .dialog-content {
      overflow-y: auto;

      .form-view .input-view:last-child {
        margin-bottom: 15px;
      }

    }

    .dialog-content > .docked-panel {
      display: block;

      .input-view.invalid:not(:last-child) {
        margin-bottom: 15px;
      }

      .macro-preview-panel {
        .preview-message {
          font-size: 14px;
          text-align: center;
          margin-top: 10px;
          color: @admin-font-gray1;
        }

        .preview-iframe {
          border-width: 0px;
          margin: 0px;
          width: 100%;
        }
      }
    }
  }

  .form-view {
    .input-view {

      .input-type-view {
        display: inline-block;

        &.html-area .input-wrapper>div {
          width: 100%;
        }

        .selected-options {
          margin: 0 5px;
        }
      }

      .@{_COMMON_PREFIX}combobox, .content-combo-box {
        .options-container {
          position: absolute !important;
          box-sizing: border-box;
        }
      }
    }
  }

  .content-combo-box {
    .options-container {
      box-sizing: content-box;
    }
  }
}