.html-area-modal-dialog.macro-modal-dialog {

  .hasSelectedItemPreview();
  .hideCancelTopButton();

  &.macro-selector {
    .showsSelectedOption(true);

    .selected-options .selected-option {
      height: auto;
      .names-view .main-name {
        font-size: 24px;
        color: @admin-black;
        height: 24px;
        line-height: 24px;
      }
      .wrapper {
        height: 41px;
      }
    }
  }

  .dialog-content > .docked-panel {
    display: none;
  }

  &.shows-preview {
    .dialog-header {
      display: none;
    }

    .dialog-content > .docked-panel {
      display: block;

      .input-view.invalid:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .content-combo-box {
    .options-container {
      box-sizing: content-box;
    }
  }
}