.modal-dialog-margin-mixin(@label-width: @form-label-width) {
  .form-view .input-view {
    label {
      float: left;
      max-width: @label-width - 10px;
    }

    label + .form-input,
    label + .input-wrapper {
      margin-left: @label-width;
    }

    &.invalid {
      label + .input-wrapper {
        margin-left: @label-width - 12px;
      }
    }
  }

}

.hasSelectedItemPreview() {
  .selected-item-preview {
    label {
      display: none;
    }
    .input-wrapper {
      margin-left: 0 !important;
    }
  }
}

.showsSelectedOption(@displayIcon:false) {

  .selected-options .selected-option {
    margin: 0;
    width: 100%;
    border: none;
    overflow-y: hidden;

    .wrapper {
      display: none;
    }

    .wrapper when (@displayIcon = true) {
      .flexbox()
    }
  }

  .input-wrapper {
    .flexbox();
    overflow-y: hidden;
  }

  .names-and-icon-view .names-view {
    margin-left: 0;
  }
}

.html-area-modal-dialog {
  max-width: 600px;
  @media screen and (max-height: 360px) {
    min-height: 220px;
  }

  @media screen and (max-height: 540px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &._540-720 {
    .modal-dialog-margin-mixin();
  }

  &.animated {
    .transition(margin-top 0.2s);
  }

  .dialog-content {

    @media screen and (max-height: 360px) {
      height: 65%;
    }

    .transition(max-height 0.2s);

    input {
      width: 100%;

    }

    .panel {
      position: inherit;
    }

    .docked-panel {
      width: auto;
      box-shadow: none;
      position: inherit !important;
      margin-top: 15px;

      .tab-bar {
        width: 63%;
        border-bottom: none;
      }

      .deck-panel {
        border-top: 1px solid @admin-medium-gray-border;
        padding-top: 10px;
      }

    }

    .checkbox.form-input {
      margin-top: 3px;
    }

    .input-view.invalid:not(:last-child) {
      margin-bottom: 0;
    }

    div.input-view.invalid + div.validation-viewer {
      background-color: @input-light-red;
      padding-bottom: 10px;
      padding-left: @form-label-width;
    }

    .form-view {
      margin-bottom: 0;
      padding: 0 !important;

      .content-combo-box {
        .options-container {
          position: fixed !important;
        }
      }

      fieldset:not(:last-child) {
        margin-bottom: 5px;
      }
      fieldset:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  .dialog-buttons {

    &:before {
      position: absolute;
      width: 100%;
      line-height: 34px;

      @media screen and (max-height: 360px) {
        line-height: 70px;
      }
    }

  }

}
