.modal-dialog-margin-mixin(@label-width: @form-label-width) {
  .form-view {
    .input-view {
      label {
        float: left;
        max-width: @label-width - 10px;
      }

      label + .form-input,
      label + .input-wrapper {
        margin-left: @label-width;
      }
    }

    &.display-validation-errors .input-view {
      label + .input-wrapper {
        margin-left: @label-width - 12px;
      }
    }
  }

}

.hasSelectedItemPreview() {
  .selected-item-preview {
    label {
      display: none;
    }
    .input-wrapper {
      margin-left: 0 !important;
    }
  }
}

.hideCancelTopButton() {
  .modal-dialog-content-wrapper .cancel-button-top {
    display: none;
  }
}

.showsSelectedOption(@displayIcon:false) {

  .selected-options .selected-option {
    margin: 0;
    width: 100%;
    border: none;
    overflow-y: hidden;

    .wrapper {
      display: none;
    }

    .wrapper when (@displayIcon = true) {
      .flexbox()
    }
  }

  .input-wrapper {
    .flexbox();
  }

  .names-and-icon-view .names-view {
    margin-left: 0;
  }
}

.html-area-modal-dialog {
  max-width: 600px;
  @media screen and (max-height: 360px) {
    min-height: 220px;
  }

  @media screen and (max-height: 540px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &._540-720 {
    .modal-dialog-margin-mixin();
  }

  &._0-240, &._240-360, &._360-540 {
    .dialog-content {
      div.input-view.invalid + div.validation-viewer {
        padding-left: 11px;
      }
      .form-view.display-validation-errors .input-view label + .input-wrapper {
        margin-left: 0;
      }
    }
  }

  .image-preview {
    label {
      display: none;
    }
    .input-wrapper {
      margin-left: 0 !important;
    }
  }

  &.animated {
    .transition(margin-top 0.2s);
  }

  .dialog-content {

    @media screen and (max-height: 360px) {
      height: 65%;
    }

    .transition(max-height 0.2s);

    input {
      width: 100%;

    }

    .panel {
      position: inherit;
    }

    .docked-panel {
      width: auto;
      box-shadow: none;
      position: inherit !important;
      margin-top: 15px;

      .tab-bar {
        width: 63%;
        border-bottom: none;
      }

      .deck-panel {
        border-top: 1px solid @admin-medium-gray-border;
        padding-top: 10px;
      }

    }

    .checkbox.form-input {
      margin-top: 3px;
    }

    .input-view.invalid:not(:last-child) {
      margin-bottom: 0;
    }

    div.input-view.invalid + div.validation-viewer {
      background-color: @input-light-red;
      padding-bottom: 10px;
      padding-left: @form-label-width;
    }

    .form-view {
      margin-bottom: 0;
      padding: 0 !important;

      fieldset:not(:last-child) {
        margin-bottom: 5px;
      }
      fieldset:not(:first-child) {
        margin-top: 5px;
      }
    }

  }

  .dialog-buttons {

    &:before {
      position: absolute;
      width: 100%;
      line-height: 34px;

      @media screen and (max-height: 360px) {
        line-height: 70px;
      }
    }

  }

  .toolbar {
    &.image-toolbar {
      position: relative;
      border-bottom-width: 0px;

      .@{_COMMON_PREFIX}button[class*="icon-paragraph-"] {
        &[class*="icon-paragraph-"] {
          padding: 7px 7px;
        }

        &[class*="icon-"] {
          font-size: 24px;
          line-height: 24px;
        }

      }

      .keep-size-check {
        display: inline-block;
        line-height: 25px;
        margin: 0 0 0 15px;

        input {
          width: 0;
          height: 0;
          margin: 0;
        }

        label {
          vertical-align: top;
          display: inherit;
          float: none;
        }
      }

      .fold-button {
        bottom: 3px;
      }

    }

  }

  img {

    &[style*="text-align: justify"] {
      &:not([data-src*="keepSize=true"]) {
        width: 100%;
      }
    }

    &[style*="text-align: left"] {

      margin: 0;
      float: left;

      &:not([data-src*="keepSize=true"]) {
        width: 40%;
      }
    }

    &[style*="text-align: center"] {

      margin: auto;

      &:not([data-src*="keepSize=true"]) {
        width: 60%;
      }
    }

    &[style*="text-align: right"] {

      margin: 0;
      float: right;

      &:not([data-src*="keepSize=true"]) {
        width: 40%;
      }
    }
  }

  &.image-modal-dialog {
    max-width: 640px;
    max-height: 100%;

    .image-selector {
      .input-wrapper {
        .flexbox();

        .image-uploader-el {
          max-width: 37px !important;
          position: static;

          .upload-button {
            right: auto;
          }

          .dropzone-container {
            position: static;
          }
        }
      }
    }

    .scroll-up-div, .scroll-down-div {
      position: absolute;
      height: 50px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;

      img {
        max-width: 100%;
        max-height: 100%;
        opacity: 0.7;
        .filter(invert(0.7));

        &:hover {
          opacity: 1;
        }
      }
    }

    .scroll-up-div {
      top: 0;
    }

    .scroll-down-div {
      bottom: 0;
    }

    .preview-panel-scroll-navigation-wrapper {
      position: relative;
      margin-top: 10px;

      .preview-panel-scrollbar-wrapper {
        overflow: hidden;
      }
    }

    .input-view.invalid .preview-panel-scroll-navigation-wrapper {
      display: none;
    }
  }

  &.link-modal-dialog {
    input[type="checkbox"] + label:before {
      position: absolute;
      margin-left: 108px;
    }

    .dialog-content .panel {
      overflow: visible;
    }

  }

}
