.html-area-modal-dialog.search-and-replace-modal-dialog {
  .dialog-buttons .button-container {
    display: flex;
    width: 100%;

    button:nth-child(1) {
      margin-left: 0px;
    }

    button:nth-last-child(2) {
      @media screen and (min-width: 470px) {
        margin-left: auto;
      }
    }
  }
}

