.input-occurrence-view {
  .clearfix();
  .flexbox();
  .align-items(center);

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  > .drag-control {
    .order(1);

    float: left;
    background: url("../../../../images/nail-plate.png") no-repeat;
    width: 5px;
    height: 30px;
    cursor: move;
  }

  .input-wrapper {
    .order(2);
    .flex(1);

    .form-input {
      width: 100%;
    }
  }

  .remove-button {
    &:extend(.icon);
    .icon-close;

    .order(3);

    float: right;
    text-decoration: none;
    cursor: pointer;
  }

  &.single-occurrence {

    > .drag-control, > .remove-button {
      display: none;
    }

  }

  &.multiple-occurrence {

    > .drag-control, > .remove-button {
      display: block;
    }

    .input-wrapper {
      margin: 0 5px 0 0;
    }

  }
}
