.module-configurator {
  .module-config {

    .remove-module {
      display: inline;
      top: 0;
      right: 0;
      position: absolute;
      margin: 12px 0 0 -20px;
      z-index: 1;
    }

    .module-view {
      .header {
        position: relative;
      }
    }

    .module-form {
      .bottom-button-row {
        margin-left: 0px;
        padding-right: 0px;
      }
    }
  }

  .multiple-occurrence {
    .module-config {
      .drag-control, .module-form .remove-button {
        display: none;
      }

      .module-form {
        padding-right: 0px;
      }
    }
  }
}
