.module-configurator {
  .module-config {

    .remove-module {
      display: inline;
      top: 0;
      right: 0;
      position: absolute;
      margin: 12px 0 0 -20px;
      z-index: 1;
    }

    .module-form {
      padding-right: 30px;
    }
  }
}