/*
    TODO: Review z-indexes
*/

/*** Reset */
.live-edit-loader-splash-content,
.live-edit-loader-splash-container,
.live-edit-loader-splash-content,
.live-edit-loader-splash-content img,
.live-edit-loader-splash-content div,
.live-edit-shader,
svg.live-edit-highlighter,
svg.live-edit-highlighter rect,
svg.live-edit-selected-border,
svg.live-edit-selected-border rect,
.live-edit-empty-region-placeholder,
.live-edit-empty-window-placeholder,
.live-edit-info-tip,
.live-edit-info-tip-arrow-border,
.live-edit-info-tip-arrow,
.live-edit-info-tip-type-text,
.live-edit-info-tip-name-text,
.live-edit-tool-tip,
.live-edit-component-menu,
.live-edit-button,
.live-edit-button-text,
.live-edit-button-icon,
.live-edit-icon-insert,
.live-edit-icon-reset,
.live-edit-icon-empty,
.live-edit-icon-drag,
.live-edit-icon-parent,
.live-edit-icon-view,
.live-edit-icon-edit,
.live-edit-icon-settings,
.live-edit-icon-remove,
#live-edit-drag-helper,
#live-edit-drag-helper img,
#live-edit-drag-helper-status-icon,
.live-edit-drop-target-placeholder,
.live-edit-html-element-placeholder,
.live-edit-html-element-placeholder div,
.live-edit-html-element-placeholder .live-edit-iframe,
.live-edit-html-element-placeholder .live-edit-object
{
    border: 0;
    color: #000;
    font: 11px Tahoma;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


/*** Misc */

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
    Disable pointer events for A elements ("disables CSS hover selectors on links")
    Can we find a better cross browser solution that includes IE?
*/
a { pointer-events: none; }


/*** Loader splash */

@-moz-keyframes live-edit-spinner {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-ms-keyframes spin {
	0% { -ms-transform:rotate(0deg); }
	100% { -ms-transform:rotate(360deg); }
}
@-o-keyframes spin {
	0% { -o-transform:rotate(0deg); }
	100% { -o-transform:rotate(360deg); }
}
@keyframes spin {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}

.live-edit-loader-splash-content {
    cursor: progress !important;
}

.live-edit-loader-splash-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    background-color: #141414;
    z-index: 2000000;
}

.live-edit-loader-splash-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    text-align: center;
    z-index: 2000010;
}

.live-edit-loader-splash-content img {
    width: 72px;
    height: 72px;
    border: none;
    -moz-animation: live-edit-spinner .5s infinite linear;
    -webkit-animation: live-edit-spinner .5s infinite linear;
    -ms-animation: live-edit-spinner .5s infinite linear;
    -o-animation: live-edit-spinner .5s infinite linear;
    animation: live-edit-spinner .5s infinite linear;
}

.live-edit-loader-splash-content div {
    color: #bbb;
    margin-top: .7em;
}


/*** Shader */

.live-edit-shader {
    position: absolute;
    top: -15000px;
    left: -15000px;
    background-color: #000;
    opacity: .5;
    cursor: default !important;
    z-index: 1000045;
}


/*** Highlighter */

.live-edit-selected-component {
    position: relative;
}

svg.live-edit-highlighter {
    pointer-events: none;
    position: absolute;
    z-index: 1000040;
}

svg.live-edit-highlighter rect {
    fill-opacity: 0;
    stroke-dasharray: 5 5;
    stroke-width: 4;
}

svg.live-edit-selected-border {
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 1000000;
}


svg.live-edit-selected-border rect {
    stroke-width: 2;
    fill-opacity: 0;
}


/*** Placeholders for Empty components */

.live-edit-empty-region-placeholder {
    background-color: #fff;
    border: 2px dashed #add8e6;
    clear: both;
    color: #add8e6;
    font-size: 20px;
    padding: 28px;
    text-align: center;
}

.live-edit-empty-window-placeholder {
    border: 1px dashed #aaa;
    clear: both;
    color: #d3d3d3;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 11px;
    text-align: center;
}


/*** Info tip */

.live-edit-info-tip {
    cursor: default;
    padding: 5px 15px 5px 15px;
    text-align: center;
    line-height: 1.3em;
    position: absolute;
    z-index: 1000100;
    left: -5000px;
    top: -5000px;
    border: 1px solid #20252A;

    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.live-edit-info-tip-arrow-border {
    border-color: #606C88 transparent transparent;
    border-style: solid;
    border-width: 8px;
    bottom: -17px;
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}

.live-edit-info-tip-arrow {
    border-color: #f1da36 transparent transparent;
    border-style: solid;
    border-width: 8px;
    bottom: -16px;
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}

.live-edit-info-tip-type-text {
    color: #00f;
}

.live-edit-info-tip-name-text {
    color: #000;
}


/*** Tool tip ***/

.live-edit-tool-tip {
    z-index: 1000200;
    position: absolute;
    background-color:#ffffc7;
    padding:10px;
}

/*** Component menu */

.live-edit-component-menu {
    position: absolute;
    z-index: 1000050;
    background-color: #20252A;
    padding: 1px 1px 0 1px;
}


/*** Button */

.live-edit-button {
    width: 62px;
    cursor: pointer !important;
    margin-bottom: 1px;
    display: block;
    text-align: center;
    padding: 2px 1px 5px 1px;
    cursor: pointer;
    font: 11px Tahoma;
    text-decoration: none;
    border: 1px solid #98bede;

    background: #deefff; /* Old browsers */
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

}

.live-edit-button:hover {
}

.live-edit-button:active {
}

.live-edit-button-text {
    text-transform: capitalize;
    color: #000;
}


/*** Component Menu buttons */

.live-edit-button-icon {
    display: block;
    width: auto;
    height: 24px;
    padding-bottom: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center 5px;
}


/*** Button icons */

.live-edit-icon-insert { background-image: url("../images/component_blue_add.png"); }
.live-edit-icon-reset { background-image: url("../images/nav_undo_blue.png"); }
.live-edit-icon-empty { background-image: url("../images/selection_delete.png"); }
.live-edit-icon-drag {
    cursor:move;
    background-image: url("../images/hand_grab2.png");
}
.live-edit-icon-parent { background-image: url("../images/arrow_up_right_blue.png"); }
.live-edit-icon-view { background-image: url("../images/eye_blue.png"); }
.live-edit-icon-edit { background-image: url("../images/pencil.png"); }
.live-edit-icon-settings { background-image: url("../images/gear.png"); }
.live-edit-icon-remove { background-image: url("../images/delete.png"); }


/*** Drag and Drop */

#live-edit-drag-helper {
    border: 1px solid #c6c6c6;
    background-color: #fff;
    font-size: 11px;
    box-shadow: 2px 2px 2px 0 #888888;
}

#live-edit-drag-helper img { border: 0; }

#live-edit-drag-helper-status-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.live-edit-drop-target-placeholder {
    clear: both;
    border: 2px dashed #000;
    padding: 28px;
    color: #000;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    margin: 1px 0 10px 0;
}


/*** HTML element placeholders */

.live-edit-html-element-placeholder {
    position: relative;
    color: #444;
    background-color: Lightgoldenrodyellow;
    border: 1px solid #ccc;
}

.live-edit-html-element-placeholder div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    padding-top: 22px;
}

.live-edit-html-element-placeholder .live-edit-iframe {
    background: transparent url("../images/window_star.png") no-repeat;
}

.live-edit-html-element-placeholder .live-edit-object {
    background: transparent url("../images/plug.png") no-repeat;
}
