svg.@{_CLS_PREFIX}highlighter {
  z-index: @z-index-shader;
  pointer-events: none;
  position: absolute;

  rect {
    stroke-width: 2;

    &[style~="stroke-dasharray:"] {
      stroke-width: 3;
    }
  }

  path {
    stroke-width: 1.2;

    &[style~="stroke-dasharray:"] {
      stroke-width: 1.5;
    }
  }

  &.rectangle {
    path {
      display: none;
    }
  }
}