svg.@{_CLS_PREFIX}highlighter {
  z-index: @z-index-shader;
  pointer-events: none;
  position: absolute;

  &.crosshair {
    rect {
      stroke-width: 0.5;
    }
    path {
      opacity: 0.2;
    }
  }

  rect {
    stroke-width: 2;
  }

  path {
    stroke-width: 1.2;

    &[style~="stroke-dasharray:"] {
      stroke-width: 1.5;
    }
  }

  &.rectangle {
    path {
      display: none;
    }
  }
}