svg.@{_CLS_PREFIX}highlighter {
  z-index: @z-index-shader;
  pointer-events: none;
  position: absolute;

  rect {
    stroke-width: 4;
  }

  path {
    stroke-width: 1.5;
  }

  &.rectangle {
    path {
      display: none;
    }
  }
}