.item-view-context-menu {
  .reset(); // both context menu and names and icon view have their own resets
  .material-layer-shadow();

  z-index: @z-index-context-menu;
  position: absolute;
  background: @admin-white;
  display: none;
  width: 160px;
  padding: 4px;

  .item-view-context-menu-arrow {
    .arrow(#fff, 7px);

    position: absolute;

    left: 50%;

    &.bottom {
      top: -7px;
    }

    &.top {
      bottom: -7px;
    }
  }

  .names-and-icon-view {
    padding: 8px 5px;
    margin-bottom: 4px;
    background-color: @admin-blue;

    .wrapper {
      width: 20px;
      height: 20px;
      line-height: 20px;

      .icon {
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        vertical-align: top;
      }
    }

    .names-view {
      margin: 0;

      .main-name {
        color: #fff;
        font-family: @admin-font-family;
        height: 20px;
        line-height: 20px;
      }
      .sub-name {
        display: none;
      }
    }
  }

  .context-menu {
    display: block;
    position: static;
    padding: 0;
    .box-shadow(none);
  }
}


