/** Resource path */

$resourcePath: "/";

/** Colors */

$baseColor: #f6f5f7;
$borderColor: #aaa;
$shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
$hoverBackgroundColor: #3399fe;
$textColor: #555;
$hoverTextColor: #fff;