.page-view {

  &.empty {
    // placeholder should occupy whole page when empty
    & > .page-placeholder {
      height: 100%;
      margin: 0;

      .dropdown {
        top: 50%;
        margin-top: -18px;
      }
    }
  }

  &.text-edit-mode {

    .text-edit-toolbar {
      display: block;
    }
  }

  & > .text-edit-toolbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: @z-index-shader;
    text-align: center;

    .wrapper {
      line-height: 24px;
      padding: 10px 10px 10px 16px;
      display: inline-block;
      color: @admin-almost-white;
      background: @admin-bg-dark-gray;
      .opacity(.9);
      .box-shadow(0 1px 5px rgba(0, 0, 0, 0.7));
      .border-radius(0 0 13px 13px);

      .close-button {
        .button(@admin-font-gray2, transparent, @admin-almost-white, transparent);
        padding: 0;
        margin-left: 5px;
        float: right;
      }
    }
  }

  & > .page-placeholder {

    &:before {
      content: "\e004";
    }
  }

}