.region-view {

  &.dragged-over {
    &.empty > .region-placeholder {
      display: none;
    }
    & > .drag-placeholder {
      display: block;
    }
  }

}

.region-placeholder {
  background-color: @region-bg;
  border: 2px dashed @region-color;
  color: @region-color;
  font-size: 20px;
  margin: 1px 0 10px 0;
  padding: 10px;
  min-height: 0;

  &:before {
    display: none;
  }

  p {
    margin: 0 0 10px;

    &:last-child {
      margin: 0;
    }
  }
}