.region-placeholder {
  background-color: #fff;
  border: 2px dashed #add8e6;
  clear: both;
  color: #add8e6;
  font-size: 20px;
  margin: 1px 0 10px 0;
  padding: 28px 10px;
  text-align: center;
  box-sizing: border-box;

  p {
    margin: 0 0 10px;
  }

}