.region-view-drop-zone {
  .live-edit-empty-component();
  box-shadow: 0px 0px 20px #333;
  font-size: 20px;
  text-align: center;

  span {
    position: absolute;
    z-index:10;
    height:24px;
    width:216px;
    top: calc(~"50% - 12px");
    left: calc(~"50% - 108px");
    display: block;
  }

  &:after {
    font-family: 'live-edit-font-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 105px;
    color: #d3e0f2;
    position: absolute;
    left: calc(~"50% - 52px");
    top: 13px;
  }

  &.image {
    &:after {
      content: "\e005";
    }
  }
  &.part {
    &:after {
      content: "\e003";
    }
  }
  &.layout {
    &:after {
      content: "\e004";
    }
  }
}


