.region-view {

  &.drag {
    &.empty > .region-placeholder {
      display: none;
    }
    & > .region-dropzone {
      display: block;
    }
  }

  & > .region-placeholder {
    background-color: @region-bg;
    border: 2px dashed @region-color;
    color: @region-color;
    font-size: 20px;
    margin: 1px 0 10px 0;
    padding: 20px 10px;

    p {
      margin: 0 0 10px;
    }
  }
}

// extend the .item-placeholder maybe?
.region-dropzone {
  display: block;
  position: relative;
  min-height: @placeholder-height;
  background: @placeholder-bg;
  box-shadow: 0px 0px 20px #333;
  padding: 50px 15px;
  margin: 1px 0 10px 0;
  text-align: center;
  .box-sizing(border-box);

  .message {
    line-height: 37px;
    font-size: 20px;
    position: relative;
    color: #224E83;
  }

  &.forbidden {
    .message {
      color: red;
    }
  }

  &:before {
    font-family: 'live-edit-font-icon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 105px;
    color: #d3e0f2;
    position: absolute;
    left: calc(~"50% - 52px");
    top: 13px;
  }

  &.image:before {
    content: "\e005";
  }
  &.part:before {
    content: "\e003";
  }
  &.layout:before {
    content: "\e004";
  }
  &.text:before {
    font-family: 'icomoon' !important;
    content: "\e449";
  }
}