.shader {
  position: absolute;
  display: none;
  background-color: #000;
  .opacity(0);
  cursor: default !important;
  z-index: @z-index-shader;

  &.page {
    position: fixed !important;
  }

  .page-view.locked.force-locked & {
    .opacity(.4);
    .transition(all 50ms);

    .centered {
      display: block;
    }
  }

}