.shader {
  position: absolute;
  display: none;
  background-color: #000;
  .opacity(.2);
  cursor: default !important;
  z-index: @z-index-shader;

  &.page {
    position: fixed !important;

    .centered {
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -48px;
      left: 50%;
      margin-left: -48px;
      text-align: center;
    }

    .page-view.locked.force-locked & {
      .opacity(.2);
    }

    .page-view.locked & {
      .opacity(0);
      .transition(all 50ms);

      .centered {
        display: block;
      }

    }
  }
}