.text-view {

  &.edit-mode {

    > .text-placeholder {
      display: none;
    }

    > article {
      cursor: text;
      display: block;
      .input-border();
      .input-glow();
    }
  }

  &.empty {
    & > article:before {
      content: 'Just start typing...';
    }
  }

  & > article {
    min-height: @placeholder-height;
    .outline(0 none);
  }

  & > .text-placeholder {
    font-size: 32px;
    line-height: 37px;
    font-family: Tahoma, Geneva, sans-serif;
    vertical-align: middle;
    color: #224E83;

    &:before {
      font-family: 'icomoon' !important;
      content: "\e449";
    }

    .message {
      position: relative;
      display: none;
    }
  }

}