.text-view {

  &.edit-mode {

    > .text-placeholder {
      display: none;
    }

    > article {
      cursor: text;
      display: block;
      .input-border();
      .input-glow();
    }
  }

  & > article {
    min-height: 32px;
    padding: 5px;
    .outline(0 none);
    .box-sizing(content-box);

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

}

.text-placeholder {
  min-height: 32px;
  padding: 5px;

  &:before {
    position: static;
    margin: 0;
    font-size: 30px;
    line-height: 32px;
    color: @placeholder-icon;
    font-family: @admin-font-family !important;
    font-weight: bold;
    content: 'Text';
  }

}