@font-face {
  font-family: 'icomoon';
  src: url('../icons/fonts/icomoon.eot?-5nqau7');
  src: url('../icons/fonts/icomoon.eot?#iefix-5nqau7') format('embedded-opentype'), url('../icons/fonts/icomoon.woff?-5nqau7') format('woff'), url('../icons/fonts/icomoon.ttf?-5nqau7') format('truetype'), url('../icons/fonts/icomoon.svg?-5nqau7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: @admin-dark-gray;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xsmall {
  &:before {
    font-size: 10px;
  }
}

.icon-small {
  &:before {
    font-size: 14px;
  }
}

.icon-medium {
  &:before {
    font-size: 24px;
  }
}

.icon-large {
  &:before {
    font-size: 30px;
  }
}

.icon-xlarge {
  &:before {
    font-size: 48px;
  }
}

.icon-checkmark:extend(.icon) {
  &:before {
    content: "\e370";
  }
}

.icon-checkbox-partial:extend(.icon) {
  &:before {
    content: "\e431";
  }
}

.icon-checkbox-checked:extend(.icon) {
  &:before {
    content: "\e42e";
  }
}

.icon-checkbox-unchecked:extend(.icon) {
  &:before {
    content: "\e42f";
  }
}

.icon-arrow-down4 {
  &:before {
    .icon();
    content: "\e3c5";
  }
}

.icon-arrow-up4 {
  &:before {
    .icon();
    content: "\e3c1";
  }
}

.icon-menu3 {
  &:before {
    .icon();
    content: "\e2ac";
  }
}

.icon-close {
  &:extend(.icon);
  &:before {
    content: "\e36b";
  }
}

.icon-arrow-up-thin {
  &:extend(.icon);
  &:before {
    content: "\e410";
  }
}

.icon-arrow-right-thin {
  &:extend(.icon);
  &:before {
    content: "\e411";
  }
}

.icon-arrow-down-thin {
  &:extend(.icon);
  &:before {
    content: "\e412";
  }
}

.icon-arrow-left-thin {
  &:extend(.icon);
  &:before {
    content: "\e413";
  }
}

.icon-arrow-down {
  &:before {
    .icon();
    content: "\e3b2";
  }
}

.icon-arrow-right2:extend(.icon) {
  &:before {
    content: "\e3b1";
  }
}

.icon-arrow-right3:extend(.icon) {
  &:before {
    content: "\e3b5";
  }
}

.icon-grid:extend(.icon) {
  &:before {
    content: "\e2a0";
  }
}

.icon-grid4 {
  &:extend(.icon);
  &:before {
    content: "\e2a3";
  }
}

.icon-menu6:extend(.icon) {
  &:before {
    content: "\e2af";
  }
}

.icon-crop2:extend(.icon) {
  &:before {
    content: "\e43d";
  }
}

.icon-rotate:extend(.icon) {
  &:before {
    content: "\e13d";
  }
}

.icon-rotate2:extend(.icon) {
  &:before {
    content: "\e13e";
  }
}

.icon-flip:extend(.icon) {
  &:before {
    content: "\e13f";
  }
}

.icon-flip2:extend(.icon) {
  &:before {
    content: "\e140";
  }
}

.icon-palette:extend(.icon) {
  &:before {
    content: "\e021";
  }
}

.icon-image:extend(.icon) {
  &:before {
    content: "\e02b";
  }
}

.icon-blocked:extend(.icon) {
  &:before {
    content: "\e364";
  }
}

.icon-pushpin:extend(.icon) {
  &:before {
    content: "\e0f0";
  }
}

.icon-type:extend(.icon) {
  &:before {
    content: "\e449";
  }
}

.icon-close2 {
  &:extend(.icon);
  &:before {
    content: "\e36c";
  }
}

.icon-puzzle:extend(.icon) {
  &:before {
    content: "\e26e";
  }
}

.icon-earth:extend(.icon) {
  &:before {
    content: "\e2c7";
  }
}

.icon-image3:extend(.icon) {
  &:before {
    content: "\e02d";
  }
}

.icon-insert-template:extend(.icon) {
  &:before {
    content: "\e467";
  }
}

.icon-newspaper:extend(.icon) {
  &:before {
    content: "\e00c";
  }
}

.icon-wand:extend(.icon) {
  &:before {
    content: "\e1ec";
  }
}

.icon-database {
  &:extend(.icon);
  &:before {
    content: "\e138";
  }
}

.icon-share2 {
  &:extend(.icon);
  &:before {
    content: "\e48c";
  }
}

.icon-signup {
  &:extend(.icon);
  &:before {
    content: "\e296";
  }
}

.icon-cart {
  &:extend(.icon);
  &:before {
    content: "\e0c1";
  }
}

.icon-pie2 {
  &:extend(.icon);
  &:before {
    content: "\e1f8";
  }
}

.icon-target3 {
  &:extend(.icon);
  &:before {
    content: "\e27b";
  }
}

.icon-stats {
  &:extend(.icon);
  &:before {
    content: "\e1fe";
  }
}

.icon-user {
  &:extend(.icon);
  &:before {
    content: "\e185";
  }
}

.icon-users {
  &:extend(.icon);
  &:before {
    content: "\e186";
  }
}

.icon-key {
  &:extend(.icon);
  &:before {
    content: "\e1ca";
  }
}

.icon-users2 {
  &:extend(.icon);
  &:before {
    content: "\e18d";
  }
}

.icon-user7 {
  &:extend(.icon);
  &:before {
    content: "\e199";
  }
}

.icon-address-book {
  &:extend(.icon);
  &:before {
    content: "\e0e8";
  }
}

.icon-aid {
  &:extend(.icon);
  &:before {
    content: "\e1ef";
  }
}

.icon-arrow-down2 {
  &:extend(.icon);
  &:before {
    content: "\e3b6";
  }
}

.icon-undo2 {
  &:extend(.icon);
  &:before {
    content: "\e14b";
  }
}

.icon-loop4 {
  &:extend(.icon);
  &:before {
    content: "\e3a8";
  }
}

.icon-loop5 {
  &:extend(.icon);
  &:before {
    content: "\e3a9";
  }
}

.icon-search3 {
  &:extend(.icon);
  &:before {
    content: "\e1ba";
  }
}

.icon-calendar4 {
  &:extend(.icon);
  &:before {
    content: "\e115";
  }
}

.icon-clock {
  &:extend(.icon);
  &:before {
    content: "\e101";
  }
}

.icon-file {
  &:extend(.icon);
  &:before {
    content: "\e077";
  }
}

.icon-folder {
  &:extend(.icon);
  &:before {
    content: "\e098";
  }
}

.icon-shield {
  &:extend(.icon);
  &:before {
    content: "\e27e";
  }
}

.icon-file-upload2 {
  &:extend(.icon);
  &:before {
    content: "\e08a";
  }
}

.icon-paragraph-left {
  &:extend(.icon);
  &:before {
    content: "\e46b";
  }
}

.icon-paragraph-center {
  &:extend(.icon);
  &:before {
    content: "\e46c";
  }
}

.icon-paragraph-right {
  &:extend(.icon);
  &:before {
    content: "\e46d";
  }
}

.icon-paragraph-justify {
  &:extend(.icon);
  &:before {
    content: "\e46e";
  }
}

.icon-numbered-list {
  &:extend(.icon);
  &:before {
    content: "\e29c";
  }
}

.icon-list {
  &:extend(.icon);
  &:before {
    content: "\e299";
  }
}

.icon-link {
  &:extend(.icon);
  &:before {
    content: "\e2c9";
  }
}

.icon-quotes-left {
  &:extend(.icon);
  &:before {
    content: "\e19f";
  }
}

.icon-bold {
  &:extend(.icon);
  &:before {
    content: "\e44e";
  }
}

.icon-underline {
  &:extend(.icon);
  &:before {
    content: "\e44f";
  }
}

.icon-italic {
  &:extend(.icon);
  &:before {
    content: "\e450";
  }
}

.icon-strikethrough {
  &:extend(.icon);
  &:before {
    content: "\e451";
  }
}

.icon-font-size {
  &:extend(.icon);
  &:before {
    content: "\e448";
  }
}
