.single-selector .combobox {

  input {
    height: 24px;
    padding: 3px 37px 3px 8px;
  }

  .selected-options {
    float: none;

    .selected-option {
      width: 100%;
      padding-right: 0;

      .remove {
        font-size: 9px;
      }
    }
  }

}