<script th:inline="javascript">
    function initialize() {
        var latitude = /*[[${cityLatitude}]]*/ 'lat';
        var longitude = /*[[${cityLongitude}]]*/ 'lng';
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            center: new google.maps.LatLng(latitude, longitude),
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div>
    <h2>City Map</h2>
</div>
<div id="map-canvas"></div>