.form-item-set-view {

  margin-top: 10px;
  margin-bottom: 10px;

  .occurrence-views-container {
    background-color: #eee;
    overflow: hidden;
  }

  .form-item-set-drop-target-placeholder {
    border: 2px dashed #000;
    padding: 14px;
    color: #000;
    font-size: 14px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
  }

  .bottom-button-row {
    background-color: #eeeeee;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    clear: left;
    overflow: hidden;

    button {
      margin-left: 0px;
    }

    .add-button {
      float: left;
    }

    .collapse-button {
      float: right;
    }
  }
}

.form-item-set-drop-allowed {
  background-color: #558e28;
  text-align: center;
  line-height: 48px;
  .icon("\f00c", 2.4em, white);
}