.template-view {
  width: 650px;

  .input-label {
    font-size: 12px;
  }

  .input-type-view {
    padding: 5px 10px;
    border: 1px solid #eee;

    img {
      float: left;
      width: 64px;
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 5px;
    }

    p {
      .clearfix();
      margin-bottom: 0px !important;
    }

    h4, p {
      margin-left: 74px !important;
    }
  }

}