.field-set-view {

  clear: left;
  margin-bottom: 10px;

  .field-set-label {
    font-size: 25px;
    margin-bottom: 15px;
    .ellipsis();
    margin-left:10px;
  }

  .field-set-container > *:not(:last-child) {
    margin-bottom: 15px;
  }

}