.form-item-set-occurrence-view {

  clear: left;
  margin: 0px 10px 10px 10px;
  padding: 10px 0;
  background-color: white;

  .form-item-set-label {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
    margin-left: 10px;

    .required {
      &:after {
        content: '*';
        color:@input-red-text;
      }
    }
  }

  .drag-handle {
    display: none;
  }

  .drag-control {
    cursor: move;

    & > .drag-handle {
      display: inline;
      margin-right: 15px;
      line-height: 14px;
      font-size: 14px;
    }
  }

  & > .remove-button {
    &:extend(.icon);
    .icon-close;

    margin-left: 8px;
    margin-right: 10px;
    line-height: 22px;
    float: right;
    text-decoration: none;
    cursor: pointer;
  }

  .form-item-set-occurrences-container > * {
    margin-bottom: 15px;

  }

  .form-item-set-occurrences-container {
    padding: 10px 10px 0;
  }

}
