.form-item-set-view {
  margin: 10px 0;

  &.valid {

  }

  .display-validation-errors &.invalid {
    outline: 2px solid @input-red-text;

    &.odd {
      outline: 2px solid @input-red-text;
    }
    &.odd > .validation-viewer {
      color:white;
    }
  }

  .occurrence-views-container {
    background-color: @admin-bg-light-gray;
    padding-top: 10px;
    .clearfix();
  }

  .form-item-set-drop-target-placeholder {
    border: 2px dashed #000;
    padding: 14px;
    color: #000;
    font-size: 14px;
    text-align: center;
    margin: 10px;
  }

  .input-view {
    .input-label {
      max-width: 90px;
      margin-right: 10px;
    }

    .input-type-view,
    .bottom-button-row,
    .validation-viewer {
      margin-left: @form-label-width;
    }

    .bottom-button-row {
      background-color: white;
    }
  }

  & > .bottom-button-row {
    box-sizing: border-box;
    background-color: @admin-bg-light-gray;
    padding: 0 10px 10px 10px;
    clear: left;
    .clearfix();

    button {
      margin-left: 0px;
    }

    .add-button {
      float: left;
    }

    .collapse-button {
      float: right;
      text-decoration: underline;
      line-height: 28px;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  & > .validation-viewer {
    background-color: @admin-bg-light-gray;
    padding: 0 10px 10px 10px;
    margin-left: 0 !important;
  }

  &.odd {
    & > .occurrence-views-container {
      background-color: #67656a;
    }

    & > .bottom-button-row {
      background-color: #67656a;

      .collapse-button {
        color: white;
      }
    }

    & > .validation-viewer {
      background-color: #67656a;
    }
  }

  .form-item-set-view {
//    margin-left: -10px;
//    margin-right: -10px;
  }
}

._0-240, ._240-360, ._360-540, ._540-720 {
  .form-item-set-view {
    margin-left: 0px !important;
    margin-right: 0px !important;
    .input-view {

      .input-label {
        max-width: 100%;
        margin-right: 0;
      }

      .input-type-view,
      .bottom-button-row,
      .validation-viewer {
        margin-left: 0;
      }
    }
  }
}

.context-window, ._0-240, ._240-360, ._360-540 {
  .form-item-set-view {
    margin-left: -10px;
    margin-right: -10px;

    .input-view {
      .input-label {
        max-width: 100%;
        margin-right: 0;
      }

      .input-type-view,
      .bottom-button-row,
      .validation-viewer {
        margin-left: 0;
      }
    }
  }
}
