.calendar {

  .calendar-week {
    .calendar-day {
      display: inline-block;
      padding: 5px;
      width: 10px;
      text-align: right;

      &.before-month {
        color: #d3d3d3;
      }

      &.after-month {
        color: #d3d3d3;
      }
    }
  }

}