.calendar {

  .calendar-week {

    .calendar-day {
      display: inline-block;
      padding: 5px;
      width: 15px;
      text-align: center;
      border: 1px solid transparent;
      cursor: pointer;

      &.before-month {
        color: #d3d3d3;
      }

      &.after-month {
        color: #d3d3d3;
      }

      &.selected-day {
        border: 1px solid #000000;
      }

      &.today {
        background-color: #eee;
      }

      &:hover {
        background-color: #d3d3d3;
      }
    }
  }

}