.date-time-picker {

  .button {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: transparent;
    padding: 0 6px;
    border: 1px solid transparent;
    font-size: 20px;
    line-height: 0px;
    &:before {
      color: @admin-dark-gray;
      vertical-align: middle;
    }
    &:hover, &:active {
      background: transparent;
      &:before {
        color: @admin-dark-gray;
      }
    }
  }

  .wrapper {
    position: relative;

    .text-input {
      width: 100%;
      padding: 4px 32px 4px 5px;
      line-height: 27px;
    }

    .date-time-dialog {

      display: none;
      position: absolute;
      min-width: 316px;
      z-index: 100;
      padding: 10px;
      background-color: #fff;

      .noSelect();

      .box-shadow(0 1px 5px rgba(0, 0, 0, 0.7));

      .date-picker-dialog-content();

      .date-picker-dialog {
        display: inline-block;
        position: static;
        vertical-align: middle;
        .box-shadow(none);
      }

      .time-picker-dialog-content();

      .time-picker-dialog {
        display: inline-block;
        position: static;
        vertical-align: middle;
        .box-shadow(none);
      }
    }

  }

}