.delete-dialog {
  width: 500px;

  .item-list {
    padding: 10px;

    box-shadow: 0 0 5px #777;

    max-height: 150px;
    overflow-y: auto;

    .viewer {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
