.cms-edit-form-header {
    background-color: #eee;
    padding: 10px;
}

.cms-edit-form-header .left {
    float: left;
    margin-right: 16px;
}

.cms-edit-form-header .left img {
    width: 40px;
}

.cms-edit-form-header .right {
    float: left;
}

.cms-edit-form-header .right h1 {
    font-size: 18px;
    float: left;
}

.cms-edit-form-header .edit-button {
    display: block;
    margin: 2px 0 0 5px;
    padding: 3px;
    border: 1px solid TRANSPARENT;
    background: TRANSPARENT url(../../../resources/images/pencil.png) 3px 3px no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}

.cms-edit-form-header .edit-button:hover {
    border-color: #c0c0c0;
}


.cms-edit-form-header .right p {
    margin: 5px 0 0 0;
}

