.wizard-step-navigator {
  background-color: @admin-bg-light-gray;
  color: @admin-font-gray1;
  overflow: hidden;

  li {
    float: left;
    padding: 10px 15px 10px 25px;
    cursor: pointer;

    &:hover {
      color: darken(@admin-font-gray1, 10%);
    }

    &.active {
      background-color: white;
      color: @admin-font-gray3;
      padding-bottom: 0;

      &:before {
        content: " ";
        display: block;
        float: left;
        height: 0;
        width: 0;
        margin-top: -10px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid @admin-bg-light-gray;
        margin-left: -25px;
      }

      &:after {
        content: " ";
        display: block;
        float: right;
        height: 0;
        width: 0;
        margin-top: -10px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid white;
        margin-left: 10px;
        margin-right: -25px;
      }
    }
  }
}