.wizard-step-form {
  .panel {
    overflow: visible;
    position: static;
  }

  max-width: @form-width;
  overflow: visible;

  h3 {
    margin-top: 20px;
    color: darkred;
  }

}

.security-wizard-step-form {

  .checkbox {
    padding: 10px;

    &.separator {
      margin: 10px 0;
      border-top: 1px solid @admin-medium-gray-border;
    }
  }
}

._0-240, ._240-360, ._360-540, ._540-720 {
  .wizard-step-form {
    width: 100%;
  }
}
