<div data-live-edit-type="window" data-live-edit-key="5687" data-live-edit-name="Fish Tank Animation (Flash)">
    <div>
        <h2>HTMLObjectElement (flash)</h2>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
                bgcolor="#efefef"
                width="100%"
                height="240"
                id="yourfilename">
            <param
                    name=movie
                    value="_public/skins/advanced/standard/flash/Fish_Tank.swf">
            <param
                    name=quality
                    value="high">
            <embed
                    src="_public/skins/advanced/standard/flash/Fish_Tank.swf"
                    bgcolor="#efefef"
                    quality="high"
                    width="100%"
                    height="240"
                    name="yourfilename"
                    type="application/x-shockwave-flash"
                    pluginspage="http://www.macromedia.com/go/getflashplayer">
            </embed>
        </object>
    </div>
</div>
