.dialog-button(@color: @form-button-font, @bg: @admin-button-blue2, @hoverColor: @color, @hoverBg: lighten(@bg, 10%), @useFocus: true) {
  .button(@color, @bg, @hoverColor, @hoverBg, @useFocus);
  padding: 4px 19px 4px 19px;
  margin-left: 11px;
}

.@{_COMMON_PREFIX}modal-dialog {
  .reset(true);

  display: none;
  position: fixed;
  top: 50%;
  z-index: @z-index-modal-dialog;
  margin: 10px;
  padding: 30px;
  width: 85.185%;
  min-width: 230px;
  max-width: 660px;
  max-height: 660px;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid @admin-dialog-border;
  box-sizing: border-box;

  .modal-dialog-content-wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -3em;
  }
  .modal-dialog-footer, .modal-dialog-content-push {
    height: 3em;
  }

  .dialog-header {
    .clearfix();
    margin-bottom: 20px;

    h2 {
      line-height: 0.8em;
    }

    .path {
      display: block;
      font-size: 16px;
      margin-top: 5px;

      &:before {
        margin-right: 5px;
        content: attr(data-desc);
        color: @admin-font-gray1;
      }
    }
  }

  .dialog-content {
    .clearfix();

    > p {
      margin-bottom: 20px;
    }
  }

  .dialog-buttons {
    .clearfix();
    margin-top: 20px;
    position: relative;

    @media screen and (max-height: 360px) {
      margin-top: 5px;
    }

    .button-container {
      float: right;
    }

    .@{_COMMON_PREFIX}button {
      .dialog-button();
    }
  }

  @keyframes close-icon-animation-before {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-45deg);
    }
  }

  @keyframes close-icon-animation-after {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-135deg);
    }
  }

  .cancel-button-top {
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: -1;
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;

    &:before, &:after {
      @width: 20px;
      @height: 3px;
      transform: rotate(0deg);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -@width/2;
      display: block;
      height: @height;
      width: @width;
      background-color: @admin-white;
      transition: all 0.25s ease-out;
    }

    &:before {
      -webkit-animation: close-icon-animation-before 500ms forwards; /* Safari 4+ */
      -moz-animation:    close-icon-animation-before 500ms forwards; /* Fx 5+ */
      -o-animation:      close-icon-animation-before 500ms forwards; /* Opera 12+ */
      animation:         close-icon-animation-before 500ms forwards; /* IE 10+, Fx 29+ */
    }

    &:after {
      -webkit-animation: close-icon-animation-after 500ms forwards; /* Safari 4+ */
      -moz-animation:    close-icon-animation-after 500ms forwards; /* Fx 5+ */
      -o-animation:      close-icon-animation-after 500ms forwards; /* Opera 12+ */
      animation:         close-icon-animation-after 500ms forwards; /* IE 10+, Fx 29+ */
    }

    &:hover {
      &:before, &:after {
        background-color: @admin-medium-gray-border;
      }
    }
  }

  .@{_COMMON_PREFIX}button.cancel-button-bottom {
      .button-background();
    margin-left: 11px;
  }

  &._0-240, &._240-360, &._360-540 {
    box-sizing: content-box;
  }

  &._0-240, &._240-360 {
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
  }

  &._360-540 {
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
  }

  &._540-720 {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80.185%;
  }

  &.centered_horizontally {
    left: 50%;
  }

  .input-view .edit {
    display: none;
  }
}

.confirmation-dialog {
  width: 700px;
  z-index: @z-index-modal-dialog + 2;

  .question {
    font-size: 14px;
    line-height: 16px;
  }
}

.confirmation-dialog-mask {
  z-index: @z-index-modal-dialog + 1;
}

.await-confirmation .cancel-button-top {
  display: none;
}

body {
  &._0-240, &._240-360, &._360-540, &._540-720 {
    .cancel-button-top {

      top: 16px;
      right: 0;
      width: 26px;
      height: 26px;
      line-height: 26px;
      background-color: white;

      &:before, &:after {
        background-color: @admin-font-gray2;
        margin: 0;
        top: 0;
        left: 0;
        height: 3px;
        width: 15px;
      }

      &:hover {
        background-color: @admin-white;
        &:before, &:after {
          background-color: @admin-font-gray2;
        }
      }
    }
  }
}
