.@{_COMMON_PREFIX}modal-dialog {
  .reset(true);

  display: none;
  background-color: white;
  margin: 10px;
  padding: 30px;
  width: 85.185%;
  min-width: 230px;
  max-width: 660px;
  max-height: 660px;
  z-index: @z-index-modal-dialog;
  position: fixed;
  top: 50%;

  .modal-dialog-content-wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -3em;
  }
  .modal-dialog-footer, .modal-dialog-content-push {
    height: 3em;
  }

  .dialog-header {
    .clearfix();
    margin-bottom: 20px;

    h2 {
      line-height: 0.8em;
    }
  }

  .dialog-content {
    .clearfix();

    > p {
      margin-bottom: 20px;
    }
  }

  .dialog-buttons {
    .clearfix();
    margin-top: 20px;

    @media screen and (max-height: 360px) {
      margin-top: 5px;
    }

    .button-container {
      float: right;
    }

    .@{_COMMON_PREFIX}button {
      .button(@form-button-font, @admin-button-blue2);
      padding: 4px 19px 4px 19px;
      margin-left: 11px;
    }
  }

  .cancel-button-top {
    &:extend(.icon);
    .icon-close;

    position: absolute;
    top: 5px;
    right: 5px;
    z-index: -1;

    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;

    padding: 0;
    background-color: white;

    &:before {
      color: #53585f;
    }

    &:hover {
      background-color: white;
      cursor: pointer;

      &:before, span {
        color: #53585f;
      }
    }

    &:focus:not(:disabled) {
      box-shadow: 0px 0px 5px white;
      border: 1px solid white;
    }
  }

  .@{_COMMON_PREFIX}button {
    &.cancel-button-bottom {
      .button();
      padding: 4px 19px 4px 19px;
      margin-left: 11px;
    }
  }

  &._0-240, &._240-360 {
    margin: 0%;
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
  }

  &._360-540 {
    margin: 0%;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
  }

  &._540-720 {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 85.185%;
  }

  &.centered_horizontally {
    left: 50%;
  }

}

.confirmation-dialog {
  width: 500px;
}
