.form-view {
  font-size: 12px;
  width: 650px;

  .add-button {
    margin: 0;
    padding: 6px 16px 6px 16px;
    border: none;
    background-color: @form-button-bg;
    color: @form-button-font;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: @form-button-bg-hover;
    }

    &:disabled {
      color: @form-button-font-disabled;
      cursor: default;
    }

    .label {
      padding: 0 4px;
      height: 16px;
      line-height: 16px;
    }
  }
}