.tab-menu {
  min-width: 140px;
  font-size: 14px;
  text-align: left;
  margin: 4px;
  position: relative;

  &.expanded {
    z-index: @z-index-tab-menu;
  }

  .tab-menu-button {
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: block;
    line-height: 20px;
    padding: 8px 5px;
    text-align: center;
    color: @admin-white;
    background-color: @admin-blue;
    cursor: pointer;

    * {
      vertical-align: top;
    }

    &:before {
      font-size: 20px;
      position: absolute;
      right: 5px;
    }

    .label {
      margin: 0 25px;
      font-family: @admin-font-family;
    }
  }

  ul {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    padding: 44px 4px 4px;
    left: -4px;
    top: -4px;
    background-color: white;
    .box-sizing(content-box);
    .material-layer-shadow();

    li {
      padding: 5px;
      line-height: 20px;
      cursor: pointer;

      &:hover {
        background-color: @admin-bg-light-gray;
      }
    }
  }
}