.content-grid-and-browse-split-panel {
  .browse-toolbar {
    .details-panel-toggle-button, .non-mobile-details-panel-toggle-button {
      // toggle button for medium screen sizes
      z-index: 2;
      float: right;
      line-height: 24px;

      overflow: hidden;
      display: block;
      background-color: transparent;
      border: 1px transparent;

      @media screen and (max-width: 540px) {
        display: none !important;
      }

      &:focus {
        box-shadow: none;
        border: 0px transparent;
      }

      * {
        vertical-align: top;
      }

      &:before {
        font-size: 16px;
      }
      &.expanded {
        top: 2px;
        right: 0px;
        &:before {
          font-size: 21px;
        }
      }

      .icon-list();

      &.expanded {

        @keyframes slide {
          0% {
            z-index: 2;
            width: 0px;
          }
          50% {
            z-index: 2;
          }
          100% {
            z-index: 3;
            width: auto;
          }
        }

        animation-name: slide;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-delay: 0s;

        z-index: 3;
        padding-top: 13px;
        .icon-close2();

        &.non-mobile-details-panel-toggle-button {
          padding-top: 7px;
          position: fixed;
          top: 50px;
          padding-right: 5px;
          height: 40px;
        }
      }

    }
  }
}

.details-panel {
  // common details panel styles
  height: 100%;
  position: absolute;
  float: right;
  z-index: 2;
  width: 280px;
  top: 0px;
  right: -280px;
  box-shadow: 0 4px 20px -8px #000000, 0 0 0 0 rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  background-color: @admin-bg-almost-white;
  .transition(all 0.5s ease-in-out);

  @media screen and (max-width: 540px) {
    display: none;
  }

  &.no-selection {
    .no-selection-message {
      display: block;
    }
  }

  .no-selection-message {
    display: none;

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: lightgray;
    top: 50%;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    position: absolute;
  }

  .details-container {
    position: absolute;
    overflow-y: scroll;
    right: -15px;
    top: 91px;
    left: 5px;
    bottom: 0px;

    .content-item-versions-panel .tab-bar .tab-bar-item {
      padding: 10px 15px 7px;
    }

    .content-item-versions-panel .grid-canvas {
      width: calc(~'100% - 15px') !important;
    }

    .content-item-versions-panel .slick-cell span.icon:empty {
      display: none;
    }

    .content-item-versions-panel .slick-cell.status {
      position: static;
      float: right;
      margin-right: 10px;
    }
  }

  .splitter {
    position: relative;
    width: 5px;
    height: 100%;
    float: left;
    background-color: #d3d3d3;
    cursor: ew-resize;
    .notSelectable();
  }

  .details-panel-label {
    background-color: @admin-bg-almost-white;
    line-height: 20px;
    padding: 10px 0px 10px 15px;
    display: block;
    font-size: 14px;
    border-bottom: 1px transparent;

    .sub-name, .main-name {
      padding-right: 45px;
    }
  }

  .label {
    font-family: @admin-font-family;
  }

  .widgets-selection-row {

    background-color: @admin-white;

    .info-widget-toggle-button {
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      float: left;
      padding: 9px 12px 8px 11px;
      border: 1px solid #cccccc;
      border-right: 0px;
      box-sizing: border-box;

      .icon-list();

      &.active {
        background-color: @admin-blue;
        &:before {
          color: @admin-white;
        }
      }
    }

    .widget-selector {

      max-width: none;
      width: calc(~'100% - 47px');

      input {
        cursor: pointer;
      }

      &.non-default-selected {
        .selected-option {
          background-color: @admin-blue;
          color: @admin-white;
        }

        .dropdown-handle {
          background-color: @admin-white;
        }
      }

      &.single-optioned {
        .selected-option .option-value {
          margin: 0;
        }
        .dropdown-handle {
          display: none;
        }
      }

      .dropdown-handle {
        border-left: 1px solid #cccccc;

        &.down {
          background-color: @admin-blue;
          &:after {
            border-bottom: 10px solid @admin-white;
          }
        }
      }

      .selected-option {
        background: none;
      }

      .viewer {
        font-size: 14px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.widget-view {

  margin: 0 0 2px 0;
  overflow: hidden;
  .transition(all 0.1s ease-in-out);

  .panel {
    position: relative;
  }

  .widget-item-view:not(.version-history) {
    // common styles for all widget items
    position: relative;
    margin: 10px 10px 10px;
    padding: 5px;
    background-color: @admin-white;
    .box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.1));
  }

    .properties-widget-item-view {

    dl {
      overflow: hidden;
      padding: 5px;
      dd {
        float: left;
        width: 30%;
      }
      dt {
        float: left;
        width: 70%;
        .ellipsis();
      }
      dd, dt {
        margin: 1px 0px;
      }
    }

    min-height: 100px;
  }
    &.attachments-widget-item-view {

      ul.uploader-list {

        li.uploader-container {
          margin: 5px;
          font-size: 15px;

          .result-container {
            .icon-attachment2();

            &:before {
              font-size: 24px;
            }
          }

          a {
            display: inline-block;
            line-height: 23px;
            margin-left: 10px;
            width: 80%;
            .ellipsis();
          }
        }
      }

      .att-placeholder {
        display: block;
        text-align: center;
      }
    }

    &.status-widget-item-view {
      text-align: center;
      height: 60px;

      span {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 60px;
        background-color: @admin-white;

        &.equal {
          color: @admin-green;
        }
      }
    }
  }

  .widget-toggle-button {

    .icon-arrow-right2();

    position: relative;
    overflow: hidden;
    display: block;
    line-height: 20px;
    padding: 8px 5px;
    background-color: @admin-bg-light-gray;
    cursor: pointer;

    * {
      vertical-align: top;
    }

    &:before {
      font-size: 20px;
      position: absolute;
      right: 13px;
    }

    .label {
      margin-left: 5px;
      display: block;
      font-size: 14px;
    }
  }

  &.expanded {

    padding: 5px 0 5px 0;
    height: 100%;

    .status-widget-item-view {
      font-size: 20px;
    }

    .widget-toggle-button {
      .icon-arrow-down2();
      line-height: 20px;
    }

    iframe {
      border: none;
      height: 100%;
      width: 100%;
    }
  }
}

&.dragging {
  overflow: visible;
}

.ghost-dragger {
  height: 100%;
  background-color: @admin-dark-gray;
  opacity: 0.5;
  position: absolute;
  z-index: @z-index-draggable;
  cursor: ew-resize;
  width: 5px;
  .notSelectable();
}

.split-panel {
  // styles for large screens

  &.content-grid-and-browse-split-panel {

    &.vertical {
      > .panel, .splitter {
        top: 41px;
      }
    }
  }

  &.split-panel-with-details {

    > .split-panel {
      right: initial;
      .transition(all 0.5s ease-in-out);
    }

    > .splitter {
      z-index: 1;
    }

    > .details-panel {
      box-shadow: none;
      z-index: auto;
      display: inherit;

      &.left-bordered {
        border-left: 5px #eeeeee solid;
        box-sizing: content-box;
      }

      > .details-container {
        left: 0px;
      }

      .widget-toggle-button {
        border-left: 1px #d3d3d3 solid;
      }

      .widgets-selection-row .widget-selector {
        width: calc(~'100% - 42px');
      }
    }
  }
}