.input-occurrence-view {
  margin-right: 50px;

  .clearfix();

  .drag-control {
    background: url("../images/nail-plate.png");
    width: 5px;
    height: 30px;
    margin-top: 3px;
    cursor: pointer;
  }

  * > {
    float: left;
  }

  .occurrence-count {
    position: absolute;
    margin-left: 10px;
    color: #bbbbbb;
    font-size: 8px;
  }

  .remove-button {
    position: absolute;
    float: left;
    margin: 0 4px 4px 25px;
    line-height: 22px;
    .icon-remove(2em, @admin-medium-gray-font);
    text-decoration: none;
    cursor: pointer;
  }

}

.input-view .drop-zone {
  background: blue;
}

.dragged {
  border: dashed 1px #006dcc;
  opacity: 0.5;
}