@mobile-threshold:540px;
@tablet-threshold:1380px;

html, body {
  height: 100%
}

.applications-frame {
  overflow-y:hidden;
  height:100%;
  width:100%;
}

.home-main-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.35);
  background-repeat: no-repeat;
  background-position: center center;

  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  a {
    color: @admin-white;
    text-decoration: none;
  }

  h3,
  .installation-info {
    font-size: 24px;
    color: @admin-white;
  }

  &.show-home {
    animation: animation-show-home 100ms ease both;
    animation-play-state: running;

    -webkit-animation: animation-show-home 100ms ease both;
    -webkit-animation-play-state: running;
  }

  &.hide-home {
    animation: animation-hide-home 100ms ease both;
    animation-play-state: running;

    -webkit-animation: animation-hide-home 100ms ease both;
    -webkit-animation-play-state: running;
  }

  /** Branding */

  .branding {
    top:10%;
    left:calc(~"50% - 92.5px");
    position: absolute;
    text-align: center;
    @media only screen and (max-width : @mobile-threshold) {
      position: relative;
      padding-top:20px;
      left:inherit;
    }

    h1 {
      color: white;
      font-size: 24px;
      span:not(.version-info) {
        color:@admin-red;
        margin-right: 8px;
      }
    }
  }

  .installation-info {
    text-transform: uppercase;
    font-size:14px;
  }

  /** Center */

  .center-panel {
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.35);
    top: 0;
    bottom: 0;

  }

  .login-licensed-to {
    text-align: center;
    padding-top: 35px;
  }

  .links-container {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2%;
    @media only screen and (max-width : @mobile-threshold) {
      bottom: 0;
      background-color: black;
      padding:5px;
    }

  }

  .return-button {
    color: white;
    font-size:24px;
    height: 44px;
    width: 44px;
    background-color:@admin-red;
    padding: 10px;
    cursor:pointer;
    position: absolute;
    top:0;
    left:0;
    &:hover {
      color: rgba(255,255,255,0.5);
    }
    .icon-close2();
  }

  /** Common */

  .login-form,
  .app-selector-container,
  .app-info {
    position: absolute;
    top: 30%;
    @media only screen and (max-width : @mobile-threshold) {
      position: relative;
      top:inherit;
      margin-top:30px;
    }
  }

  .login-form,
  .app-info {
  }

  /** Login Form **/
  .login-form {
    width: 280px;
    left: calc(~"50% - 140px");
  }

  /** App selector */

  .app-selector-container {
    width:100%;
  }

  .app-selector {
    color: @admin-white;

    opacity: 0;
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;

    transform: scale(.25);
    -webkit-transform: scale(.25);

    &.fade-in-and-scale-up {
      opacity: 1 !important;

      transform: scale(1) !important;
      -webkit-transform: scale(1) !important;
    }

    .search-input-container {
      margin-bottom: 10px;
      width: 470px;

      input {
        vertical-align: top;
        height: 26px;
        padding: 4px 9px;
        border: 1px solid;
        border-color: #aaaaaa;
        width: 100%;
      }
    }

  }

  .app-info {
    .app-info-name {
      color: #ebebeb;
    }

    .app-info-description {
      color: #ebebeb;
    }
  }

  .app-tiles-placeholder {
    width: (125*3)-10px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: center;
    align-content: center;
    margin:0 auto;
    @media only screen and (max-width : @mobile-threshold) {
      width:(90*3)+20px;
    }
    @media only screen and (max-width : @tablet-threshold) {
      width: (110*3)-10px;
    }
    .noSelect();

    .app-tile {
      cursor: pointer;
      position: relative;
      float: left;
      width: 115px;
      height: 115px;
      margin: 0 10px 10px 0;
      &:nth-child(3n+3) {
        margin:0 0 10px 0;
      }
      @media only screen and (max-width : @mobile-threshold) {
        width:90px;
        height:90px;
      }
      @media only screen and (max-width: @tablet-threshold) {
        width: 100px;
        height: 100px;
      }


      a {
        > .icon-container {
          position: absolute;
          width: 100%;
          margin-top: 16px;
          text-align: center;
          & > img {
            width: 40px;
            height: 40px;
          }

          & > i {
            font-size:55px;
            color: white;
            @media only screen and (max-width : @mobile-threshold) {
              font-size:30px;
            }
            @media only screen and (max-width : @tablet-threshold) {
              font-size:40px;
            }
          }
        }

        > .name-container {
          position: absolute;
          bottom: 10px;
          width: 100%;
          text-align: center;
        }

        > .tab-count-container {
          background-color: #DC143C;
          color: @admin-white;
          font-size: 13px;
          padding: 2px 8px;
          position: absolute;
          right: -5px;
          text-align: center;
          top: -5px;
          .border-radius(50%);
        }
      }
      &.app-tile-over {
        border-bottom:4px solid @admin-red;
        &.fullsize {
          > .img-container {

          }
        }
      }
      &.fullsize {
        a {
          > .icon-container {
            margin-top: 0px;
            & > img {
              width: 65px;
              height: 65px;
              margin: 10px auto;
              display:block;
              border-radius:50%;
              @media only screen and (max-width : @mobile-threshold) {
                width:40px;
                height:40px;
              }
              @media only screen and (max-width : @tablet-threshold) {
                width: 55px;
                height: 55px;
              }
            }
          }
        }
      }

    }
  }

  .form-item {
    font-family: @admin-font-family;
    font-size: 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid @admin-light-gray-bg;
    vertical-align: top;
    padding: 4px 9px;
    background: none @admin-white !important;
    width: 100%;
  }

  .select-container {
    border: 1px solid @admin-white;
    margin-bottom: 10px;
    .icon-arrow-down2();
    &:before {
      color:white;
      position: absolute;
      right: 5px;
      font-size: 27px;
      top: 2px;
      pointer-events:none;
    }
  }

  select.form-item {
    margin-bottom:0;
    color:rgba(0,0,0,0);
    text-shadow: 0 0 0 white;
    border: none;
    box-shadow: none;
    background: transparent !important;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance:window;
  }

  .login-button, .logout-button {
    font-family: @admin-font-family;
    padding: 5px 20px 5px 20px;
    font-size: 12px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    color:@admin-white;
    display: inline-block;
    width: 100%;

    &:hover,
    &:focus {
      cursor: pointer;
      color: rgba(255,255,255,0.35);
    }

    &.disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  .logout-button {
    width: 280px;
    position: absolute;
    bottom: 10%;
    left: calc(~"50% - 140px");
    background-color: @admin-red;
    @media only screen and (max-width : @mobile-threshold) {
      width: 100%;
      bottom:0;
      left:inherit;
      box-shadow: 0px 10px 5px #000, 0px -10px 28px #000;
    }
  }

}

