<div data-live-edit-type="window" data-live-edit-key="54" data-live-edit-name="HTML 5 Video">
    <h2>Video (HTML 5)</h2>
    <video width="100%" poster="http://media.w3.org/2010/05/sintel/poster.png" preload="none" controls="" id="video" tabindex="0">
        <source type="video/webm" src="http://media.w3.org/2010/05/sintel/trailer.webm" id="webm"></source>
        <source type="video/ogg" src="http://media.w3.org/2010/05/sintel/trailer.ogv" id="ogv"></source>
        <source type="video/mp4" src="http://media.w3.org/2010/05/sintel/trailer.mp4" id="mp4"></source>
        <p>Your user agent does not support the HTML5 Video element.</p>
    </video>
</div>