.facet-view {
  border: none !important;
  padding: 0 !important;

  .facet-entry-view:hover label {
    color: #000 !important;
  }

  .facet-entry-view input[type="checkbox"] {
    display: none;
  }

  .facet-entry-view label {
    color: #777 !important;
    background-image: url("../images/admin-unchecked.gif");
    background-repeat: no-repeat;
    padding-left: 20px;
  }

  .facet-entry-view input[type="checkbox"]:checked + label {
    background-image: url("../images/admin-checked.gif");
  }

  .facet-entry-view.checked label {
    color: #333 !important;
  }

}
