.image-canvas {
  overflow: hidden;
  .box-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));

  &.draggable {
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;

    &.dragging {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
      cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
    }
  }

  img {
    position: static !important;
    padding: 0 !important;
    border: none !important;
    width: auto;
  }

}