.browse-item-panel {
  height: 400px;
  padding: 10px;

  .browse-item-panel-tab {

    .tab-list {
      float: left;
      width: 200px;
      li {
        cursor: pointer;
        font-size: 16px;
        padding: 10px 0;

        &.active {
          font-weight: bold;
        }
      }
    }

    .header {
      .clearfix();
      margin-bottom: 20px;

      img {
        float: left;
        margin-right: 10px;
      }

      hgroup {
        float: left;
        h1 {
        }

        h4 {
          color: @admin-light-gray-font;
          font-size: 14px !important;
        }
      }

      .action-menu {
        float: right;
        width: 120px;
      }
    }
  }

  .browse-item-panel-box {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: @admin-light-gray-bg;
    overflow: hidden;

    img {
      float: left;
      margin-right: 10px;
    }

    h6 {
      float: left;
      margin-right: 10px;

      small {
        font-size: 11px;
        color: @admin-light-gray-font;
        display: block;
      }
    }

    .remove {
      float: left;
      font-size: 20px;
      cursor: pointer;
      clear: right;
      font-weight: bold;
    }
  }
}