.item-statistics-panel {

  .tab-list {
    float: left;
    width: 200px;
    li {
      cursor: pointer;
      font-size: 16px;
      padding: 10px 0;

      &.active {
        font-weight: bold;
      }
    }
  }

  .header {
    .clearfix();
    margin-bottom: 20px;

    img {
      float: left;
      margin-right: 10px;
    }

    hgroup {
      float: left;
      h1 {
      }

      h4 {
        color: @admin-light-gray-font;
        font-size: 14px !important;
      }
    }

    .action-menu {
      float: right;
      width: 120px;
    }
  }
}