.items-selection-panel {

  &.no-selection {
    font-size: 21px;
    font-family: @admin-font-family;
    color: lightgray;
    top: 50%;
    text-align: center;
    line-height: 30px;
    margin-top: -15px;

    .ellipsis();
  }
}