.items-selection-panel {

  &.no-selection {
    .watermark-text(21px, true);
    margin-top: -15px;
  }

  .items-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}