.items-selection-panel {

  &.no-selection {
    .watermark-text(21px, true);
    margin-top: -15px;
  }

  .items-container {
    position: static;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    max-height: 100%;
    padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;

    .browse-selection-item {
      min-width: 100px;
      max-width: 200px;
    }
  }

  &:not(.no-selection) {
    .items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}