/**************
 * CUSTOM CSS *
 **************/

/* Blueprint override */
body {font-size:100%;background-color:#141414;}
a:focus, a:hover {color:#186dcb;text-decoration:none;}
a {color:#186dcb;text-decoration:none;}

/* framework */
#header {height:36px;}

#top-menu {
    padding:2px 0;
    font-size: 72%;
    float: right;
}

#top-menu * {
    float: left;
}

#top-menu a {
    color: #fff;
    margin: 5px 0 6px 10px;
}

#top-menu img {
    margin: 0 0 0 2px;
}

#top-menu select {
    margin: 5px 0 5px 10px;
    width: auto;
}

#navigation {
    background: #1758b4 url(images-mobile/menubg.gif) repeat-x left;
    border-bottom: 1px solid #fff;
}

#navigation a.plus {
    background-image: url(images-mobile/bullet-plus.png);
}

#navigation a.minus {
    background-image: url(images-mobile/bullet-minus.png);
}

#navigation a {
    display: block;
    padding: 5px 12px 5px 41px;
    color: #fff;
    font-weight: bold;
}

#footer a {color:#fff;}
#footer img {float:left;margin:0 5px 0 0;}
#footer {color:#9D9D9D;font-size:.6em;}

/* Frame */
#center .frame {
    border: solid #b5b1ad;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#west .frame, #center .frame, #east .frame {
    margin-bottom: 10px;
}

/* frontpage */
.shadowboxes .item {
    margin: 0 0 12px 0;
    width: auto;
}

.shadowboxes .item.last {
    margin-bottom: 0;
}

.shadowboxes h2 {
    font-size: 22px;
}

.casestudybox {
    margin: 0 0 12px 0;
    width: auto;
    background: #efefef url(images-mobile/bgcasestudy.gif) no-repeat;
}

.casestudybox.bannersize {
    background: #EFEFEF url(images-mobile/bgcasestudy.gif) repeat-x scroll center -40px;
    height: auto!important;
    width: auto!important;
}

.casestudybox h1 {
    top: 12px;
    left: 12px;
}

.casestudy-navigation {
    background-color: #8d8d8d;
}

.casestudybox .inner-item, .casestudybox.bannersize .inner-item {
  padding: 230px 12px 44px;
}

.casestudybox.bannersize .inner-item {
    padding-top: 190px;
}

.casestudybox .image-container {
    position: absolute;
    top: 75px;
    left: 61px;
}

.casestudybox .text-container {
    position: relative;
    left: auto;
    padding-right: 0;
}

.casestudybox.bannersize .image-container {
    left: 73px;
    top: 35px;
}

.casestudybox.bannersize .casestudy-navigation {
    top: auto;
}

.list.mini.frontpage-events, .list.frontpage-article-list {
    clear: both;
    margin-bottom: 12px;
}

/* menu */
.bullet {
    background: transparent no-repeat 10px 4px;
}

#menu {
    border-bottom: 1px solid #fff;
    display: none;
}

#menu li {
    float: left;
    background: #ddd;
    border-top: 1px solid #fff;
}

#menu li.active div, #menu li.active a{
    color: #222;
}

#menu li.active li div, #menu li.active li a{
    color: #186dcb;
}

#menu ul li.first {
    border-top: 1px solid #fff;
}

#menu a.arrow {
    width: 25px;
    padding: 5px 10px;
    background-image: url(images-mobile/bullet-arrow.png);
}

#menu, #menu ul {
    list-style-type: none;
    float: left;
    margin: 0;
}

#menu li.first {
    border: 0;
}

#menu a, #menu div {
    display: block;
    color: #186dcb;
    float: left;
    padding: 5px 12px 5px 26px;
    width: 282px;
}

#menu a.closed, #menu a.open {
    background: transparent no-repeat 10px 12px;
}

#menu a.closed {
    background-image: url(images-mobile/arrow-closed.png);
}

#menu a.open {
    background-image: url(images-mobile/arrow-open.png);
}

#menu a {
    width: 249px;
    padding-right: 0;
}

#menu ul a, #menu ul div {
    padding-left: 42px;
    width: 266px;
}

#menu ul a.open, #menu ul a.closed {
    background-position: 26px 12px;
}

#menu ul a {
    width: 233px;
}

#menu ul ul a, #menu ul ul div {
    padding-left: 58px;
    width: 250px;
}

#menu ul ul a.open, #menu ul ul a.closed {
    background-position: 42px 12px;
}

#menu ul ul a {
    width: 217px;
}

#menu ul ul ul a, #menu ul ul ul div {
    padding-left: 74px;
    width: 234px;
}

#menu ul ul ul a.open, #menu ul ul ul a.closed {
    background-position: 58px 12px;
}

#menu ul ul ul a {
    width: 201px;
}

/* search */
#page-search-form {
    background-color: #ddd;
}

#page-search-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#page-search-form fieldset * {
    float: left;
}

#page-search-form input.text {
    width: 55%;
    clear: none;
    margin: 0;
}

#page-search-form .button {
    margin: 3px 0 0 10px;
}

#page-search-form label {
    padding: 1px 10px 1px 0;
}

/* events */
#time-location {
    background-color: #dedede;
    padding: 6px 10px;
}

.date {
    border: 1px solid #186DCB;
    float: left;
    font-weight: bold;
    margin: 0 15px 10px 0;
    width: 50px;
    text-decoration: none;
}

.day {
    background: #FFFFFF url(images/datebg.gif) repeat-x left bottom;
    color: #186DCB;
    padding: 2px;
    font-size: 180%;
}

.month {
    background: #186DCB;
    color: #fff;
    padding: 2px 2px 1px;
    text-transform: uppercase;
}

#event-list p {
    display: none;
}

.date span {
    display: block;
    text-align: center;
}

/* File archive */
#file-archive .column {
    border-bottom: 1px solid #ebebeb;
}

#file-archive a {
    color: #222;
}

#file-archive .heading {
    font-weight: bold;
    background-color: #ebebeb;
}

/* entry boxes */
.entry-box.enonic-cms {
    margin-bottom: 1.8em;
}


.case-study-banner {
	height: 250px;
	overflow: hidden;
	margin: -12px -12px 0 -12px;
	background: url(images/bannerbg.gif) no-repeat top;
}

.case-study-banner .panel {
	position: relative;
	height: 250px;
	
}

.case-study-banner .panel-wrapper {
	width: 296px;
	margin: 12px;
	text-align: center;
}

.case-study-banner .panel-title {
	display: none;
}

.case-study-banner img {
    margin-top: -6px;
}

.case-study-banner p a {
	text-decoration: none;
	color: #333;
}

.case-study-banner a {
    text-decoration: none;
}

/* Most common stuff you'll need to change */
        		
        		.coda-slider-wrapper { padding: 0 0; position: relative;}
        		
        		/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
        		.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 0 }
        		
        		/* Change the width of the entire slider (without dynamic arrows) */
        		.coda-slider { width: 320px; }
        		.coda-slider .panel { width: 320px;} 
        		
        		/* Change margin and width of the slider (with dynamic arrows) */
        		.coda-slider-wrapper.arrows .coda-slider,
        		.coda-slider-wrapper.arrows .coda-slider .panel { width: 320px;  }
        		.coda-slider-wrapper.arrows .coda-slider { margin: 0 0px }
        		
        		/* Arrow styling */
        		/*.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 100px }*/
        		
        		/* Tab nav */
        		.coda-nav ul li a.current, .coda-nav ul li a.current:hover { background: #186DCB; color: #fff; }
        		
        		/* Panel padding */
        		/*.coda-slider .panel-wrapper { padding: 0; margin: 0; border: 0; }*/
        		
        		/* Preloader */
        		.coda-slider p.loading { padding: 20px; text-align: center }
        		
        		/* Don't change anything below here unless you know what you're doing */
        		
        		/* Tabbed nav */
        		.coda-nav ul {position: absolute; top: 228px; left: 12px; z-index: 1001; } 
        		.coda-nav ul { clear: both; display: block; margin: auto; overflow: hidden; }
        		.coda-nav ul li { display: inline }
        		.coda-nav ul li a { background: #fff; color: #333; display: block; float: left; margin-right: 1px; padding: 0px 4px; text-decoration: none; border: 1px solid #aaa; font-size: 10px; }
        		.coda-nav ul li a:hover { background: #ddd; }
        		
        		/* Miscellaneous */
        		.coda-slider-wrapper { clear: both; overflow: visible; }
        		.coda-slider { float: left; overflow: hidden; position: relative }
        		.coda-slider .panel { display: block; float: left }
        		.coda-slider .panel-container { position: relative }
        		.coda-nav-left, .coda-nav-right { float: left }
        		.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
        		
        		
        	
        	
        	
 .shadowboxes .item .button,
.shadowboxes .item p {
     position: static !important;
     clear: both;
 }       	
 	
        		
        		
        		
a.button {
    background: transparent url('images/button-background.gif') top right no-repeat;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    text-decoration: none !important;
    margin-right: 10px;
}

a.button span {
    background: transparent url('images/button-background.gif') top left no-repeat;
    display: block;
    line-height: 22px;
    padding: 3px 10px 5px 10px;
    color: #fff;
}

/* Localized */