.unpublish-dialog {

  .sub-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #A6AAA9;
    color: #fff;
    padding: 20px 30px;
  }

  b {
    font-size: 16px;
  }

  .dialog-buttons {

    button.unpublish-action {
      .dialog-button(@form-button-font, @input-red-text);
    }

  }

  .clear-publish-info-check {
    position: absolute;
    bottom: 40px;
    left: 38px;

    input[type="checkbox"] + label {
      color: @admin-blue !important;

      &:hover {
        cursor: pointer;
      }
    }

    &.disabled {
      opacity: 0.5;

      input[type="checkbox"] + label {
        color: @admin-font-gray2 !important;

        &:hover {
          cursor: default;
        }
      }
    }

    @media screen and (max-height: 360px) {
      bottom: 25px;
    }
  }

  .progress-bar {
    display: none;
  }

  &.is-unpublishing {
    .is-processing-mixin();

    .item-list, .dialog-buttons button.unpublish-action {
      display: none;
    }
  }

}
