.publish-dialog {

  @media screen and (max-height: 360px) {
    max-height: 200px;
  }

  .dialog-buttons {

    button.publish-action {
      .dialog-button(@form-button-font, @admin-green, @form-button-font, lighten(@admin-green, 10%));
    }

    &.no-checkbox {
      margin-top: 10px;
    }
  }

  .include-child-check {
    position: absolute;
    bottom: 40px;
    left: 38px;

    input[type="checkbox"] + label {
      color: @admin-blue !important;

      &:hover {
        cursor: pointer;
      }
    }

    &.disabled {
      opacity: 0.5;

      input[type="checkbox"] + label {
        color: @admin-font-gray2 !important;

        &:hover {
          cursor: default;
        }
      }
    }

    @media screen and (max-height: 360px) {
      bottom: 25px;
    }
  }

  .progress-bar {
    display: none;
  }

  &.is-publishing {
    .is-processing-mixin();

    .item-list, .include-child-check, .dialog-buttons button.publish-action {
      display: none;
    }
  }
}

.@{_COMMON_PREFIX}modal-dialog {
  &._0-240, &._240-360 {
    &.publish-dialog .include-child-check {
      left: 16px;
    }
  }
}
