.publish-dialog {

  @media screen and (max-height: 360px) {
    max-height: 200px;
  }

  .dialog-buttons {

    button.publish-action {
      .dialog-button(@form-button-font, @admin-green, @form-button-font, lighten(@admin-green, 10%));
    }

    &.no-checkbox {
      margin-top: 10px;
    }
  }

  .include-child-check {
    position: absolute;
    bottom: 40px;
    left: 38px;

    input[type="checkbox"] + label {
      color: @admin-blue !important;

      &:hover {
        cursor: pointer;
      }
    }

    &.disabled {
      opacity: 0.5;

      input[type="checkbox"] + label {
        color: @admin-font-gray2 !important;

        &:hover {
          cursor: default;
        }
      }
    }

    @media screen and (max-height: 360px) {
      bottom: 25px;
    }
  }

  .progress-bar {
    display: none;
  }

  &.is-publishing {
    .is-processing-mixin();

    .item-list, .include-child-check, .dialog-buttons button.publish-action {
      display: none;
    }
  }

  .dialog-buttons .@{_COMMON_PREFIX}button.show-schedule-action {

    .button(@admin-font-gray2, transparent, @admin-font-gray3, transparent, false);

    .picker-icon("date", 22px, 4px, 10px, all);

    position: relative;
    height: 24px;
    outline: none;

    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.masked {

    border: 1px solid;

    &:after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      content: "";
      position: absolute;
    }
  }
}

.schedule-publish-dialog {
  max-width: 580px;

  .schedule-publish-dialog-subtitle {
    margin-top: 20px;
    background-color: @form-button-bg;
    padding: 10px 20px;
    color: @admin-white;
  }

  .dialog-buttons {
    button.confirm-schedule-action {
      .dialog-button(@form-button-font, @admin-green, @form-button-font, lighten(@admin-green, 10%));
    }
  }

  .dialog-content {
    .date-time-picker {
      margin: 5px 0px 10px 0px;

      input {
        .input-glow();
      }

      &.invalid {
        input {
          .input-error();
        }
      }

    }

    .publish-from-label, .publish-to-label {
      font-size: 14px;
    }

    .publish-from-label {
      &:after {
        content: '*';
        color: @input-red-text;
      }
    }
  }
}

.@{_COMMON_PREFIX}modal-dialog {
  &._0-240, &._240-360 {
    &.publish-dialog .include-child-check {
      left: 16px;
    }
  }
}
