.unpublish-dialog {

  .sub-title {
    background-color: #A6AAA9;
    color: #fff;
    padding: 20px 30px;
  }

  .dialog-buttons {

    button.unpublish-action {
      .dialog-button(@form-button-font, @input-red-text);
    }

  }

}
