.unpublish-dialog {

  .sub-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #A6AAA9;
    color: #fff;
    padding: 20px 30px;
    margin-bottom: 0;
  }

  b {
    font-size: 16px;
  }

  .dialog-buttons {

    button.unpublish-action {
      .dialog-button(@form-button-font, @input-red-text);
    }

  }

  .progress-bar {
    display: none;
  }

  &.is-unpublishing {
    .is-processing-mixin();

    .item-list, .dialog-buttons button.unpublish-action {
      display: none;
    }
  }

}
