.create-issue-dialog {
  .description, .title, .selector {
    width: 100%;
  }

  .button-container {

    width: 100%;

    .back-action{
      float: left;
    }

    .create-issue-action {
      float: right;
    }
  }
}
