.create-issue-dialog {

  .button-container {

    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;

    .back-action {
      float: left;
    }

    .create-issue-action {
      float: right;
    }
  }
}
