.issue-list-dialog {

  height: 400px;

  .docked-panel {
    width: auto;
    box-shadow: none;
    position: inherit !important;
    margin-top: 15px;

    .deck-panel {
      margin-top: 6px;
    }
  }

  .panel {
    position: inherit;
    cursor: pointer;

    .issue-list {
      max-height: 265px;
      overflow: auto;

      .issue-list-item {

        &:hover {
          background-color: @admin-bg-light-gray;
        }

        &:focus {
          outline: none;
        }

        padding: 5px;

        .@{_COMMON_PREFIX}names-view .@{_COMMON_PREFIX}main-name, .@{_COMMON_PREFIX}sub-name {
          &:hover {
            cursor: pointer;
          }
        }

        .@{_COMMON_PREFIX}main-name {
          height: 17px;
          font-weight: bold;
        }
      }
    }

    .no-issues-message {
      .watermark-text(18px, true);

      left: 0;
    }

    .creator, .assignee {
      color: @admin-black;
      font-weight: bold;
    }
  }

  .new-issue-button {
    position: absolute;
    top: 28px;
    right: 44px;
    background-color: @admin-white;
    cursor: pointer;

    &:before {
      color: @admin-blue;
    }

    .icon-large();
    .icon-plus-circle();
  }

  &.masked {
    opacity: 0;
  }
}

.browse-toolbar {
  .show-issues-dialog-button {
    margin-bottom: 1px;
    padding-right: 14px;

    &:before {
      font-size: 20px;
    }

    &.has-assigned-issues {
      padding-right: 2px;

      &:after {
        content: "";
        background: @admin-blue;
        position: relative;
        bottom: 16px;
        right: 7px;
        padding: 6px;
        border-radius: 8px;
        font-size: 0px;
        z-index: 1;
      }
    }

    .icon-signup();
  }
}
