.issue-dialog-form {
  padding: 0;
  .description, .title, .selector, .description-text {
    width: 100%;
  }

  .description-text {
    font-size: 14px;

    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
