.update-issue-dialog {

  .dialog-header {
    display: none;
  }

  .dialog-content {
    max-height: 350px;
  }

  .button-container {
    flex-direction: row-reverse;
    display: flex;

    padding: 0px;

    .update-issue-action {
      order: 1;

      padding: 4px 35px;
    }

    .cancel-button-bottom {
      order: 0;

      padding: 4px 35px;
    }
  }
}