.update-issue-dialog {

  .dialog-content {
    max-height: 350px;
  }

  .button-container {
    .update-issue-action {
      float: right;
    }

    .cancel-button-buttom {
      float:left;
    }
  }
}