.form {
  margin-top: 20px;

  .form-item {
    .clearfix();
    margin-bottom: 15px;

    .error {
      display: none;
      float: right;
      color: @admin-input-red;
      font-size: 12px;
      margin-left: 10px;
    }

    &.invalid {

      .error {
        display: block;
      }

      select, input , textarea {
        .input-error();
      }

    }

    * {
      vertical-align: top;
    }
  }

  .CodeMirror {
    float: left;
  }

  fieldset {

    legend {
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 2px;
      border-bottom: 1px solid @admin-medium-gray-border;
    }

    label {
      font-size: 12px;
      max-width: @form-label-width - 10px;
      margin-right: 10px;
      display: block;
      float: left;
    }

    label + input,
    label + select,
    label + .composite-input {
      margin-left: @form-label-width;
      width: 540px;
    }

    select, input {
      .input-glow();
    }

    textarea {
      .input-glow();
      &.large {
        width: 550px;
        height: 350px;
      }
    }
  }
}