.form {
  margin-top: 20px;

  .form-item {
    .clearfix();
    margin-bottom: 15px;

    .error {
      display: none;
      float: right;
      color: @admin-input-red;
      font-size: 12px;
      margin-left: 10px;
    }

    &.invalid {

      .error {
        display: block;
      }

      select, input , textarea {
        .input-error();
      }

    }

    * {
      vertical-align: top;
    }

    .input-wrapper {
      input, textarea {
        width: 100%
      }
    }

  }

  .CodeMirror {
    float: left;
  }

  fieldset {

    legend {
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 2px;
      border-bottom: 1px solid @admin-medium-gray-border;
    }

    label {
      font-size: 12px;
      max-width: @form-label-width - 10px;
      margin-right: 10px;
      display: block;
      float: left;
    }

    label + input,
    label + select,
    label + .composite-input,
    label + .input-wrapper {
      margin-left: @form-label-width;
    }

    select, input {
      .input-glow();
    }

    textarea {
      .input-glow();
      &.large {
        height: 350px;
      }
    }
  }
}

@media (max-width: 720px) {

  .form fieldset {

    label {
      float: none;
      max-width: 100%;
      margin: 0 0 3px 0;
    }

    label + input,
    label + select,
    label + .composite-input {
      margin-left: 0;
    }
  }
}

@media (max-width: 540px) {

  .form {
    margin: 0 10px;
  }
}