.mce-content-body > *:first-child {
    margin-top: 0px;
}

.mce-content-body > *:last-child {
    margin-bottom: 0px;
}

.mce-content-body figure {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-before: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
}

.mce-content-body figcaption:empty:before {
    content: "Image caption goes here";
    color: lightgray;
}

.mce-content-body strong {
    font-family: "Open Sans Bold", "Open Sans", sans-serif;
}