.checkbox {
  .reset(true);
  position: relative;

  &:hover {
    label {
      .color-transition;
      color: #000 !important;
    }
  }

  label {
    color: #777 !important;
    display: block;
    white-space: nowrap;
    padding: 0px 5px 0px 23px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      display: block;
      background: url("../../../images/admin-unchecked.gif") -1px -2px no-repeat;
      width: 13px;
      height: 13px;
      left: 4px;
    }
  }

  input[type="checkbox"] {
    // Hide checkbox, instead of using `left: -9999px;`
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    // end `hide` block

    &:focus + label:before {
      .box-shadow(inset 0 0 3px @admin-blue, 0 0 5px @admin-input-blue);

    }

    &:checked + label {
      color: #333 !important;

      &:before {
        background: url("../../../images/admin-checked.gif") -1px -2px no-repeat;
      }
    }
  }
}