.checkbox {
  .reset(true);
  position: relative;

  &:hover {
    label {
      .color-transition;
      color: #000 !important;
    }
  }

  label {
    display: inline-block;
    white-space: nowrap;
    padding: 0px 5px 0px 23px;
    cursor: pointer;

    &.left:before, &.right:before, &.top:after {
      content: '';
      display: block;
      background: url("../../../images/admin-unchecked.gif") -1px -2px no-repeat;
      width: 13px;
      height: 13px;
    }

    &.top {
      padding-left: 0px;
      margin-bottom: 19px;

      &:after {
        position: absolute;
        top: 21px;
      }
    }

    &.right:before {
      position: absolute;
      left: 4px;
      margin-top: 2px;
    }

    &.left {
      padding-left: 0px;
      display: inline-block;

      &:before {
        float: right;
        margin-left: 7px;
        margin-top: 2px;
      }
    }
  }

  input[type="checkbox"] {
    // Hide checkbox, instead of using `left: -9999px;`
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    // end `hide` block

    &:focus + label:before {
      .box-shadow(inset 0 0 3px @admin-blue, 0 0 5px @admin-input-blue);

    }

    &:checked + label {
      &:before, &:after {
        background: url("../../../images/admin-checked.gif") -1px -2px no-repeat;
      }
    }
  }
}
