#drag-helper {
  .reset();

  text-align: center;
  width: 48px !important; // jQuery overrides it otherwise
  height: 48px !important;
  position: absolute;
  z-index: @z-index-drag-helper !important;
  .border-radius(30px);

  &:before {
    line-height: 48px;
    font-size: 24px;
  }

  &.drop-allowed {
    &:extend(.icon);
    .icon-checkmark;

    background-color: #558e28;
    color: white;
  }

  &:not(.drop-allowed) {
    &:extend(.icon);
    .icon-blocked;

    background-color: #d90b00;
    color: white;
  }
}

