#drag-helper {
  .reset();

  text-align: center;
  width: 48px !important; // jQuery overrides it otherwise
  height: 48px !important;
  position: absolute;
  z-index: @z-index-drag-helper !important;
  .border-radius(30px);

  .drag-item-name {
    font-family: @admin-font-family;
    position: absolute;
    top: 15px;
    left: 60px;
    width: 200px;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
    color: @page-editor-message-blue;
  }

  &:before {
    line-height: 48px;
    font-size: 24px;
    color: white;
  }

  &.drop-allowed {
    &:extend(.icon);
    .icon-checkmark;

    background-color: #558e28;
  }

  &:not(.drop-allowed) {
    &:extend(.icon);
    .icon-blocked;

    background-color: #d90b00;
  }
}

