.dropzone-container {
  display: none;

  &.visible {
    display: block;
  }

  .dropzone {
    .reset();
    .dropzone-glow();
    .box-sizing(border-box);

    font-size: 25px;
    font-weight: bold;
    color: @admin-dark-gray;
    text-align: center;
    overflow: hidden;
    min-height: 100px;
    line-height: 100px;

    text-decoration: none;
    display: block;
    width: 100%;

    @media screen and (max-height: 360px) {
      height: 140px;
      line-height: 125px;
    }

    &:before {
      content: attr(data-drop-default);
    }
  }
}

.dialog-dropzone-container(@circle-radius: 200px) {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;

  .dialog-dropzone(@circle-radius);
  .uploader-mask {
    .dialog-uploader-mask();
  }
}

.dialog-uploader-mask() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .opacity(.9);
  z-index: @z-index-modal-dialog + 2;
}

.dialog-dropzone(@circle-radius: 200px) {
  .dropzone {
    width: 100%;
    height: 100%;
    overflow: visible;
    border: 0 none;
    background-color: transparent;
    z-index: @z-index-modal-dialog + 3;
    position: absolute;

    &:before {
      .dropcircle(@circle-radius);
      z-index: @z-index-modal-dialog + 3;
    }
  }
}

.image-selector-dropzone() {
  .dropzone {
    overflow: visible;
    z-index: @z-index-mask !important;
    &:before {
      .dropcircle(60px);
      padding: 40px 5px 0;
      line-height: 20px;
    }

    ////// cover underlying input
    min-height: 37px;
    height: 37px;
    line-height: 30px;
    font-size: 14px;
    background-color: @admin-white;
    border: 1px solid @admin-medium-gray-border;

    .box-sizing(border-box);
    .input-border();
    .input-glow();
  }
}

.thumbnail-dropzone-container() {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;

  .dropzone {
    background: transparent;
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
    min-height: 64px; // override default dropzone min-height

    .input-glow();

    &[disabled] {
      border: 0 none !important;
      .box-shadow(none) !important;
    }

    &:before {
      display: none;
    }

    &.dz-dragover {
      .dropzone-dragover-glow();
    }
  }
}

.image-uploader-input-dz-dragover() {
  .image-uploader-el {
    &:not(.uploading) {
      &.dz-dragover {
        &:after {
          .dropcircle(140px);
          z-index: @z-index-modal-dialog;
          margin-top: -111px; // -140 + 58/2 ( half of the sticky toolbar to be centered over image )
          font-size: 25px;
          text-align: center;
          content: attr(data-drop);
        }
      }
    }
  }
}

.dropzone-dragover-glow(@color: @admin-input-blue) {

  &:not([disabled]) {
    border: 2px dashed @color;
    .box-shadow(0px 0px 5px darken(@color, 10%));
  }

  &[disabled] {
    .box-shadow(0px 0px 5px darken(@color, 80%));
    cursor: default;
  }
}

.dropzone-glow(@color: @admin-input-blue) {

  &:not([disabled]) {
    border: 3px dashed @color;
    background-color: lighten(@color, 20%);

    &:hover,
    &:focus {
      border-color: darken(@color, 10%);
      .box-shadow(0px 0px 5px darken(@color, 10%));
    }
  }

  &[disabled] {
    border: 3px dashed saturation(@color, 0);
    background-color: saturation(lighten(@color, 20%), 0);
    cursor: default;
  }
}
