.fold-button {

  .button(@admin-font-gray2, transparent, @admin-font-gray3, transparent, false);

  position: relative;
  padding: 0 20px 0 17px;
  text-align: center;
  overflow: visible;
  display: inline-block;
  position: relative; // for the dropdown to position itself

  &:after {
    content: "";
    position: absolute;
    top: 42%;
    right: 0px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid @admin-dark-gray;
  }

  .@{_COMMON_PREFIX}dropdown {
    width: auto;
    display: none;
    position: absolute;
    left: 0;
    z-index: @z-index-toolbar-element;
    padding: 4px 8px;
    background-color: @admin-white;
    .material-layer-shadow();

    .@{_COMMON_PREFIX}button {
      .menu-action-button();

      width: 100%;
      padding: 5px;
    }

    & > * {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.expanded {
    .@{_COMMON_PREFIX}dropdown {
      display: block;
    }
  }

}
