.toolbar {
  @toolbar-height: 41px;

  background-color: @admin-white;
  height: @toolbar-height;
  line-height: @toolbar-height;
  overflow: visible; // for the button glow
  .box-sizing(border-box);
  border-bottom: 1px solid @admin-bg-light-gray;
  min-width: 200px;

  .fold-button {
    margin-right: 18px;

    .@{_COMMON_PREFIX}dropdown {
      margin-top: 35px;
    }
  }

  > .@{_COMMON_PREFIX}button {
    .menu-action-button();

    &:focus:not(:disabled) {
      box-shadow: none;
      border: 1px solid transparent;
    }

    display: inline-block;
    vertical-align: top;
    height: 100%;
    line-height: 41px;
    padding: 0 14px;

    &.pull-right {
      float: right;
    }

    &[class*="icon-"] {
      font-size: 16px;

      span {
        display: none;
      }
    }

  }

  .toggle-slide {
    margin: 11px 7px;
  }

  .menu-button {
    height: 100%;
  }

  &.content-browse-toolbar, &.user-browse-toolbar {
    button {
      vertical-align: top;
    }
  }

}