.uploader-el {
  position: relative;
  min-height: 1px;
  min-width: 1px;

  input[type=text] {
    width: 100%;
    margin-bottom: 4px;
  }

  > .upload-button {
    background: url("../../../images/upload.png") no-repeat center;
    background-color: @admin-white;
    position: absolute;
    right: 0;

    width: 37px;
    height: 37px;

    z-index: 1;
    display: inline-block;

    cursor: pointer;

    .box-sizing(border-box);
    border: 1px solid @admin-medium-gray-border;

    &:hover {
      box-shadow: 0 0 5px @admin-input-blue;
      border: 1px solid @admin-input-blue;
    }
  }

  .progress-bar {
    display: none;
    margin: 25px 0;
    height: 32px;

    .progress-indicator {
      background-color: #8db800;
    }

  }

  > .close-button {
    position: absolute;
    top: 1px;
    right: -1px;
  }
}
