@admin-light-gray-bg: #eee;
@admin-light-blue-bg: #ebf5ff;
@admin-almost-white-bg: #fafafa;
@admin-medium-gray-border: #ccc;
@admin-white: #fff;
@admin-almost-white: #f2f2f2;
@admin-light-gray-font: #777;
@admin-medium-gray-font: #acacac;
@admin-dark-gray-font: #333;
@admin-blue: #4294de;
@admin-blue-button: #2c76e9;
@admin-blue-button2: #5a94ee;
@admin-black: black;
@admin-dark-gray: #53585F;
@admin-shadow-gray: #888;
@admin-input-blue: #98c9f2;
@admin-input-red: #f0a197;
@admin-green: #609e24;//77bd4e
@admin-red: #cb0300;

@input-dark-red:#843534;
@input-red-text:#a94442;
@input-light-red:#f2dede;

@form-button-bg: #919594;
@form-button-bg-hover: #b1b1b1;
@form-button-font: white;
@form-button-font-disabled: #aaaaaa;

@admin-tooltip-bg: #fffcad;
