@transitionDefaultDuration: 0.5s;
.color-transition {
  transition: color @transitionDefaultDuration ease-in-out;
  -moz-transition: color @transitionDefaultDuration ease-in-out; /* Firefox 4 */
  -webkit-transition: color @transitionDefaultDuration ease-in-out; /* Safari and Chrome */
  -o-transition: color @transitionDefaultDuration ease-in-out; /* Opera */
}
.background-color-transition {
  transition: background-color @transitionDefaultDuration ease-in-out;
  -moz-transition: background-color @transitionDefaultDuration ease-in-out; /* Firefox 4 */
  -webkit-transition: background-color @transitionDefaultDuration ease-in-out; /* Safari and Chrome */
  -o-transition: background-color @transitionDefaultDuration ease-in-out; /* Opera */
}