.color-transition(@duration: 0.2s, @timingFunction: ease-in-out) {
  transition: color @duration @timingFunction;
  -moz-transition: color @duration @timingFunction;
  -webkit-transition: color @duration @timingFunction;
  -o-transition: color @duration @timingFunction;
}

.background-color-transition(@duration: 0.2s, @timingFunction: ease-in-out) {
  transition: background-color @duration @timingFunction;
  -moz-transition: background-color @duration @timingFunction;
  -webkit-transition: background-color @duration @timingFunction;
  -o-transition: background-color @duration ease-in-out;
}