.inspections-panel {

  > .deck-panel {
    margin-bottom: 48px; // the height of the button-bar
  }

  .button-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;

    .box-sizing(border-box);
  }
}