.pin-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  color: @admin-dark-gray-font;
  padding: 10px 19px;
  &.active {
    color: @admin-blue-button2;
  }
  &:hover {
    background-color: transparent;
  }
  &:before {
    color: #333;
  }
}