.form-item-set-view {

  clear: left;

  border: 10px solid #eeeeee;

  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  padding-top:  10px;
  padding-left:  10px;
  padding-right:  10px;
  padding-bottom:  5px;

  .form-item-set-label {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
  }

  .form-item-set-container {

  }

}