.form-item-set-view {

  margin-top: 10px;
  margin-bottom: 10px;

  .occurrence-views-container {

    .form-item-set-occurrence-view:nth-child(n+2) {
      border-top: none;
      margin-top: -10px;
      padding-top: 20px;
    }
  }

  .bottom-button-row {
    background-color: #eeeeee;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    clear: left;
    overflow: hidden;

    .add-button {
      float: left;
    }

    .collapse-button {
      float: right;
    }
  }
}