.input-view {

  clear: left;
  overflow: hidden;

  .input-label {
    float: left;
    width: 110px;
  }

  .input-type-view {
    float: left;
    margin-bottom: 5px;
  }

  .bottom-button-row {

    clear: left;
    overflow: hidden;

    margin-left: 110px;

  }

  .form-item-set-view & {
    .bottom-button-row {

      background-color: white;
      margin-left: 110px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}