.form-view {

  &:not(.display-validation-errors) .form-option-set-occurrence-view .form-option-set-option-view {
    &.selected.invalid {
      .option-items-container .input-view.highlight-validity-change.invalid {
        background-color: @admin-white;

        .upload-button &:hover {
          box-shadow: 0 0 5px @admin-input-red;
          border: 1px solid @admin-input-red;
        }
      }
    }
  }

  &.display-validation-errors {
    .form-option-set-occurrence-view {

      .selection-message:not(.empty) {
        display: block;
        color: @input-red-text;
        font-size: 14px;
        padding: 10px 10px 0 10px;
      }

      .form-option-set-option-view.invalid {
        > .help-text {
          padding-left: 10px;
        }
      }

      .form-option-set-option-view {
        &.selected.invalid {
          border-left: 6px solid @input-light-red;
          border-right: 6px solid @input-light-red;
          border-bottom: 6px solid @input-light-red;

          > .form-input {
            background-color: @input-light-red;

            label {
              color: @admin-dark-gray;
            }

            &.checkbox:hover label {
              color: @admin-black !important;
            }

            input[type="radio"] {
              border-color: darkgray;
              &:checked {
                background-color: @admin-font-gray2;
              }
            }
          }

          .option-items-container {
            .input-view.invalid {
              background-color: @admin-white;

              .input-type-view {
                border: 1px solid @admin-input-red;

                &.@{_COMMON_PREFIX}text-input:focus {
                  box-shadow: 0 0 5px @admin-input-red;
                }

                .upload-button {
                  border-left: 1px solid @admin-input-red;

                  &:hover {
                    box-shadow: 0 0 5px @admin-input-red;
                    border: 1px solid @admin-input-red;
                  }
                }
              }

              .help-text p {
                color: @admin-font-gray1;
              }
            }
          }
        }
      }
    }
  }

  .form-option-set-occurrence-view {

    .selection-message {
      display: none;
    }

    .form-occurrence-draggable-label {
      margin-left: 0px;
    }

    .form-option-set-option-view {

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      .input-view .input-label .label {
        color: @admin-dark-gray;
      }

      > .help-text {
        padding: 3px 0 0 31px;
      }

      &:not(.selected) {
        > .form-input:hover label {
          color: @admin-black !important;
        }

        &.expandable.expanded {
          margin-bottom: 6px;
        }

      }

      &.selected {
        border: 6px solid @admin-option-set-header-bg;
        border-bottom: none;
        border-top: none;
        box-sizing: border-box;

        &.expandable {
          border-bottom: 6px solid @admin-option-set-header-bg;

          > .help-text {
            padding: 3px 0px 0px 25px;
          }

          &.expanded > .option-items-container {
            padding: 10px 0;
          }
        }

        &:not(.expandable) {

          .help-text.visible + .option-items-container {
            border-bottom: 1px solid @admin-bg-light-gray;
            margin-left: -6px;
            margin-right: -6px;
          }

          > .option-items-container {
            border-bottom: 1px solid @admin-option-set-header-bg;
          }

          > .form-input {
            label {
              line-height: 34px;
            }
          }

          .help-text {
            background: #fff;
            margin-left: -6px;
            margin-right: -6px;
            padding-left: 31px;
            padding-right: 31px;
          }
        }

        > .option-items-container {
          opacity: 1;
        }

        > .form-input {

          display: inline-block;
          width: 100%;
          background-color: @admin-option-set-header-bg;

          &.radio-button > * {
            cursor: default;
          }

          input[type="radio"] {
            margin-left: 4px;
          }

          input[type="checkbox"] + label {
            padding: 0px 5px 0px 25px;
            &:before {
              left: 4px;
              background: url("../../../images/admin-optionset-checked.gif") -1px -2px no-repeat;
            }
          }

          &.checkbox:hover label {
            color: @admin-white !important;
          }

          label {
            color: @admin-white;
          }
        }

      }

      &:not(:last-child):not(.selected) {
        border-bottom: 1px solid @admin-bg-light-gray;

        &.expandable {
          margin-bottom: 10px;
        }
      }

      &.expandable.expanded {
        padding-bottom: 10px;

        > .option-items-container {
          padding: 10px 6px;
        }
      }

      > .option-items-container {
        display: none;
        opacity: 0.5;
        padding: 0 6px;

        > div {
          padding: 0 10px;
        }

        > .input-view {
          .selected-options {
            padding-bottom: 0px !important;
          }

          &.invalid .input-label .label {
            color: @admin-dark-gray;
          }
        }
      }

      > .form-input {

        height: 34px;

        input[type="radio"] {
          margin-left: 10px;
          -webkit-appearance: none;
          width: 15px;
          height: 15px;
          border: 1px solid darkgray;
          .border-radius(50%);
          background-color: @admin-white;

          &:checked {
            opacity: 0;

            + label:before {
              content: "";
              display: block;
              position: absolute;
              top: 3px;
              left: -15px;
              height: 14px;
              width: 14px;
              background: white;
              .border-radius(8px);
              .box-shadow(inset 0px 0px 0px 2px white);
            }

            + label:before {
              background: @admin-option-set-input-checked;
            }
          }
        }

        input[type="radio"], label {
          vertical-align: middle;
          cursor: pointer;
        }

        input[type="radio"] + label {
          padding: 0px 5px 0px 7px;
          position: relative;
        }

        input[type="checkbox"] + label {
          padding: 0px 5px 0px 31px;
          &:before {
            margin-top: 10px;
            left: 10px;
          }
        }

        input[type="checkbox"]:disabled + label {
          color: @admin-font-gray1;
          &:before {
            background: url("../../../images/admin-unchecked-disabled.gif") -1px -2px no-repeat;
          }
        }

        label {
          font-size: 14px;
          color: @admin-dark-gray;
          line-height: 34px;
        }

        &.checkbox {
          display: inline-block;
          &.disabled {
            pointer-events: none;
          }
        }
      }

      .form-occurrence-draggable-label {
        font-size: 12px;
      }

      &.expanded > .option-items-container {
        display: block;
      }
    }
  }
}
