.form-view {

  &:not(.display-validation-errors) .form-option-set-occurrence-view .form-option-set-option-view {
      &.selected.invalid {
        .option-items-container .input-view.highlight-validity-change.invalid {
          background-color: @admin-white;

          .upload-button &:hover {
              box-shadow: 0 0 5px @admin-input-red;
              border: 1px solid @admin-input-red;
          }
        }
      }
  }

  &.display-validation-errors {
    .form-option-set-occurrence-view {
      .form-option-set-option-view {
        &.selected.invalid {
            border-left: 6px solid @input-light-red;
            border-right: 6px solid @input-light-red;
            border-bottom: 6px solid @input-light-red;

            > .form-input {
              background-color: @input-light-red;

              label {
                color: @admin-font-gray2;
              }

              &.checkbox:hover label {
                color: @admin-dark-gray !important;
              }
            }

            .option-items-container {
              .input-view.invalid {
                background-color: @admin-white;

                .input-type-view {
                  border: 1px solid @admin-input-red;

                  &.@{_COMMON_PREFIX}text-input:focus {
                    box-shadow: 0 0 5px @admin-input-red;
                  }

                  .upload-button {
                    border-left: 1px solid @admin-input-red;

                    &:hover {
                      box-shadow: 0 0 5px @admin-input-red;
                      border: 1px solid @admin-input-red;
                    }
                  }
                }
              }
            }
        }
      }
    }
  }


  .form-option-set-occurrence-view {

    .form-option-set-option-view {
      &.selected {

        border-left: 6px solid @admin-blue;
        border-right: 6px solid @admin-blue;
        border-bottom: 6px solid @admin-blue;

        box-sizing: border-box;

        .option-items-container {
          opacity: 1;

          > * {
            padding-left: 25px !important;
            padding-right: 25px !important;
          }
        }

        > .form-input {

          display: inline-block;
          width: 100%;
          background-color: @admin-blue;

          input[type="radio"] {
            margin-left: 4px;
          }

          input[type="checkbox"] + label {
            padding: 0px 5px 0px 25px;
            &:before {
              left: 4px;
            }
          }

          label {
            color: @admin-white;
          }

          &.checkbox:hover label {
            color: @admin-bg-almost-white !important;
          }
        }

        &:not(.expandable) {

          border-bottom: none;

          > .form-input {
            label {
              line-height: 34px;
            }
          }
        }
      }

      &:not(.selected):not(:last-child) {
        border-bottom: 1px solid @admin-bg-light-gray;
      }

      .option-items-container {
        display: none;
        opacity: 0.5;

        > .input-view {
          margin: 0px;

          .selected-options {
            padding-bottom: 0px !important;
          }

          &.invalid .input-label .label {
            color: @admin-font-gray2;
          }
        }

        > * {
          padding-left: 31px !important;
          padding-right: 31px !important;
          padding-bottom: 10px;

          &:last-child {
            padding-bottom: 20px;
          }
        }
      }

      > .form-input {

        height: 34px;

        input[type="radio"] {
          margin-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 15px;
          height: 15px;
          border: 1px solid darkgray;
          border-radius: 50%;
          outline: none;
          background-color: white;

          &:checked {
            box-shadow: 0 0 0 3px @admin-white inset;
            background-color: @admin-dark-gray;
          }

          &:not(:checked):hover {
            box-shadow:0 0 1px 0px @admin-dark-gray inset;
          }
        }

        input[type="radio"], label {
          vertical-align: middle;
          cursor: pointer;
        }

        input[type="radio"] + label {
          padding: 0px 5px 0px 7px;
        }

        input[type="checkbox"] + label {
          padding: 0px 5px 0px 31px;
          &:before {
            margin-top: 10px;
            left: 10px;
          }
        }

        &.checkbox:hover label {
          color: @admin-dark-gray !important;
        }

        input[type="checkbox"]:disabled + label {
          color: @admin-font-gray1;
          &:before {
            background: url("../../../images/admin-unchecked-disabled.gif") -1px -2px no-repeat;
          }
        }

        label {
          font-size: 14px;
          color: @admin-font-gray2;
          line-height: 34px;
        }

        &.checkbox {
          display: inline-block;
          &.disabled {
            pointer-events: none;
          }
        }
      }

      .form-occurrence-draggable-label {
        font-size: 12px;
      }

      &.expanded {
        .option-items-container {
          display: block;
        }
      }
    }

    .form-option-set-occurrences-container > *:not(:last-child):not(.selected) {
      // padding-bottom: px;
    }

    .form-option-set-occurrences-container > *:not(:first-child) {
      // margin-top: 15px;
    }
  }
}
