.live-form-panel {
  background-color: @admin-dark-gray;

  &:before {
    content:'';
    display:block;
    box-shadow:inset 0 2px 17px -8px rgba(0, 0, 0, 1), 0 0 0 0 rgba(0, 0, 0, 0.3);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
  }

  .frame-container {
    .transition(width 0.1s ease-in-out);

    height: 100%;
    padding-right: 2px;
    background-color: @admin-white;
  }

  .live-edit-frame {
    .transition(width 0.1s ease-in-out);

    background-color: white; //override liveFormPanels background color to get default browser background color for iframe
    -webkit-backface-visibility: hidden;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    border: 0 none;
    padding: 0;
    overflow: auto;
  }
}