.settings-wizard-step-form,
.security-wizard-step-form {
  .input-view {
    .input-label, label {
      float: none;
      line-height: 25px;
    }
    .input-type-view, label + .form-input {
      margin-left: 0;
    }
  }
}

.settings-wizard-step-form {
  .publishFrom.missing {
    label {
      &:after {
        content: " (should be set when Publish To is set)*";
        color: @admin-red;
      }
    }
  }
  .publishTo.before-start {
    label {
      &:after {
        content: " (can not be before Publish From)*";
        color: @admin-red;
      }
    }
  }
}