.settings-wizard-step-form,
.security-wizard-step-form {
  .input-view {
    .input-label, label {
      float: none;
      line-height: 25px;
    }
    .input-type-view, label + .form-input {
      margin-left: 0;
    }
  }
}