.confirm-delete-dialog {

  .confirm-delete-subtitle {
    margin-top: 20px;
  }

  .dialog-buttons .@{_COMMON_PREFIX}button.confirm-delete-action {
    .button(@form-button-font, @input-red-text, @form-button-font, lighten(@input-red-text, 10%));

    padding: 4px 19px 4px 19px;
    margin-left: 11px;
  }

  .text {
    .input-glow();
    .input-font();
    .input-border();
    .box-sizing(border-box);

    display: inline;
    height: 37px;
    padding: 5px 10px 4px 10px;
    font-size: 22px;
    margin-left: 10px;
    width: 80px;
    text-align: center;

    &.invalid {
      border: 1px solid @admin-input-red;
    }

    &.valid {
      border: 1px solid @admin-green;
    }
  }

  .confirm-delete-block {
    font-size: 14px;

    .confirm-delete-text {
      display: inline;
    }

    .confirm-delete-number {
      font-size: 22px;
      padding: 0 10px;
    }
  }
}