.delete-dialog {

  .dialog-content {
    @media screen and (max-height: 360px) {
      height: 60%;
    }
  }

  .item-list {
    max-height: 400px;
    overflow-y: auto;

    @media screen and (max-height: 720px) {
      max-height: 350px;
    }

    @media screen and (max-height: 540px) {
      max-height: 170px;
    }

    @media screen and (max-height: 360px) {
      max-height: 82%;
    }

    .browse-selection-item {
      padding: 4px 0px 4px 0px;
      margin: 0px;
      display: block;

      .status {
        margin-right: 5px;
        display: inline-block;
        float: right;

        &.equal {
          color: @admin-green;
        }
      }
    }

  }

  .dialog-buttons .@{_COMMON_PREFIX}button.delete-action {
    .button(@form-button-font, @input-red-text, @form-button-font, lighten(@input-red-text, 10%));
    padding: 4px 19px 4px 19px;
    margin-left: 11px;

    &.spinner {
      font-family: 'xp-admin-font-icon';

      &:after {
        .animation(rotate360, .5s, .0s, linear);
        content: "\e007";
        color: white;
        display: inline-block;
      }
    }
  }

  .desc-message {
    margin-top: 20px;
    padding-left: 1px;
  }

}
