.image-editor {
  .notSelectable();
  display: block;

  &.edit-mode {
    .image-frame {
      .image-canvas {

        .image-bg {
          .opacity(.2);
        }

        > svg {
          display: block;

          > image {
            cursor: move;
          }
        }

      }
    }

    .image-toolbar, .sticky-toolbar {
      display: block;
    }

    &.edit-focus {
      .image-frame {
        .image-canvas {
          .focus-group {
            display: block;
          }
        }
      }
    }

    &.edit-crop {
      .image-frame {
        overflow: visible;

        .image-canvas {
          .crop-group {
            display: block;
          }
        }
      }
    }
  }

  &.selected, &.edit-mode {
    .image-frame {
      border: 1px solid @admin-input-blue;
      .box-shadow(0px 0px 10px darken(@admin-input-blue, 10%));
      .image-canvas {
        border: none;
        box-shadow: none;
      }
    }
  }

  &.edit-mode.selected {
    .image-frame .buttons-container {
      display: none;
    }
  }

  &.selected {
    .image-frame .buttons-container {
      z-index: 10;
      text-align: center;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      height: 100px;
      display: block;
      width: inherit;
      background-color: rgba(255, 255, 255, .6);

      .button {
        margin: 30px 10px 0;

        .filter(contrast(1.5));
      }

      .button-edit, .button-reset {

        span {
          line-height: 36px;
        }
      }

      .button-upload {
        width: 40px;
        height: 40px;
        background-image: url("../../common/images/upload_white.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 10px;
        vertical-align: top;

        .button-background(#6C6A73);

        &:before {
          color: transparent;
        }
      }
    }

    &.focused:not(.edit-mode) {
      .image-frame .image-canvas {
        > svg {
          display: block;
          .focus-group {
            display: block;
          }
        }
      }
    }
  }

  &.sticky-mode {
    position: relative;

    &.edit-mode {
      padding-top: 56px; // equals to the height of sticky toolbar;
    }

    .sticky-toolbar {
      position: absolute;
    }
  }

  .image-frame {
    overflow: hidden;
    position: relative;
    box-shadow: none;
    border-bottom: 2px solid @admin-white;

    .buttons-container {
      display: none;
    }

    .image-canvas {
      position: absolute;
      border: 1px solid @admin-white;

      .image-bg {
        vertical-align: top; // to remove padding below the image
        width: 100%;
        height: 100%;
      }

      > svg {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        image {
          width: 100%;
          height: 100%;
        }

        .edit-group {
          display: none;
        }

        .focus-group {

          .stroke-circle {
            stroke: red;
            fill: none;
            stroke-width: 4;
          }

        }

        .crop-group {

          .drag-handle {
            cursor: ns-resize;
            opacity: 0.5;

            circle {
              fill: white;
            }

            .drag-triangle {
              fill: black;
            }

            &:hover,
            &.active {
              opacity: 0.7;
              cursor: ns-resize;
            }
          }

          .zoom-slider {
            opacity: 0.5;

            rect {
              fill: white;
            }

            line {
              stroke: #ccc;
              stroke-width: 4px;
            }

            circle {
              fill: black;
              cursor: ns-resize;
            }

            &:hover,
            &.active {
              opacity: 0.7;

              circle {
                cursor: ns-resize;
              }
            }
          }

        }
      }

    }

  }

  .image-toolbar {
    display: none;
    padding: 10px;
    position: relative;
    z-index: @z-index-mask + 1;
    .clearfix();

    .edit-container {
      text-align: center;

      button {
        margin-left: 10px;

        span {
          // make text buttons equal height with icon ones
          line-height: 30px;
        }
      }
    }

  }

  .sticky-toolbar {
    display: none;
    position: relative;
    z-index: @z-index-mask; // to have it on top of zoomed image
    left: 1px; // account for image editor border
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);

    .box-sizing(border-box);
    .clearfix();

    .tab-menu {
      width: 140px;
      float: left;
      margin: 0;

      .tab-menu-button {
        color: black;
        background: transparent;
        border: 1px solid @admin-medium-gray-border;
      }
    }

    .right-container {
      float: right;

      .button {
        margin-left: 10px;

        &.close-button {
          .button(@form-button-font, @form-button-bg);

          width: auto;
          height: auto;
          padding: 6px;
          margin-left: 10px;
        }

        span {
          line-height: 34px;
        }
      }
    }
  }

}