.application-grid.tree-grid .grid .slick-row {
  .version, .state, .modified {
    text-align: right;
    font-size: 0.9em;
  }
  .modified {
    padding-right: 25px;
  }

  .slick-cell {
    .toggle.icon {
      display: none;
    }

    &.shifted {
      padding-left: 15px;
    }
  }

  .application-viewer {
    &.local .names-and-icon-view .@{_COMMON_PREFIX}wrapper:before {
      content: "L";
      background: @admin-blue;
      color: @admin-white;
    }
  }

}
