.input-view {
  .clearfix();

  &.invalid {
    border-right: 2px solid lightcoral;
  }

  &.valid {

  }

  &.no-label {

    .input-label {
      display: none;
    }

    .input-type-view,
    .bottom-button-row {
      margin-left: 0px;
    }
  }

  input {
    background-color: transparent;
  }

  .input-label {
    float: left;
    max-width: @form-label-width - 10px;
    margin-right: 10px;

    .required {
      &:after {
        content: '*';
        color:crimson;
      }
    }
  }

  .input-type-view {
    margin: 0 0 0 @form-label-width;
  }

  .bottom-button-row {
    clear: left;
    overflow: visible;    // for button glow
    margin: 7px 0 0 @form-label-width;
  }
}

@media (max-width: 720px) {
  .input-view-vertical();
}

.context-window {
  .input-view-vertical();
}

.input-view-vertical(){
  .input-view {
    .input-label {
      float: none;
      max-width: 100%;
      margin: 0 0 3px 0;
    }

    .input-type-view {
      width: 100%;
      margin: 0;
    }

    .bottom-button-row {
      margin: 0;
    }
  }
}