.input-view {
  .clearfix();
  margin-bottom: 7px;

  &.no-label {

    .input-label {
      display: none;
    }

    .input-type-view,
    .bottom-button-row {
      margin-left: 0px;
    }
  }

  .input-label {
    float: left;
    clear: left;
    max-width: @form-label-width - 10px;
    margin-right: 10px;
    padding-top: 10px;

    .required {
      .icon-asterix(0.9em, crimson);
    }
  }

  .input-type-view {
    margin-left: @form-label-width;
  }

  .bottom-button-row {
    clear: left;
    overflow: hidden;
    margin-left: @form-label-width;

    button {
      margin-left: 0px;
    }
  }
}