.input-occurrence-view {

  display: table-row;

  & > * {
    display: table-cell;
  }

  .drag-control {
    background: url("../images/nail-plate.png") no-repeat;
    width: 5px;
    height: 30px + 10px;
    cursor: move;
  }

  input, textarea {
    width: 100%
  }

  .remove-button {
    width: 20px;
    padding-left: 10px;
    .icon-remove(2em, @admin-medium-gray-font);
    text-decoration: none;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }

  &.ui-sortable-helper {
    & > * {
      float: left;
      display: block;
    }

    input, textarea {
      width: 506px;
    }

    .remove-button {
      float: right;
      width: 29px;
    }
  }

}