
.admin-tree {

  .admin-tree-thumbnail {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      line-height: 12px;
      padding: 3px;
    }

    &.ContentType {

      .overlay {
        color: black;
        background-color: yellow;

        &:before {
          content: "C";
        }
      }
    }

    &.Mixin {

      .overlay {
        background-color: red;

        &:before {
          content: "M";
        }
      }
    }

    &.RelationshipType {

      .overlay {
        background-color: blue;

        &:before {
          content: "R";
        }
      }
    }
  }

}