
.schema-grid-view {

  height: 100% !important;

  .overlay-wrapper {
    position: relative;

    width: 32px;
    height: 32px;
    margin: 0 15px 0 10px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      vertical-align: middle;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      line-height: 12px;
      padding: 3px;
    }

    &.ContentType {

      .overlay {
        color: black;
        background-color: yellow;

        &:before {
          content: "C";
        }
      }
    }

    &.Mixin {

      .overlay {
        background-color: red;

        &:before {
          content: "M";
        }
      }
    }

    &.RelationshipType {

      .overlay {
        background-color: blue;

        &:before {
          content: "R";
        }
      }
    }
  }

}