.@{_CLS_PREFIX}fragment-placeholder {

  &:before {
    font-family: 'icomoon' !important;
    content: "\e1f7";
  }

  .rich-combobox-wrapper {
    width: auto;
    max-width: 540px;
    position: relative;
    padding-right: 36px;
    margin: 0 auto;
    display: none;

    .rich-combobox {
      display: block;
    }

  }

}