.@{_CLS_PREFIX}image-placeholder {

  .rich-combobox-wrapper {
    width: auto;
    max-width: 540px;
    position: relative;
    padding-right: 36px;
    margin: 0 auto;

    .rich-combobox {
      display: block;

      &.dz-dragover {
        &:before {
          .dropcircle(70px);
          line-height: 25px;
          padding: 45px 20px 0px 20px;
          text-align: center;
          z-index: 1;
        }
      }
    }

    .upload-button {
      .button(@admin-font-gray2, white, @admin-font-gray3, white);
      .box-sizing(content-box);
      .input-glow();
      vertical-align: middle;
      margin: 0;
      padding: 0;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 35px;
      width: 35px;
      border-color: @admin-medium-gray-border;
      background-image: url("../../../../common/images/upload.png"); // don't optimize because bg color is set via .button() mixin
      background-repeat: no-repeat;
      background-position: center;
    }

    .image-uploader-el {
      position: absolute;
      top: 0;
      right: -1px;
    }
  }

}