.@{_CLS_PREFIX}item-view {

  & > .@{_CLS_PREFIX}item-placeholder {
    display: none;
  }

  &.empty > .@{_CLS_PREFIX}item-placeholder,
  &[data-portal-placeholder=true] > .@{_CLS_PREFIX}item-placeholder {
    display: block;
  }

  &[data-portal-placeholder-error=true] {
    background-color: @admin-input-red;

    span.data-portal-placeholder-error {
      padding: 5px 0 5px 10px;
      color: @page-editor-error-red;
      font-size: 14px;
      display: block;
    }

    .@{_CLS_PREFIX}item-placeholder {
      background-color: @admin-input-red;

      border: 0px;
      border-top: 1px solid @admin-medium-gray-border;

      &:before {
        color: @admin-bg-dark-gray;
      }

      .display-name {
        color: @admin-white;
      }
    }
  }

  &.error {
    background-color: @page-editor-error-red;

    .rendering-error {
      pointer-events: none;
    }

    p {
      color: white;
      padding: 28px 10px;
      font-size: 20px;
    }

    a {
      text-decoration: none;
      color: @admin-white;
      padding: 28px 10px;
      font-size: 14px;
      pointer-events: all;
      display: inline-block;
      &:hover {
        color: darken(white, 20%);
      }
    }

    &[data-portal-component-type],
    &[data-portal-region] {
      &:before {
        content: '';
      }
    }
  }
}

.@{_CLS_PREFIX}item-placeholder {
  position: relative;
  font-family: @admin-font-family;
  background-color: @placeholder-bg;
  min-height: @placeholder-height;
  padding: 50px 15px;
  margin: 1px 0 10px 0;
  text-align: center;
  .box-sizing(border-box);

  .display-name {
    display: none;
    color: @page-editor-message-blue;
    margin: 0;
    line-height: 37px;
    position: relative; // set the position to appear on top of the absolutely positioned :before

    .ellipsis();
  }

  [data-portal-placeholder=true] & {
    background-color: @admin-white;
    border: 1px solid @admin-medium-gray-border;

    .display-name {
      display: block;
    }

    &:hover {
      border-color: transparent;
    }
  }

  &:before {
    position: absolute;
    color: @placeholder-icon;
    font-family: 'xp-admin-font-icon' !important;
    font-size: 105px;
    line-height: 137px;
    left: 50%;
    margin-left: -52px;
    top: 50%;
    margin-top: -68px;
    content: '';
  }

  .rich-combobox {
    vertical-align: middle;
    text-align: left;
    width: auto;
    max-width: 540px;
    margin: 0 auto;
    display: none;

    .options-container {
      z-index: @z-index-empty-component-options;
    }
    .selected-options {
      display: none !important;
    }

    .combobox {
      input[type="text"] {
        font-family: @admin-font-family;
        font-size: 15px;
        padding: 4px 37px 4px 10px;

        .placeholder(1em, italic);
        .input-glow(); // need to use glow explicitly because it is used out of the form
      }

    }

  }
}