.@{_CLS_PREFIX}page-view {

  &.empty {
    // placeholder should occupy whole page when empty
    & > .@{_CLS_PREFIX}page-placeholder {
      height: 100%;
      margin: 0;

      .@{_COMMON_PREFIX}dropdown {
        top: 50%;
        margin-top: -18px;
      }

      .page-placeholder-info {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 35%;

        .page-placeholder-info-line1 {
          font-size: 22px;
          color: @admin-dark-gray;
          margin-bottom: 10px;
        }

        .page-placeholder-info-line2 {
          font-size: 14px;
          color: @admin-font-gray1;
        }
      }
    }
  }

  .html-area-modal-dialog {
    .@{_COMMON_PREFIX}text-input {
      color: inherit;
      font-size: 12px;
    }

    .input-wrapper .checkbox.form-input {
      margin-top: 0px;
    }
  }
}

.@{_CLS_PREFIX}page-placeholder {

  &:before {
    content: "\e004";
  }
}