.xp-page-editor-region-view {

  &.dragging {
    padding-top: 10px;
    padding-bottom: 20px;

    &.dragged-over {

      .xp-page-editor-drag-placeholder {
        display: block;
      }

      &.empty > .xp-page-editor-region-placeholder {
        display: none;
      }
    }
  }

}

.xp-page-editor-region-placeholder {
  background-color: @region-bg;
  border: 2px dashed @region-color;
  color: @region-color;
  font-size: 20px;
  line-height: 33px;

  &:before {
    display: none;
  }

  p {
    margin: 0;
  }
}