.@{_CLS_PREFIX}text-view {

  &.empty > section {
    display: none;
  }

  .mce-content-body {
    cursor: auto;
    display: none;
    padding: 5px;
    min-height: 70px;

    &.mce-edit-focus {
      outline: none;
    }
  }

  section {
    min-height: 58px;
  }

  &.edit-mode {

    .mce-content-body {
      display: block;
      box-sizing: border-box;
    }

    &.editor-focused {
      .box-shadow(0px 0px 5px @admin-input-blue);
    }

    .input-border(@admin-input-blue);

    section {
      display: none !important;
    }

    > .@{_CLS_PREFIX}text-placeholder {
      display: none;
    }

    > section {
      cursor: text;
      display: block;
      .input-border();
      .input-glow();
    }
  }

  & > section {
    padding: 5px;
    .outline(0 none);
    .box-sizing(content-box);

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

}

.@{_CLS_PREFIX}text-placeholder {

  &:before {
    font-family: 'icomoon' !important;
    content: "\e449";
  }

}

.mce-toolbar-container {
  position: fixed;
  top: 0;
  z-index: @z-index-context-menu;
  width: 100%;

  .mce-tinymce-inline {

    width: 100% !important;

    .mce-container-body {
      margin: auto;
    }
  }
}

.docked-panel .tab-bar {
  margin: 0;
}