.@{_CLS_PREFIX}text-view {

  overflow: auto;

  // tiny mce style enforcing
  ul, ol {
    margin: 0 0 12px 40px;
  }

  li {
    list-style: inherit;
  }

  strong, b {
    font-weight: bold;
    font-style: inherit;
  }

  em {
    font-style: italic;
    font-weight: inherit;
  }

  // end of tiny mce style enforcing

  &.empty > section {
    display: none;
  }

  .mce-content-body {
    cursor: auto;
    display: none;
    padding: 5px;
    min-height: 70px;

    &.mce-edit-focus {
      outline: none;
    }
  }

  section {
    min-height: 58px;
  }

  &.edit-mode {

    .mce-content-body {
      display: block;
      box-sizing: border-box;
    }

    &.editor-focused {
      .box-shadow(0px 0px 5px @admin-input-blue);
      .input-border(@admin-input-blue);
    }

    .input-border(#cccccc);

    section {
      display: none !important;
    }

    > .@{_CLS_PREFIX}text-placeholder {
      display: none;
    }

    > section {
      cursor: text;
      display: block;
      .input-border();
      .input-glow();
    }
  }

  & > section {
    padding: 5px;
    .outline(0 none);
    .box-sizing(content-box);

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

}

.@{_CLS_PREFIX}text-placeholder {

  &:before {
    font-family: 'icomoon' !important;
    content: "\e449";
  }

}

.mce-toolbar-container {
  position: fixed;
  top: 0;
  z-index: @z-index-context-menu;
  width: 100%;
  border-bottom: 1px solid #cccccc;



  .mce-abs-layout, .mce-toolbar-grp, .mce-flow-layout, .mce-container-body.mce-stack-layout {
    width: auto !important;
  }

  .mce-toolbar-grp, .mce-tinymce-inline, .mce-container-body.mce-stack-layout, .mce-container-body.mce-abs-layout {
    height: auto !important;
  }

  .mce-container-body.mce-abs-layout {
    overflow: initial;
  }

  .mce-abs-layout-item, .mce-abs-end {
    position: static;
  }

  &.sticky-toolbar {
    .box-shadow(0px 8px 8px 0 @admin-toolbar-shadow);
    z-index: 1000;
  }

  .mce-tinymce-inline {

    width: 100% !important;

    .mce-container-body {
      margin: auto;
    }

    .mce-flow-layout {
      white-space: normal;
      padding-right: 30px;
    }
  }

  .mce-toolbar-grp.mce-panel {
    padding-bottom: 1px;
    border: none;
/*
    button {
      height: 34px;
      i {
        padding-top: 5px;
      }
    }

    .mce-menubtn {
      button {
        height: auto;
        i {
          padding-top: 0;
        }
      }
    }*/
  }

}

.docked-panel .tab-bar {
  margin: 0;
}

.close-edit-mode-button.icon-close2 {
  position: fixed;
  top: 8px;
  right: 10px;
  z-index: @z-index-context-menu + 1;
  pointer-events: auto;
  color: @admin-dark-gray;
  font-size: 26px;
  display: none;
  text-decoration: none;

  &.active {
    display: inline;
  }
}

.mce-grid-border a {
  pointer-events: auto;
}