.@{_CLS_PREFIX}text-view {

  &.empty > section {
    display: none;
  }

  &.edit-mode {

    > .@{_CLS_PREFIX}text-placeholder {
      display: none;
    }

    > section {
      cursor: text;
      display: block;
      .input-border();
      .input-glow();
    }
  }

  & > section {
    padding: 5px;
    .outline(0 none);
    .box-sizing(content-box);

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

}

.@{_CLS_PREFIX}text-placeholder {

  &:before {
    font-family: 'icomoon' !important;
    content: "\e449";
  }

}