.module-view {
  padding: 10px;
  background-color: @admin-light-gray-bg;

  .form-element-spacing(15px);

  .header {
    overflow: hidden;
    margin: 0 0 10px;

    img {
      width: 32px;
      float: left;
    }

    h6 {
      font-size: 22px;
      line-height: 32px;
      margin-left: 42px;
      .ellipsis;
    }
  }

  .form-view {
    padding: 15px 10px;
    margin: 0;
    background-color: @admin-white;
  }

}