.site-wizard-step-form {
  width: 650px;

  .template-view {

    padding: 0 10px;

    .input-label {
      font-size: 12px;
    }
  }

  .names-and-icon-view {
    margin: 0;
    border: 1px solid lightgray;
    background: #DDDEE0;

    .icon {
      margin: 4px 10px 0 0;
    }

    .names-view {
      padding: 10px 5px;

      .main-name {
        font-size: 16px;
        font-weight: bold;
      }

      .sub-name {
        margin: 0;
      }
    }
  }
}