.site-wizard-step-form {
  width: 650px;

  .template-view {

    padding: 0 10px;

    .input-label {
      font-size: 12px;
    }
  }

  .name-and-icon-view {
    margin: 0;
    border: 1px solid rgba(173, 173, 173, 0.98);
    background: #DDDEE0;

    .icon {
      margin: 10px 10px 0 0;
    }

    .names-container {
      padding: 13px 5px;

      .main-name {
        font-size: 22px;
      }

      .sub-name {
        margin: 0;
      }
    }
  }
}