.site-wizard-step-form {

  .template-view.names-and-icon-view {
    margin: 0 0 15px;
    padding: 10px;
    border: 1px solid @admin-light-gray-bg;

    .names-view {

      .main-name {
        font-size: 22px;
        height: 26px;
        line-height: 26px;
      }

      .sub-name {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}