#asset.cacheControl = public, max-age=31536000, immutable
#media.public.cacheControl = public, max-age=31536000, immutable
#media.private.cacheControl = private, max-age=31536000, immutable
#page.defaultContentSecurityPolicy = default-src 'self'; object-src 'none'; style-src 'self' 'unsafe-inline'
