## Set or Add headers to every response
## Format [action] [header name]: [header value]
## Supported header actions: set add setDate addDate
## Each action must be separated by a comma
#headerConfig = set X-Frame-Options: DENY,set X-Content-Type-Options: nosniff