#asset.cacheControl = public, max-age=31536000, immutable
#media.public.cacheControl = public, max-age=31536000, immutable
#media.private.cacheControl = private, max-age=31536000, immutable
#page.previewContentSecurityPolicy = default-src 'self'; object-src 'none'; img-src 'self' data:; style-src * 'unsafe-inline'; font-src * data:'
