.image-selector {
  position: relative;

  .combobox-wrapper {
    margin-right: 36px;
  }

  .combobox {

    .slick-cell {
      .default-slick-cell-styling();

      // TODO: styles below not needed?
      &.selected .content-summary .display-name {
        color: #d3d3d3;
      }

      .wrapper {
        width: 32px;
        height: 32px;

        .icon {
          border: 1px @admin-medium-gray-border solid;
        }
      }

      .content-summary {
        margin: 0 0 0 42px;

        .display-name {
          font-size: 14px;
          line-height: 16px;
          .ellipsis();
        }

        .path {
          color: @admin-font-gray2;
          font-size: 12px;
          .ellipsis();
        }
      }
    }

  }

  .image-uploader {
    position: absolute;
    top: 0;
    .dropzone {
      min-height: 37px;
      height: 37px;
      line-height: 30px;
      font-size: 14px;
      background-color: @admin-white;
      border: 1px solid @admin-medium-gray-border;
      z-index: @z-index-wizard-filed-element;

      &:before {
        display: inline-block;
        content: "";
        width: 31px;
        height: 35px;
        background: url("../images/upload.png") no-repeat center;
      }

      .box-sizing(border-box);
      .input-border();
      .input-glow();
    }

    &:focus {
      .dropzone {
        .box-shadow(0px 0px 5px @admin-input-blue);
        border: 1px solid @admin-input-blue;
      }
    }

    &.minimized {
      .dropzone-container {
        position: absolute;
        right: 0;
        .dropzone {
          width: 37px;
        }
      }
    }
  }

  .selected-options {
    .clearfix();
    margin-right: -6%;

    .selected-option {
      position: relative;
      float: left;
      width: 28.3018867924%;
      padding: 0;
      margin: 10px 4.5% 20px 0;
      cursor: pointer;
      border: 1px solid #d3d3d3;
      background-color: #ffffff;

      &.editing {
        border: 1px solid @admin-input-blue;
        .box-shadow(0px 0px 10px darken(@admin-input-blue, 10%));
        z-index: @z-index-wizard-option;

        &:hover .label {
          display: none;
        }
      }

      > img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }

      > .label {
        display: none;
      }

      > .checkbox {
        position: absolute;
        top: 3px;
        left: 3px;
      }

      > .progress-bar,
      > .error {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }

      > .error {
        text-align: center;
        color: @admin-white;
        font-weight: bold;
        background-color: @admin-input-red;
      }

      &:hover > .label {
        display: block;
        position: absolute;
        width: 100%;
        padding: 3px;
        bottom: 0;
        opacity: 0.8;
        text-align: center;
        overflow: hidden;
        background-color: #fff;
      }

    }

    .selection-toolbar {
      float: left;
      width: 100%;
      padding: 10px;
      text-align: center;

      button {
        margin-right: 10px;
      }
    }

    .dialog {
      overflow: hidden;
      float: left;
      width: 95%;
      margin-bottom: 25px;
      text-align: center;
      background-color: #ffffff;

      > h1,
      > p,
      > .buttons-bar {
        margin-top: 5px;
        margin-right: 5.66%;
        word-break: break-all;
      }

      button {
        border: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
        height: 24px;
        width: 100px;
        line-height: 24px;
        cursor: pointer;

        &.edit {
          margin-right: 10px;
          background-color: #2c76e9;

          &:hover {
            background-color: #5a94ee;
          }
        }

        &.remove {
          background-color: #7a7a7a;
        }
      }
    }
  }

  .open-library-button {
    background: url("../images/folder-open.png") no-repeat center;
  }
}

.image-selector-small() {
  .image-selector {
    .selected-options {
      color: @admin-font-gray3;

      .selected-option {
        width: 135px;
        height: 135px;
        margin: 10px 15px 10px 0;

        &.last-in-row {
          margin-right: 0px;
        }

        &.editing {
          top: auto;
          background-color: @admin-button-blue1;
        }
      }
      .dialog {
        width: 100%;
        height: auto;
        padding: 10px;

        h1 {
          font-size: 18px;
          margin-top: 0;
        }

        p {
          margin-bottom: 5px;
        }

        button {
          &.edit {
            margin-right: 0;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
