.locale-selected-option-view {
  position: relative;
  padding: 5px 42px 5px 5px;

  .names-view {
    margin: 0 10px 0 0;
    min-width: 200px;
  }

  .icon-close {
    position: absolute;
    top: 8px;
    right: 16px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
  }

}