[Unit]
Description=Enonic XP
Documentation=https://developer.enonic.com/docs
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
PrivateTmp=true
Environment=XP_INSTALL=/opt/enonic/xp
Environment=XP_JAVA_HOME=${XP_INSTALL}/jdk

User=xp
Group=xp

ExecStart=/opt/enonic/xp/bin/server.sh

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65535

LimitNPROC=4096

LimitAS=infinity

LimitFSIZE=infinity

KillSignal=SIGTERM

KillMode=process

SendSIGKILL=no

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
