.content-browse-items-selection-panel {

  margin-bottom: 42px;
  overflow: visible !important;

  &.no-selection {
    margin-bottom: 0px;

    .toolbar {
      display: none;
    }
  }

  &.no-toolbar {
    .show-all, .fold-button {
      display: none !important;
    }
  }

  &:not(.no-selection) {
    .items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .items-container {
    position: static;
    box-sizing: border-box;
    max-height: 100%;
    padding-bottom: 15px;
    overflow-y: auto;
  }

  .browse-selection-item {
    display: block;
    flex: 1 1 auto;
    min-width: 100px;
    max-width: 200px;

    .viewer {
      float: none;
    }
  }

  .toolbar {
    background-color: @admin-bg-almost-white;
    border-top: 1px solid @admin-bg-light-gray;
    text-align: center;

    .@{_COMMON_PREFIX}button {
      &:active, span {
        color: @admin-button-blue2;
      }

      &:hover:not(:disabled) {
        span {
          color: @admin-button-blue3;
        }
      }

      &:focus {
        box-shadow: none;
        border: none;
      }
    }

    .@{_COMMON_PREFIX}dropdown {
      bottom: 32px;
    }
  }
}
