.content-tree-grid {
  .grid .slick-row {
    .modified, .status {
      text-align: right;
      padding-right: 25px;
      font-size: 0.9em;
    }
    .status {
      text-overflow: clip;
      padding-left: 0px;
    }

    &.readonly {
      opacity: 0.5;
    }

    .shifted .toggle.icon {
      width: 45px;
      margin-right: 0;
    }

    &:not(.selected) {
      .slick-cell:not(.selected).status {
        .content-status-mixin();
      }
    }
  }

  .@{_COMMON_PREFIX}icon-menu, .icon-arrow-down4, .icon-arrow-up2 {
    line-height: 37px;
  }

  .grid .slick-row {
    .slick-cell {
      &.status {
        text-align: center;
        div:not(.online) {
          line-height: 18px;
        }
      }

      &.order .sort-dialog-trigger:before {
        margin-left: 6px;
      }

      &.slick-cell-checkboxsel:last-child {
        padding-right: 20px;
      }
    }
  }

}