.content-publish-menu {
  margin-left: auto;

  .action-button {
    display: inline-block !important;
  }

  .progress-bar {
    display: none;
  }
}

body.is-publishing, body.is-unpublishing {
  .content-publish-menu {
    button {
      display: none !important;
    }
    .progress-bar {
      display: block;
      height: 40px;
      min-width: 167px; // Width of the Publish menu button
      background-color: @form-button-bg-disabled;

      .progress-indicator {
        background-color: @admin-green;
      }

      &:hover {
        cursor: pointer;
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 40px;
        color: @admin-white;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        text-align: center;
      }
    }
    .progress-label {
      line-height: 40px;
    }
  }

  .content-publish-menu.minimized {
    .progress-bar {
      min-width: 105px;

      &:after {
        margin: 0 15px;
        left: 0;
      }
    }
  }
}
