.content-tree-grid {
  .grid .slick-row {
    .status {
      text-overflow: clip;
      padding-left: 0px;
      font-size: 0.9em;
    }

    &.readonly {
      opacity: 0.5;
    }

    &:not(.selected) {
      .slick-cell:not(.selected).status {
        .content-status-mixin();
      }
    }
  }

  .@{_COMMON_PREFIX}icon-menu, .icon-arrow-down4, .icon-arrow-up2 {
    line-height: 37px;
  }

  .grid .slick-row {
    .slick-cell {
      &.status {
        text-align: center;
        div:not(.online) {
          line-height: 18px;
        }
        .pending_delete {
          font-size: 0.8em;
        }
      }

      &.modified {
        padding-left: 8px;
      }

      &.order .sort-dialog-trigger:before {
        margin-left: 6px;
      }
    }
  }

}
