.image {

  &.standout {
    position: relative; // need to have a position other than static for z-index to have effect
    z-index: @z-index-mask + 1; // to be above image input type mask
  }

  .image-uploader {
    width: 100%;
  }

}
