.admin-components-search-bar {
    padding: 10px 20px;
}

.admin-components-search-input {
    background-color: #3f3f46;
    border: none;
    color: #c4c4c4;
    padding: 5px;
    width: 100%;
}

.admin-components-list {
    overflow: hidden;
}

.admin-components-list:hover {
    overflow: auto;
}

.admin-components-item {
    border-right: 5px solid #252526;
    border-bottom: 1px dashed #3f3f46;
    border-left: 5px solid #252526;
    padding: 15px;
    cursor: move;
}

.admin-components-item:hover {
    background-color: #3f3f46;
}

.admin-components-item-row {
    display: table-row;
}

.admin-components-item-icon {
    width: 45px;
    color: #f2f2f2;
    font-size: 24px;
    font-weight: lighter;
    display: table-cell;
    padding-top: 1px;
}

.admin-components-item-row .admin-components-item-info {
    display: table-cell;
    vertical-align: top;
}

.admin-components-item-row h3 {
    margin: 0;
    padding: 0;
    font-size: 13px !important;
    line-height: 1.7;
    color: #fff;
}

.live-edit-droppable-active {
    border: 1px solid #3399fe;
}