.admin-components-search-input {
    background-color: #3f3f46;
    border: none;
    color: #fff;
    padding: 5px 3px;
    width: 100%;
}

.admin-components-list {
    overflow: hidden;
}

.admin-components-list:hover {
    overflow: auto;
}

.admin-components-item {
    border-bottom: 1px dashed #3f3f46;
    border-left: 5px solid transparent;
    padding: 15px 25px;
    cursor: move;
}

.admin-components-item:hover {
    background-color: #3f3f46;
    border-left: 5px solid #e3c800;

}
.admin-components-item:hover h3,
.admin-components-item:hover .admin-components-item-icon {
    color: #fff;
}


.admin-components-item-row {
    display: table-row;
}

.admin-components-item-icon {
    width: 49px;
    font-size: 32px;
    font-weight: lighter;
    display: table-cell;
    vertical-align: middle;
}

.admin-components-item-info {
    display: table-cell;
    vertical-align: top;
}

.admin-components-item-row h3 {
    margin: 0;
    padding: 0;
    font-size: 13px !important;
    line-height: 1.45;
}

.admin-components-item-row sub {
    font-size: 10px;
}

.live-edit-droppable-active {
    border: 1px solid #3399fe;
}