/** Context Window */

.admin-context-window {
    color: #a3a3a3;
}


.admin-context-window {

    background-color: #252526;

    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-context-window-title-bar {
    background-color: #2d2c31;
    color: #ccc;
}

.admin-context-window-menu-button {
    border: none;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: #fff;
}

.admin-context-window-menu-button:hover {
    color: #fff;
}

/** Menu */
.context-window-menu .x-panel-body {
    background-color: #2d2c31 !important;
    color: #fff;
    border-bottom: 1px solid #3f3f46 !important;
}

.context-window-menu .x-menu-body {
    padding: 0;
}

.context-window-menu-item {
    padding: 10px;
}

.context-window-menu-item:hover {
    background-color: #3f3f46;
    color: #fff;
}

.admin-context-window-title-text {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 15px;
    cursor: hand;
    cursor: grab !important;
    cursor: -moz-grab;
    cursor: url('images/cursor-grab.png'), pointer !important;
    cursor: -webkit-grab;
}

.admin-context-window-expand-collapse-button {
    padding-top: 8px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.admin-context-window-expand-collapse-button:hover {
    color: #fff;
}

.admin-context-window-list-container {
    padding: 0;
}

/** Drag shim */
.admin-context-window-iframe-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}

/** Scroll bar */
.admin-context-window ::-webkit-scrollbar {
    width: 10px;
}

.admin-context-window ::-webkit-scrollbar-track-piece  {
    background-color: #3e3e42;
}

.admin-context-window ::-webkit-scrollbar-thumb:vertical {
    background-color: #686868;
}

/** Resize handle */
.admin-context-window .x-resizable-handle-north,
.admin-context-window .x-resizable-handle-east,
.admin-context-window .x-resizable-handle-south,
.admin-context-window .x-resizable-handle-west,
.admin-context-window .x-resizable-handle-northeast,
.admin-context-window .x-resizable-handle-northwest,
.admin-context-window .x-resizable-handle-southeast,
.admin-context-window .x-resizable-handle-southwest {
    background: #1ba1e2 !important;
}

.admin-context-window .x-resizable-handle-north,
.admin-context-window .x-resizable-handle-south {
    height: 3px;
}
.admin-context-window .x-resizable-handle-east,
.admin-context-window .x-resizable-handle-west {
    width: 3px;
}
.admin-context-window .x-resizable-handle-northwest,
.admin-context-window .x-resizable-handle-northeast,
.admin-context-window .x-resizable-handle-southeast,
.admin-context-window .x-resizable-handle-southwest {
    width: 3px;
}

