/** fixme: make generic / merge with components.css? */

.admin-device-list {
    overflow: hidden;
}

.admin-device-list:hover {
    overflow: auto;
}

.admin-device-item {
    position: relative;
    border-left: 5px solid transparent;
    padding: 15px 25px;
    cursor: pointer;
}

.admin-device-item:not(.admin-device-item-selected):hover {
    background-color: #3f3f46;
    border-left: 5px solid #3399fe;
}
.admin-device-item:not(.admin-device-item-selected):hover h3,
.admin-device-item:not(.admin-device-item-selected):hover .admin-device-item-icon,
.admin-device-item-selected h3,
.admin-device-item-selected .admin-device-item-icon {
    color: #fff;
}

.admin-device-item-selected {
    background-color: #3f3f46;
    border-left: 5px solid #3399fe;
}

.admin-device-item-rotate-button {
    display: none;
    top: 11px;
    right: 0;
    position: absolute;
    padding: 10px 15px;
    font-size: 15px;
    color: #fff;
    -webkit-transition: -webkit-transform 100ms;
    transition: transform 100ms;
}
.admin-device-item-selected .admin-device-item-rotate-button {
    display: block;
}
.admin-device-item-rotate-button-horizontal {
    -webkit-transform:rotate(90deg) !important;
    transform:rotate(90deg) !important;
}

.admin-device-item-row {
    display: table-row;
}

.admin-device-item-icon {
    width: 49px;
    font-size: 32px;
    font-weight: lighter;
    display: table-cell;
    vertical-align: middle;
}

.admin-device-item-info {
    display: table-cell;
    vertical-align: top;
}

.admin-device-item-row h3 {
    margin: 0;
    padding: 0;
    font-size: 13px !important;
    line-height: 1.45;
}

.admin-device-item-row sub {
    font-size: 10px;
}

