.access-selector {

  .tab-menu-button {

    label {
      color: @admin-blue;
      pointer-events: none;
      font-size: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  &.disabled {

    .tab-menu-button {
      cursor: default;
    }
  }

}