html, body {
  height: 100%
}

body {
  overflow-y: hidden; // Fix for scrollbar
  font-family: @admin-font-family;
  font-size: @admin-font-size;
}

.headers_mixin();

a {
  color: #0070de;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

input, textarea, select {
  border-radius: 0;
}