<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>All input types</title>
</head>

<body data-portal-component-type="page">

<div>
    <div id="content">
        <h3>Add new content</h3>
        <form action="#" data-th-action="${postUrl}" method="post" id="contentform">
            <p>
                <label>Checkbox</label>
                <input id="checkBox" name="checkbox" type="Checkbox" value="true"/>
            </p>
            <p>
                <label>Date/Time</label>
                <input id="dateTime" name="datetime" type="DateTime" size="30" aria-required="true" value="2015-04-20T14:30:25.345"/>
            </p>
            <p>
                <input id="submit" class="submit" type="submit" value="Post Content" name="submit"/>
                <input id="content_ID" type="hidden" data-th-value="${content._id}" value="15" name="content_ID"/>
            </p>
        </form>
    </div>
</div>

</body>
</html>