.admin-component-types-items .admin-cw-item {
    cursor: move;
}

.admin-component-types-items .admin-cw-item:hover {
    border-left-color: #3399fe;
    border-right-color: #3399fe;
}

.live-edit-droppable-active {
    border: 1px solid #3399fe;
}
