.admin-component-items .admin-cw-item {
    cursor: pointer;
}

.admin-component-items .admin-cw-item:hover {
    border-left-color: #3399fe;
}

.live-edit-droppable-active {
    border: 1px solid #3399fe;
}