/** fixme: make generic / merge with components.css? */

.admin-emulator-top-bar {
    padding: 15px 20px;
}

.admin-device-items .admin-cw-item {
    cursor: pointer;
}

.admin-device-items .admin-cw-item:hover,
.admin-device-item-selected {
    border-left-color: #e3c800;
    border-right-color: #e3c800;
    background-color: #3f3f46;
}

.admin-device-items .admin-cw-item:not(.admin-device-item-selected):hover h3,
.admin-device-items .admin-cw-item:not(.admin-device-item-selected):hover .admin-cw-item-icon,
.admin-device-item-selected h3,
.admin-device-item-selected .admin-cw-item-icon {
    color: #fff;
}

.admin-device-item-rotate-button {
    display: none;
    top: 11px;
    right: 0;
    position: absolute;
    padding: 10px 15px;
    font-size: 15px;
    color: #fff;
    -webkit-transition: -webkit-transform 100ms;
    transition: transform 100ms;
    cursor: pointer;
}

.admin-device-item-selected .admin-device-item-rotate-button {
    display: block;
}

.admin-device-item-rotate-button-horizontal {
    -webkit-transform:rotate(90deg) !important;
    transform:rotate(90deg) !important;
}


