.admin-cw-search-bar {
    padding: 10px;
}

.admin-cw-search-input {
    background-color: #3f3f46;
    border: none;
    color: #fff;
    padding: 5px 3px;
    width: 100%;
}

.admin-cw-items {
    overflow: hidden;
}

.admin-cw-items:hover {
    overflow: auto;
}

.admin-cw-item {
    position: relative;
    border-bottom: 1px dashed #3f3f46;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 3px;
    padding: 10px 20px;
}

.admin-cw-item:hover {
    background-color: #3f3f46;

}

.admin-cw-item:hover * {
    color: #fff;
}

.admin-cw-item-row {
    display: table-row;
}

.admin-cw-item-icon {
    width: 45px;
    padding-top: 8px;
    display: table-cell;
    vertical-align: top;
    font-size: 22px;
    font-weight: lighter;
}

.admin-cw-item-info {
    display: table-cell;
    vertical-align: top;
}

.admin-cw-item-row h3 {
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    line-height: 1.5;
}

.admin-cw-item-row sub {
    font-size: 11px;
}
