.context-window {
  color: @admin-medium-gray-font;

  input.search {
    margin: 15px;
    padding: 5px 3px;
    width: calc(100% - 20px);
    border: none;
    background-color: @admin-dark-gray-font;
    color: @admin-medium-gray-font;
  }

  .tab-menu {
    cursor: move;
  }
  .slick-viewport {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .grid-row {
    padding-left: 60px;
    border-right: 0;
    border-bottom: 1px dashed @admin-dark-gray-font;
    background-color: #252526;
    padding-bottom: 10px;
    padding-top: 5px;

    &.slick-cell {
      height: auto;
    }

    .component-types-panel &:hover {
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
    }

    h5 {
      margin: 0;
      padding: 0;
      font-size: 13px !important;
      line-height: 1.50;
      font-weight: normal;
    }

    h6 {
      margin: 0;
      padding: 0;
      font-size: 11px !important;
      font-weight: normal;
    }

    .icon {
      font-size: 30px;
      position: absolute;
      left: 15px;
      top: 5px;
    }

    .rotate {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    &:hover {
      background-color: @admin-dark-gray;
    }

    &.active {
      .rotate {
        display: block;
      }
    }
  }

  .emulator-panel {
    p {
      font-size: 12px;
      padding: 10px 45px;
    }
    .grid-row.active {
      background-color: @admin-dark-gray;
    }

  }

  .detail-panel {
    text-align: center;
    font-size: 12px;

    .icon {
      margin: 50px auto 0 auto;
      width: 64px;
      height: 64px;
      font-size: 64px;
    }

    h3 {
      font-size: 26px;
      text-transform: capitalize;
      font-weight: normal;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .select-panel {
    .combobox {
      .imagePicker();

      input {
        height: 37px;
        padding: 4px 4px 4px 4px;
        border: 1px solid @admin-medium-gray-border;
        background-color: transparent;
        margin-bottom:0;
      }

      .slick-cell {
        height: 34px;
        padding: 8px;
        border: none;
        .box-sizing(content-box);

        &.selected .content-summary .display-name {
          color: #d3d3d3;
        }

        .icon {
          float: left;
          width: 32px;
          height: 32px;
          border: 1px @admin-medium-gray-border solid;
        }

        .content-summary {
          margin: 0 0 0 42px;

          .display-name {
            font-size: 14px;
            line-height: 16px;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
          }

          .path {
            color: @admin-light-gray-font;
            font-size: 12px;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .selected-options {
      .imagePicker();
      .container {
        border: 1px solid @admin-light-gray-bg;
        overflow: hidden;
        height: 37px;

        img {
          float: left;
          margin-right:5px;
        }

        .label {
          float: left;
        }

        .remove {
          color: #fff;
          display: block;
          float: right;
          font-size: 20px;
          cursor: pointer;
          padding-right: 10px;
        }
      }
    }
  }
}

.imagePicker() {
  margin: 15px;
}