.inspections-panel {

  > .deck-panel {
    margin-bottom: 48px; // the height of the button-bar
  }

  .button-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;

    .box-sizing(border-box);
  }

  .rich-combobox .selected-options .selected-option .names-and-icon-view {
    margin-right: 45px;
  }

  .selected-options {
    padding-bottom: 0px;

    .selected-option {

      .edit {
        right: 25px;
      }

      .remove {
        right: 0px;
      }
    }
  }
}