.modal-dialog {
  display: none;
  background-color: white;
  padding: 30px;
  min-width: 400px;

  .dialog-header {
    .clearfix();
    margin-bottom: 20px;

    h2 {
      line-height: 0.8em;
    }
  }

  .dialog-content {
    .clearfix();
  }

  .dialog-buttons {
    .clearfix();
    margin-top: 20px;

    .button {
      .button(@form-button-font, @admin-blue-button, @form-button-font, lighten(@admin-blue-button, 10%));
      padding: 5px 18px 5px 18px;
      line-height: 22px;
      float: right;
      margin-left: 11px;
    }
  }
}

.upload-dialog {
  width: 800px;
}

.confirmation-dialog {
  width: 500px;
}
