@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.body-mask.launcher {
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: block;
  empty-cells: show;
  float: none;
  font: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes: '\201C' '\201D' '\2018' '\2019';
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  background-color: #ffffff;
  display: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.body-mask.launcher > * {
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: block;
  empty-cells: show;
  float: none;
  font: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes: '\201C' '\201D' '\2018' '\2019';
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  font-family: inherit;
  font-size: inherit;
}
.body-mask.launcher.app-home {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.launcher-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2500;
  width: 320px;
  height: 100%;
}
.launcher-panel.hidden,
.launcher-panel.slideout {
  right: calc(-320px);
}
.launcher-panel.visible {
  right: 0;
  -webkit-box-shadow: -2px 0px 7px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 0px 7px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 0px 7px 5px rgba(0, 0, 0, 0.3);
}
.launcher-panel.visible,
.launcher-panel.slideout {
  -webkit-transition: right 300ms ease-out;
  transition: right 300ms ease-out;
}
.launcher-panel .launcher-main-container {
  display: block;
}
.launcher-panel .launcher-main-container > div {
  width: 320px;
}
.launcher-panel .launcher-main-container .launcher-title {
  width: calc(260px);
}
.launcher-panel .launcher-tip {
  position: absolute;
  padding: 0;
  height: 44px;
  left: -87px;
  -webkit-animation: bounce 2s ease-in-out 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounce 2s ease-in-out 1.5s;
  /* Firefox < 16 */
  -ms-animation: bounce 2s ease-in-out 1.5s;
  /* Internet Explorer */
  -o-animation: bounce 2s ease-in-out 1.5s;
  /* Opera < 12.1 */
  animation: bounce 2s ease-in-out 1.5s;
}
@keyframes bounce {
  0% {
    left: -357px;
  }
  100% {
    left: -87px;
  }
}
.launcher-panel .launcher-tip span {
  -webkit-animation: fadein 5s linear 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s linear 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s linear 2s;
  /* Internet Explorer */
  -o-animation: fadein 5s linear 2s;
  /* Opera < 12.1 */
  animation: fadein 5s linear 2s;
  opacity: 0;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: nowrap;
}
.launcher-panel .launcher-tip span:after {
  position: absolute;
  font-size: 18px;
  font-family: 'icomoon';
  content: "\e3b5";
  line-height: 22px;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.launcher-main-container {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
.launcher-main-container:focus {
  outline: none;
}
.launcher-main-container .launcher-tip {
  display: none;
}
.launcher-main-container .app-row-selected {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.launcher-main-container .app-row-selected .app-info .app-description {
  color: #ffffff;
}
 .launcher-main-container.keyboard-navigation .launcher-app-container .app-row.selected {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
 .launcher-main-container.keyboard-navigation .launcher-app-container .app-row.selected .app-info .app-description {
  color: #ffffff;
}
.launcher-main-container:not(.keyboard-navigation) .launcher-app-container .app-row:hover {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.launcher-main-container:not(.keyboard-navigation) .launcher-app-container .app-row:hover .app-info .app-description {
  color: #ffffff;
}
.launcher-main-container > * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.launcher-main-container > div {
  padding-left: 30px;
  display: table;
  width: calc(100% -  30px);
}
.launcher-main-container .launcher-title {
  position: absolute;
  top: 0;
  height: 44px;
  background-color: #000000;
  color: #ffffff;
  font-size: 25px;
  display: table;
  overflow: hidden;
  table-layout: fixed;
}
.launcher-main-container .launcher-title .container-title {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  line-height: 25px;
}
.launcher-main-container .launcher-title .container-title::first-letter {
  text-transform: uppercase;
}
.launcher-main-container .launcher-app-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: calc(54px) 0 44px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}
.launcher-main-container .launcher-app-container .scrollable-content {
  overflow-x: hidden;
  overflow-y: auto;
}
.launcher-main-container .launcher-app-container a {
  color: #ffffff;
  text-decoration: none;
}
.launcher-main-container .launcher-app-container a:focus {
  outline: none;
}
.launcher-main-container .launcher-app-container .app-row {
  padding: 10px 0 10px 30px;
  display: table;
}
.launcher-main-container .launcher-app-container .app-row > * {
  display: table-cell;
}
.launcher-main-container .launcher-app-container .app-row.active {
  border-left: 4px solid #cb0300;
  padding-left: 26px;
}
.launcher-main-container .launcher-app-container .app-row .app-info {
  padding-left: 15px;
  vertical-align: middle;
}
.launcher-main-container .launcher-app-container .app-row .app-info .app-name {
  width: 220px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.launcher-main-container .launcher-app-container .app-row .app-info .app-description {
  width: 220px;
  font-size: 14px;
  color: darkgray;
  margin: 0;
}
.launcher-main-container .launcher-app-container .app-row .app-icon {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  pointer-events: none;
}
.launcher-main-container .launcher-app-container .app-row .app-icon svg {
  width: inherit !important;
  height: inherit !important;
}
.launcher-main-container .launcher-user {
  position: absolute;
  bottom: 0;
  display: table;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 14px;
}
.launcher-main-container .launcher-user .user-info {
  vertical-align: middle;
  padding: 10px 15px 0 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.launcher-main-container .launcher-user .user-info > * {
  vertical-align: middle;
}
.launcher-main-container .launcher-user .user-logout {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
}
.launcher-main-container .launcher-user .user-logout a {
  color: #ffffff;
  text-decoration: none;
}
.launcher-main-container .launcher-user img {
  width: 24px;
  margin-right: 10px;
}
.launcher-main-container .launcher-user span {
  vertical-align: middle;
}
.launcher-button {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  position: fixed;
  border: none;
  right: 6px;
  top: 15px;
  background-color: transparent;
  cursor: pointer;
  z-index: 2501;
  line-height: 15px;
}
.launcher-button::-moz-focus-inner {
  border: 0;
}
.launcher-button:focus {
  outline: none;
}
.launcher-button .line {
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #ffffff;
  transition: 0.3s;
}
.dark .launcher-button .line {
  background: #eeeeee;
}
.launcher-button .lines {
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #ffffff;
  transition: 0.3s;
  position: relative;
  top: -4px;
}
.dark .launcher-button .lines {
  background: #eeeeee;
}
.launcher-button .lines:before,
.launcher-button .lines:after {
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #ffffff;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.14285714rem center;
  transform-origin: 0.14285714rem center;
}
.dark .launcher-button .lines:before,
.dark .launcher-button .lines:after {
  background: #eeeeee;
}
.launcher-button .lines:before {
  top: 6px;
}
.launcher-button .lines:after {
  top: -6px;
}
.launcher-button:hover {
  opacity: 1;
  background: none;
}
.launcher-button:hover .lines:before {
  top: 8px;
}
.launcher-button:hover .lines:after {
  top: -8px;
}
.launcher-button.toggled {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
  padding: 6px 3px;
  margin-top: -3px;
}
.launcher-button.toggled:hover .lines:before {
  top: 0;
}
.launcher-button.toggled:hover .lines:after {
  top: 0;
}
.launcher-button.toggled .lines {
  background: transparent !important;
}
.launcher-button.toggled .lines:before,
.launcher-button.toggled .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 1.6rem;
  left: -7px;
}
.launcher-button.toggled .lines:before {
  background-color: #fff;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.launcher-button.toggled .lines:after {
  background-color: #fff;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
