.move-content-dialog {
  width: 650px;
  height: 300px;

  .dialog-header {
    margin-bottom: 5px;
  }
  .content-path {
    font-family: @admin-font-family;
    color: lightgray;
  }

  .desc-message {
    margin-top: 20px
  }

  .content-selector {
    margin-top: 10px;
  }

  .dialog-buttons {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
}