.sort-content-dialog {
  width: 650px;

  .slick-viewport {
    max-height: 600px;
    overflow: auto;
  }
  .drag-icon {
    cursor: move;
    font-size: 22px;
  }

  .slick-reorder-proxy {
    opacity: 0;
  }

  .slick-reorder-guide {
    display: none;
  }

  .slick-row {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  h6 {
    font-size: 12.5px;
    height: 40px;
    margin-top: 30px;
  }
  .grid-canvas {
    position: static;
    min-height: 45px;

    .selected {
      z-index: 2;
    }
  }

  .no-content {
    font-size: 21px;
    font-family: @admin-font-family;
    color: lightgray;
    text-align: center;

    &:after {
      content: attr(data-content) '  -  nothing to sort yet!';
      position: absolute;
      width: 100%;
      height: 40px;
      line-height: 40px;
      top: 70%;
      left: 0;
      margin-top: -20px;
      z-index: 2;
    }
  }
  .sort-tab-menu {
    position: absolute;
    top: 23px;
    left: 30px;
    width: 280px;

    .tab-menu-button {
      background-color: #ffffff;
      border: 1px solid #cccccc;

      .label {
        display: block;
        margin: 0 30px;
        overflow: hidden;
        white-space: pre;
        color: @admin-button-blue2;
        .ellipsis();
      }
    }
    .tab-menu-item {
      display: block;
      padding: 5px 35px;
      overflow: hidden;
      white-space: pre;
      color: @admin-button-blue2;
      .ellipsis();
    }
  }

  .dialog-buttons {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .sort-content-grid {
    /*overflow: auto;*/
    /*max-height: 500px;*/
    height: 100%;
    width: 100%;
  }
  .toggle.icon {
    display: none !important;
  }

}