.filter-panel {
  padding: 20px;
  background-color: #eeeeee !important;
  border-style: none;
  position: absolute;
  top: 0 !important;
  left: 0;
  bottom: 0;
  width: auto;

  a.clear-filter-button {
    position: absolute;
    top: 54px;
    left: 20px;
  }

  input.text-search-field {
    margin-bottom: 20px;
    width: 100%;
    background-image: url("../images/admin-search-trigger-v.gif") !important;
    background-repeat: no-repeat !important;
    background-position: right top !important;
    padding-right: 30px;
    padding: 4px 9px;
    height: 26px;
    border: solid 1px #aaa;
  }

  input.text-search-field:focus {
    border-color: black;
  }

  h2 {
    color: #000000 !important;
    font-size: 15px !important;
    padding: 0 !important;
    text-transform: capitalize;
  }

  .facet-view {
    border: none !important;
    padding: 0 !important;
    margin-bottom: 15px !important;

    .facet-entry-view:hover label {
      color: #000 !important;
    }

    .facet-entry-view input[type="checkbox"] {
      display: none;
    }

    .facet-entry-view label {
      color: #777 !important;
      background-image: url("../images/admin-unchecked.gif");
      background-repeat: no-repeat;
      padding-left: 20px;
    }

    .facet-entry-view input[type="checkbox"]:checked + label {
      background-image: url("../images/admin-checked.gif");
    }

    .facet-entry-view.checked label {
      color: #333 !important;
    }
  }
}
