@font-face {
  font-family: 'Open Sans';
  src: url("../font/opensans-regular.eot");
  src: url("../font/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../font/opensans-regular.woff") format("woff"), url("../font/opensans-regular.ttf") format("truetype"), url("../font/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-y:hidden; // Fix for scrollbar
  font-family:@admin-font-family;
  font-size: 12px;
}

h1 {
  font-size: 34px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 26px;
  line-height: 40px;
}

h4 {
  font-size: 22px;
  line-height: 20px;
}

h5 {
  font-size: 18px;
  line-height: 20px;
}

h6 {
  font-size: 14px;
  line-height: 16px;
}

a {
  color: #0070de;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}