.docked-panel {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  z-index: @z-index-docked-panel;
  background-color: @admin-white;
  box-shadow: 0 -6px 20px -8px rgba(0, 0, 0, 1), 0 0 0 0 rgba(0, 0, 0, 0.3);
  color: @admin-font-gray3;

  &.minimized {
    height: auto;
  }

  &.floating {
    opacity: 0.9;
  }

  &.hidden {
    visibility: hidden;
  }

  .tab-bar {
    display: table;
    width: 100%;
    font-size: 14px;
    background-color: @admin-white;
    color: @admin-font-gray3;
    .tab-bar-item {
      display: table-cell;
      padding: 10px 12px;
      text-align: center;
      cursor: pointer;
      &.active {
        background-color: @admin-button-blue1;
        color: @admin-white;
      }
    }
  }
}