/* ie.css. Added support for IE7 */
body {
    text-align: center;
}

#outer-container {
    text-align: left;
    background-color: #fff;
}

#footer {
    background-color: transparent;
}

#main-menu, ul.menu.main {
    width: 100%;
}

*:first-child+html  #main-menu ul.menu.main a:hover {
    background-color: white;
    color: #000;
}

/* DEBUG */
/*
#west {background-color:red;}
#center {background-color:yellow;}
#east {background-color:green;}
*/

* html legend {
    margin: 0px -8px 16px 0;
    padding: 0;
}

ol {
    margin-left: 2em;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

html>body p code {
    *white-space: normal;
}

hr {
    margin: -8px auto 11px;
}

img {
    -ms-interpolation-mode: bicubic;
}

/*
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
*/
fieldset {
    padding-top: 0;
}

input.text, input.title {
    background-color: #fff;
    border: 1px solid #bbb;
}

input.text:focus, input.title:focus {
    border-color: #666;
}

input.text, input.title, textarea, select {
    margin: 0.5em 0;
}

input.checkbox, input.radio {
    position: relative;
    top: .25em;
}

form.inline div, form.inline p {
    vertical-align: middle;
}

form.inline label {
    position: relative;
    top: -0.25em;
}

form.inline input.checkbox, form.inline input.radio, form.inline input.button, form.inline button {
    margin: 0.5em 0;
}

button, input.button {
    position: relative;
    top: 0.25em;
}