@import url('support.css');

/**************/
/* CUSTOM CSS */
/**************/

/* Blueprint override */
label {
    clear: both;
    float: left;
    padding: 4px 0;
    width: 30%;
}

input[type=text], input[type=password], input.text, input.title, textarea, select, #passport img {
    float: left;
    margin: 0 0 10px 2%;
}

textarea {
    font-size: 1.0em;
    font-family: arial, helvetica, sans-serif;
}

input[type=checkbox], input[type=radio], input.checkbox, input.radio {
    float: left;
    margin: 0 2% 0 0;
}

/* General */
.print {
    display: none;
}

.column .append-bottom {
    margin-bottom: 20px !important;
}

.icon.text {
    float: left;
    margin-right: 5px;
}

/* Framework */
.column {
    float: left;
}

#accessibility-links {
    position: absolute;
    left: -1000px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #333;
    background-color: #ffffc7;
    padding: 5px;
    opacity: 0.85;
}

#tooltip h3, #tooltip div {
    margin: 0;
}

span.tooltip {
    border-bottom: 1px dashed #999;
}

/* navigation menu */
ul.menu.navigation li {
    padding: 4px 0 4px 4px;
}

ul.menu.navigation div {
    color: #666;
}

ul.menu.navigation a:hover {
    background-color: #fff;
}

/* forms */
label.error {
    clear: both;
    color: #8a1f11;
    margin: 0 0 0 32%;
    width: auto;
    padding: 4px 0;
    border: none;
    background: none;
}

label.radio {
    width: 62%;
    clear: none;
    margin: 0 0 0 2%;
}

label.checkbox {
    width: 100%;
}

label.checkbox span {
    width: 30%;
    float: left;
}

label.checkbox span.tooltip {
    width: auto;
    float: none;
}

label.checkbox input[type=checkbox], label.checkbox input.checkbox {
    float: none;
    margin: 0 0 10px 2%;
}

form img.clear, #passport img.clear, form a.clear, label.radio.clear {
    display: block;
    margin: 0 0 10px 32%;
}

label.radio.clear {
    margin: 0 0 0 32%;
}

label.radio.clear.last {
    margin-bottom: 10px;
}

select {
    padding: 5px;
}

/* Sitemap */
#sitemap li {
    float: left;
    border-top: 1px solid #cdc4c0;
}

#sitemap ul li {
    float: none;
    border: 0;
}

/* file archive */
#file-archive ul ul {
    display: none;
}

#file-archive ul {
    float: left;
    width: 100%;
}

#file-archive .column {
    float: left;
    border-bottom: 1px solid #e0dcd8;
}

#file-archive li {
    cursor: pointer;
    float: left;
    width: 100%;
}

#file-archive span {
    white-space: nowrap;
    overflow: hidden;
    padding: 1px 5px;
    display: block;
}

#file-archive a {
    color: #332f2d;
}

#file-archive ul ul .name span {
    padding-left: 26px;
}

#file-archive ul ul ul .name span {
    padding-left: 47px;
}

#file-archive .kind span {
    border: 0;
}

#file-archive .name {
    width: 58%;
}

#file-archive .date-modified {
    width: 20%;
}

#file-archive .size {
    width: 10%;
    text-align: right;
}

#file-archive .kind {
    width: 12%;
}

#file-archive .heading {
    font-weight: bold;
    background-color: #e0dcd8;
}

#file-archive .heading.name {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

#file-archive .heading.kind {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

/* Article */
span.byline {
    font-weight: bold;
    padding-right: .5em;
}

#article .related, #event .related, #case-study .related {
    float: right;
    margin-left: 15px;
}

#article .related img, #event .related img, #case-study .related img {
    display: block;
}

/* Print CSS */
@media print {
    .print {
        display: inline !important;
    }

    .screen, #top-menu, #breadcrumb-trail, #west, #east, .menu.main, .corner, .background-border, .menu.footer, #footer img {
        display: none;
    }

    body {
        background: #fff;
        background-image: none;
    }

    #header, .container, #footer, #center {
        background: transparent;
        padding: 0;
        width: auto;
        margin: 0;
    }

    #header, #center, #footer {
        height: auto;
        margin-bottom: 20px;
    }

    #footer {
        padding-top: 10px;
        border-top: 1px solid #333;
        color: #333;
    }

    #footer a {
        color: #000;
        text-decoration: none;
    }
}

a.download-button {
    width: 99%;
    height: 60px;
    padding: 12px;
}

span.grad-button-text-wrapper {
    display: block;
    float: left;
    text-align: left;
}

span.grad-button-large-text {
    display: block;
    font-size: 2.3em;
    line-height: 1.3;
    margin-top: .1em;
}

span.grad-button-small-text {
    display: block;
    font-size: 100%;
    color: #555;
}

*

/

/*********************
 * ACCESSIBILITY CSS *
 *********************/

/* Contrast */
body.contrast {
    color: #fff;
    background: #000;
}

body.contrast a {
    color: yellow !important;
}

body.contrast #outer-container {
    background: #000;
}

body.contrast #center, body.contrast div.frame {
    background: #000;
}

body.contrast #footer p {
    color: #fff;
}

body.contrast .header-content.bottom input, body.contrast .header-content.bottom select, body.contrast #breadcrumb-trail, body.contrast #navigation-header, body.contrast ul.menu.navigation, body.contrast ul.menu.navigation a, body.contrast ul.menu.navigation div, body.contrast input[type="text"], body.contrast input[type="password"], body.contrast input.text, body.contrast input.title, body.contrast textarea, body.contrast select, body.contrast .button, body.contrast #time-location, body.contrast .date, body.contrast ul.menu.main.level2 {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

body.contrast ul.menu.main.level1 a, body.contrast ul.menu.main.level1 div, body.contrast ul.menu.sub a, body.contrast ul.menu.sub div {
    background-color: #000;
    border-color: #fff #333 #333 #fff;
}

body.contrast ul.menu.sub li li a:hover, body.contrast ul.menu.sub li li a.active, body.contrast ul.menu.sub li li div.active {
    color: #fff !important;
}

body.contrast #center .frame {
    border-color: #fff;
}

body.contrast .day, body.contrast .month, body.contrast #file-archive .heading, body.contrast #ConfluenceContent .panel, body.contrast #ConfluenceContent .panelContent {
    background: transparent;
    color: #fff;
}

body.contrast .month {
    border-top: 1px solid #fff;
}

body.contrast .highlight {
    background: #333 !important;
}

body.contrast table.fancy-table th, body.contrast table.fancy-table td {
    border-color: #000;
    background: #333;
}

body.contrast thead th {
    background: #fff !important;
    color: #000;
}

/* Text size */
body.text-size-large {
    font-size: 80% !important;
}

body.text-size-largest {
    font-size: 90% !important;
}