.site-view {
  padding: 10px;
  background-color: @admin-bg-light-gray;

  &.invalid {
    background-color: @admin-input-red;
  }

  .form-element-spacing(15px);

  &.collapsed {
    .header {
      margin: 0;
    }
  }

  .header {
    position: relative;
    line-height: 48px;
    overflow: hidden;

    .clearfix();

    .names-and-icon-view {
      float: left;

      .names-view h6 {
        height: auto;
        font-size: 22px;
        line-height: 30px;

        .ellipsis();
      }
    }

    .edit-button, .remove-button {
      cursor: pointer;
      text-decoration: none;
    }

    .edit-button {
      float: right;
      margin: 17px 20px 0px 20px;
      font-size: 13px;
      .icon-pencil2();
    }

    .remove-button {
      float: right;
      line-height: 48px;
    }

  }

  .form-view {
    padding: 15px 0;
    background-color: @admin-white;

    .bottom-button-row {
      margin-left: 0px;
      padding-right: 0px;
    }

  }

}

.wizard-panel .wizard-steps-panel .wizard-step-form .site-view .form-view {
  margin: 10px 0 0 0;
}

.app-configurator-dialog {

  &.animated {
    .transition(margin-top 0.2s);
  }

  .dialog-header {
    position: relative;
    line-height: 48px;
    overflow: hidden;

    .clearfix();

    .names-and-icon-view {
      float: left;

      .names-view h6 {
        height: auto;
        font-size: 22px;
        line-height: 30px;

        .ellipsis();
      }
    }
  }

  .dialog-content {

    max-height: 500px;
    overflow-y: auto;

    @media screen and (max-height: 720px) {
      max-height: 400px;
    }

    @media screen and (max-height: 540px) {
      max-height: 300px;
    }

    @media screen and (max-height: 360px) {
      max-height: 200px;
    }
  }
}
