.context-window {
  color: @admin-font-gray3;
  .transition(all 0.1s ease-in-out);
  z-index: @z-index-context-window;
  overflow: visible; // for the ghost-dragger to be visible when dragging outside context window

  .splitter {
    position: relative;
    width: 5px;
    height: 100%;
    float: left;
    background-color: #d3d3d3;
    cursor: ew-resize;
    .notSelectable();
  }

  .ghost-dragger {
    height: 100%;
    background-color: @admin-dark-gray;
    opacity: 0.5;
    position: absolute;
    z-index: @z-index-draggable;
    cursor: ew-resize;
    width: 5px;
    .notSelectable();
  }

  input.search {
    margin: 15px;
    padding: 5px 3px;
    width: calc(100% - 20px);
    border: none;
    background-color: @admin-font-gray3;
    color: @admin-font-gray1;
  }

  & > .tab-bar {
    position: absolute;
    left: 5px;
    cursor: move;
  }

  & > .deck-panel {
    left: 5px;
    right: 0;
    top: 43px;
    width: auto;
  }

  .slick-viewport {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .grid-row {
    padding-left: 15px;
    border-right: 0;
    border-bottom: 1px solid @admin-almost-white;
    padding-bottom: 10px;
    padding-top: 5px;

    img {
      width: 30px;
      height: 30px;
      float: left;
      display: block;
      margin-right: 15px;
      margin-top: 3px;
    }

    &.slick-cell {
      height: auto;
    }

    .insertables-panel &:hover {
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
    }

    h5 {
      margin: 0;
      padding: 0;
      font-size: 13px !important;
      line-height: 1.50;
      font-weight: normal;
      color: @admin-font-gray3;
    }

    h6 {
      margin: 0;
      padding: 0;
      font-size: 11px !important;
      font-weight: normal;
    }

    .@{_CLS_PREFIX}font-icon {
      .icon-large;
      float: left;
      margin-right: 15px;
      margin-top: 3px;
    }

    .rotate {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    [data-context-window-draggable="true"] {
      cursor: move;
    }

    &:hover {
      background-color: @admin-almost-white;
    }

    &.active {
      .rotate {
        display: block;
      }
    }
  }

  .insertables-panel {
    p {
      font-size: 12px;
      padding: 10px 15px;
    }

    & > .button-bar {
      left: 5px;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 6px;
      text-align: center;
      background-color: white;
    }
  }

  .emulator-panel {
    p {
      font-size: 12px;
      padding: 10px 15px;
    }
    .grid-row.active {
      background-color: @admin-almost-white;
    }

  }

  .inspection-panel {
    font-size: 12px;
    overflow-y: scroll;
    width: 100% !important;

    .form-view {
      .form-element-spacing(@form-field-spacing);

      &.page-controller-form, &.descriptor-based-dropdown-form, &.page-template-form, &.image-combobox-form, &.fragment-combobox-form {
        margin-top: 0px;

        label {
          display: block;
        }

        &:first-child {
          margin-bottom: 0px;
        }
      }

      form {
        margin: 0;
      }

      .input-view .form-input {
        min-width: 100%;
      }
    }

    &.customized {
      .form-view {
        &.page-template-form {
          margin-bottom: 0px;
        }
      }
    }

    & > .names-and-icon-view {
      padding: 10px;
      .main-name {
        font-size: 18px;
        line-height: 20px;
        height: 24px;
        color: @admin-font-gray3;
      }

      .wrapper {
        line-height: 40px;
        .font-icon-default {
          font-size: 36px;
        }
      }
    }

    .descriptor-header, .component-name-header {
      margin-bottom: 10px;
      color: @admin-font-gray3;
    }

    input.component-name {
      width: 100%;
    }

    h3 {
      font-size: 26px;
      margin-top: 5px;
      text-transform: capitalize;
      font-weight: normal;
      color: @admin-font-gray3;
    }

    .rich-combobox {

      .selected-option {
        border: 1px transparent solid;
        height: auto;
        padding: 0px;

        .option-value {
          margin-left: 0px;
        }

        .remove {
          padding: 15px 5px 0 0;
        }

        .names-and-icon-view {

          .wrapper {
            height: 48px;
            width: 48px;
          }

          .names-view {
            .main-name {
              height: auto;
              font-size: 18px;
              line-height: 30px;
            }
            .ellipsis();
          }
        }

      }

      .option-filter-input {
        .input-glow();
      }
    }
  }

  .page-controller-form, .descriptor-based-dropdown-form, .page-template-form, .fragment-dropdown-form {
    background-color: @admin-context-bg-grey-opal;
  }

  .field-set-view {
    margin-left: 0px;
    margin-right: 0px;

    .field-set-label {
      margin-left: 0px;
    }

    .input-view {
      .input-label {
        max-width: 100%;
        margin-right: 0;
      }

      .input-type-view,
      .bottom-button-row,
      .validation-viewer {
        margin-left: 0;
      }
    }
  }

}

.drag-mask {
  background-color: transparent;
}

.imagePicker() {
  margin: 15px;
  width: auto;
}