.form {
  width:720px;
  margin-top:20px;

  .form-item {
    overflow:hidden;
    * {
      vertical-align: top;
    }
  }

  .CodeMirror {
    float:left;
  }

  fieldset {
    legend {
      width:100%;
      margin-bottom:10px;
      padding-bottom:2px;
      border-bottom:1px solid @admin-medium-gray-border;
    }
    label {
      font-size:12px;
      width:100px;
      margin-right:10px;
      display:block;
      float:left;
    }

    select, input {
      width:400px;
    }

    textarea {
      &.large {
        width:550px;
        height:350px;
      }
    }
  }
}