.wizard-panel {
  font-size: 14px;

  .toolbar {
    &.scrolling {
      .scroll-shadow();
    }
  }

  .wizard-back-panel {

    .form-panel {
      overflow-y: auto !important;
    }

    .form-icon {
      float: left;
      width: 64px;
      height: 64px;
      margin: 5px 25px 0 25px;

      img {
        width: 64px;
        height: 64px;
      }
    }

    .form-icon + .wizard-header {
      margin-left: 116px;
    }

    .wizard-header {
      margin: 15px 25px;

      .text-input {
        border: 1px solid transparent;
        margin: 0;
        padding: 0;
        background-color: transparent;
        min-height: 0;

        &.large {
          min-width: 220px;
          font-size: 32px;
        }
        &.middle {
          min-width: 100px;
          margin-top: 2px;
        }
        .input-glow();
        .placeholderColor(@admin-medium-gray-border);
      }

      .path {
        float: left;
        height: 28px;
        line-height: 28px;
        margin: 0 0 0 4px;
        font-size: 16px;
        color: @admin-light-gray-font;
        .ellipsis();
      }
    }

    .wizard-step-navigator-and-toolbar {
      background-color: #eeeeee;
      padding-left: 95px;

      .toolbar {
        float: right;
        margin: 0 40px;

        button {
          background: @admin-green;
          color: white;
          line-height: 20px;
          padding: 10px 15px 10px 15px;
          margin: 0;
          &:hover {
            background-color: lighten(@admin-green, 5%);
          }
        }
      }

      &.scroll-stick {
        position: fixed;
        top: 84px;
        width: 100%;
        z-index: 100;
        .scroll-shadow();
        //border-top:1px solid @admin-medium-gray-border;
      }

      .scroll-shadow {
        box-shadow: 0px 2px 6px -2px #000;
      }

    }

    .step-panel {
      margin: 30px 0 0 0px;
      left: 120px;
      right: 0px;
      //overflow-y: auto;
      width: auto;
      overflow: visible;

      .form {
        margin: 0;
      }

      .panel {
        position: relative;
        overflow: visible;
      }
    }

    .navigation-arrow {
      position: fixed;
      top: 55%;
      height: 100px;
      width: 100px;
      .noSelect();
      cursor: pointer;

      &.next {
        right: 0;
        .icon-chevron-right(5em, @admin-medium-gray-font);
        &:before {
          position: relative;
          top: 20px;
          left: 30px;
        }
        &:hover:before {
          color: @admin-dark-gray-font;
        }
      }

      &.prev {
        left: 0;
        .icon-chevron-left(5em, @admin-medium-gray-font);
        &:before {
          position: relative;
          top: 20px;
          left: 20px;
        }
        &:hover:before {
          color: @admin-dark-gray-font;
        }
      }
    }
  }

}

.scroll-shadow() {
  box-shadow: 0px 2px 6px -2px #000;
}

@media (max-width: 960px) {
  .wizard-panel .wizard-back-panel .wizard-step-navigator-and-toolbar {
    padding-left: 0;
  }
}

@media (min-width: 720px) and (max-width: 960px) {
  .wizard-panel .wizard-back-panel .step-panel {
    left: 25px;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .wizard-panel .wizard-back-panel .step-panel {
    left: 25px;
    right: 25px;
  }
}

@media (max-width: 540px) {
  .wizard-panel .wizard-back-panel {
    .step-panel {
      left: 10px;
      right: 10px;
      margin-top: 15px;
    }

    .form-icon {
      margin: 5px 10px 0 10px;
    }

    .form-icon + .wizard-header {
      margin-left: 86px;
      margin-right: 10px;
    }
  }
}