.split-panel {
  width: 100%;
  right: 0;

  &.content-grid-and-browse-split-panel {
    &.vertical {
      > .panel, .splitter {
        top: 41px;
      }
    }

    &.horizontal {
      > .browse-toolbar {
        position: relative;
      }
    }

    > .browse-toolbar {
      position: absolute;
      width: 100%;
      top: 0px;
    }
  }

  &.horizontal > .panel {
    position: relative;
  }

  &.dragging {
    cursor: ns-resize;
  }

  .panel.items-selection-panel {
    overflow-y: auto;
  }

  > .splitter {
    background-color: @admin-bg-light-gray;
    cursor: ns-resize;
    .notSelectable();
  }

  > .ghost-dragger {
    height: 5px;
    background-color: @admin-dark-gray;
    opacity: 0.5;
    position: absolute;
    z-index: @z-index-draggable;
    cursor: ns-resize;
    width: 100%;
    .notSelectable();
  }

  &.vertical {
    > .panel,
    > .splitter,
    > .ghost-dragger {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    > .splitter,
    > .drag-mask {
      cursor: ew-resize;
    }

    > .splitter + .panel {
      right: 0;
    }

    > .ghost-dragger {
      width: 5px;
      height: 100%;
      cursor: ew-resize;
    }
  }

  .filter-panel ~ .splitter {
    .transition(all 0.1s ease-in-out);
  }

  &.split-panel-with-details {

    > .split-panel {
      right: auto; //ie fix - 'auto' will be used for ie as 'initial' not supported; last value mentioned will be used
      right: initial;
      .transition(all 0.5s ease-in-out);
    }

    > .splitter {
      z-index: 1;
    }

    > .details-panel {
      box-shadow: none;
      z-index: auto;
      display: inherit;

      &.left-bordered {
        border-left: 5px #eeeeee solid;
        box-sizing: content-box;
      }

      > .details-container {
        left: 0px;
      }

      .widget-toggle-button {
        border-left: 1px #d3d3d3 solid;
      }
    }
  }
}