body {
    margin: 0;
}

/*
    Disable pointer events for A elements
    disables CSS hover selectors and clicks on links
*/
a {
    pointer-events: none;
}

a[disabled] {
    cursor: move; //IE fix XP-2100
}
