html {
  height: 100%;

  body {
    // for crosshair highlighter to be drawn properly when content is shorter than window
    min-height: 100%;

    /*
    Disable pointer events for A elements
    disables CSS hover selectors and clicks on links
    */
    a {
      pointer-events: none;
      cursor: move; //IE fix XP-2100; also chrome pointer-events: none not always working

      &:active {
        color: blue; // for chrome
      }
    }
  }
}
