.change-password-dialog {
  width: 650px;
  height: 250px;
  font-size: 14px;

  .dialog-header {
    margin-bottom: 5px;
  }
  .user-path {
    font-family: @admin-font-family;
    color: lightgray;
  }
  .dialog-buttons {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
  .desc-message {
    margin-top: 20px
  }

  .password-input {
    height: 30px;
    padding-left: 5px;
  }

}