.item-data-group {
  display: flex;
  flex-flow: row wrap;
  padding: 35px 0;
  border-bottom: 1px solid @admin-bg-light-gray;

  &:first-child {
    padding-top: 0px;
  }

  h2 {
    flex: 1 100%;
    color: @admin-font-gray2;
  }

  .data-list {
    display: inline-block;
    flex: 1 auto;
    vertical-align: top;
    margin: 20px 50px 0 0;
    li {
      &.list-header {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 5px 0;
      }
      margin-bottom: 2px;
    }
  }
}