.action-menu {
  border-width: 2px;
  border-style: solid;
  border-color: #ccc !important;
  background: #fff !important;

  li {
    font-family: @admin-font-family;
    background-color: transparent;
    font-size: 14px;
    width: 120px;
    border-width: 0;
    color: #333;

    padding: 5px;
    margin: 0;

    &:hover {
      cursor: pointer;
      background-color: @admin-blue;
      color: #fff;
    }

    &:disabled {
      opacity: 0.5;
    }

  }
}

.action-menu-button {
  width: 120px;
  font-family: @admin-font-family;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background: @admin-blue url("../images/admin-arrow.png") right center no-repeat;
  border: 0 none;
  padding: 5px;
  border-right: 5px solid transparent;
}
