.appbar-tabmenu {

  color: green;

  a {
    padding-left: 10px;
  }

  .appbar-tabmenu-button {

    .tabcount {
      margin-left: 10px;
    }
  }

  ul {
    background-color: @admin-white;
    position: absolute;
  }

}