.appbar-tabmenu {

  color: green;

  a {
    padding-left: 10px;
  }

  .appbar-tabmenu-button {

    .tabcount {
      margin-left: 10px;
    }
  }

  ul {
    background-color: @admin-white;
    position: absolute;
    width: 200px;
    box-shadow: 0 0 5px #333;

    li {
      font-size: 16px;

      button {
        float: right;
      }
    }
  }

}