.context-menu {
  border-width: 2px;
  border-style: solid;
  border-color: #ccc !important;
  background: #fff !important;

  li {
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    font-size: 14px;
    width: 120px;
    border-width: 0;
    color: #333;

    padding: 5px;
    margin: 0;

    &:hover:not(.context-menu-item-disabled) {
      cursor: pointer;
      background-color: #4294de;
      color: #fff;
    }

    &:disabled {
      opacity: 0.5;
    }

  }

  li.context-menu-item-disabled {
    opacity: 0.5;
  }
}

