.delete-dialog {

  .item-list {
    padding: 10px;

    box-shadow: 0 0 5px #777;

    max-height: 150px;
    overflow-y: auto;

    .item {

      padding-top: 5px;
      padding-botom: 5px;
      display: table;

      img {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        display: table-cell;
        vertical-align: middle;
      }

      h4 {
        display: inline-block;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
