.delete-dialog {

  .delete-dialog-item-list {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0 0 5px #777;

    max-height: 150px;
    overflow-y: auto;

    .delete-dialog-item {

      padding-top: 5px;
      padding-botom: 5px;

      img {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }

      h4 {
        display: inline-block;
      }
    }
  }
}
