.detailpanel {
  height: 400px;

  .detailpanel-box {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: @admin-light-gray-bg;
    overflow: hidden;

    img {
      float: left;
      margin-right: 10px;
    }

    h6 {
      float: left;
      margin-right: 10px;

      small {
        font-size: 11px;
        color: @admin-light-gray-font;
        display: block;
      }
    }

    .remove {
      float: left;
      font-size: 20px;
      cursor: pointer;
      clear: right;
      font-weight: bold;
    }
  }
}