.form-icon {
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;

  &:hover {
    border: 1px solid #98c9f2;
    box-shadow: 0 0 3px #98c9f2;
  }

  img {
    width: 100px;
  }

  .progress-bar {
    height: 4px;
    display: none;
  }

}