.linear-gradient(@side, @startColor, @stopColor) {
  background: @startColor; /* Old browsers */
  background: -webkit-linear-gradient(@side, @startColor, @stopColor); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(@side, @startColor, @stopColor); /* FF3.6+ */
  background: -ms-linear-gradient(@side, @startColor, @stopColor); /* IE10+ */
  background: -o-linear-gradient(@side, @startColor, @stopColor); /* Opera 11.10+ */
  background: linear-gradient(@side, @startColor, @stopColor); /* W3C */
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.border-radius(@size) {
  -webkit-border-radius: @size;
  -moz-border-radius: @size;
  -ms-border-radius: @size;
  -o-border-radius: @size;
  border-radius: @size;
}