.gradient(@startColor, @stopColor) {
  background: @startColor; /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, right top, from(@startColor), to(@stopColor)); /* for webkit browsers */
  background: -moz-linear-gradient(left, @startColor, @stopColor); /* for firefox 3.6+ */
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(gradientType = 1, startColorstr='%d', endColorstr='%d')",argb(@startColor), argb(@stopColor)));
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}