.modal-dialog {
  display: none;
  background-color: white;
  padding: 20px;

  .content-panel {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button-row {

    position: absolute;
    bottom: 0;
    right: 20px;
    width: 100%;
    height: 50px;

    button {
      font-family: @admin-font-family;
      padding: 6px 19px 6px 19px;
      background-color: @admin-blue-button;

      font-size: 12px;
      border-width: 0;
      color: white;

      display: inline-block;
      float: right;
      margin-left: 11px;

      &:hover {
        cursor: pointer;
        color: @admin-light-gray-font;
      }
    }
  }
}
