<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="homeResolver" class="com.enonic.wem.core.home.HomeResolver"/>

  <bean id="homeDir" factory-ref="homeResolver" factory-method="resolve"/>

  <bean id="configLoader" class="com.enonic.wem.core.config.ConfigLoader">
    <argument index="0" ref="homeDir"/>
  </bean>

  <bean id="configProperties" factory-ref="configLoader" factory-method="load"/>

  <service interface="com.enonic.wem.core.config.ConfigProperties" ref="configProperties"/>

  <bean id="systemConfig" class="com.enonic.wem.core.config.SystemConfigImpl">
    <argument index="0" ref="configProperties"/>
  </bean>

  <service auto-export="interfaces" ref="systemConfig"/>

</blueprint>
