/* Wizard navigation */
ul.admin-wizard-navigation {
    list-style-type: none !important;
    background-color: #ccc;
    margin: 0;
    padding: 1px;
}

ul.admin-wizard-navigation li {
    float: left;
    padding-right: 14px;
    margin: 0;
    list-style: none;
}

ul.admin-wizard-navigation li {
    background: TRANSPARENT url(../images/wizard-navigation-arrow.png) no-repeat top right;
}

ul.admin-wizard-navigation li.current,
ul.admin-wizard-navigation li.current-last {

    background-image: url(../images/wizard-navigation-arrow-current.png);
}

ul.admin-wizard-navigation li.previous {
    background-image: url(../images/wizard-navigation-arrow-previous.png);
}

ul.admin-wizard-navigation li.last {
    background-image: url(../images/wizard-navigation-arrow-last.png);
}

ul.admin-wizard-navigation li a {
    display: block;
    padding: 0 15px 0 15px;
    height: 45px;
    line-height: 45px;
    margin-right: 2px;
    text-decoration: none !important;
    background-color: #eee;
    color: #222;
}

ul.admin-wizard-navigation li a.previous {
}

ul.admin-wizard-navigation li a.current,
ul.admin-wizard-navigation li a.current-last {
    color: #000;
    font-weight: bold;
    background-color: #fff;
    padding-right: 86px;
}
ul.admin-wizard-navigation a.next {
    color: #acacac;
}
ul.admin-wizard-navigation a.last {
    color: #acacac;
}
