.wizard-panel {
  font-size: 14px;

  .toolbar {

    border-bottom: 1px solid @admin-font-gray2;

    &.scroll-shadow {
      .box-shadow(0px 2px 6px -2px #000);
    }
  }

  .form-icon {
    float: left;
    width: 64px;
    height: 64px;
    margin: 5px 25px 0 25px;

    img {
      max-width: 100%;
      max-height: 100%;
    }

  }

  .form-panel {
    overflow-y: auto !important;
  }

  .wizard-step-navigator-and-toolbar {
    background-color: #eeeeee;
    padding-left: 95px;

    .toolbar {
      float: right;
      margin: 0 40px;

      button {
        background: @admin-green;
        color: white;
        line-height: 20px;
        padding: 10px 15px 10px 15px;
        margin: 0;

        &:hover {
          background-color: lighten(@admin-green, 5%);
        }
      }
    }

    &.scroll-stick {
      position: fixed;
      top: 84px;
      z-index: @z-index-wizard-steps;
      border-top: 1px solid @admin-medium-gray-border;

      .box-shadow(-3px 3px 6px 0 rgba(150, 150, 150, 0.7));
    }

  }

  .wizard-steps-panel {
    margin: 0;
    padding: 0 0 0 110px;

    .wizard-step-form {

      .form, .form-view {
        margin: 0;
      }
    }
  }

  ._0-240, ._240-360, ._360-540, ._540-720, ._720-960 {
    .wizard-step-navigator-and-toolbar {
      padding-left: 0;
    }
  }

  ._0-240, ._240-360, ._360-540 {
    .form-icon {
      margin: 5px 10px 0 10px;
    }
  }
}
