.wizard-header {
  margin: 15px 25px;

  .text-input {
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    background-color: transparent;
    min-height: 0;

    &.large {
      min-width: 245px;
      font-size: 32px;
    }
    &.middle {
      min-width: 100px;
      margin-top: 2px;
    }

    &[name="displayName"], &[name="name"] {
      &.generated {
        color: @admin-font-gray2;
      }
    }

    .input-glow();
    .placeholderColor(@admin-medium-gray-border);
  }

  .path {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 4px;
    font-size: 16px;
    color: @admin-font-gray2;
    .ellipsis();
  }

  .form-icon + .wizard-header {
    margin-left: 116px;
  }
}

._0-240, ._240-360, ._360-540 {
  .form-icon + .wizard-header {
    margin-left: 86px;
    margin-right: 10px;
  }
}
