.wizard-header-with-display-name-and-name {
  .name-wrapper {
    display: inline-block;
  }

  .text-input:disabled {
    color: @admin-blue;

    &:hover {
      cursor: pointer;
      border: 1px solid transparent;
    }
  }
}
