// NOT STABLE ENOUGH ACROSS BROWSERS YET
// https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes

.display-flex(@dir, @justify, @align) {
  display: -webkit-flex;
  -webkit-flex-direction: @dir;
  -webkit-justify-content: @justify;
  -webkit-align-items: @align;

  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}

.new-content-dialog {
  width: 540px;

  .dialog-header .path {
    display: none;
    font-size: 16px;

    &:before {
      margin-right: 5px;
      content: 'In:';
      color: @admin-font-gray1;
    }
  }

  .dialog-content {
    position: relative;

    .column {
      height: 100%;
      float: left;

      .content-types-list {
        height: 308px;
        overflow-y: auto;
        overflow-x: hidden;

        .content-types-list-item {
          position: relative;
          cursor: pointer;
          padding: 5px;

          .icon-label {
            left: 23px;
            padding: 0 5px;
            line-height: 16px;
            border-radius: 10px;
            background: @admin-blue;
            color: white;
            font-size: 14px;
            font-family: @admin-font-family;

            &:before {
              content: "S";
            }
          }

          &:hover {
            background-color: #ebebeb;
          }
        }
      }
    }

    section {
      width: 60%;

      .file-input {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    aside {
      margin-left: 5%;
      padding-left: calc(5% - 1px);
      border-left: 1px solid @admin-medium-gray-border;
      width: 30%;

      h1 {
        font-size: 16px;
        color: #888;
        margin: 0px 0px 20px;
        padding: 0 5px;
        line-height: 37px;
      }

      .content-types-list {
        height: 308px;
      }
    }

  }

  .dialog-buttons {
    position: relative;

    &:before {
      position: absolute;
      width: 100%;
      line-height: 34px;
      text-align: center;
      color: @admin-font-gray1;
      content: 'Drop files here to upload';
    }

    .button-container {
      position: relative; // to pull buttons above the :before text positioned absolutely
    }

    .button {
      &.cancel-button {

        position: absolute;
        top: -475px;
        right: -20px;

      }
    }
  }

  .uploader-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .uploader-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      .opacity(.9);
    }

    .uploader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .dropzone {
        width: 100%;
        height: 100%;
        border: 0 none;
        background-color: transparent;

        &:before {
          display: block;
          margin: 60px auto;
          background-color: @admin-blue;
          width: 400px;
          height: 400px;
          line-height: 400px;
          color: #fff;
          content: 'Drop files to upload!';
          font-weight: normal;

          .border-radius(200px);
          .box-shadow(0 0 10px @admin-shadow-gray);
          .animation(pulsate, 4s);
        }
      }
    }
  }
}
