.grid-panel2 {
  .grid {
    width: 100% !important;
    .grid-canvas {
      width: 100% !important;
    }

    .selected {
      background-color: @admin-blue;
      color: white;
    }

    .slick-cell {
      border: 0;
      padding: 5px;
    }

    .slick-row {
      &.odd {
        background-color: #fafafa;
      }
      input[type=checkbox] {
        margin:10px;
      }

      .selected h6 {
        color: white;
      }

      .selected p {
        color: white;
      }


      .toggle {
        height: 9px;
        width: 9px;
        display: inline-block;
      }

      .toggle.expand {
        background: url("../images/expand.gif") no-repeat center center;
      }

      .toggle.collapse {
        background: url("../images/collapse.gif") no-repeat center center;
      }

    }
  }
}