.access-control-entry {
  position: relative;
  min-height: 34px;
  padding: 6px 42px 6px 5px;
  .flexbox();
  flex-flow: row wrap;
  .clearfix();

  &.dirty {
    .access-selector {
      .tab-menu-button {
        color: @admin-blue;
      }
    }
  }

  &.inherited {
    .permission-toggle {
      &:not(.dirty) {
        padding: 2px 10px;
        border: 0 none;
        background: @admin-almost-white;
        color: @admin-font-gray3;
      }
    }
  }

  .names-and-icon-view {
    float: left;
    margin: 0 10px 0 0;
    min-width: 200px;
    .flex(1 auto);
  }

  .icon-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
  }

  .permission-selector {
    display: none;
    clear: left;
  }

  .access-selector {
    float: left;
    min-width: 100px;
    margin: 0 10px 0 0;

    &.expanded {
      .tab-menu-button {
        background-color: @admin-blue;

        .label {
          color: @admin-white;
        }
      }
    }

    .tab-menu-button {
      text-align: left;
      margin: 2px 0 0;
      padding: 4px 5px;
      color: @admin-font-gray3;
      background-color: transparent;

      &:before {
        display: none;
      }

      .label {
        margin: 0;
        color: @admin-blue;
      }

    }

    ul {
      padding: 38px 4px 4px;

      li {
        padding: 4px 5px;
      }
    }

  }

  .permission-selector {
    .flex(100%);
  }

}