.content-wizard-panel {

  .wizard-step-deck-panel {
    .form-view {
      margin-top: 0px;
    }
  }

  .split-panel {

    &.prerendered {
      .form-panel {
        width: 100% !important;
      }
      .splitter, .live-form-panel {
        width: 0;
        visibility: hidden;
      }
    }

    &.toggle-form {
      .form-panel {
        width: 100% !important;
      }
      & > .splitter, .live-form-panel {
        display: none !important;
      }
    }

    &.toggle-live {
      .live-form-panel {
        width: 100% !important;
      }
      & > .splitter, .form-panel {
        display: none;
      }
    }

    &.toggle-split {
      &._0-240, &._240-360, &._360-540, &._540-720, &._720-960 {
        .form-panel {
          width: 100% !important;
        }
        & > .splitter, .live-form-panel {
          display: none;
        }
      }
    }

    .live-form-panel {
      .transition(0.1s);
    }

    .form-panel.minimized {
      .thumbnail-uploader, .wizard-header, .wizard-steps-panel {
        display: none;
        //visibility: hidden;
      }

      .wizard-step-navigator-and-toolbar {
        margin-top: 40px;
      }

      .wizard-step-navigator {
        transform: rotate(90deg);
        transform-origin: 40px 0px;
        padding-left: 40px;
      }

      .minimize-edit:before {
        transform: rotate(0deg);
      }
    }

    .minimize-edit {
      position: fixed;
      top: 85px;
      height: 40px;
      width: 40px;
      margin-left: -40px;
      background-color: @admin-bg-light-gray;
      text-align: center;
      line-height: 40px;
      overflow: hidden;
      z-index: @z-index-mask + 3;
      cursor: pointer;

      &:before {
        display: inline-block;
        transform: rotate(180deg);
        .transition(0.3s);
      }
    }
  }

  &._540-720, &._720-960, &._960-1200, &._1200-1380, &._1380-1620, &._1620-1920, &._1920-Infinity {

    .toolbar {

      .toolbar-publish-controls {

        display: inherit;
        height: 100%;

        .button.content-wizard-toolbar-publish-button {
          .button(@form-button-font, @admin-green, @form-button-font, lighten(@admin-green, 30%));
          &:disabled {
            background-color: @admin-font-gray1;
          }
          border: none;
          height: 100%;
          box-sizing: content-box;
          padding: 1px 39px 0px 39px;
          position: relative;
        }

        span.content-status {
          margin-right: 14px;
          color: #777777;

          span {
            color: @admin-black;
            &.online {
              color: @admin-green;
            }
          }
        }
      }
    }
  }

  &._540-720 {
    .toolbar {
      .toolbar-publish-controls {
        margin: 0px 5px;
        span.content-status {
          margin-right: 10px;
        }
      }
    }
  }

  .toolbar {

    .toolbar-publish-controls {
      display: none;
    }

    .cycle-button {
      float: right;
      margin: 4px 5px;
    }

    .toggle-button {
      height: 100%;
      float: right;

      &:before {
        position: relative;
        top: 0px;
      }

      &.icon-medium {
        &:before {
          font-size: 22px;
        }
      }

    }

  }
}

._0-240, ._240-360, ._360-540, ._540-720, ._720-960 {
  .split-panel .minimize-edit {
    display: none !important;
  }
}
