.content-wizard-panel {

  .wizard-step-deck-panel {
    .form-view {
      margin-top: 0px;
    }
  }

  .split-panel {

    &.prerendered {
      .form-panel {
        width: 100% !important;
      }
      .splitter, .live-form-panel {
        width: 0;
        visibility: hidden;
      }
    }

    &.toggle-form {
      .form-panel {
        width: 100% !important;
      }
      & > .splitter, .live-form-panel {
        display: none !important;
      }
    }

    &.toggle-live {
      .live-form-panel {
        width: 100% !important;
      }
      & > .splitter, .form-panel {
        display: none;
      }
    }

    &.toggle-split {
      &._0-240, &._240-360, &._360-540, &._540-720, &._720-960 {
        .form-panel {
          width: 100% !important;
        }
        & > .splitter, .live-form-panel {
          display: none;
        }
      }
    }
  }

  .toolbar {

    .cycle-button {
      float: right;
      margin: 5px;
    }

    .toggle-button {
      height: 100%;
      float: right;

      &:before {
        position: relative;
        top: 0px;
      }

      &.forced:not(.active):before {
        color: red;
      }

      &.icon-medium {
        &:before {
          font-size: 22px;
        }
      }

    }

  }
}
