.content-wizard-panel {

  .thumbnail-uploader:before,
  .form-icon.invalid:before {
    position: absolute;
    content: "!";
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    padding: 2px;
    line-height: 16px;
    border-radius: 10px;
    background: @admin-red;
    color: @admin-white;
    font-size: 14px;
    z-index: 1;
    text-align: center;
  }

  .wizard-step-deck-panel {
    .form + .form-view {
      margin-top: 0px;
    }
  }

  .split-panel {

    &.prerendered {
      .form-panel {
        width: 100% !important;
      }
      .splitter, .live-form-panel {
        width: 0;
        visibility: hidden;
      }
    }

    &.toggle-form {
      .form-panel {
        width: 100% !important;
      }
      & > .splitter, .live-form-panel {
        display: none !important;
      }
    }

    &.toggle-live {
      .live-form-panel {
        width: 100% !important;
      }
      & > .splitter, .form-panel {
        display: none;
      }
    }

    &.toggle-split {
      &._0-240, &._240-360, &._360-540, &._540-720, &._720-960 {
        .form-panel {
          width: 100% !important;
        }
        & > .splitter, .live-form-panel {
          display: none;
        }
      }
    }
  }

  .toolbar .toggler {
    height: 100%;

    &:before {
      position: relative;
      top: 0px;
    }

    &.icon-medium {
      &:before {
        font-size: 22px;
      }
    }

  }
}
