.edit-permissions-dialog {
  width: 800px;

  @media screen and (max-height: 360px) {
    min-height: 240px;
  }

  .dialog-header .path {
    font-size: 16px;
  }

  .dialog-header {
    @media screen and (max-height: 360px) {
      margin-bottom: 5px;
    }
  }

  .inherit-perm-check {
    margin-bottom: 20px;

    @media screen and (max-height: 360px) {
      margin-bottom: 5px;
    }
  }

  .overwrite-child-check {
    position: absolute;
    bottom: 40px;
    &.checkbox label {
      color: @admin-blue !important;
    }

    @media screen and (max-height: 360px) {
      bottom: 25px;
    }
  }

  .form-view {
    @media screen and (max-height: 360px) {
      margin-top: 5px;
    }
  }

  .combobox.followed-by-options {
    @media screen and (max-height: 360px) {
      margin-bottom: 5px;
    }
  }

  .principal-combobox {
    height: 320px;

    @media screen and (max-height: 540px) {
      max-height: 160px;
    }

    @media screen and (max-height: 360px) {
      max-height: 110px;
    }

    .access-control-list {
      height: 277px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 5px 0;

      @media screen and (max-height: 540px) {
        max-height: 100px;
      }

      @media screen and (max-height: 360px) {
        max-height: 50px;
      }

      .access-control-entry .access-selector ul.upward {
        padding: 4px 4px 38px;
        margin-top: -142px;
      }
    }

    &.disabled {
      .combobox {
        display: none;
      }

      .access-control-list {
        height: 320px;
      }

      .access-control-entry {

        .icon-close {
          display: none;
        }

        .names-and-icon-view {
          .names-view {
            color: @admin-font-gray2;
          }
        }

        .access-selector {
          .label {
            color: @admin-font-gray2;
          }
        }

        .permission-toggle {
          &.allow, &.deny {
            padding: 1px 9px;
            color: @admin-white;
          }

          &.allow {
            background: @admin-shadow-gray;
            border: 1px solid @admin-medium-gray-border;
          }

          &.deny {
            background: @admin-dark-gray;
            border: 1px solid @admin-medium-gray-border;
          }
        }

      }

    }

  }

  section {
    height: 100%;
  }

}
