.security-wizard-step-form {

  .edit-permissions {
    .button(@form-button-font, @form-button-bg);
    display: inline-block;
    margin-top: 10px;
    padding: 4px 19px;
    line-height: 24px;
    font-size: 14px;
    color: @admin-white;
  }

  .inheritance {
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 13px;
    font-style: italic;
    color: @admin-font-gray2;
    .noSelect();
  }

  .access-control-entry {
    padding: 6px 5px;
    cursor: default;

    .access-selector .tab-menu-button .label {
      color: @admin-font-gray3;
    }

    .icon-close {
      display: none;
    }

    .permission-toggle.inherit {
      display: none;
    }

  }


}
