// NOT STABLE ENOUGH ACROSS BROWSERS YET
// https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes

.display-flex(@dir, @justify, @align) {
  display: -webkit-flex;
  -webkit-flex-direction: @dir;
  -webkit-justify-content: @justify;
  -webkit-align-items: @align;

  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}

.flex(@flex) {
  -webkit-flex: @flex;

  flex: @flex;
}

.new-content-dialog {
  min-width: 800px;

  .dialog-header .path {
    font-size: 16px;
  }

  .text-input.large {
    font-size: 13px;
    border: 2px solid @admin-medium-gray-border;
  }

  .panel {
    position: static;
    height: 100%;
  }

  .list-filter {
    width: 100%;
  }

  .content-type-facet {
    margin: 10px 0;

    span {
      cursor: pointer;
      color: #888;
      padding: 10px 20px 10px 0;
      margin: 0;
      min-width: 0;
      font-size: 14px;
      display: inline-block;

      &.active {
        color: orangered;
      }
    }
  }

  .dropzone {
    padding: 10px;
    height: 100px;
    line-height: 31px;
  }

  .dropzone:before {
    content: 'Drag files here to upload';
    vertical-align: middle;
  }

  .content-types-list {
    height: 268px;
    overflow-y: auto;
    overflow-x: hidden;

    > h4 {
      font-size: 14px;
      color: #888;
      margin: 20px 0px;
      line-height: 0.9em;
      padding-left:10px
    }

    .content-types-list-item {
      position: relative;
      cursor: pointer;
      padding: 5px;

      .icon-label {
        left: 23px;
        padding: 0 5px;
        line-height: 16px;
        border-radius: 10px;
        background: @admin-blue;
        color: white;
        font-size: 14px;
        font-family: @admin-font-family;

        &:before {
          content: "S";
        }
      }

      &:hover {
        background-color: #ebebeb;
      }
    }
  }

  .column {
    height: 100%;
    float: left;

    &.column-left {
      width: 60%;
    }

    &.column-right {
      margin-left: 4%;
      width: 36%;

      .content-types-list {
        height: 270px;

        h4 {
          border-bottom: 1px solid #aaa;
        }
      }
    }

  }

}
