// NOT STABLE ENOUGH ACROSS BROWSERS YET
// https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes

.display-flex(@dir, @justify, @align) {
  display: -webkit-flex;
  -webkit-flex-direction: @dir;
  -webkit-justify-content: @justify;
  -webkit-align-items: @align;

  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}

.flex(@flex) {
  -webkit-flex: @flex;

  flex: @flex;
}

.new-content-dialog {
  min-width: 800px;

  .dialog-header .path {
    font-size: 16px;
  }

  .text-input.large {
    font-size: 13px;
    border: 2px solid @admin-medium-gray-border;
  }

  .panel {
    position: static;
    height: 100%;
  }

  .list-filter {
    width: 100%;
  }

  .tab-bar {
    margin: 10px 0;

    .tab-bar-item {
      cursor: pointer;
      color: #888;
      padding: 10px 20px 10px 0;
      font-size: 14px;
      display: inline-block;

      &.active {
        color: orangered;
      }
    }
  }

  .deck-panel {
    height: 268px;
  }

  .dropzone {
    padding: 10px;
    height: 100px;
    line-height: 31px;
  }

  .dropzone:before {
    content: 'Drag files here to upload';
    vertical-align: middle;
  }

  .site-template-list,
  .content-type-list {
    overflow-y: auto;
    overflow-x: hidden;

    > h4 {
      font-size: 14px;
      color: #888;
      margin: 20px 0px;
      line-height: 0.9em;
      padding-left:10px
    }
  }

  .site-template-list-item,
  .content-type-list-item {
    position: relative;
    cursor: pointer;
    padding: 5px;

    .icon-label {
      color: black;
      background-color: orangered;

      &:before {
        content: "S";
      }
    }

    &:hover {
      background-color: #ebebeb;
    }

  }


  .column {
    height: 100%;
    float: left;

    &.column-left {
      width: 60%;
    }

    &.column-right {
      margin-left: 4%;
      width: 36%;

      .content-type-list {
        height: 270px;

        h4 {
          border-bottom: 1px solid #aaa;
        }
      }
    }

  }

}
