.input-view {
  .clearfix();
  //border-top-width: 10;
  padding: 10px 10px 0;
  border-bottom-width: 0;

  input, textarea {
    .input-glow();
  }

  .display-validation-errors &.invalid {
    .input-error();
    padding: 10px;
  }

  &:not(.no-label) {
    .input-label {
      display: block !important;
    }
  }

  &.no-label {

    .input-label {
      display: none;
    }

    .input-type-view,
    .bottom-button-row,
    .validation-viewer {
      margin-left: 0px;
    }
  }

  .input-label {
    float: left;
    max-width: @form-label-width - 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    .wrapper.required {
      padding: 0 15px 0 0;
      &:after {
        position: absolute;
        content: '\00a0*';
        color: @input-red-text;
      }
    }

    .label {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .required {
      &:after {
        content: '*';
        color: @input-red-text;
      }
    }
  }

  .input-type-view {
    margin: 0 0 0 @form-label-width;
  }

  .bottom-button-row {
    clear: left;
    overflow: visible; // for button glow
    margin: 0 0 0 @form-label-width;

    button {
      margin-top: 7px;
    }
  }

  .validation-viewer {
    margin-left: @form-label-width;

    ul > li {
      margin-top: 7px;
    }
  }

  .context-window &,
  ._0-240 &,
  ._240-360 &,
  ._360-540 &,
  ._540-720 & {

    .input-label {
      float: none;
      max-width: 100%;
      margin: 0 0 3px 0;
    }

    .input-type-view,
    .bottom-button-row,
    .validation-viewer {
      width: 100%;
      margin-left: 0;
    }
  }

}
