.module-view {
  padding: 10px;
  background-color: @admin-light-gray-bg;

  .form-element-spacing(15px);

  .header {
    overflow: hidden;
    margin: 0 0 10px;

    i {
      display: block;
      float: left;
    }

    h6 {
      font-size: 22px;
      line-height: 30px;
      margin-left: 40px;
      .ellipsis;
    }

    .names-view h6 {
      height: auto;
      margin-left: 0px;
    }
  }

  .form-view {
    padding: 15px 10px;
    margin: 0;
    background-color: @admin-white;
  }

}