.site-wizard-step-form {

  .site-template-combo {
    margin-bottom: 15px;

    .selected-options .selected-option {
      margin: 0 0 15px;
      padding: 10px 10px 60px;
      border: 1px solid @admin-light-gray-bg;

      .names-and-icon-view {

        .names-view {

          .main-name {
            font-size: 22px;
            height: 26px;
            line-height: 26px;
          }

          .sub-name {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }

  }

}