.site-wizard-step-form {

  .site-template-combo {
    margin-bottom: 15px;

    .selected-options .selected-option {
      margin: 0 0 15px;
      padding: 10px 10px 42px;
      border: 1px solid @admin-light-gray-bg;
    }

  }

}