/* ::::: https://www.unicef.no/_public/UNICEF/styles/grid.css?_ts=128bfd3f795 ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; }
a img { border: medium none; }
body { font-size: 75%; color: rgb(34, 34, 34); background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: Arial,helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: rgb(0, 0, 0); }
h2 { font-weight: bold; font-size: 18px; margin: 0px; }
h3 { font-weight: bold; font-size: 14px; }
h4 { margin-bottom: 3px; font-weight: bold; font-size: 12px; }
p { margin: 0px 0px 1.5em; }
a:focus, a:hover { color: rgb(51, 51, 153); text-decoration: underline; }
a { color: rgb(0, 0, 0); text-decoration: underline; }
li ul, li ol { margin: 0px 1.5em; }
ul, ol { margin: 0px 0.5em 1em 2em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
.last { margin-right: 0px; padding-right: 0px; }
.container { width: 970px; margin: 0px auto; }
body { margin: 1.5em 0px; }
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 { float: left; margin-right: 14px; }
div.last { margin-right: 0px; }
.span-6 { width: 232px; }
.span-18 { width: 724px; }
.span-24, div.span-24 { width: 970px; margin: 0px; }
hr { background: none repeat scroll 0% 0% rgb(221, 221, 221); color: rgb(221, 221, 221); clear: both; float: none; width: 100%; height: 1px; margin: 0px 0px 1.45em; border: medium none; }
.clearfix:after, .container:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix, .container { display: inline-block; }
.clearfix, .container { display: block; }
.clear { clear: both; }
label { font-weight: bold; }
.error, .notice, .success { border: 2px solid rgb(221, 221, 221); }
.error { background: none repeat scroll 0% 0% rgb(204, 0, 0); border-color: rgb(224, 224, 224); color: rgb(255, 255, 255); }
/* ::::: https://www.unicef.no/_public/UNICEF/styles/new_style.css?_ts=13432893ad4 ::::: */

/* ::::: https://www.unicef.no/_public/shared/styles/header.css ::::: */

.header { width: 984px; height: 80px; background: url('header_bak.gif') repeat-x scroll 0px 0px rgb(255, 255, 255); float: left; }
.header .logo { float: left; padding-left: 20px; }
.header .shortNsearch { float: right; height: 80px; margin-right: 5px; width: 490px ! important; position: relative; }
.shortcuts { float: right; clear: both; margin-bottom: 27px; }
.shortcuts ul { list-style: none outside none; margin: 0px; padding: 0px; }
.shortcuts ul li { margin: 0px; float: left; color: rgb(255, 255, 255); padding: 4px 5px; }
.shortcuts ul li a { padding: 0px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; }
.shortcuts ul li.selected a, .shortcuts ul li a:hover { color: rgb(51, 51, 153); text-decoration: underline; }
.header .shortNsearch .search { text-align: right; clear: both; }
.header .shortNsearch .search ul { list-style: none outside none; margin: 0px; padding: 0px; position: absolute; bottom: 10px; right: 0px; }
.header .shortNsearch .search ul li { margin: 0px; float: left; color: rgb(255, 255, 255); padding: 0px; }
.header .shortNsearch .search ul li.frm_input { width: 177px; }
.header .shortNsearch .search ul li.frm_submit { width: 52px; }
.header .shortNsearch .search fieldset { border: medium none; margin: 0px; padding: 0px; }
.header .shortNsearch .search input.searchsubmitFront { background-color: rgb(255, 255, 255); border: 1px solid rgb(180, 180, 180); color: rgb(0, 0, 0); font-size: 85%; font-weight: bold; height: 21px; margin: 0px; padding: 0px 0px 2px; width: 50px; cursor: pointer; }
.header .shortNsearch .search input.searchfieldFront { background-color: rgb(255, 255, 255); border: 1px solid rgb(180, 180, 180); color: rgb(0, 0, 0); font-size: 14px; height: 17px; width: 175px; }
.menu { float: left; clear: both; width: 987px; border-bottom: 1px solid rgb(245, 245, 245); background-color: rgb(255, 255, 255); }
.menu ul { list-style: none outside none; margin: 0px; padding: 0px; }
.menu ul li { margin: 0px; float: left; }
.menu ul li a { padding: 4px 7px; color: rgb(0, 153, 255); font-weight: bold; text-decoration: none; float: left; }
.menu ul li.selected a, .menu ul li a:hover { color: rgb(51, 51, 153); }
.menu ul li a:hover { text-decoration: underline; }
.outerframework { width: 984px; margin: 0px auto; }
.container.frontpage { background: url('right_bak.gif') repeat-y scroll 738px 0px rgb(255, 255, 255); margin-right: -6px; padding-right: 14px; }
.footer { background-color: rgb(0, 153, 255); padding: 3px; margin-top: 50px; }
div.footer-text { color: rgb(255, 255, 255); float: left; font-size: 85%; font-weight: bold; padding: 0px 8px; }
div.footer-text a { color: rgb(255, 255, 255); }
div.footer-text a:hover { color: rgb(255, 255, 255); }
h3 a, h4 a { color: rgb(0, 153, 255); text-decoration: none; }
h3 a:hover, h4 a:hover { color: rgb(51, 51, 153); text-decoration: underline; }
a.aButton { text-decoration: none; }
a.aButton:hover { text-decoration: none; }
.frontpage_list { margin-left: -7px; padding: 8px 6px 8px 10px; background: url('list_bak.gif') repeat-x scroll 0px 0px rgb(255, 255, 255); border-bottom-width: 1px; margin-bottom: 5px; }
.news h2, .blogg_liste h2 { font-weight: bold; font-size: 14px; color: rgb(0, 0, 0); padding-bottom: 7px; border-style: dotted; border-color: rgb(153, 153, 153); border-width: 0px 0px 1px; }
.news .contentcolumn { float: left; width: 350px; }
.news { margin-bottom: 7px; clear: both; background: url('list_bak.gif') repeat-x scroll 0px 0px rgb(255, 255, 255); padding-top: 7px; }
.news .left { border-right: 1px dotted rgb(153, 153, 153); padding-right: 7px; }
.news .right { padding-left: 7px; }
.news .contentlist { border-style: dotted; border-color: rgb(153, 153, 153); border-width: 0px 0px 1px; padding: 7px 0px; }
.frontpage_list .content, .news .content { border-right-width: 1px; border-bottom: 1px dotted rgb(153, 153, 153); }
.news .content { padding: 10px 0px; }
.news .lastrow { border: medium none ! important; }
.news h2 { margin-bottom: 5px; }
.news .content h3, .frontpage_list .content h3 { font-weight: bold; font-size: 14px; line-height: 20px; margin-bottom: 5px; }
.news .content .img { float: left; width: 108px; margin-right: 10px; }
.news .content .text { float: left; }
.news .content .text.withimg { width: 220px; }
.news .content .text span.date { color: rgb(102, 102, 102); }
.frontpage_list { float: left; margin-left: -7px; padding-right: 6px; padding-top: 8px; padding-left: 10px; width: 353px; border-right: 1px solid rgb(229, 229, 229); background: url('list_bak.gif') repeat-x scroll 0px 0px rgb(255, 255, 255); }
.frontpage_list h2 { font-weight: bold; font-size: 14px; color: rgb(0, 0, 0); margin-top: 7px; }
.frontpage_list .content { float: left; border-bottom: 1px dotted rgb(153, 153, 153); margin-bottom: 10px; padding-bottom: 10px; width: 100%; }
.frontpage_list .content h3 a, .frontpage_list .content h3 { font-weight: bold; font-size: 14px; line-height: 20px; margin-bottom: 5px; }
.frontpage_list .content .text { float: left; }
a.archive { font-weight: bold; color: rgb(0, 153, 255); }
a.archive:hover { text-decoration: underline; color: rgb(51, 51, 153); }
.emailbox { float: left; padding-bottom: 30px; padding-top: 10px; padding-left: 10px; border-bottom: 2px solid rgb(205, 205, 205); width: 222px; }
.emailbox .takkboks { float: left; margin-right: 10px; width: 196px; border: medium none; }
.emailbox .takkboks.error { background-color: rgb(204, 0, 0); }
.emailbox fieldset { margin: 0px; padding: 0px; border: medium none; float: left; }
.emailbox label { clear: both; float: left; font-weight: normal; margin-bottom: 2px; }
.emailbox .email-field { border: 1px solid rgb(165, 165, 165); float: left; clear: left; height: 18px; width: 140px; }
.emailbox .email-button { background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); float: left; border: medium none; height: 22px; margin-left: -2px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px; width: 67px; font-size: 10px; cursor: pointer; }
.emailbox .textbox { float: left; }
.emailbox .textbox span { float: left; }
.emailbox h4 { font-weight: bold; font-size: 12px; float: left; }
.emailbox span.text { margin-bottom: 10px; font-size: 12px; float: left; line-height: 15px; }
.emailbox #email, .bold { font-weight: bold; }
.linklist { border: medium none; padding: 0px; margin: 0px; background: none repeat scroll 0% 0% transparent; width: 232px; }
.linklist .title { background: url('title_back.gif') repeat-y scroll 0px 0px rgb(211, 211, 211); padding-left: 5px; margin-bottom: 10px; }
.linklist h2 { padding-left: 10px; }
.linklist .content { width: 222px; padding-left: 10px; }
.linklist .lastcontent { border: medium none; margin: 0px; }
.bedriftlist .content { text-align: center; }
.frontpage_list div.preface { padding-left: 10px; margin-bottom: 10px; }
span.fadder, span.gi { display: block; clear: both; color: rgb(255, 255, 255); font-weight: bold; margin: 0px auto 10px; font-size: 14px; height: 34px; width: 171px; line-height: 34px; text-align: center; }
span.fadder { background: url('bli_fadder_forside_knapp_normal.png') no-repeat scroll 0px 0px transparent; }
span.gi { background: url('engangsbelop_forside_knapp_normal.png') no-repeat scroll 0px 0px transparent; }
.linklist hr { height: 2px; background-color: rgb(205, 205, 205); margin-bottom: 5px; }
.frontpage_list.linklist.followUs { border: medium none; }
.frontpage_list.linklist.followUs div.content { border: medium none; }
.frontpage_list.linklist.followUs h2 { margin-bottom: 8px; }
.followUs ul.follow_us { list-style: none outside none; margin: 0px; padding: 0px; }
.followUs ul.follow_us li { float: left; display: block; text-align: center; width: 50px; }
.followUs ul.follow_us li a.follow-icon { display: block; }
.followUs ul.follow_us li a.follow-url { color: rgb(0, 153, 255); font-family: arial,helvetica,sans-serif; font-size: 11px; text-decoration: none; }
.followUs ul.follow_us li a.follow-url:hover { text-decoration: underline; }
.denene { width: 222px; padding-left: 10px; margin-top: 10px; margin-bottom: 5px; }
.denene div { float: left; width: 100%; }
.denene .text { width: 150px; }
.denene img { float: right; }
.clearfix:after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.button { width: 250px; height: 48px; background: url('kampanje_knapp_normal_wide.png') no-repeat scroll 0px 0px transparent; display: inline; margin-bottom: 60px; margin-top: 20px; float: left; margin-left: 62px; cursor: pointer; }
.buttonH { cursor: pointer; }
.clearfix:after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.outerframework { width: 984px; margin: 0px auto; }
.container.frontpage { background: url('right_bak.gif') repeat-y scroll 738px 0px rgb(255, 255, 255); margin-right: -6px; padding-right: 14px; }
.header { width: 984px; height: 80px; background: url('header_bak.gif') repeat-x scroll 0px 0px rgb(255, 255, 255); float: left; }
.header .logo { float: left; padding-left: 20px; }
.header .shortNsearch { float: right; height: 80px; width: 230px; margin-right: 5px; }
.shortcuts { float: right; clear: both; margin-bottom: 27px; }
.shortcuts ul { list-style: none outside none; margin: 0px; padding: 0px; }
.shortcuts ul li { margin: 0px; float: left; color: rgb(255, 255, 255); padding: 4px 5px; }
.shortcuts ul li a { padding: 0px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; float: left; }
.shortcuts ul li.selected a, .shortcuts ul li a:hover { color: rgb(51, 51, 153); text-decoration: underline; }
.header .shortNsearch .search { float: right; clear: both; width: 230px; }
.header .shortNsearch .search fieldset { border: medium none; margin: 0px; padding: 0px; }
.header .shortNsearch .search input.searchsubmitFront { background-color: rgb(255, 255, 255); border: 1px solid rgb(180, 180, 180); color: rgb(0, 0, 0); font-size: 85%; font-weight: bold; height: 21px; margin: 0px; padding: 0px 0px 2px; width: 50px; float: left; cursor: pointer; }
.header .shortNsearch .search input.searchfieldFront { background-color: rgb(255, 255, 255); border: 1px solid rgb(180, 180, 180); color: rgb(0, 0, 0); font-size: 14px; height: 17px; width: 175px; float: left; }
.menu { float: left; clear: both; width: 987px; border-bottom: 1px solid rgb(245, 245, 245); background-color: rgb(255, 255, 255); }
.menu ul { list-style: none outside none; margin: 0px; padding: 0px; }
.menu ul li { margin: 0px; float: left; }
.menu ul li a { padding: 4px 7px; color: rgb(0, 153, 255); font-weight: bold; text-decoration: none; float: left; }
.menu ul li.selected a, .menu ul li a:hover { color: rgb(51, 51, 153); }
.menu ul li a:hover { text-decoration: underline; }
.footer { background-color: rgb(0, 153, 255); padding: 3px; margin-top: 50px; }
div.footer-text { color: rgb(255, 255, 255); float: left; font-size: 85%; font-weight: bold; padding: 0px 8px; }
div.footer-text a { color: rgb(255, 255, 255); }
div.footer-text a:hover { color: rgb(255, 255, 255); }
h3 a, h4 a { color: rgb(0, 153, 255); text-decoration: none; }
h3 a:hover, h4 a:hover { color: rgb(51, 51, 153); text-decoration: underline; }
a.aButton { text-decoration: none; }
a.aButton:hover { text-decoration: none; }
.frontpage_list h2 { font-weight: bold; font-size: 14px; color: rgb(0, 0, 0); margin-top: 7px; }
.frontpage_list .content h3 a, .frontpage_list .content h3 { font-weight: bold; font-size: 14px; line-height: 20px; margin-bottom: 5px; }
.frontpage_list .content .text { float: left; }
a.archive { font-weight: bold; color: rgb(0, 153, 255); }
a.archive:hover { text-decoration: underline; color: rgb(51, 51, 153); }
.emailbox { float: left; padding-bottom: 30px; padding-top: 10px; padding-left: 10px; border-bottom: 2px solid rgb(205, 205, 205); width: 222px; }
.emailbox .takkboks { float: left; margin-right: 10px; width: 196px; border: medium none; }
.emailbox .takkboks.error { background-color: rgb(204, 0, 0); }
.emailbox fieldset { margin: 0px; padding: 0px; border: medium none; float: left; }
.emailbox label { clear: both; float: left; font-weight: normal; margin-bottom: 2px; }
.emailbox .email-field { border: 1px solid rgb(165, 165, 165); float: left; clear: left; height: 18px; width: 140px; }
.emailbox .email-button { background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); float: left; border: medium none; height: 22px; margin-left: -2px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px; width: 67px; font-size: 10px; cursor: pointer; }
.emailbox .textbox { float: left; }
.emailbox h4 { margin-bottom: 3px; font-weight: bold; font-size: 12px; float: left; }
.emailbox span.text { margin-bottom: 10px; font-size: 12px; float: left; line-height: 15px; }
.emailbox #email, .bold { font-weight: bold; }
.linklist { border: medium none; padding: 0px; margin: 0px; background: none repeat scroll 0% 0% transparent; width: 232px; }
.linklist .title { background: url('title_back.gif') repeat-y scroll 0px 0px rgb(211, 211, 211); padding-left: 5px; margin-bottom: 10px; }
.linklist h2 { padding-left: 10px; }
.linklist .content { width: 222px; padding-left: 10px; }
.linklist .lastcontent { border: medium none; margin: 0px; }
.bedriftlist .content { text-align: center; }
.frontpage_list div.preface { padding-left: 10px; margin-bottom: 10px; }
span.fadder, span.gi { display: block; clear: both; color: rgb(255, 255, 255); font-weight: bold; margin: 0px auto 10px; font-size: 14px; height: 34px; width: 171px; line-height: 34px; text-align: center; }
span.fadder { background: url('bli_fadder_forside_knapp_normal.png') no-repeat scroll 0px 0px transparent; }
span.gi { background: url('engangsbelop_forside_knapp_normal.png') no-repeat scroll 0px 0px transparent; }
.linklist hr { height: 2px; background-color: rgb(205, 205, 205); margin-bottom: 5px; }
.denene { width: 222px; padding-left: 10px; margin-top: 10px; margin-bottom: 5px; }
.denene div { float: left; width: 100%; }
.denene .text { width: 150px; }
.denene img { float: right; }
.clearfix:after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.button { width: 250px; height: 48px; background: url('kampanje_knapp_normal_wide.png') no-repeat scroll 0px 0px transparent; display: inline; margin-bottom: 60px; margin-top: 20px; float: left; margin-left: 62px; cursor: pointer; }
.buttonH { cursor: pointer; }
.clearfix:after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.fundraiser-show .comments .comment:nth-child(2n) { background-color: rgb(250, 250, 250); }
.innsamlingskontrollen { float: right; margin-bottom: -25px; margin-right: 65px; }
#banner-animation-show { position: relative; height: 330px; overflow: hidden; }
#banner-animation-show ol { list-style: none outside none; margin: 0px; padding: 0px; }
#banner-animation-show .text { position: absolute; top: 20px; right: 20px; background: url('banner-animation-show-text-bg.png') repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); width: 300px; height: 200px; padding: 30px; }
#banner-animation-show .text.left { left: 20px; right: auto; }
#banner-animation-show h2 a { color: rgb(255, 255, 255); text-decoration: none; font-size: 24px; line-height: 18px; }
#banner-animation-show h2 { margin-bottom: 15px; }
#banner-animation-show .button { padding: 3px 10px; margin: 0px; height: auto; width: auto; background: none repeat scroll 0% 0% rgb(0, 181, 255); color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; font-size: 14px; }
#banner-animation-show .nav { position: absolute; bottom: 20px; left: 20px; z-index: 100; }
#banner-animation-show .nav a { background: none repeat scroll 0% 0% rgb(51, 51, 51); color: rgb(255, 255, 255); padding: 3px; margin-right: 5px; text-decoration: none; }
#banner-animation-show .nav a.activeSlide { background: none repeat scroll 0% 0% rgb(0, 181, 255); color: rgb(51, 51, 51); }
#partner-list, #partner-list ul { list-style: none outside none; margin: 0px; padding: 0px; }
#partner-list li ul li { height: 40px; }
/* ::::: https://www.unicef.no/_public/images/ui-darkness/jquery-ui-1.7.2.custom.css?_ts=128bfd36805 ::::: */

/* ::::: https://ajax.googleapis.com/ajax/static/modules/gviz/1.0/core/tooltip.css ::::: */

#banner-piechart-show { clear: both; margin-top: 10px; overflow: hidden; }
#banner-piechart-show a { text-decoration: none; }
#banner-piechart-show a:hover { text-decoration: underline; }
#banner-piechart-show.highlighted { padding: 10px 0px; background-color: rgb(221, 221, 221); }
#banner-piechart-show h2 { font-size: 16px; line-height: 1; margin-bottom: 1em; }
#banner-piechart-frontpage-a { height: 180px ! important; }
#banner-piechart-frontpage-legend-a { left: 170px; top: -150px; }
#banner-piechart-frontpage-b { height: 180px ! important; }
#banner-piechart-frontpage-legend-b { left: 170px; top: -175px; }
