.filter-panel {
  .transition(all 0.1s ease-in-out);
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-style: none;
  position: absolute;
  top: 0 !important;
  left: 0;
  bottom: 0;
  width: auto;

  a.clear-filter-button {
    text-decoration: none;
    float: right;
    &:hover {
      color: @admin-button-blue3;
    }
  }

  input.text-search-field {
    .placeholderColor(@admin-button-blue1);
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 14px;
    width: 95%;
    padding: 4px 21px 12px 1px;
    height: 33px;
    border: 0;
    box-sizing: border-box;

    color: @admin-button-blue1;

    border-bottom-width: 2px;
    border-bottom-color: @admin-button-blue1;
    border-bottom-style: solid;
  }

  h2 {
    color: #000000 !important;
    font-size: 15px !important;
    padding: 0 !important;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .hits-and-clear {
    line-height: 24px;
    font-size: 16px;
  }

  .hide-filter-panel-button {
    position: absolute;
    left: 10px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    color: @admin-button-blue1;
    top: 6px;
  }

}
