.filter-panel {
  .transition(all 0.1s ease-in-out);
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #eeeeee !important;
  border-style: none;
  position: absolute;
  top: 0 !important;
  left: 0;
  bottom: 0;
  width: auto;

  a.clear-filter-button {
    text-decoration: none;
    float: right;
  }

  input.text-search-field {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 95%;
    padding-right: 30px;
    padding: 4px 21px 4px 9px;
    height: 26px;
    border: 0;
    border-radius: 20px;
    box-sizing: border-box;
  }

  input.text-search-field:focus {
    border-color: black;
  }

  h2 {
    color: #000000 !important;
    font-size: 15px !important;
    padding: 0 !important;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .hits-and-clear {
    line-height: 24px;
    font-size: 14px;
  }

  .hide-filter-panel-button {
    position: absolute;
    left: 10px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
  }

}
