.radio-group {
  padding: 5px;
  margin-bottom: 5px;

  .radio-button {
    margin-right: 10px;
    margin-bottom: 5px;
    min-width: 140px;

    label {
      margin-left: 10px;
    }
  }

  &.vertical {

    .radio-button {
      display: block;
      margin-right: 0;
    }

  }

}
