.context-menu {
  .reset(true);
  .box-shadow(0 1px 5px rgba(0, 0, 0, 0.7));

  z-index: @z-index-context-menu;
  position: absolute;
  background: @admin-white;
  list-style: none;
  display: none;
  margin: 0;
  padding: 4px;
  min-width: 120px;

  li {
    font-family: @admin-font-family;
    background-color: transparent;
    font-size: 14px;
    border-width: 0;
    color: @admin-font-gray3;

    padding: 5px;
    margin: 0;

    &:hover:not(.context-menu-item-disabled) {
      cursor: pointer;
      background-color: @admin-bg-light-gray;
    }

    &:disabled, &.disabled {
      opacity: 0.5;
    }
  }
}

