.date-time-picker {
  .picker();

  .@{_COMMON_PREFIX}wrapper {

    .picker-icon("\e115");

    .date-time-dialog {
      .picker-dialog(100%, 10px 0);
      box-sizing: border-box;
      text-align: center;

      .notSelectable();

      .date-picker-mixin(auto, 10px);

      .time-picker-mixin();

      .date-picker-dialog,
      .time-picker-dialog {
        display: inline-block;
        position: static;
        vertical-align: middle;
        .box-shadow(none);
      }
    }

  }

}
@media screen and (max-width: 479px) {
  .date-time-dialog {
    .date-picker-dialog {
      padding: 10px 0px !important;;
      display: block !important;
    }
    .time-picker-dialog {
      display: block !important;
      text-align: center !important;
      width: 50% !important;
      margin: 0 auto !important;
    }
  }

}