.security-wizard-step-form {

  .edit-permissions {
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    padding: 8px 30px;
    text-align: center;
    font-size: 14px;
    color: @admin-white;
    background-color: @admin-blue;
    cursor: pointer;
  }

  .inheritance {
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 13px;
    font-style: italic;
    color: @admin-light-gray-font;
    .noSelect();
  }

  .access-control-entry {
    cursor: default;

    .permission-toggle.inherit {
      display: none;
    }

  }


}
