@defaultHeight: 135px;

.live-edit-empty-component {
  clear: both;
  background-color: @componentDefaultBackground;
  padding: 15px;
  margin: 1px 0 10px 0;
  position: relative;
  min-height: @defaultHeight;
  box-sizing: border-box;
  font-family: @admin-font-family;
  text-align: center;

  &.error {
    background-color: #A31012;
    .rendering-error {
      pointer-events: none;
    }
    p {
      color: white;
      padding: 28px 10px;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: white;
      padding: 28px 10px;
      font-size: 14px;
      pointer-events: all;
      display: inline-block;
      &:hover {
        color: darken(white, 20%);
      }
    }
    &[data-live-edit-type] {
      &:before {
        content: '';
      }
    }
  }

  //Reset styles from page
  & * {
    font-family: @admin-font-family;
    color: @admin-black;
    font-weight: normal;
  }

  &[data-live-edit-type] {
    &:before {
      .live-edit-font-icon-layout;
      font-size: 105px;
      color: #d3e0f2;
      position: absolute;
      left: ~"calc(50% - 52px)";
    }
  }

  &[data-live-edit-type="image"] {
    &:before {
      content: "\e005";
    }
  }
  &[data-live-edit-type="part"] {
    &:before {
      content: "\e003";
    }
  }
  &[data-live-edit-type="layout"] {
    &:before {
      content: "\e004";
    }
  }

  &[data-live-edit-type="text"] {
    .icon-type;
    &:before {
      font-family: 'icomoon' !important;
    }
    &[contenteditable="true"] {
      &:before {
        content: none;
      }
    }
  }

  .upload-new-image-button {
    text-align: center;
    position: relative;
    font-size: 3em;

    a {
      color: #224E83;
      text-decoration: none;
    }

    a:hover {
      color: #224E83;
    }
  }

  .button.upload-button {
    .button(@admin-font-gray2, white, @admin-font-gray3, white);
    .box-sizing(content-box);
    .input-glow();
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 35px;
    border-color: #d3d3d3;
    background-image: url("../../common/images/upload.png"); // don't optimize because bg color is set via .button() mixin
    background-repeat: no-repeat;
    background-position: center;
  }

  .rich-combobox {
    margin: @defaultHeight/2-30px auto 0 auto;
    vertical-align: middle;
    display: block;
    text-align: left;
    width: auto;
    max-width: 540px;

    .options-container {
      z-index: @z-index-empty-component-options;
    }
    .selected-options {
      display: none !important;
    }

    &.image-placeholder {
      display: block;
      margin-right: 36px;
      width: auto;
    }
  }

  .image-placeholder-selector {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    max-width: 540px;
    position: relative;
  }

  .combobox {

    input[type="text"] {
      font-family: @admin-font-family;
      font-size: 15px;
      padding: 4px 37px 4px 10px;

      .placeholder(1em, italic);
      .input-glow(); // need to use glow explicitly because it is used out of the form
    }
  }

  .live-edit-combo-font-icon {
    &:before {
      font-size: 32px;
    }
  }

  .text-placeholder {
    font-size: 32px;
    font-family: Tahoma, Geneva, sans-serif;
    position: relative;
    vertical-align: middle;
    margin: @defaultHeight/2-30px auto 0 auto !important;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    color: #224E83;
  }

}

.live-edit-font-icon-spinner {
  animation: live-edit-spinner .5s infinite linear;
  -webkit-animation: live-edit-spinner .5s infinite linear;
}
