.page-placeholder {
  position: relative;
  top: ~"-moz-calc(50% - 37px)";
  top: ~"calc(50% - 37px)";

  &:before {
    .live-edit-font-icon-layout;
    font-size: 105px;
    color: #d3e0f2;
    position: absolute;
    left: ~"calc(50% - 52px)";
    top:-33px;
    content: "\e004";
  }
}

body.live-edit-empty-component {
  height:100%;
}