.page-placeholder {
  position: relative;
  top: ~"calc(50% - 37px)";
  &:before {
    .live-edit-font-icon-layout;
    font-size: 105px;
    color: #d3e0f2;
    position: absolute;
    left: ~"calc(50% - 52px)";
    top:-115px;
    content: "\e004";
  }
}