.live-edit-tool-tip {
    z-index: 1000150;
    position: absolute;
    padding: 15px;
    background-color: #ffffc7;
}

.live-edit-tool-tip-name-text,
.live-edit-tool-tip-type-text {
    display: block;
}

.live-edit-tool-tip-name-text {
    font-weight: bold;
}
