<link type="text/css" rel="stylesheet" href="styles/jsdoc-main.css">
<div class="docpage type-doc _1280-1440">
    <div id="doc-menu" class="docpage-menu">
        <div class="docpage-menu-wrapper">
            <?js= this.nav ?>
            <br>
        </div>
    </div>

    <div id="main" class="docpage-content">
        <?js if (title != 'Home') { ?>
        <h1 class="page-title"><?js= title ?></h1>
        <?js } ?>

        <?js= content ?>
    </div>
</div>
