.module-item-statistics-panel {

  .action-menu {
    position: absolute;
    top:10px;
    right:10px;
  }

  .header {
    background-color: @admin-light-gray-bg;
    padding: 35px;
    color: @admin-dark-gray-font;
    margin: 0;

    img {
      height: 64px;
      width: 64px;
      margin-right: 20px;
    }
  }

  .upgrade-message-container {
    width: 100%;
    background-color: @admin-red;
    padding: 10px 0;
    color: white;
    font-size: 1.2em;
    text-align: center;

  }
  .module-data-container {
    padding:0 35px;

    .module-item-data-group {
      padding:35px 0;
      border-bottom: 1px solid @admin-light-gray-bg;

      h2 {
        margin-bottom:20px;
      }

      .data-list {
        display: inline-block;
        vertical-align: top;
        margin-right: 50px;
        li {
          &.list-header {
            font-size: 14px;
            margin-bottom:5px;
          }
          margin-bottom:2px;
        }
      }
    }
  }
}