<div>
    <div>
        <h2>City Creation/Update</h2>
    </div>
    <div>
        <form id="formCityCreation" method="post" data-th-action="${cityServiceUrl}" action="">
            <div class="form-group">
                <label for="city-name">Name</label>
                <input type="text" name="cityName" id="city-name" class="form-control" required="required"
                       data-th-value="${defaultCityName}"/>
            </div>
            <div class="form-group">
                <label for="city-location">Location</label>
                <input type="text" name="cityLocation" id="city-location" class="form-control" required="required"
                       pattern="-?[0-9]{1,2}(?:\.[0-9])?[0-9]*,-?[0-9]{1,3}(?:\.[0-9])?[0-9]*" data-th-value="${defaultCityLocation}"/>
            </div>
            <input type="hidden" name="parentPath" data-th-value="${parentPath}"/>
        </form>
    </div>
    <div>
        <input type="submit" form="formCityCreation"/>
    </div>
</div>