.context-menu-with-title {
  z-index: 2147483646; // max positive int - 1 (tooltip has max)
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-color: @admin-medium-gray-border;
  background: @admin-white;
  display: none;
  min-width: 160px;

  .names-and-icon-view {
    padding: 5px 0 5px 5px;

    .wrapper {
      width: 16px;
      height: 16px;
      line-height: 14px;

      .icon {
        color: @admin-dark-gray-font;
        font-size: 16px;
        line-height: 14px;
      }
    }

    .names-view {
      margin: 0 24px;

      .main-name {
        color: @admin-dark-gray-font;
        font-family: @admin-font-family;
      }
      .sub-name {
        display: none;
      }
    }
  }

  .button.close {
    .button(@admin-light-gray-font, transparent, @admin-dark-gray-font);

    float: right;
    padding: 5px;
    font-size: 16px;
    line-height: 14px;

    span {
      display: none;
    }
  }

  .context-menu {
    display: block;
    position: static;
    border: 0 none;
  }

  .arrow(@admin-medium-gray-border, 7px);

}


