.context-menu {
  z-index: 2147483647; // max positive int - 1 (tooltip has max)
  position: absolute;
  background: @admin-white;
  list-style: none;
  display: none;
  margin: 0;
  padding: 4px;
  min-width: 120px;
  .box-shadow(0 1px 5px rgba(0, 0, 0, 0.7));

  li {
    font-family: @admin-font-family;
    background-color: transparent;
    font-size: 14px;
    border-width: 0;
    color: @admin-dark-gray-font;

    padding: 5px;
    margin: 0;

    &:hover:not(.context-menu-item-disabled) {
      cursor: pointer;
      background-color: @admin-light-gray-bg;
    }

    &:disabled, &.disabled {
      opacity: 0.5;
    }
  }
}

