@panel-outer-width: 320px;
@header-height: 44px;
@panel-indent: 30px;

//Variables
@import "../../variables/color";
@import "../../variables/font";
@import "../../variables/mixins";
@import "../../variables/z-index";

.home-main-container {
  .home-main-container-mixin();

  .container-title {
    .container-title-mixin();
  }

  .header {
    position: absolute;
    display: table;
    top: 0;
    height: @header-height;
    width: 100%;
    padding-left: @panel-indent;
    z-index: 1;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    .box-sizing(border-box);
  }

}

.home-main-footer {
  position: absolute;
  display: table;
  left: 40px;
  bottom: 15px;
  text-align: left;
  z-index: @z-index-launcher-panel;
  background-color : transparent;
  font-family: @admin-font-family;
  font-size: @admin-font-size;

  a {
    display: table-cell;
    color: @admin-white;
    padding-right: 20px;
    text-decoration: none;
  }
}

._240-360 {
  .home-main-container {
    .header {
      padding-left: calc(~'100% - @{panel-outer-width}');
    }
  }
}