@panel-outer-width: 320px;
@header-height: 44px;
@panel-indent: 30px;

//Variables
@import "../../variables/color";
@import "../../variables/font";
@import "../../variables/mixins";
@import "../../variables/z-index";


@font-face {
  font-family: 'icomoon';
  src: url('../../../../common/icons/fonts/icomoon.eot?d2dpl4');
  src: url('../../../../common/icons/fonts/icomoon.eot?#iefixd2dpl4') format('embedded-opentype'),
  url('../../../../common/icons/fonts/icomoon.woff?d2dpl4') format('woff'),
  url('../../../../common/icons/fonts/icomoon.ttf?d2dpl4') format('truetype'),
  url('../../../../common/icons/fonts/icomoon.svg?d2dpl4#icomoon-release') format('svg');
}

.home-main-container {
  .home-main-container-mixin();

  background-color: @admin-dark-gray;
  .header {
    position: absolute;
    display: table;
    top: 0;
    height: @header-height;
    width: 100%;
    padding-left: @panel-indent;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    .box-sizing(border-box);

    span {
      .container-title-mixin(24px, 6px);
      font-weight: 400;
      color: lightgray;
    }

  }

}

.home-main-footer {
  position: absolute;
  display: table;
  left: 40px;
  bottom: 14px;
  text-align: left;
  z-index: calc(@z-index-launcher-panel - 1);
  background-color: transparent;
  font-family: @admin-font-family;
  font-size: @admin-font-size;
  font-weight: 700;

  & > * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    display: table-cell;
    color: @admin-white;
    padding-right: 20px;
    text-decoration: none;
  }
}

._240-360 {
  .home-main-container {
    .header {
      padding-left: 40px;
    }
  }
}

._0-240, ._240-360, ._360-540 {
  .home-main-container .header span {
    .container-title-mixin(22px, 8px);
    color: lightgray;
  }
}