@panel-outer-width: 320px;
@header-height: 44px;
@panel-indent: 30px;

//Variables
@import "../../variables/color";
@import "../../variables/font";
@import "../../variables/mixins";
@import "../../variables/z-index";


@font-face {
  font-family: 'icomoon';
  src: url('../../../../common/icons/fonts/icomoon.eot?d2dpl4');
  src: url('../../../../common/icons/fonts/icomoon.eot?#iefixd2dpl4') format('embedded-opentype'),
  url('../../../../common/icons/fonts/icomoon.woff?d2dpl4') format('woff'),
  url('../../../../common/icons/fonts/icomoon.ttf?d2dpl4') format('truetype'),
  url('../../../../common/icons/fonts/icomoon.svg?d2dpl4#icomoon-release') format('svg');
}

.home-main-container {
  .home-main-container-mixin();

  .header {
    position: absolute;
    display: table;
    top: 0;
    height: @header-height;
    width: 100%;
    padding-left: @panel-indent;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    .box-sizing(border-box);

    .welcome-text {
      .container-title-mixin(28px, 6px);
    }

    .welcome-tip {
      position: absolute;
      right: calc(50px ~"+" @panel-outer-width);
      bottom: 13px;
      color: @admin-white;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      -webkit-animation: bounce 1s ease-out 5s 2; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: bounce 1s ease-out 5s 2; /* Firefox < 16 */
      -ms-animation: bounce 1s ease-out 5s 2; /* Internet Explorer */
      -o-animation: bounce 1s ease-out 5s 2; /* Opera < 12.1 */
      animation: bounce 1s ease-out 5s 2;

      @keyframes bounce {
        0% {
          right: calc(50px ~"+" @panel-outer-width);
        }
        50% {
          right: calc(30px ~"+" @panel-outer-width);
        }
        100% {
          right: calc(50px ~"+" @panel-outer-width);
        }
      }

      span {
        -webkit-animation: fadein 12s linear 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 12s linear 2s; /* Firefox < 16 */
        -ms-animation: fadein 12s linear 2s; /* Internet Explorer */
        -o-animation: fadein 12s linear 2s; /* Opera < 12.1 */
        animation: fadein 12s linear 2s;
        opacity: 0;

        &:after {
          position: absolute;
          bottom: -9px;
          font-size: 32px;
          font-family: 'icomoon';
          content: "\e3b5";
          line-height: 33px;
        }

        @keyframes fadein {
          0% {
            opacity: 0;
          }
          20% {
            opacity: 1;
          }
          80% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }

}

.home-main-footer {
  position: absolute;
  display: table;
  left: 40px;
  bottom: 15px;
  text-align: left;
  z-index: @z-index-launcher-panel;
  background-color: transparent;
  font-family: @admin-font-family;
  font-size: @admin-font-size;

  & > * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    display: table-cell;
    color: @admin-white;
    padding-right: 20px;
    text-decoration: none;
  }
}

._240-360 {
  .home-main-container {
    .header {
      padding-left: calc(~'100% - @{panel-outer-width}');
    }
  }
}