.tree-grid-toolbar {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: -40px;
  background-color: @admin-bg-almost-white;

  .@{_COMMON_PREFIX}button {
    border: none;

    &.selection-toggler {
      position: relative;
      padding: 0 7px;

      &:before {
        font-size: 24px;
      }
      &.active {
        &:disabled {
          opacity: 1;
        }

        span {
          background: @admin-blue;
        }
      }

      span:empty {
        display: none;
      }
      span {
        position: relative;
        top: 1px;
        display: block;
        width: 18px;
        height: 18px;
        line-height: 18px;
        padding: 3px;
        border-radius: 12px;
        z-index: 1;
        text-align: center;
        background: @form-button-bg-hover;
        color: @admin-white !important;
      }

      &.updated span {
        animation: grow 200ms linear;
      }

      &.size-1 span {
        font-size: 13px;
      }

      &.size-2 span {
        font-size: 11px;
      }

      &.size-3 span {
        font-size: 9px;
      }

      &.size-4 span {
        font-size: 7px;
      }

      &.single-item:after, &.multiple-items:after {
        display: block;
        font-size: 15px;
        position: absolute;
        top: 0;
        left: 37px;
        height: 39px;
        width: 48px;
      }

      &.single-item:after {
        content: 'item';
      }
      &.multiple-items:after {
        content: 'items';
      }

      &:disabled:after {
        display: none;
      }

      &.active:after {
        color: @admin-button-blue2;
      }

      &:not(.active):after {
        color: @admin-font-gray2;
      }
    }

    &.@{_CLS_PREFIX}icon-loop {
      float: right;
      padding: 0 26px 0 14px;

      &:before {
        left: 0;
      }
    }

    &:active, span {
      color: @admin-button-blue2;
    }

    &:focus {
      box-shadow: none;
      border: none;
    }
  }

  .selection-controller {
    display: inline-block;
    width: 13px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 5px;
    vertical-align: top;


    label {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0;
      vertical-align: middle;

      &:before {
        margin: 0;
        position: static;
      }
    }
  }

  .fold-button {
    .@{_COMMON_PREFIX}dropdown {
      button {
        &:not(:disabled) span {
          color: @admin-button-blue2;
        }
        &:hover:not(:disabled) span {
          color: @admin-button-blue3;
        }
      }
    }
  }

}

body {
  &._0-240, &._240-360, &._360-540 {
    .tree-grid-toolbar .@{_COMMON_PREFIX}button.@{_CLS_PREFIX}icon-loop {
      float: left;
      padding: 0 0 0 16px;
    }
    .selection-controller {
      float: right;
      padding-left: 5px;
      padding-right: 17px;
    }

    .tree-grid-toolbar .@{_COMMON_PREFIX}button.selection-toggler {
      float: right;
      padding-right: 50px;
    }
  }
}

.content-grid-and-browse-split-panel.vertical .tree-grid {
  &._0-240, &._240-360, &._360-540 {

    .@{_CLS_PREFIX}icon-loop {
      padding: 0 32px 0 14px;
    }
  }
}

@keyframes grow {
  0%, 100% {
    -webkit-transform: scale( 1 );
    -moz-transform: scale( 1 );
    -o-transform: scale( 1 );
    -ms-transform: scale( 1 );
    transform: scale( 1 );
  }
  50% {
    -webkit-transform: scale( 1.2 );
    -moz-transform: scale( 1.2 );
    -o-transform: scale( 1.2 );
    -ms-transform: scale( 1.2 );
    transform: scale( 1.2 );
  }
}
