.tree-grid {
  position: static;
  height: 100%;
  &:not(.no-toolbar) {
    padding-top: 40px;
  }

  .slick-viewport {
    overflow-x: hidden !important;
    height: 100% !important; // only without animation
  }

  &.quick .grid {
    .slick-row {
      .transition(none 4s);
    }
  }

  .slick-row {
    .transition(margin ease-in 0.3s);
  }

  .grid {
    width: 100% !important;
    height: 100% !important;
    overflow-y: auto !important;

    .selected {
      background-color: @admin-blue;
      color: @admin-white;
    }

    .slick-cell {
      .default-slick-cell-styling(4px 8px 4px 2px);
      cursor: pointer;
      line-height: 37px;
      height: 45px; // firefox ignores SlickGrid.rowHeight

      * {
        // force same cursor on every child
        cursor: pointer;
      }
    }

    .slick-row {

      background-color: @admin-white;
      z-index: 1;
      .transition(margin ease-in 0.3s);

      &:hover, &.odd:hover {
        background-color: @admin-bg-light-gray;
      }

      &.odd {
        background-color: @admin-bg-almost-white;
      }

      .children-to-load {
        padding-left: 46px;
        color: @admin-font-gray2;
        font-size: 13px;
        .ellipsis();
        .notSelectable();
      }

      .selected {
        h6, p, .children-to-load {
          color: @admin-white;
        }
      }

      .slick-cell-checkboxsel {
        min-width: 45px;
        padding-left: 8px;
        line-height: normal;

        label {
          display: inline-block;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          background: url("../../../../images/admin-unchecked.gif") center no-repeat;
          cursor: pointer;
        }

        input[type="checkbox"] {
          display: none;
        }

        &.selected label {
          background: url("../../../../images/admin-checked.gif") center no-repeat;
        }

      }

      .toggle {
        &:active {
          color: @admin-button-blue1;
        }

        display: inline-block;
        position: relative;
        float: left;
        height: 100%;
        width: 20px;
        text-align: center;
        margin-right: 10px;
      }

      .toggle.expand, .toggle.collapse {
        &:before {
          position: relative;
          display: block;
          top: 50%;
          margin: -10px 0 0;
          font-size: 20px;
        }
      }

      .toggle.expand {
        .icon-arrow-right2();
      }

      .toggle.collapse {
        .icon-arrow-right2();
        &:before {

          .rotate(45deg);
        }
      }

      .viewer {
        display: block;
        height: 100%;
        .names-and-icon-view {
          .wrapper {
            line-height: 36px;
          }
          .names-view {
            margin-top: 1px;
            .main-name {
              height: 18px;
              line-height: 18px;
            }
          }

        }
        &.invalid .names-and-icon-view .wrapper:before {
          top: 2px;
        }
      }

      .progress-bar {
        height: 12px;
        margin: 12px 0; // because cell height 37px
      }
    }
  }
}