@font-face {
  font-family: 'icomoon';
  src: url('../icons/fonts/icomoon.eot?d2dpl4');
  src: url('../icons/fonts/icomoon.eot?#iefixd2dpl4') format('embedded-opentype'),
  url('../icons/fonts/icomoon.woff?d2dpl4') format('woff'),
  url('../icons/fonts/icomoon.ttf?d2dpl4') format('truetype'),
  url('../icons/fonts/icomoon.svg?d2dpl4#icomoon-release') format('svg');
}


.icon-base {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  color: @admin-dark-gray;

}

.icon {
  &:extend(.icon-base);

  // important to override buttons font if icon is applied to button
  &:before, &:after {
    font-family: 'icomoon' !important;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.font-icon-default {
  &:extend(.icon);
}

.icon-xsmall {
  &:before {
    font-size: 10px;
  }
}

.icon-small {
  &:before {
    font-size: 14px;
  }
}

.icon-medium {
  &:before {
    font-size: 24px;
  }
}

.icon-large {
  &:before {
    font-size: 30px;
  }
}

.icon-xlarge {
  &:before {
    font-size: 48px;
  }
}

.icon-cog {
  .icon;
  &:before {
    content: "\e1df";
  }
}

.icon-center_focus_strong {
  .icon;
  &:before {
    content: "\e149";
  }
}

.icon-crop {
  .icon;
  &:before {
    content: "\e153";
  }
}

.icon-newspaper {
  .icon;
  &:before {
    content: "\e00c";
  }
}

.icon-image {
  .icon;
  &:before {
    content: "\e02b";
  }
}

.icon-file-upload {
  .icon;
  &:before {
    content: "\e08a";
  }
}

.icon-file {
  .icon;
  &:before {
    content: "\e077";
  }
}

.icon-folder {
  .icon;
  &:before {
    content: "\e098";
  }
}

.icon-address-book {
  .icon;
  &:before {
    content: "\e0e8";
  }
}

.icon-database {
  .icon;
  &:before {
    content: "\e138";
  }
}

.icon-user {
  .icon;
  &:before {
    content: "\e185";
  }
}

.icon-users {
  .icon;
  &:before {
    content: "\e186";
  }
}

.icon-quotes-left {
  .icon;
  &:before {
    content: "\e19f";
  }
}

.icon-search {
  .icon;
  &:before {
    content: "\e1b7";
  }
}

.icon-wand {
  .icon;
  &:before {
    content: "\e1ec";
  }
}

.icon-stats {
  .icon;
  &:before {
    content: "\e1fe";
  }
}

.icon-puzzle {
  .icon;
  &:before {
    content: "\e26e";
  }
}

.icon-masks {
  .icon;
  &:before {
    content: "\e902";
  }
}

.icon-tree {
  .icon;
  &:before {
    content: "\e901";
  }
}

.icon-cart {
  .icon;
  &:before {
    content: "\e900";
  }
}

.icon-calendar {
  &:extend(.icon-base);
  font-family: 'icomoon' !important;
  content: "\e115";
}

.icon-clock {
  &:extend(.icon-base);
  font-family: 'icomoon' !important;
  content: "\e101";
}
.icon-target {
  .icon;
  &:before {
    content: "\e27b";
  }
}

.icon-shield {
  .icon;
  &:before {
    content: "\e27e";
  }
}

.icon-list {
  .icon;
  &:before {
    content: "\e299";
  }
}

.icon-numbered-list {
  .icon;
  &:before {
    content: "\e29c";
  }
}

.icon-grid {
  .icon;
  &:before {
    content: "\e2a0";
  }
}

.icon-grid2 {
  .icon;
  &:before {
    content: "\e2a3";
  }
}

.icon-menu4 {
  .icon;
  &:before {
    content: "\e2ad";
  }
}

.icon-earth {
  .icon;
  &:before {
    content: "\e2c7";
  }
}

.icon-link {
  .icon;
  &:before {
    content: "\e2c9";
  }
}

.icon-blocked {
  .icon;
  &:before {
    content: "\e364";
  }
}

.icon-close {
  .icon;
  &:before {
    content: "\e36b";
  }
}

.icon-close2 {
  .icon;
  &:before {
    content: "\e36c";
  }
}

.icon-checkmark {
  .icon;
  &:before {
    content: "\e370";
  }
}

.icon-loop {
  .icon;
  &:before {
    content: "\e3a9";
  }
}

.icon-arrow-right {
  .icon;
  &:before {
    content: "\e3b1";
  }
}

.icon-arrow-down {
  .icon;
  &:before {
    content: "\e3b2";
  }
}

.icon-arrow-right2 {
  .icon;
  &:before {
    content: "\e3b5";
  }
}

.icon-arrow-down2 {
  .icon;
  &:before {
    content: "\e3b6";
  }
}

.icon-arrow-up {
  .icon;
  &:before {
    content: "\e3c1";
  }
}

.icon-arrow-down3 {
  .icon;
  &:before {
    content: "\e3c5";
  }
}

.icon-arrow-right3 {
  .icon;
  &:before {
    content: "\e3cb";
  }
}

.icon-arrow-up2 {
  .icon;
  &:before {
    content: "\e410";
  }
}

.icon-arrow-right4 {
  .icon;
  &:before {
    content: "\e411";
  }
}

.icon-arrow-down4 {
  .icon;
  &:before {
    content: "\e412";
  }
}

.icon-arrow-left {
  .icon;
  &:before {
    content: "\e413";
  }
}

.icon-font-size {
  .icon;
  &:before {
    content: "\e448";
  }
}

.icon-type {
  .icon;
  &:before {
    content: "\e449";
  }
}

.icon-bold {
  .icon;
  &:before {
    content: "\e44e";
  }
}

.icon-underline {
  .icon;
  &:before {
    content: "\e44f";
  }
}

.icon-italic {
  .icon;
  &:before {
    content: "\e450";
  }
}

.icon-strikethrough {
  .icon;
  &:before {
    content: "\e451";
  }
}

.icon-paragraph-left {
  .icon;
  &:before {
    content: "\e46b";
  }
}

.icon-paragraph-center {
  .icon;
  &:before {
    content: "\e46c";
  }
}

.icon-paragraph-right {
  .icon;
  &:before {
    content: "\e46d";
  }
}

.icon-paragraph-justify {
  .icon;
  &:before {
    content: "\e46e";
  }
}

.icon-pencil2 {
  .icon;
  &:before {
    content: "\e00e";
  }
}

.icon-trending_neutral {
  .icon;
  &:before {
    content: "\e2f6";
  }
}

.icon-grid5 {
  .icon;
  &:before {
    content: "\e2a4";
  }
}

.icon-attachment2 {
  .icon;
  &:before {
    content: "\e2d8";
  }
}

.icon-wrench {
  .icon;
  &:before {
    content: "\e1d7";
  }
}

.icon-clipboard {
  .icon;
  &:before {
    content: "\e298";
  }
}

.icon-signup {
  .icon;
  &:before {
    content: "\e296";
  }
}

.icon-plus-circle {
  .icon;
  &:before {
    content: "\e35e";
  }
}

.@{_COMMON_PREFIX}icon-text {
  .icon-type;
}

.@{_COMMON_PREFIX}icon-file {
  .icon;
  &:before {
    content: "\e077";
  }
}

.@{_COMMON_PREFIX}icon-region {
  .icon;
  &:before {
    content: "\e4fd";
  }
}

.@{_COMMON_PREFIX}icon-page {
  .icon;
  &:before {
    content: "\e07b";
  }
}

.@{_COMMON_PREFIX}icon-part {
  .icon;
  &:before {
    content: "\e26e";
  }
}

.@{_COMMON_PREFIX}icon-layout {
  .icon;
  &:before {
    content: "\e467";
  }
}

.@{_COMMON_PREFIX}icon-image {
  .icon;
  &:before {
    content: "\e02b";
  }
}

.@{_COMMON_PREFIX}icon-fragment {
  .icon;
  &:before {
    content: "\e1f7";
  }
}

.@{_COMMON_PREFIX}icon-menu {
  .icon;
  &:before {
    content: "\e2ac";
  }
}

.@{_CLS_PREFIX}icon-loop {
  .icon;
  &:before {
    content: "\e3a8";
  }
}

.@{_CLS_PREFIX}icon-mobile {
  .icon;
  &:before {
    content: "\e125";
  }
}

.@{_CLS_PREFIX}icon-tablet {
  .icon;
  &:before {
    content: "\e127";
  }
}

.@{_CLS_PREFIX}icon-monitor2 {
  .icon;
  &:before {
    content: "\e120";
  }
}

.@{_CLS_PREFIX}icon-monitor {
  .icon;
  &:before {
    content: "\e123";
  }
}
