.input-occurrence-view {

  clear: left;

  * {
    float: left;
  }

  .occurrence-count {
    float: left;

    color: #bbbbbb;

    font-size: 8px;
  }

  .remove-button {
    float: right;
    margin: 4px 4px;
    .icon-remove(2em, @admin-medium-gray-font);
    text-decoration: none;
    cursor: pointer;
  }

}