.single-selector .combobox {

  input {
    height: 24px;
    padding: 3px 8px;
  }

  .slick-cell {
    height: 24px;
    padding: 3px 8px;
    border: none;
  }

  .selected-options {
    float: none;

    .selected-option {
      .slick-cell;
      width: 100%;
      padding-right: 0;

      .remove {
        font-size: 9px;
      }
    }
  }

}