.new-principal-dialog {
  .modal-dialog-footer {
    display: none;
  }

  .tree-grid {
    &.flat {
      .slick-cell .toggle {
        display: none !important;
      }
      .viewer.root-viewer {
        .names-and-icon-view {
          padding-left: 6px;
        }
      }
    }

    &:not(.flat) {
      .viewer.root-viewer {
        padding-left: 0px;
      }
    }

    .viewer.root-viewer {
      .names-and-icon-view {
        .@{_COMMON_PREFIX}main-name {
          height: 36px !important;
          line-height: 36px !important;
        }
        .@{_COMMON_PREFIX}sub-name {
          display: none;
        }
      }
    }

    .viewer:not(.root-viewer) {
      box-sizing: border-box;
      padding-left: 77px;
    }

    .slick-cell.selected {
      .names-and-icon-view {
        h6,
        p {
          color: @admin-black;
        }

      }
      background-color: transparent;
      color: inherit;
    }
  }
}
