.dependant-dialog {

  &.invalid {
    .sub-title {
      color: @admin-red;
    }
  }

  &.locked {

    .dialog-buttons {

      button:not(.cancel-button-bottom) {
        font-family: 'icomoon';
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  &.locked:not(.no-publish) {
    .dialog-buttons {
      button:not(.cancel-button-bottom) {
        &:after {
          .animation(rotate360, .5s, .0s, linear);
          content: "\e007";
          color: white;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }

  .sub-title {
    margin-top: 20px;
  }

  .browse-selection-item {
    padding: 4px 0px;
    margin: 0px;
    .flexbox();

    .viewer {
      .flex(5);
      max-width: 75%;
    }

    .status {
      .flex(1);
      margin-right: 5px;
      text-align: right;
    }

    .content-status-mixin();

    &:only-child .remove {
      opacity: 0.3;
      cursor: default;
    }
  }

  .dialog-content {

    max-height: 300px;
    overflow-y: auto;

    @media screen and (max-height: 720px) {
      max-height: 250px;
    }

    @media screen and (max-height: 540px) {
      max-height: 150px;
    }

    @media screen and (max-height: 360px) {
      max-height: 80px;
    }

    .item-list {

      @media screen and (max-height: 720px) {
        max-height: 350px;
      }

      @media screen and (max-height: 540px) {
        max-height: 170px;
      }

      @media screen and (max-height: 360px) {
        max-height: 82%;
      }

    }

    .dependants {
      display: none;

      .dependants-header {
        margin: 20px 0 10px 0;
      }

      .dependant-list {
        margin-top: 10px;

        &.contains-removable {
          .browse-selection-item {
            .remove {
              display: block;
              opacity: 0.3;
              cursor: default;
            }
          }
          .removable {
            .remove {
              opacity: 1;
              cursor: pointer;
            }
          }
        }
        h6 {
          margin-bottom: 5px;
        }

        .browse-selection-item {
          padding-left: 2px;

          .remove {
            display: none;
            height: 20px;
            order: 1;
            float: none;
            margin: 0 5px 0 12px;
            &:before {
              font-size: 18px;
            }
          }

          &.invalid {
            cursor: pointer;

            .names-and-icon-view {
              cursor: pointer;

              .@{_COMMON_PREFIX}wrapper:before {
                content: "!";
                background: #cb0300;
                color: #ffffff;
                top: 2px;
                left: 30px;
              }

              .@{_COMMON_PREFIX}main-name, .@{_COMMON_PREFIX}sub-name {
                cursor: pointer;
              }
            }

            &:hover {
              background-color: #eeeeee;
            }
          }

          .dependant-item-viewer {
            &.pending-delete .@{_COMMON_PREFIX}names-view {
              .@{_COMMON_PREFIX}main-name, .@{_COMMON_PREFIX}sub-name {
                text-decoration: line-through;
              }
            }
          }

          .names-and-icon-view {
            .@{_COMMON_PREFIX}wrapper {
              margin: 0px;
              height: 16px;
              width: 16px;
              line-height: 14px;
            }

            &.small {
              .@{_COMMON_PREFIX}wrapper:before {
                left: 8px;
                width: 8px;
                height: 8px;
                line-height: 8px;
                border-radius: 15px;
                font-size: 12px;
              }

              .@{_COMMON_PREFIX}names-view {
                margin-left: 30px;
              }
            }

            .font-icon-default.image {
              background: url("../../../../images/icons/16x16/image.png");
              width: inherit;
              height: inherit;
            }

            .@{_COMMON_PREFIX}names-view {
              .@{_COMMON_PREFIX}sub-name {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
