.dependant-dialog {

  &.contains-removable {
    .dialog-content .dependants .dependant-list {
      margin-left: 24px;

      &.contains-removable {
        margin-left: 0;
      }
    }

  }

  &.invalid {
    .sub-title {
      color: @admin-red;
    }
  }

  &.locked {

    .browse-selection-item {
      .remove {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .dialog-buttons {

      button:not(.cancel-button-bottom) {
        font-family: 'icomoon';
        pointer-events: none;
        opacity: 0.5;

        &:after {
          .animation(rotate360, .5s, .0s, linear);
          content: "\e007";
          color: white;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }

  .sub-title {
    margin-top: 20px;
  }

  .browse-selection-item {
    padding: 4px 0px;
    margin: 0px;
    display: block;

    .status {
      margin-right: 10px;
      display: inline-block;
      float: right;
      text-align: right;

      &.equal {
        color: @admin-green;
      }
    }
  }

  .dialog-content {

    max-height: 300px;
    overflow-y: auto;

    @media screen and (max-height: 720px) {
      max-height: 250px;
    }

    @media screen and (max-height: 540px) {
      max-height: 150px;
    }

    @media screen and (max-height: 360px) {
      max-height: 80px;
    }

    .item-list {

      @media screen and (max-height: 720px) {
        max-height: 350px;
      }

      @media screen and (max-height: 540px) {
        max-height: 170px;
      }

      @media screen and (max-height: 360px) {
        max-height: 82%;
      }

    }

    .dependants {
      display: none;

      .dependants-header {
        margin: 20px 0 10px 0;
      }

      .dependant-list {
        margin-top: 10px;

        &.contains-removable {
          padding-left: 25px;
          margin-left: 8px;

          .browse-selection-item {
            padding-left: 0px;

            .names-and-icon-view .@{_COMMON_PREFIX}wrapper {
              margin-left: 10px;
            }
          }

        }
        h6 {
          margin-bottom: 5px;
        }

        .browse-selection-item {
          padding-left: 10px;

          .remove {
            display: none;
            height: 16px;
          }

          &.removable {

            margin-left: -25px;

            .remove {
              display: block;
            }
          }

          &.invalid {
            cursor: pointer;

            .names-and-icon-view {
              cursor: pointer;

              .@{_COMMON_PREFIX}wrapper:before {
                content: "!";
                background: #cb0300;
                color: #ffffff;
                top: 2px;
                left: 30px;
              }

              .@{_COMMON_PREFIX}main-name, .@{_COMMON_PREFIX}sub-name {
                cursor: pointer;
              }
            }

            &:hover {
              background-color: #eeeeee;
            }
          }

          .dependant-item-viewer {
            width: calc(~'100% - 97px');

            &.pending-delete .@{_COMMON_PREFIX}names-view {
              .@{_COMMON_PREFIX}main-name, .@{_COMMON_PREFIX}sub-name {
                text-decoration: line-through;
              }
            }
          }

          .names-and-icon-view {
            .@{_COMMON_PREFIX}wrapper {
              margin: 0px;
              height: 16px;
              width: 16px;
              line-height: 14px;
            }

            &.small {
              .@{_COMMON_PREFIX}wrapper:before {
                left: 8px;
                width: 8px;
                height: 8px;
                line-height: 8px;
                border-radius: 15px;
                font-size: 12px;
              }

              .@{_COMMON_PREFIX}names-view {
                margin-left: 37px;
              }
            }

            .font-icon-default.image {
              background: url("../../../../images/icons/16x16/image.png");
              width: inherit;
              height: inherit;
            }

            .@{_COMMON_PREFIX}names-view {
              .@{_COMMON_PREFIX}sub-name {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
