.notification-container {
  position: fixed;
  z-index: @z-index-notification;
  width: 100%;
}

.notification-wrapper {
  margin: auto;
  width: 800px;
}

.error div.notification-inner {
  background-color: red;
}

.warning div.notification-inner {
  background-color: orange;
}

.action div.notification-inner {
  background-color: #669c34;
}

.success div.notification-inner {
  background-color: @admin-green;
}

.notification {
  overflow: hidden;
  color: white;
  font-size: 1.2em;

  .notification-inner {
    padding: 10px 0;
    background-color: #4294DE;

    a {
      color: white;
    }
  }
}

.notification-remove {
  float: right;
  width: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.notification-content {
  margin-right: 20px;
  padding: 0 30px;
}