.image-editor {
  .notSelectable();
  display: block;
  padding-top: 58px; // equals to the height of sticky toolbar;

  &.standout {
    position: absolute; // need to have a position other than static for z-index to have effect
    z-index: @z-index-mask + 1; // to be above image input type mask
    width: 640px;

    .sticky-toolbar {
      z-index: @z-index-mask; // to have it on top of zoomed image
    }
  }

  &.edit-mode {

    .image-frame {

      .image-canvas {

        > svg {
          pointer-events: all;

          > image {
            cursor: move;
          }
        }

      }
    }

    .sticky-toolbar {
      .standby-container {
        display: none;
      }
      .edit-container {
        display: block;
      }
    }

    &.edit-focus {
      .sticky-toolbar {
        .button-focus {
          .button-foreground(@admin-blue);
        }
      }

      .image-frame {
        .image-canvas {

          .image-bg-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.25);
          }
        }
      }
    }

    &.edit-crop {
      .sticky-toolbar {
        .button-crop {
          .button-foreground(@admin-blue);
        }

        .zoom-container {
          display: block;
        }
      }

      .image-frame {
        overflow: visible;

        .image-canvas {
          .crop-group {
            display: block;
          }
          .image-bg {
            .opacity(.5);
          }
        }
      }
    }
  }

  &.selected:not(.edit-mode) {

    .image-frame {
      border: 1px solid @admin-input-blue;
      .box-shadow(0px 0px 10px darken(@admin-input-blue, 10%));
    }

  }

  &.autofocused:not(.edit-mode) {

    .focus-group {
      display: none;
    }
  }

  .image-frame {
    overflow: hidden;
    position: relative;
    box-shadow: none;
    border: 1px solid transparent;

    .image-canvas {
      position: absolute;
      overflow: visible; // to show drag handle
      .box-shadow(none);

      // to show upscaled image same way both in html and svg
      img, image {
        image-rendering: pixelated;
      }

      .image-bg {
        vertical-align: top; // to remove padding below the image
        width: 100%;
        height: 100%;
      }

      > svg {
        position: absolute;
        overflow: visible; // to show drag handle
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; // disable svg pointer events to detect drag enter/leave

        image {
          width: 100%;
          height: 100%;
        }

        .focus-group {

          .stroke-circle {
            stroke: red;
            fill: none;
            stroke-width: 4;
          }

        }

        .crop-group {
          display: none;

          .drag-handle {
            cursor: ns-resize;
            opacity: 0.5;

            circle {
              fill: white;
            }

            .drag-triangle {
              fill: black;
            }

            &:hover,
            &.active {
              opacity: 0.7;
              cursor: ns-resize;
            }
          }
        }
      }

    }

  }

  .sticky-toolbar {
    display: block;
    top: 0;
    position: absolute;
    z-index: @z-index-mask - 3; // because wizard-toolbar has z-index: @z-index-mask-2 and should be on top
    left: 1px; // account for image editor border
    width: 100%;

    .box-sizing(border-box);
    .clearfix();

    .standby-container {
      display: block;
    }
    .edit-container {
      display: none;
    }

    .@{_COMMON_PREFIX}button {
      margin: 0 10px 0 0;

      &.button-focus,
      &.button-crop,
      &.button-upload {
        height: 38px;
        vertical-align: top;
        padding: 0;
        .button-foreground(@admin-font-gray2);

        span {
          display: none;
        }

        &:before {
          font-size: 34px;
        }
      }

      &.button-reset {
        span {
          line-height: 34px;
        }
      }

      &.button-upload {
        width: 38px;
        background-image: url("../../../../../common/images/upload_white.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 9px;

        &:before {
          color: transparent;
        }
      }
    }

    .tab-menu {
      width: 140px;
      float: left;
      margin: 0;

      .tab-menu-button {
        color: black;
        background: transparent;
        border: 1px solid @admin-medium-gray-border;
      }
    }

    .top-container {
      padding: 10px;
      background-color: rgba(255, 255, 255, .8);
    }

    .right-container {
      float: right;

      .@{_COMMON_PREFIX}button {
        margin: 0 0 0 10px;

        &.close-button {
          .button(@form-button-font, @form-button-bg);

          width: auto;
          height: auto;
          padding: 6px;
          margin-left: 10px;
        }

        span {
          line-height: 34px;
        }
      }
    }

    .zoom-container {
      display: none;
      margin: 10px 12px 0 12px;
      padding: 10px;
      background-color: rgba(255, 255, 255, .8);

      &:hover,
      &.active {
        .zoom-line {
          .opacity(0.7);

          .zoom-knob {
            cursor: ew-resize;
          }
        }
      }

      .zoom-title {
        float: left;
        line-height: 20px
      }

      .zoom-line {
        .opacity(0.5);
        height: 2px;
        margin: 9px 10px 9px 100px;
        background-color: #444;
        position: relative;
        overflow: visible;

        .zoom-knob {
          cursor: ew-resize;
          position: absolute;
          margin-top: -9px;
          margin-left: -10px;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: #000;

          .border-radius(10px)
        }
      }

    }
  }

}