.form-view {
  font-size: 12px;
  position: relative;
  overflow: visible;

  .form-element-spacing(@form-field-set-spacing);

  .field-set-view, .form-item-set-view {
    .form-element-spacing(@form-field-set-spacing);
  }

  .input-view {
    .form-element-spacing(@form-field-spacing);
  }

  input, textarea {
    .input-glow();
  }
}