.form-view {
  font-size: 12px;
  position: relative;
  overflow: visible;

  .validation-viewer {
    display: none;
    color: @input-red-text;
  }

  &.display-validation-errors {
    .validation-viewer {
      display: block;
    }
  }

  .form-element-spacing(@form-field-set-spacing);

  .field-set-view, .form-item-set-view {
    .form-element-spacing(@form-field-set-spacing);
  }

  .input-view {
    .form-element-spacing(@form-field-spacing);
  }

}