@defaultHeight: 135px;

.live-edit-empty-component {
  clear: both;
  background-color: @componentDefaultBackground;
  padding: 15px;
  margin: 1px 0 10px 0;
  position: relative;
  min-height: @defaultHeight;
  box-sizing: border-box;
  font-family: @admin-font-family;
  text-align: center;

  //Reset styles from page
  & * {
    font-family: @admin-font-family;
    color: @admin-black;
    font-weight: normal;
  }

  &[data-live-edit-type] {
    &:before {
      .live-edit-font-icon-layout;
      font-size: 105px;
      color: #d3e0f2;
      position: absolute;
      left: ~"calc(50% - 52px)";
    }
  }

  &[data-live-edit-type="image"] {
    &:before {
      content: "\e005";
    }
  }
  &[data-live-edit-type="part"] {
    &:before {
      content: "\e003";
    }
  }
  &[data-live-edit-type="layout"] {
    &:before {
      content: "\e004";
    }
  }

  &[data-live-edit-type="text"] {
    .icon-type;
    &:before {
      font-family: 'icomoon' !important;
    }
    &[contenteditable="true"] {
      &:before {
        content: none;
      }
    }
  }

  .upload-new-image-button {
    text-align: center;
    position: relative;
    font-size: 3em;

    a {
      color: #224E83;
      text-decoration: none;
    }

    a:hover {
      color: #224E83;
    }
  }

  button.upload-button {
    .button(@admin-light-gray-font, transparent, @admin-dark-gray-font, transparent);
    vertical-align: middle;
    margin: @defaultHeight/2-30px auto 0 auto !important;
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
    height: 35px;
    width: 35px;
    -moz-box-sizing: content-box;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-left: none;
    border-color: #d3d3d3;
    background-color: #ffffff !important;
    background: url("../../common/images/upload.png") no-repeat center;
  }

  .rich-combobox {
    margin: @defaultHeight/2-30px auto 0 auto;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    width: 255px;
    .options-container {
      z-index: 9999999; // must override shader
    }
    .selected-options {
      display: none !important;
    }
  }

  .combobox {

    input[type="text"] {
      font-family: @admin-font-family;
      font-size: 15px;
      padding: 4px 37px 4px 10px;

      .placeholder(1em, italic);
    }
  }

  .live-edit-combo-font-icon {
    &:before {
      font-size: 32px;
    }
  }

}

.live-edit-font-icon-spinner {
  animation: live-edit-spinner .5s infinite linear;
  -webkit-animation: live-edit-spinner .5s infinite linear;
}
