@defaultHeight: 135px;

.live-edit-empty-component {
  clear: both;
  background-color: @componentDefaultBackground;
  padding: 15px;
  margin: 1px 0 10px 0;
  position: relative;
  min-height: @defaultHeight;
  box-sizing: border-box;

  &[data-live-edit-type] {
    &:before {
      .live-edit-font-icon-layout;
      font-size:105px;
      color: #d3e0f2;
      position:absolute;
      left: ~"calc(50% - 52px)";
    }
  }

  &[data-live-edit-type="image"] {
    &:before {
      content: "\e005";
    }
  }
  &[data-live-edit-type="part"] {
    &:before {
      content: "\e003";
    }
  }
  &[data-live-edit-type="layout"] {
      &:before {
        content: "\e004";
      }
  }

  &[data-live-edit-type="paragraph"] {
    &:before {
      content: "\e006";
    }
    background-color: transparent;
  }

  .rich-combobox {
    margin:@defaultHeight/2-37px auto 0 auto;
    width:255px;
    .options-container {
      z-index: 9999999; // must override shader
    }
    .selected-options {
      display:none !important;
    }
    .combobox {
      input {
        height: 50px;
      }
    }
  }

  .combobox {
    .input-icon {
      top: 9px;
      left: 9px;
      width: 32px;
      height: 32px;
    }

    input[type="text"] {
      font-size: 15px;
    }
  }

}

.live-edit-font-icon-spinner {
  animation: live-edit-spinner .5s infinite linear;
  -webkit-animation: live-edit-spinner .5s infinite linear;
}
