@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon() {
  font-family: FontAwesome;
}

.icon-chevron-left(@size: 1em, @color: black) {
  .icon();
  &:before {
    content: "\f053";
    font-size: @size;
    color: @color;
  }
}

.icon-chevron-right(@size: 1em, @color: black) {
  .icon();
  &:before {
    content: "\f054";
    font-size: @size;
    color: @color;
  }
}