.content-item-preview-panel {

  > img {
    display: none;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

  &.image-preview {
    background-color: @admin-dark-gray;

    > iframe {
      display: none;
    }
    > img {
      display: block;
    }
    .svg-preview-wrapper {
      display: none;
    }
  }

  &.svg-preview {

    > iframe {
      display: none;
    }
    > img {
      display: none;
    }
    .svg-preview-wrapper {
      text-align: center;
      display: block;
    }
  }

}