.content-item-versions-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .names-and-icon-view {
    .names-view {
      margin: 0px;
    }
  }


  .tree-grid {

    .slick-row {
      .box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.1));
      margin: 5px 5px 0 7px;
      height: 60px !important;

      &.odd {
        background-color: @admin-white;
      }

      .slick-cell {
        padding: 0;
        &.description {
          padding: 10px 7px 7px 7px;
          width: 70%;
        }
        &.status {
          margin: 7px 0 0 7px;
          width: 70px;
        }
      }
    }

    .description {

      img {
        background: lightgrey url("../../common/images/tsi-profil.jpg") center;
        background-size: 32px 32px;
        width: 32px !important;
        height: 32px !important;
        .border-radius(16px);
      }

    }

    .status {

      .badge {
        line-height: 30px;
        text-align: center;
        margin-top: 7px;

        &.draft {
          color: @admin-black;
          background-color: @admin-bg-light-gray;
        }

        &.master {
          color: @admin-white;
          background-color: forestgreen;
        }

      }

    }

  }

}