.mobile-content-item-statistics-panel {

  display: none;
  height: 100%;
  position: fixed;
  float: right;
  z-index: 3000;
  width: 100%;
  top: 0px;
  box-shadow: 0 4px 20px -8px #000000, 0 0 0 0 rgba(0, 0, 0, 0.3);
  background-color: @admin-white;
  .transition(all 0.3s linear);

  .header {
    display: none;
  }

  @media screen and (max-width: 540px) {
    display: block;
  }

  .mobile-content-item-statistics-header {
    z-index: 3003;
    margin: 0px;
    width: 100%;
    position: absolute;
    padding: 8px 0px 8px 0px;
    overflow: hidden;
    display: block;
    line-height: 20px !important;
    background-color: @admin-bg-almost-white;
    text-align: center;
    font-size: 14px;
  }

  .mobile-details-panel-toggle-button {

    z-index: 3003;
    margin: 0px;
    right: 2px;
    float: right;
    width: 35px;
    height: 20px;
    position: absolute;
    line-height: 20px;
    top: 0px;
    padding: 8px 0px 8px 0px;
    font-size: 15px;
    overflow: hidden;
    display: block;
    cursor: pointer;

    .icon-list();

    &.expanded {
      font-size: 25px;
      padding-top: 5px;
      .icon-close2();
    }
  }

  .back-button {

    z-index: 3;
    margin: 0px 0px 0px 5px;
    float: left;
    width: 35px;
    height: 20px;
    position: absolute;
    line-height: 20px;
    top: 0px;
    padding: 8px 0px 8px 0px;
    font-size: 20px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    transform: rotate(180deg);

    .icon-trending_neutral();
  }

  .details-panel {

    background-color: @admin-bg-almost-white;
    display: inherit;
    width: 100%;
    right: 0px;
    opacity: 0.95;

    > .details-container {
      left: 0px;
    }

    .widgets-selection-row {

      .info-widget-toggle-button {

        font-size: 16px;
        .icon-list();
      }

      .widget-selector {
        max-width: none;
        margin-left: 1px;

        .viewer {
          font-size: 12px;
        }

        .selected-option {
          width: calc(~'100% - 42px');
        }

        .dropdown-handle {
          &.down {
            right: 2px;
          }
        }
      }
    }

    .transition(all 0.5s ease-in-out);

    .widget-toggle-button {
      position: relative;
      overflow: hidden;
      display: block;
      line-height: 20px;
      padding: 8px 5px;
      background-color: @admin-bg-light-gray;
      cursor: pointer;

      * {
        vertical-align: top;
      }

      &:before {
        font-size: 20px;
        position: absolute;
        right: 5px;
      }

      span.label {
        font-family: "Open Sans", sans-serif;
        margin-left: 5px;
        display: block;
        font-size: 14px;
      }
    }

    .widget-view {

      margin: 0 0 2px 0;

      margin-left: 5px;
      overflow: hidden;
      .transition(all 0.1s ease-in-out);

      .panel {
        position: relative;
      }

      .status-widget-item-view {
        font-size: 20px;
      }

      .widget-toggle-button {
        line-height: 20px !important;
        .icon-arrow-right2();
      }

      &.expanded {

        padding: 5px 0 5px 0;

        .widget-toggle-button {
          .icon-arrow-down2();
        }
      }

    }
  }

  .toolbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid @admin-bg-light-gray;
    background-color: @admin-white;
    opacity: 0.95;

    .fold-button {
      border: 0px;

      &:hover .@{_COMMON_PREFIX}dropdown,
      &:focus .@{_COMMON_PREFIX}dropdown,
      .@{_COMMON_PREFIX}dropdown:hover,
      .@{_COMMON_PREFIX}dropdown:focus {
        bottom: 100%;
      }

      &:after {
        border-top: 0px;
      }

      .@{_COMMON_PREFIX}dropdown {
        .box-shadow(1px -1px 2px 0px rgba(0, 0, 0, 0.3));
      }
    }

    .mobile-edit-action {
      position: absolute;
      bottom: 0px;
      right: 0px;
      vertical-align: middle;
      padding: 0px 14px;
      line-height: 36px;
      border: 0px;

      &:disabled {
        background-color: transparent;
      }

    }
  }
}