.form-view {
  font-size: 12px;

  & > * {
    margin-bottom: 35px;
  }

  .add-button {
    margin: 0;
    padding: 6px 16px 6px 16px;
    border: none;
    background-color: @form-button-bg;
    color: @form-button-font;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: @form-button-bg-hover;
    }

    &:disabled {
      color: @form-button-font-disabled;
      cursor: default;
    }

    .label {
      padding: 0 4px;
      height: 16px;
      line-height: 16px;
    }
  }
  input, textarea {
      .input-glow();
  }
}

.input-error(@color: @admin-input-red) {
  border:1px solid @color;

  &:focus {
    box-shadow: 0px 0px 5px @color;
  }
}

.input-glow(@color: @admin-input-blue) {
  &:hover {
    border:1px solid @color;
  }
  &:focus {
    box-shadow: 0px 0px 5px @color;
    border:1px solid @color;
  }
}

@media (max-width: 540px) {

  .form-view > * {
    margin-left: 10px;
    margin-right: 10px;
  }

}