.form-view {
  font-size: 12px;
  position: relative;
  overflow: visible;

  & > *:not(:last-child) {
    margin-bottom: 35px;
  }

  input, textarea {
    .input-glow();
  }
}


.context-window {
  .form-view > * {
    margin-bottom: 15px;
  }
}