.form-item-set-view {

  margin: 10px 0;

  &.invalid {
    border-right: 2px solid lightcoral;
  }

  &.valid {

  }

  .occurrence-views-container {
    background-color: @admin-light-gray-bg;
    padding-top: 10px;
    .clearfix();
  }

  .form-item-set-drop-target-placeholder {
    border: 2px dashed #000;
    padding: 14px;
    color: #000;
    font-size: 14px;
    text-align: center;
    margin: 10px;
  }

  .input-view {
    .input-label {
      max-width: 90px;
      margin-right: 10px;
    }

    .input-type-view {
      margin-left: @form-label-width - 20px;
    }

    .bottom-button-row {
      background-color: white;
      margin-left: @form-label-width - 20px;
    }
  }

  & > .bottom-button-row {
    background-color: @admin-light-gray-bg;
    padding: 0 10px 10px 10px;
    clear: left;
    .clearfix();

    button {
      margin-left: 0px;
    }

    .add-button {
      float: left;
    }

    .collapse-button {
      float: right;
      text-decoration: underline;
      line-height: 28px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.odd {
    & > .occurrence-views-container {
      background-color: #67656a;
    }

    & > .bottom-button-row {
      background-color: #67656a;

      .collapse-button {
        color: white;
      }
    }
  }

  .form-item-set-view {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.form-item-set-drop-allowed {
  background-color: #558e28;
  text-align: center;
  line-height: 48px;
  .icon-checkmark;
  color:white;
}

@media (max-width: 720px) {

  .form-item-set-view {

    .input-view {

      .input-label {
        max-width: 100%;
        margin-right: 0;
      }

      .input-type-view,
      .bottom-button-row {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 540px) {
  .form-item-set-view-small();
}

.context-window {
  .form-item-set-view-small();
}

.form-item-set-view-small() {
  .form-item-set-view {
    margin-left: -10px;
    margin-right: -10px;

    .input-view {
      .input-label {
        max-width: 100%;
        margin-right: 0;
      }

      .input-type-view,
      .bottom-button-row {
        margin-left: 0;
      }
    }
  }
}