.install-application-dialog {

  .modal-dialog-content-push {
    display: none;
  }
  .modal-dialog-footer {
    height: 2em;
  }

  .dialog-content {
    overflow-y: auto;
    max-height: 600px;

    @media screen and (max-height: 720px) {
      max-height: 420px;
    }

    @media screen and (max-height: 540px) {
      max-height: 240px;
    }

    @media screen and (max-height: 360px) {
      max-height: 100px;
    }
  }

  .dialog-header .path {
    font-size: 16px;
  }

  .@{_COMMON_PREFIX}&.@{_CLS_PREFIX}large {
    font-size: 13px;
    border: 2px solid @admin-medium-gray-border;
  }

  .url-input {
    width: 100%;
  }

  .file-input {
    width: 100%;

    @media screen and (max-height: 360px) {
      margin-bottom: 5px;
    }
  }

  .uploader-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .uploader-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      .opacity(.9);
      z-index: @z-index-modal-dialog + 2;
    }

    .uploader-el {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: @z-index-modal-dialog + 3;

      .dropzone-container {
        height: 100%;

        .dropzone {
          width: 100%;
          height: 100%;
          overflow: visible;
          border: 0 none;
          background-color: transparent;

          &:before {
            .dropcircle();
          }
        }
      }
    }
  }

  .upload-app-panel {
    margin-top: 20px;
  }

  .validation-viewer {
    width: inherit;
    padding: 20px 10px 20px 0;
    background-color: @input-light-red;
    color: @input-red-text;
    display: table;
    ul {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .install-app-docked-panel {
    position: static !important;
    box-shadow: none;
    width: 100%;
    overflow-x: hidden;

    .panel {
      position: static;
    }

    .tab-bar-item {
      display: inline-table;
      width: 25%;
    }

    .market-app-panel {

      .market-app-tree-grid {
        .grid {
          padding-right: 15px;
          .slick-cell {
            padding-top: 15px;
            height: 52px;
            cursor: default;
            * {
              cursor: default;
            }

            .viewer {
              .names-and-icon-view {
                cursor: default;
              }
            }

            &.app-name-and-icon {
              margin-left: 10px;
              .main-name {
                font-size: 16px;
                padding-bottom: 2px;
                color: @admin-blue;
                a {
                  cursor: pointer !important;
                  text-decoration: none;
                }
              }
            }

            .toggle.icon {
              display: none;
            }

          }
        }

        .version {
          text-align: center;
          color: @admin-black;
          font-size: 12px;
        }

        .app-status {
          text-align: center;

          .install, .update {
            color: @admin-green;
            cursor: pointer !important;
            font-size: 16px;
          }
          .installed {
            opacity: 0.6;
            font-size: 14px;
            color: #777777;
          }
        }
      }

    }
  }
}
