.install-application-dialog {

  .transition(margin-top 0.2s ease-in-out);

  .modal-dialog-content-push {
    display: none;
  }
  .modal-dialog-footer {
    height: 2em;
  }

  .market-app-panel {
    overflow-y: auto;
  }

  .market-app-panel, .slick-viewport {

    max-height: 560px;

    @media screen and (max-height: 720px) {
      max-height: 380px;
    }

    @media screen and (max-height: 540px) {
      max-height: 200px;
    }

    @media screen and (max-height: 360px) {
      max-height: 60px;
    }
  }

  .dialog-header .path {
    font-size: 16px;
  }

  .@{_COMMON_PREFIX}&.@{_CLS_PREFIX}large {
    font-size: 13px;
    border: 2px solid @admin-medium-gray-border;
  }

  .url-input {
    width: 100%;
  }

  .file-input {
    > input.text {
      width: calc(~'100% - 37px');
    }

    @media screen and (max-height: 360px) {
      margin-bottom: 5px;
    }
  }

  .uploader-el {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropzone-container {
    .dialog-dropzone-container(90px);
    .dropzone {
      font-size: 16px;
    }
  }

  .upload-app-panel {
    margin-top: 20px;
    overflow: visible;
    padding: 1px;
  }

  .validation-viewer {
    width: inherit;
    padding: 20px 10px 20px 0;
    background-color: @input-light-red;
    color: @input-red-text;
    display: table;
    ul {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .install-app-docked-panel {
    position: static !important;
    box-shadow: none;
    width: 100%;
    overflow-x: hidden;

    .panel {
      position: static;
    }

    .tab-bar-item {
      display: inline-table;
      width: 25%;
    }

    .market-app-panel {

      .market-app-tree-grid {
        .grid {
          padding-right: 15px;
          .slick-cell {
            padding-top: 15px;
            height: 52px;
            cursor: default;
            * {
              cursor: default;
            }

            .viewer {
              .names-and-icon-view {
                cursor: default;
              }
            }

            &.app-name-and-icon {
              margin-left: 10px;
              .@{_COMMON_PREFIX}main-name {
                font-size: 16px;
                padding-bottom: 2px;
                color: @admin-blue;
                a {
                  cursor: pointer !important;
                  text-decoration: none;
                }
              }
            }

            .toggle.icon {
              display: none;
            }

          }
        }

        .load-mask {
          max-height: 580px;
        }

        .version {
          text-align: center;
          color: @admin-black;
          font-size: 12px;
        }

        .app-status {
          text-align: center;

          .install, .update {
            cursor: pointer !important;
            font-size: 16px;
            padding: 0px 15px;
          }
          .install {
            color: @admin-green;
          }
          .update {
            color: @input-dark-red;
          }
          .installed {
            opacity: 0.6;
            font-size: 14px;
            color: #777777;
          }
        }
      }

    }
  }
}
