.install-application-dialog {

  @media screen and (max-height: 360px ) {
    .dialog-content {
      height: 65%;
    }
  }

  .dialog-header .path {
    font-size: 16px;
  }

  .@{_COMMON_PREFIX}&.@{_CLS_PREFIX}large {
    font-size: 13px;
    border: 2px solid @admin-medium-gray-border;
  }

  .dialog-header {
    margin-bottom: 60px;
  }

  .url-input {
    width: 100%;
  }

  .file-input {
    width: 100%;
    margin-bottom: 20px;

    @media screen and (max-height: 360px) {
      margin-bottom: 5px;
    }
  }

  .uploader-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .uploader-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      .opacity(.9);
      z-index: @z-index-modal-dialog + 2;
    }

    .uploader-el {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: @z-index-modal-dialog + 3;

      .dropzone-container {
        height: 100%;

        .dropzone {
          width: 100%;
          height: 100%;
          overflow: visible;
          border: 0 none;
          background-color: transparent;

          &:before {
            .dropcircle();
          }
        }
      }
    }
  }

}
