.image-selector {
  margin-left: 110px;
  .combobox {

    input {
      height: 37px;
      padding: 4px 4px 4px 50px;
    }

    .slick-cell {
      height: 34px;
      padding: 8px;
      border: none;
      .box-sizing(content-box);

      &.selected .content-summary .display-name {
        color: #d3d3d3;
      }

      .icon {
        float: left;
        width: 32px;
        height: 32px;
        border: 1px @admin-medium-gray-border solid;
      }

      .content-summary {
        margin: 0 0 0 42px;

        .display-name {
          font-size: 14px;
          line-height: 16px;
          overflow: hidden;
          white-space: pre;
          text-overflow: ellipsis;
        }

        .path {
          color: @admin-light-gray-font;
          font-size: 12px;
          overflow: hidden;
          white-space: pre;
          text-overflow: ellipsis;
        }
      }
    }

  }

  .selected-options {
    width: 500px;

    .selected-option {
      position: relative;
      float: left;
      width: 140px;
      height: 140px;
      padding: 0;
      margin: 10px 40px 20px 0;
      background-color: #ccc;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      &.editing {
        .scale(1.4);
        top: 15px;
      }

      &.last-in-row {
        margin: 10px 0 20px 0;
      }

      .label {
        display: none;
      }

      &:hover .label {
        display: block;
        position:absolute;
        width: 100%;
        padding: 3px;
        bottom: 0;
        opacity: 0.8;
        text-align: center;
        overflow: hidden;
        background-color: #fff;
      }
    }

    .dialog {
      overflow: hidden;
      float: left;
      width: 500px;
      height: 140px;
      margin-bottom: 10px;
      text-align: center;
      background-color: #EBEBEB;

      h1 {
        margin-top: 20px;
      }

      button {
        width: 150px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
        height: 24px;
        line-height: 24px;
        cursor: pointer;

        &.edit {
          margin-right: 10px;
          background-color: #2c76e9;

          &:hover {
            background-color: #5a94ee;
          }
        }

        &.remove {
          background-color: #7a7a7a;
        }
      }
    }

    .clearer {
      .clearfix();
    }
  }

  .open-library-button, .upload-button {
    box-sizing: content-box;
    vertical-align: top;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 7px 6px;
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  .open-library-button {
    background: url("../images/folder-open.png");
  }

  .upload-button {
    background: url("../images/upload.png");
  }
}

.image-selector-upload-dialog {

  .content-panel {
    margin-top: 0;

    .image-uploader {
      margin: 50px 20px;

      .dropzone {
        height: 250px;
      }

      img {
        display: none;
      }

    }
  }
}