.appbar {
  width: 100%;
  height: 44px;
  .flexbox();
  flex-flow: row no-wrap;
  align-items: stretch;
  align-content: stretch;

  padding: 0 10px 0 15px;
  background: @admin-bg-dark-gray;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  .box-sizing(border-box);

  .launcher-button {
    &:extend(.icon);
    .icon-grid2;

    .flex(0 0 30px);
    .order(3);

    float: right;
    width: 30px;
    padding: 0;
    margin: 4px 0px 4px 0px;
    border: 0 none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;

    &:before {
      .color-transition();
    }

    span {
      display:none;
    }
    &:hover {
      background-color: transparent;
      &:before {
        color: rgba(255,255,255,0.5);
      }
    }

  }

  .home-button {
    .flex(0 0 auto);
    .order(1);

    float: left;
    padding: 8px 25px;
    border: 0;
    color: @admin-bg-light-gray;
    background-color: transparent;
    font-family: @admin-font-family;
    cursor: pointer;
    z-index: 1;

    span {
      padding-left: 10px;
      font-size: 15px;
      text-transform: uppercase;
      line-height: inherit;
    }

    &:before {
      position: relative;
      top: 4px;
      font-size: 24px;
      font-family: 'icomoon';
    }

    &:before, span {
      .color-transition();
    }

    &:hover {
      background: none;
      &:before, span {
        color: rgba(255,255,255,0.5);
      }
    }
  }

  .home-button, .launcher-button {
    &:focus {
      .box-shadow(none);
      border: none;
    }
  }
}

._0-240, ._240-360, ._360-540 {

  .home-button {
    padding-right: 0px;
  }

  &.tabs-present {
    .home-button {
      .flex(0 0 41px);

      &:before {
        float: left;
      }
      
      span {
        display: none;
      }
    }

    .xp-admin-common-button {
      padding-right: 17px !important;
    }

    .appbar-tab-menu {
      max-width: calc(~'100% - ' 90px);
    }
  }

  .tab-menu {
    min-width: initial;
  }

}

.tabs-present {
  .appbar-tab-menu {
    max-width: calc(~'100% - ' 222px);

    ul.bar {
      min-width: inherit;
    }
  }
}

