.names-and-icon-view {
  .reset();

  .names-and-icon-view-styles(48px);

  &.small {
    .names-and-icon-view-styles(32px);
  }
  &.medium {
    .names-and-icon-view-styles(48px);
  }
  &.large {
    .names-and-icon-view-styles(64px);
  }

  .names-and-icon-view-styles(@size) {
    @icon-names-gap: 15px;

    position: relative;
    overflow: hidden;

    .wrapper {

      height: @size;
      width: @size;
      margin-right: @icon-names-gap;
      float: left;
      line-height: @size - 2px;
      vertical-align: middle;
      text-align: center;

      &:before {
        position: absolute;
        top: 0;
        left: @size - 10px;
        width: 16px;
        height: 16px;
        padding: 2px;
        line-height: 16px;
        border-radius: 10px;
        font-size: 14px;
        z-index: 1;
        text-align: center;
      }

      .font-icon-default, .font-icon {
        max-width: 100%;
        max-height: 100%;
        font-size: @size;
        margin: auto;
        vertical-align: middle;
      }
    }

    .names-view {
      margin: 0 0 0 @size + @icon-names-gap;
    }

    .icon-label {
      position: absolute;
      top: 0px;
      left: @size - 10px;
      line-height: 12px;
      padding: 3px;

      &:before {
        content: "";
      }
    }
  }

}