.sort-content-dialog {

  .dialog-content {
    max-height: 480px;
    overflow-y: hidden;
  }

  @media screen and (max-height: 360px) {
    .dialog-content {
      max-height: 220px;
      overflow-y: hidden;

      > h6 {
        display: none;
      }
    }

    padding-top: 20px;
    padding-bottom: 10px;

  }

  @media screen and (max-height: 540px) {

    .dialog-content {
      max-height: 200px;
      overflow-y: hidden;
    }

    padding-top: 20px;
    padding-bottom: 10px;
  }

  @media screen and (max-height: 720px) {

    .dialog-content {
      max-height: 240px;
      overflow-y: hidden;
    }
  }

  .dialog-buttons {
    .button {
      &.save-button {

        &.spinner {
          font-family: 'live-edit-font-icon';

          &:after {
            .animation(rotate360, .5s, .0s, linear);
            content: "\e007";
            color: white;
            display: inline-block;
          }
        }
      }
    }
  }

  .slick-viewport {
    max-height: 440px;
    overflow: auto;

    @media screen and (max-height: 720px) {
      max-height: 210px;
    }

    @media screen and (max-height: 540px) {
      max-height: 155px;
    }

  }
  .drag-icon {
    cursor: move;
    min-width: 30px;
    padding-left: 10px;
  }

  .slick-reorder-proxy {
    opacity: 0;
  }

  .slick-reorder-guide {
    display: none;
  }

  .slick-row {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: move;

    .slick-cell, .slick-cell * {
      cursor: move;
    }
  }

  h6 {
    font-size: 12.5px;
    margin-bottom: 10px;
  }

  .grid-canvas {
    position: static;
    min-height: 45px;

    .selected {
      z-index: 2;
    }
  }

  .no-content {
    font-size: 21px;
    font-family: @admin-font-family;
    color: lightgray;
    text-align: center;

    &:after {
      content: attr(data-content) '  -  nothing to sort yet!';
      position: absolute;
      width: 100%;
      height: 40px;
      line-height: 40px;
      top: 70%;
      left: 0;
      margin-top: -20px;
      z-index: 2;
    }
  }

  .dialog-header {
    h2 {
      float: left;
      margin-bottom: 20px;
      margin-right: 26%;

      @media screen and (max-height: 360px) {
        margin-bottom: 10px;
      }
    }

    @media screen and (max-height: 360px) {
      margin-bottom: 5px;
    }
  }


  .sort-tab-menu {
    width: 280px;
    float: left;
    margin: 0px;

    .tab-menu-button {
      background-color: #ffffff;
      border: 1px solid #cccccc;

      .label {
        display: block;
        margin: 0 30px;
        overflow: hidden;
        white-space: pre;
        color: @admin-button-blue2;
        .ellipsis();
      }
    }
    .tab-menu-item {
      display: block;
      padding: 5px 35px;
      overflow: hidden;
      white-space: pre;
      color: @admin-button-blue2;
      .ellipsis();
    }

    .dropdown-handle {
      position: absolute;
      top: 0;
      right: 0;
      width: 37px;
      height: 100%;
      cursor: pointer;
      z-index: 100;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        margin: -5px 0 0 -7px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 10px solid @admin-dark-gray;
      }

      &.down:after {
        border-top: 0px solid transparent;
        border-bottom: 10px solid @admin-dark-gray;
      }

      &.disabled {
        cursor: default;

        &:after {
          border-top: 10px solid @admin-medium-gray-border;
        }

        &.down:after {
          border-top: 0px solid transparent;
          border-bottom: 10px solid @admin-medium-gray-border;
        }

      }

    }
  }

  .sort-content-grid {
    height: 70%;
    width: 100%;
  }
  .toggle.icon {
    display: none !important;
  }

  &._0-240, &._240-360 {
    .sort-tab-menu {
      width: 230px;
    }

    .r1 {
      width: 82%;
    }

    .r2 {
      display: none;
    }

    .dialog-header {
      h2 {
        margin-right: 0px;
      }
    }

    @media screen and (max-height: 540px) {
      .dialog-content {

        > h6 {
          display: none;
        }
      }
    }

  }

  &._360-540 {
    @media screen and (max-height: 540px) {
      .dialog-content {

        > h6 {
          display: none;
        }
      }

    }
  }

}