html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-family: arial,helvetica,sans-serif;
    font-size: 75%;
    color: #332F2D;
    line-height: 1.5;
    background: #141414 url("images/bodybg.gif") repeat-x center bottom fixed;
}

a {
    color: #186DCB;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0.4em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.2;
}

#sites h2 {
    margin-bottom: 0.25em;
}

h3,
.name {
    font-size: 1.3em;
    color: #332F2D;
}

#logo, #nav, #footer, #content-outer {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

#content-outer {
    width: 909px;
    padding: 20px 20px 40px 20px;
    background-color: #fff;
}

#content {
    width: 586px;
    margin-right: 20px;
    float: left;
}

#east {
    width: 303px;
    float: left;
}

#footer {
    margin-top: 10px;
    color: #9D9D9D;
}

#footer #license {
    padding-left: 3px;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
}

#logo {
    height: 75px;
    padding-top: 20px;
}

#logo-screen {
    width: 172px;
    height: 53px;
}

#management-components {
    margin-bottom: 25px;
}

#management-components .icon-admin {
    margin-right: 10px;
}

#management-components .icon-webdav {
    margin:  8px 10px 8px 10px;
}

#management-components .component {
    display: block;
    width: 281px;
    height: 64px;
    cursor: pointer;
}

#management-components .component span{
    display: inline-block;
}

#management-components .component .info {
    width: 183px;
}

#management-components .component .info div {
    overflow: hidden;
    height: 20px;
}

#management-components .component.admin {
    margin-right: 20px;
}

#management-components .component .name {
    margin-top: 10px;
}

#welcome {
    margin-bottom: 20px;
}

#steps {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px 20px;
}

.step {
    margin-bottom: 20px;
}

.step .number {
    font-size: 3.5em;
    font-weight: bold;
    margin-right: 30px;
}

.step .description {
    width: 490px;
    overflow: hidden;
}

#steps ul {
    list-style: disc;
}

#steps ul li {
    margin-left: 15px;
}

#steps ul li div {
    overflow: hidden;
    height: 20px;
}

#sites {
    padding: 15px 10px;
}

#sites ul {
    list-style: none;
}

#sites ul li {
    cursor: pointer;
}

#sites ul li {
    padding-left: 40px;
    background: url("images/applications-internet.png") no-repeat 0 7px TRANSPARENT;
    margin-bottom: 10px;
}

#sites ul li a {
    display: block;
}

#sites ul li a span {
    display: inline-block;
}


.box {
    border: 1px solid #D7D7D7;
    background: #f5f6f5;
    background: -moz-linear-gradient(top, #f5f6f5 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f5), color-stop(100%,#fff));
    background: -webkit-linear-gradient(top, #f5f6f5 0%,#fff 100%);
    background: -o-linear-gradient(top, #f5f6f5 0%,#fff 100%);
    background: -ms-linear-gradient(top, #f5f6f5 0%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f5', endColorstr='#ffffff',GradientType=0 );
    background: linear-gradient(top, #f5f6f5 0%,#fff 100%);
}

ul.menu.main {
    /*background: #1557b3 url('images/menubg.gif') repeat-x;*/
    float: right;
}

ul.menu, ul.menu ul {
    list-style-type: none;
    margin-top: 10px;
}

ul.menu.horizontal li {
    float: left;
}

ul.menu.main a.active, ul.menu.main div.active, ul.menu.main a.path, ul.menu.main div.path {
    padding: 3px 12px 6px;
    background-color: #FFFFFF !important;
    background-image: none;
    color: #186DCB;
}

ul.menu.main a.first, ul.menu.main div.first {
    margin-left: 13px;
}

ul.menu.main a, ul.menu.main div {
    color: #fff; /*B2C9E9*/
    margin: 6px 0 0 0;
    overflow: hidden;
    padding: 3px 10px 3px;
    text-align: center;
    white-space: nowrap;
}

ul.menu a, ul.menu div {
    display: block;
    text-decoration: none;
}

.error {
    margin-bottom: 20px;
    border: 1px dotted #000000;
    padding: 10px;
    background-color: #FFA0A0;
}

/* ---- Utils ----- */

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.clearfix:after, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
