.tooltip {
  position: absolute;
  border: @admin-medium-gray-border 1px solid;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  z-index: 99;

  &:before {
    content: " ";
    position: absolute;
    overflow: hidden;
  }

  &.bottom:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid @admin-medium-gray-border;
    top: -7px;
    left: 50%;
    margin-left: -7px;
  }

  &.left:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid @admin-medium-gray-border;
    right: -7px;
    top: 50%;
    margin-top: -7px;
  }

  &.top:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid @admin-medium-gray-border;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
  }

  &.right:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid @admin-medium-gray-border;
    left: -7px;
    top: 50%;
    margin-top: -7px;
  }

}