@weak-color: #ca3319;
@good-color: #bd8d05;
@strong-color: #008424;
@extreme-color: #331745;

.password-generator {
  position: relative;

  .password-input {
    padding-right: 60px;
    width: 100%;

    .input-glow();
    .input-font();
    .input-border();
    .box-sizing(border-box);
  }

  a {
    cursor: pointer;
    padding: 5px;
    display: inline-block;

    &.show-link:after {
      content: 'Show';
    }
  }

  &:after {
    position: absolute;
    top: 2px;
    right: 4px;
  }

  &.unlocked {
    .password-input {
      -webkit-text-security: none;
    }
    .show-link:after {
      content: 'Hide';
    }
  }

  &.weak {
    .password-input {
      .input-border(@weak-color);
      .input-glow(@weak-color);
    }

    &:after {
      content: 'Weak';
      color: @weak-color;
    }
  }

  &.good {
    .password-input {
      .input-border(@good-color);
      .input-glow(@good-color);
    }

    &:after {
      content: 'Good';
      color: @good-color;
    }
  }

  &.strong {
    .password-input {
      .input-border(@strong-color);
      .input-glow(@strong-color);
    }

    &:after {
      content: 'Strong';
      color: @strong-color;
    }
  }

  &.extreme {
    .password-input {
      .input-border(@extreme-color);
      .input-glow(@extreme-color);
    }

    &:after {
      content: 'Extreme';
      color: @extreme-color;
    }
  }

  ._0-240 &,
  ._240-360 & {

    .password-input {
      padding: 0;
    }

    &:after {
      display: none;
    }
  }

}