.text-editor-toolbar {
  z-index: @z-index-text-editor-toolbar;
  background-color: #f6f5f7;
  border: 1px solid #aaa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding: 5px;

  .arrow(#f6f5f7, 10px);

  .text-editor-button {
    border: 1px solid transparent;
    background-color: #f6f5f7;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      border: 1px solid #ccc;
    }

    .text-editor-button-tag(@tag, @icon) {
      &[data-text-editor-tag=@{tag}] {
        background: url("../images/htmleditor/@{icon}.png") center center no-repeat;
      }
    }

    .text-editor-button-tag('paste', 'paste');
    .text-editor-button-tag('insertUnorderedList', 'list');
    .text-editor-button-tag('insertOrderedList', 'numbered-list');
    .text-editor-button-tag('link', 'link');
    .text-editor-button-tag('cut', 'scissors');
    .text-editor-button-tag('strikeThrough', 'strikethrough');
    .text-editor-button-tag('bold', 'bold');
    .text-editor-button-tag('underline', 'underline');
    .text-editor-button-tag('italic', 'italic');
    .text-editor-button-tag('superscript', 'superscript');
    .text-editor-button-tag('subscript', 'subscript');
    .text-editor-button-tag('justifyLeft', 'paragraph-left');
    .text-editor-button-tag('justifyCenter', 'paragraph-center');
    .text-editor-button-tag('justifyRight', 'paragraph-right');
    .text-editor-button-tag('justifyFull', 'paragraph-justify');
  }
}

/* Remove the outline added by browser */
.text-editor-editable-area {
  outline-color: transparent;
  outline-style: none;
}