.@{_COMMON_PREFIX}dropdown-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  border: 0;
  cursor: pointer;
  z-index: auto;
  background-color: transparent;

  .focusable();

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -5px 0 0 -7px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid @admin-dark-gray;

    .transition(0.2s);
    .transition-timing-function(cubic-bezier(0, 0.4, 1, 0.6));
  }

  &.down:after {
    .transform(rotateX(180deg));
  }

  &[disabled] {
    cursor: default;

    &:after {
      border-top: 10px solid @admin-medium-gray-border;
    }

    &.down:after {
      border-top: 0px solid transparent;
      border-bottom: 10px solid @admin-medium-gray-border;
    }
  }
}
