.menu-button {
  display: inline-block;
  position: relative;
  height: 40px;

  &.hidden-dropdown {
    .@{_COMMON_PREFIX}dropdown-handle, .menu {
      display: none;
    }

    .action-button {
      margin-left: 0px;
    }
  }

  &.minimized {
    .action-button {
      display: none !important;
    }

    .@{_COMMON_PREFIX}dropdown-handle {
      position: static;
    }

    .menu {
      right: 0;
    }
  }

  .@{_COMMON_PREFIX}dropdown-handle {
    left: 0;
    width: 40px;
    background-color: @admin-green;
    
    &:after {
      margin-left: -6px;
      border-top: 10px solid @admin-white;
    }

    &:hover {
      background-color: lighten(@admin-green, 10%);
      span {
        color: @admin-white;
      }
    }
    &[disabled], &[disabled]:hover {
      background-color: @form-button-bg-disabled;
    }
  }

  .action-button {
    position: relative;
    height: 100%;
    border: none;
    min-width: 126px;
    margin-left: 41px;
    background-color: @admin-green;
    text-align: center;
    span {
      color: @admin-white;
    }

    &:disabled {
      background-color: @form-button-bg;
    }

    &:not(:disabled):hover {
      background-color: lighten(@admin-green, 10%);
      span {
        color: @admin-white;
      }
    }
  }

  .menu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: @z-index-mask;
    box-sizing: border-box;

    &.expanded {
      display: block !important;
    }
  }

  .menu-item {
    display: block !important;
  }
}