.content-wizard-toolbar {
  padding-right: 1px;
  height: @app-header-height;
  line-height: @app-header-height;

  .@{_COMMON_PREFIX}button {
    line-height: @app-header-height;
  }

  .fold-button .@{_COMMON_PREFIX}button {
    line-height: 18px;
  }

  .home-button {
    background-image: url("../../../../../apps/content-studio/icons/icon-black.svg") !important;
    background-position: 0 6px !important;
    float: left;
    width: 28px;
    margin-left: 15px;
  }

  .toolbar-publish-controls {
    display: none;
  }

  .cycle-button.icon-medium:before {
    font-size: 26px;
    line-height: 30px;
  }

  .toggle-button.icon-medium:before {
    font-size: 24px;
    line-height: 29px;
  }

  .toggle-button, .cycle-button {
    height: 100%;
    float: right;
    padding: 6px 10px 6px 10px;

    &:before {
      position: relative;
      top: 0px;
    }
  }

  &:not(.live) .toggle-button {
    display: none !important;
  }

}

