.content-wizard-toolbar {
  padding-right: 1px;

  .home-button {
    background-image: url("../../../../../apps/content-studio/icons/icon-black.svg") !important;
    background-position: center center !important;
    float: left;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
  }

  .toolbar-publish-controls {
    display: none;
  }

  .cycle-button.icon-medium:before {
    font-size: 26px;
    line-height: 30px;
  }

  .toggle-button.icon-medium:before {
    font-size: 24px;
    line-height: 29px;
  }

  .toggle-button, .cycle-button {
    height: 100%;
    float: right;
    padding: 6px 10px 6px 10px;

    &:before {
      position: relative;
      top: 0px;
    }
  }

  &:not(.live) .toggle-button {
    display: none;
  }

}

