.wizard-header-with-display-name-and-name {
  .name-wrapper, .@{_COMMON_PREFIX}text-input {
    max-width: 100%;
    box-sizing: content-box;
    .ellipsis();
  }

  .@{_COMMON_PREFIX}text-input:disabled {
    color: @admin-blue;

    &:hover {
      cursor: pointer;
      border: 1px solid transparent;
    }
  }
}

._0-240, ._240-360 {
  .name-wrapper, .@{_COMMON_PREFIX}text-input&.@{_CLS_PREFIX}large {
    min-width: 100px;
  }
}

._360-540 {
  .name-wrapper, .@{_COMMON_PREFIX}text-input&.@{_CLS_PREFIX}.large {
    min-width: 250px;
  }
}

._0-240, ._240-360, ._360-540 {
  .path {
    display: none !important;
  }
}