.wizard-step-navigator-and-toolbar {
  height: 40px;
  padding-left: 95px;
  background-color: @admin-bg-light-gray;

  &.no-dropdown-hover {
    .fold-button .@{_COMMON_PREFIX}dropdown {
      display: none;
    }
  }

  &.minimized {
    .fold-button {
      display: inline-block;
    }
  }

  .toolbar {
    float: right;
    margin: 0 40px;

    button {
      background: @admin-green;
      color: white;
      line-height: 20px;
      padding: 10px 15px 10px 15px;
      margin: 0;

      &:hover {
        background-color: lighten(@admin-green, 5%);
      }
    }
  }

  .fold-button {
    display: none;
    position: relative;
    height: 100%;
    padding-top: 8px;
    padding-right: 27px;
    float: left;
    border: none;
    background-color: @admin-bg-light-gray;

    &:hover:not(:disabled) {
      background-color: @admin-bg-light-gray;
      .fold-label {
        color: @admin-font-gray1;
      }
    }

    &:focus:not(:disabled) {
      border: none;
      box-shadow: none;
    }

    .fold-label {
      color: @admin-font-gray1;
    }

    .@{_COMMON_PREFIX}dropdown {
      margin-top: 32px;
      max-width: 180px;

      .wizard-step-navigator {
        width: initial;
        margin-bottom: 0;
        padding-right: 0;
        background-color: @admin-white;
        li {
          padding: 5px;
          float: initial;
          span {
            color: @admin-font-gray2;
            .transition(none);
            line-height: 1em;
          }

          &.active {
            &:before, &:after {
              border-bottom: none;
            }
            span {
              color: @admin-font-gray3;
            }
          }

          &:hover {
            background: @admin-bg-light-gray;
            &:not(.active) span {
              color: darken(@admin-font-gray1, 10%);
            }
          }

          &:active {
            padding-bottom: 5px;
          }

          &:last-of-type {
            margin: 0;
          }
        }
      }
    }
  }

  &.scroll-stick {
    position: fixed;
    // to be above image input type mask and the input type itself
    z-index: @z-index-scroll-stick;
    top: 43px;
    border-top: 1px solid @admin-medium-gray-border;

    .box-shadow(-3px 3px 6px 0 @admin-toolbar-shadow);
  }

  .help-text-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    // margin left 34px is needed for calculations in js
    // total width with margin should always be the same
    margin: 0 7px 0 34px;
    float: right;
    vertical-align: top;
    overflow: hidden;
    z-index: @z-index-mask - 1;
    cursor: pointer;
    transition: all .3s 0s cubic-bezier(0, 0.25, 0.25, 1);

    &:after {
      display: block;
      content: "?";
      height: 22px;
      width: 22px;
      text-align: center;
      line-height: 22px;
      font-size: 16px;
      .border-radius(50%);
      color: white;
      background: @form-button-bg-hover;
    }

    &.on:after {
      background: @admin-button-blue1;
    }

    &:hover:not(.on):after {
      color: @admin-dark-gray;
    }
  }
}


._0-240, ._240-360, ._360-540, ._540-720, ._720-960 {
  .wizard-step-navigator-and-toolbar {
    padding-left: 0;
  }
}
