.wizard-page {
  .launcher-button {
    display: none;
  }
}

.wizard-panel {
  font-size: 14px;

  .@{_COMMON_PREFIX}mask {
    background-color: white;
    .opacity(.8);
  }

  &--live {
    .split-panel .minimize-edit {
      display: block;
    }


    .wizard-step-navigator-and-toolbar.pre-scroll-stick {

      .fold-button, > .wizard-step-navigator {
        padding-right: 32px;
      }

      &.has-help-text-button {
        .fold-button, > .wizard-step-navigator {
          padding-right: 70px;
        }

        .help-text-button {
          padding-right: 38px;
        }
      }

    }

  }

  .toolbar {
    border-bottom: 1px solid @admin-medium-gray-border;

    &.rendering * {
      opacity: 0;
    }

    &.scroll-shadow {
      .box-shadow(0px 2px 6px -2px #000);
    }
  }

  .thumbnail-uploader-el,
  .@{_COMMON_PREFIX}form-icon {
    float: left;
    width: 64px;
    height: 64px;
    margin: 5px 25px 0 25px;

    img {
      max-width: 100%;
      max-height: 100%;
    }

  }

  .form-panel {
    overflow-y: auto !important;
    &.rendering {
      .opacity(0);
    }
  }

  .live-form-panel.rendering {
    .opacity(0);
  }

  .wizard-steps-panel {
    margin: 0;
    padding: 0 0 0 110px;
    overflow: visible; // for the dropdowns to be visible outside the form

    .wizard-step-form {

      .form, .form-view {
        margin: 0;
      }
    }
  }

  ._0-240, ._240-360, ._360-540 {
    .thumbnail-uploader-el,
    .@{_COMMON_PREFIX}form-icon {
      margin: 5px 10px 0 10px;
    }
  }
}
