@font-face {
  font-family: 'icomoon';
  src: url('../icons/fonts/icomoon.eot?-5nqau7');
  src: url('../icons/fonts/icomoon.eot?#iefix-5nqau7') format('embedded-opentype'), url('../icons/fonts/icomoon.woff?-5nqau7') format('woff'), url('../icons/fonts/icomoon.ttf?-5nqau7') format('truetype'), url('../icons/fonts/icomoon.svg?-5nqau7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: @admin-icon-color;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-small {
  &:before {
    font-size: 14px;
  }
}

.icon-medium {
  &:before {
    font-size: 18px;
  }
}

.icon-large {
  &:before {
    font-size: 24px;
  }
}

.icon-checkmark {
  &:extend(.icon);
  &:before {
    content: "\e370";
  }
}

.icon-close {
  &:extend(.icon);
  &:before {
    content: "\e36b";
  }
}

.icon-arrow-down {
  &:extend(.icon);
  &:before {
    content: "\e3b2";
  }
}

.icon-grid {
  &:extend(.icon);
  &:before {
    content: "\e2a0";
  }
}

.icon-menu6 {
  &:extend(.icon);
  &:before {
    content: "\e2af";
  }
}

.icon-crop2 {
  &:extend(.icon);
  &:before {
    content: "\e43d";
  }
}

.icon-rotate {
  &:extend(.icon);
  &:before {
    content: "\e13d";
  }
}

.icon-rotate2 {
  &:extend(.icon);
  &:before {
    content: "\e13e";
  }
}

.icon-flip {
  &:extend(.icon);
  &:before {
    content: "\e13f";
  }
}

.icon-flip2 {
  &:extend(.icon);
  &:before {
    content: "\e140";
  }
}

.icon-palette {
  &:extend(.icon);
  &:before {
    content: "\e021";
  }
}

.icon-image {
  &:extend(.icon);
  &:before {
    content: "\e02b";
  }
}

.icon-blocked {
  &:extend(.icon);
  &:before {
    content: "\e364";
  }
}

.icon-pushpin {
  &:extend(.icon);
  &:before {
    content: "\e0f0";
  }
}