.floating-window {
  position: fixed !important;
  top: 100px;
  left: 100px;
  height: 480px;
  width: 320px;
  z-index: 100;

  background-color: #252526;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);

  color: white;

  &.minimized {
    height:auto;
  }

  .tab-menu {
    background-color: @admin-dark-gray;
    font-size: 15px;
    padding-top: 5px;
    .tab-menu-button {
      width: 25px;
      height: 25px;
      text-indent: 5px;
      color: @admin-medium-gray-font;
      cursor: pointer;
      font-weight:bold;
      span {
        font-family: @admin-font-family;
        padding-left: 10px;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }
    .minimizer {
      width: 25px;
      position: absolute;
      right: 5px;
      top: 7px;
      cursor: pointer;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: @admin-dark-gray;
      width: 100%;
      box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.56);
      li {
        margin-left: 25px;
      }
    }

    .tab-menu-item {
      color: @admin-medium-gray-font;
      padding: 5px;
      cursor: pointer;
      &.active {
        display: none;
      }
    }
  }

  input {
    margin: 15px;
    padding: 5px 3px;
    width: calc(100% - 20px);
    border: none;
    background-color: @admin-dark-gray-font;
    color: @admin-medium-gray-font;
  }
}

.dragging-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
}