.admin-tree, .admin-grid, .grid-container .x-panel-body, .tree-grid-panel {
  height: 100% !important;
}

.admin-tree div.x-grid-body {
  height: 100% !important;
  padding-bottom: 28px;

  div.x-grid-view {
    height: 100% !important;
    overflow-x: hidden !important;
  }

}

.admin-grid div.x-grid-body {
  height: 100% !important;
  padding-bottom: 43px;

  div.x-grid-view {
    height: 100% !important;
    overflow-x: hidden !important;
  }

}

.admin-tree {

  .admin-tree-thumbnail {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      right: 15px; // equal to the right margin
      color: white;
      line-height: 12px;
      padding: 3px;
    }

    &.ContentType {

      .overlay {
        color: black;
        background-color: yellow;

        &:before {
          content: "C";
        }
      }
    }

    &.Mixin {

      .overlay {
        background-color: red;

        &:before {
          content: "M";
        }
      }
    }

    &.RelationshipType {

      .overlay {
        background-color: blue;

        &:before {
          content: "R";
        }
      }
    }
  }

}