.@{_COMMON_PREFIX}combobox {
  .reset(true);

  position: relative;
  display: block;

  &.followed-by-options {
    margin-bottom: 10px;
  }

  .input-icon {
    position: absolute;
    top: 5px;
    left: 13px;
    z-index: 4;
    width: 25px;
    height: 25px;
  }

  .input-icon + .option-filter-input {
    padding-left: 50px;
  }

  .dropdown-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      margin: -5px 0 0 -7px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid @admin-dark-gray;
    }

    &.down:after {
      border-top: 0px solid transparent;
      border-bottom: 10px solid @admin-dark-gray;
    }

    &.disabled {
      cursor: default;

      &:after {
        border-top: 10px solid @admin-medium-gray-border;
      }

      &.down:after {
        border-top: 0px solid transparent;
        border-bottom: 10px solid @admin-medium-gray-border;
      }

    }

  }

  .apply-button {
    position: absolute;
    height: 28px;
    top: 50%;
    right: 37px;
    margin-top: -14px;
  }

  .empty-options, .options-container {
    position: absolute;
    .box-sizing(border-box);
    width: 100% !important;
    margin: 0;
    padding: 0;
    .input-border();
    .box-shadow(2px 2px 2px @admin-medium-gray-border);
    background: white;
    z-index: @z-index-wizard-filed-element;
  }

  .slick-viewport {
    overflow-x: hidden !important;
    height: 100% !important;
  }

  .grid {
    width: 100% !important;
    overflow-y: auto !important;
  }

  .options-container {
    .slick-header {
      height: 0px;
      display: none;
    }

    .grid-canvas {
      width: 100% ! important;
    }

    .slick-row {
      &:hover, &.active {
        background: @admin-bg-light-gray;
      }

      &.selected {
        color: #d3d3d3;
      }
    }

    .slick-cell-checkboxsel {
      overflow: visible;
      label {
        display: inline-block;
        width: 30px;
        height: 100%;
        min-width: 16px;
        min-height: 16px;
        margin: 0;
        vertical-align: middle;
        background: url("../../../../../images/admin-unchecked.gif") center no-repeat;
      }

      input[type="checkbox"] {
        display: none;
      }

      &.selected label {
        background: url("../../../../../images/admin-checked.gif") center no-repeat;
      }

    }

    .slick-cell {
      .option-cell();
    }
  }

  .names-and-icon-view {
    .icon-large {
      line-height: 30px;
    }
  }
}