.rich-combobox {
  .@{_COMMON_PREFIX}combobox {

    input {
      width: 100%;
      height: 37px;
    }

    .option-filter-input {
      margin: initial;
    }

    .slick-cell {

      &.selected .@{_COMMON_PREFIX}names-view .@{_COMMON_PREFIX}main-name {
        color: @admin-font-gray1;
      }
    }
  }

  .error-container {
    display: none;
    padding: 7px;
    color: @input-red-text;
    font-size: 14px;

    .highlight-background();
  }

  .selected-options {

    .selected-option {
      height: 45px;

      .names-and-icon-view {
        margin-right: 55px;

        .@{_COMMON_PREFIX}main-name {
          font-weight: normal;
          color: @admin-dark-gray;
        }

        .@{_COMMON_PREFIX}sub-name {
          color: @admin-font-gray1;
        }
      }

    }
  }

  &.readonly {
    .@{_COMMON_PREFIX}combobox {
      display: none;
    }
    .icon-close {
      display: none;
    }
  }
}