.rich-combobox {
  .combobox {

    input {
      width: 100%;
      height: 37px;
    }

    .option-filter-input {
      margin: initial;
    }

    .slick-cell {

      &.selected .names-view .main-name {
        color: #d3d3d3;
      }
    }
  }

  .selected-options {

    .selected-option {
      height: 40px;

      .names-and-icon-view {
        margin-right: 25px;

        .main-name {
          font-weight: normal;
          color: #414141;
        }

        .sub-name {
          color: #A1A1A1;
        }
      }

      .remove {
        position: relative;
      }

    }
  }
}