.content-tree-grid {
  .grid .slick-row {
    .modified, .status {
      text-align: right;
      padding-right: 25px;
      font-size: 0.9em;
    }
  }

  .slick-cell:not(.selected) {
    &.status .equal {
      color: @admin-green;
    }
  }
}