.live-edit-component-search-bar {
    padding: 10px 15px;
}

.live-edit-component-search-input {
    background-color: #5a5a5a;
    border: 1px solid #aaa;
    color: #bbb;
    padding: 3px;
    width: 100%;
}

.live-edit-component-list {
    overflow: hidden;
    padding: 2px;
}

.live-edit-component-list:hover {
    overflow: auto;
}

.live-edit-component {
    display: block;
    /*margin: 0 2px 0 2px;*/
    padding: 10px 20px;
    cursor: move;
}

.live-edit-component:hover {
    background-color: #3892dd;
}

.live-edit-component:hover small {
    color: #fff;
}

.live-edit-component-row {
    display: table-row;
}

.live-edit-component-row .live-edit-component-icon {
    width: 50px;
    color: #f2f2f2;
    font-size: 32px;
    font-weight: lighter;
    display: table-cell;
    padding-top: 1px;
}

.live-edit-component-row div {
    display: table-cell;
    vertical-align: top;
}

.live-edit-component-row h3 {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 13px !important;
    color: #f2f2f2;
}
