.live-edit-component-search-bar {
    padding: 10px 15px;
}

.live-edit-component-search-input {
    background-color: #3c3c3c;
    border: 1px solid #1c1c1c;
    color: #c7c7c7;
    padding: 5px;
    width: 100%;
}

.live-edit-component-list {
    overflow: hidden;
}

.live-edit-component-list:hover {
    overflow: auto;
}

.live-edit-component {
    padding: 15px 20px;
    cursor: move;
}

.live-edit-component:hover {
    background-color: #353535; /*4096ee, 3892dd*/
}

.live-edit-component-row {
    display: table-row;
}

.live-edit-component-icon {
    width: 55px;
    color: #f2f2f2;
    font-size: 32px;
    font-weight: lighter;
    display: table-cell;
    padding-top: 1px;
}

.live-edit-component-row .live-edit-component-info {
    display: table-cell;
    vertical-align: top;
}

.live-edit-component-row h3 {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 13px !important;
    color: #f2f2f2;
}