/** Window */

.admin-context-window {
    background: linear-gradient(to bottom, rgba(50,50,50,.8) 0%,rgba(0,0,0,.8) 100%); /* W3C */
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    color: #c7c7c7;
    border-radius: 4px 4px 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-context-window-title-bar {
    background-color: #000;
    color: #fff;
}

.admin-context-window-menu-button {
    font-size: 20px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.context-window-menu .x-panel-body {
    background-color: #fff !important;
}

.context-window-menu-item {
    padding: 5px;
}

.admin-context-window-title-text {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 15px;
    cursor: hand;
    cursor: grab !important;
    cursor: -moz-grab;
    cursor: url('cursor-grab.png'), pointer !important;
    cursor: -webkit-grab;
}

.admin-context-window-toggle-button {
    padding-top: 8px;
    cursor: pointer;
    font-size: 15px;
}

.admin-context-window-body {
    padding: 0;
}

.admin-context-window-dragging-shim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0;
}

.admin-context-window ::-webkit-scrollbar {
    width: 10px;
}

.admin-context-window ::-webkit-scrollbar-track-piece  {
    background-color: #343434;
}

.admin-context-window ::-webkit-scrollbar-thumb:vertical {
    background-color: #777;
}