.live-edit-device-top-bar {
    padding: 10px;
}

/** fixme: make generic / merge with components.css? */

.live-edit-device-list {
    overflow: hidden;
}

.live-edit-device-list:hover {
    overflow: auto;
}

.live-edit-device {
    margin: 0 5px;
    position: relative;
    padding: 15px 30px;
    cursor: pointer;
}

.live-edit-device:not(.live-edit-device-selected):hover {
    background-color: #3f3f46;
}

.live-edit-device-selected {
    background-color: #3f3f46;
    border-left: 5px solid #3399fe;
    color: #fff;
}

.live-edit-device-selected h3 {
    color: #fff !important;
}

.live-edit-device-rotate-button {
    display: none;
    position: absolute;
    padding: 10px 15px;
    right: 10px;
    font-size: 15px;
    color: #fff;
    -webkit-transition: -webkit-transform 100ms;
    transition: transform 100ms;
}
.live-edit-device-selected .live-edit-device-rotate-button {
    display: block;
}
.live-edit-device-rotate-button-horizontal {
    -webkit-transform:rotate(90deg) !important;
    transform:rotate(90deg) !important;
}

.live-edit-device-row {
    display: table-row;
}

.live-edit-device-icon {
    width: 45px;
    color: #f2f2f2;
    font-size: 32px;
    font-weight: lighter;
    display: table-cell;
    padding-top: 1px;
}

.live-edit-device-info {
    display: table-cell;
    vertical-align: top;
}

.live-edit-device-row h3 {
    margin: 0;
    padding: 0;
    font-size: 15px !important;
    line-height: 1.3;
    color: #e2e2e2;
}
