/*
    These classes should be consolidated with admin2/live-edit/css/live-edit.css
*/

#live-edit-drag-helper {
    border: 1px solid #c6c6c6;
    padding: 6px 16px 6px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}

#live-edit-drag-helper img {
    border: 0;
    vertical-align: top;
    margin-right: 5px;
}

#live-edit-drag-helper-status-icon {
    vertical-align: middle;
}

#live-edit-drag-helper-text {
    display: inline-block;
    padding-top: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
