/** Resource path */

@resourcePath: "../";

/** Colors */

@baseColor: #f6f5f7;
@textColor: #555;
@hoverTextColor: #fff;
@hoverBackgroundColor: #3399fe;
@borderColor: #aaa;
@shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
