.text-input {
  .input-border();
  .input-font();
  display: block;
  box-sizing: border-box;
  min-height: 30px;
  padding: 0px 5px;

  &.middle {
    // by default
  }

  &.large {
    min-height: 40px;
    font-size: 26px;
  }
}

.text-input.autosize + .autosize-attendant {
  overflow: hidden;
  height: 0;

  .autosize-clone {
    .text-input;
    display: inline-block;
    white-space: pre;
  }
}