@available-color: #008424;

.text-input {
  .reset();
  .input-border();
  .input-font();

  background-color: #FFF;

  &.form-input {
    &.invalid {
      .input-border(@admin-input-red);
      .input-glow(@admin-input-red);

    }

    &.valid {
      .input-border(@available-color);
      .input-glow(@available-color);

    }
  }
  display: block;
  box-sizing: border-box;
  min-height: 30px;
  padding: 0px 5px;

  &.middle {
    // by default
  }

  &.large {
    min-height: 40px;
    font-size: 26px;
  }
}

.text-input.autosize + .autosize-attendant {
  overflow: hidden;
  height: 0;

  .autosize-clone {
    .text-input;
    display: inline-block;
    white-space: pre;
  }
}