//Variables
@import "../../variables/color";
@import "../../variables/font";
@import "../../variables/mixins";
@import "../../variables/z-index";

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/opensans-regular.woff") format("woff"),
  url("../fonts/opensans-regular.ttf") format("truetype"),
  url("../fonts/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@panel-outer-width: 320px;
@panel-inner-width: 280px;
@header-height: 44px;
@panel-indent: 30px;

.body-mask.launcher {
  .reset(true);
  .opacity(0.5);

  background-color: @admin-white;
  display: none;
  z-index: @z-index-mask;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &.app-home {
    .opacity(0);
  }
}

.launcher-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: @z-index-launcher-panel;
  width: @panel-outer-width;
  height: 100%;

  &.hidden, &.slideout {
    right: calc(-@panel-outer-width);
  }

  &.visible {
    right: 0;
    .box-shadow(-2px 0px 7px 5px rgba(0, 0, 0, 0.3));
  }

  &.visible, &.slideout {
    -webkit-transition: right 300ms ease-out;
    transition: right 300ms ease-out;
  }

  .launcher-main-container {
    display: block;
    > div {
      width: @panel-outer-width;
    }
    .launcher-title  {
      width: calc(@panel-outer-width - 60px);
    }
  }

  .launcher-tip {
    position: absolute;
    padding: 0;
    height: @header-height;
    left: -87px;

    -webkit-animation: bounce 2s ease-in-out 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: bounce 2s ease-in-out 1.5s; /* Firefox < 16 */
    -ms-animation: bounce 2s ease-in-out 1.5s; /* Internet Explorer */
    -o-animation: bounce 2s ease-in-out 1.5s; /* Opera < 12.1 */
    animation: bounce 2s ease-in-out 1.5s;

    @keyframes bounce {
      0% {
        left: -357px;
      }
      100% {
        left: -87px;
      }
    }

    span {
      -webkit-animation: fadein 5s linear 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 5s linear 2s; /* Firefox < 16 */
      -ms-animation: fadein 5s linear 2s; /* Internet Explorer */
      -o-animation: fadein 5s linear 2s; /* Opera < 12.1 */
      animation: fadein 5s linear 2s;
      opacity: 0;
      display: table-cell;
      vertical-align: middle;
      color: @admin-white;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      white-space: nowrap;

      &:after {
        position: absolute;
        font-size: 18px;
        font-family: 'icomoon';
        content: "\e3b5";
        line-height: 22px;
      }

      @keyframes fadein {
        0% {
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}

.launcher-main-container {
  height: 100%;
  font-family: @admin-font-family;

  &:focus {
    outline: none;
  }

  .launcher-tip {
    display: none;
  }

  .app-row-selected {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    .app-info .app-description {
      color: @admin-white;
    }
  }
 
  &.keyboard-navigation {
    .launcher-app-container .app-row.selected {
      .app-row-selected;
    }
  }

  &:not(.keyboard-navigation) {
    .launcher-app-container .app-row:hover {
      .app-row-selected;
    }
  }

  & > * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  & > div {
    padding-left: @panel-indent;
    display: table;
    width: calc(~'100% - ' @panel-indent);
  }

  .launcher-title {
    position: absolute;
    top: 0;
    height: @header-height;
    background-color: rgba(0, 0, 0, 1);
    color: @admin-white;
    font-size: 25px;
    display: table;
    overflow: hidden;
    table-layout: fixed;

    .container-title {
      .ellipsis();
      .container-title-mixin(32px, 0);
      position: relative;
      display: table-cell;
      vertical-align: bottom;
      line-height: 25px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .launcher-app-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: calc(@header-height + 10) 0 @header-height 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);

    .scrollable-content {
      overflow-x: hidden;
      overflow-y: auto;
    }

    a {
      color: @admin-white;
      text-decoration: none;
      &:focus {
        outline: none;
      }
    }

    .app-row {

      padding: 10px 0 10px 30px;
      display: table;

      & > * {
        display: table-cell;
      }

      &.active {
        border-left: 4px solid @admin-red;
        padding-left: 26px;
      }

      .app-info {
        padding-left: 15px;
        vertical-align: middle;
        .app-name {
          width: 220px;
          font-size: 18px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
        }
        .app-description {
          width: 220px;
          font-size: 14px;
          color: darkgray;
          margin: 0;
        }
      }

      .app-icon {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        pointer-events: none;

        svg {
          width: inherit !important;
          height: inherit !important;
        }
      }
    }
  }

  .launcher-user {
    position: absolute;
    bottom: 0;
    display: table;
    height: @header-height;
    background-color: rgba(255, 255, 255, 0.1);
    color: @admin-white;
    font-size: 14px;

    .user-info {
      vertical-align: middle;
      padding: 10px 15px 0 0;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      > * {
        vertical-align: middle
      }
    }
    .user-logout {
      display: table-cell;
      vertical-align: middle;
      width: 100px;

      a {
        color: @admin-white;
        text-decoration: none;
      }
    }
    img {
      width: 24px;
      margin-right: 10px;
    }
    span {
      vertical-align: middle;
    }
  }
}

.launcher-button {
  font-family: @admin-font-family;
  font-size: @admin-font-size;
  position: fixed;
  border: none;
  right: 6px;
  top: 15px;
  background-color: transparent;
  cursor: pointer;
  z-index: @z-index-launcher-button;
  line-height: 15px;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
  }

  .line {
    display: inline-block;
    width: 20px;
    height: 3px;
    background: @admin-white;
    transition: 0.3s;

    .dark & {
      background: @admin-bg-light-gray;
    }
  }

  .lines {
    .line;
    position: relative;
    top: -4px;

    &:before, &:after {
      .line;
      position: absolute;
      left: 0;
      content: '';
      -webkit-transform-origin: 2rem/14 center;
      transform-origin: 2rem/14 center;
    }
    &:before {
      top: 6px;
    }
    &:after {
      top: -6px;
    }
  }

  &:hover {
    opacity: 1;
    background: none;
    .lines {
      &:before {
        top: 8px;
      }
      &:after {
        top: -8px;
      }
    }
  }

  &.toggled {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
    padding: 6px 3px;
    margin-top: -3px;

    &:hover {
      .lines {
        &:before {
          top: 0;
        }
        &:after {
          top: 0;
        }
      }
    }

    .lines {
      background: transparent !important;
      &:before, &:after {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 0;
        width: 1.6rem;
        left: -7px;
      }
      &:before {
        background-color: #fff;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        background-color: #fff;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
