/*
    We should merge this with live-edit/css/live-edit.css at a later stage of the project
*/

/** Reset */
[id^=live-edit-ui-cmp-],
[id^=live-edit-ui-cmp-] *,
#live-edit-drag-helper * {
    border: 0;
    outline: 0;
    color: #000;
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1.2;
}

#live-edit-drag-helper {
    font-size: 24px;
    color: #fff;
}

/* Align the font icon */
#live-edit-drag-helper:before {
       position: absolute;
       top: 12px;
       left: 12px;
}

.live-edit-font-icon-drop-allowed {
    cursor: none;
    background-color: #558e28;
}
.live-edit-font-icon-drop-not-allowed {
    cursor: none;
    background-color: #d90b00;
}

.live-edit-component-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}