.delete-dialog {

  .instant-delete-check {
    position: absolute;
    bottom: 40px;

    input[type="checkbox"] + label {
      color: @admin-blue !important;
    }
  }

  .dialog-buttons {

    button.delete-action {
      .dialog-button(@form-button-font, @input-red-text);
    }

  }

}