.delete-dialog {

  .instant-delete-check {
    position: absolute;
    width: calc(~'100% - 240px');
    bottom: 40px;
    left: 39px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    input[type="checkbox"] + label {
      color: @admin-blue !important;
    }

    input:disabled, input:disabled + label {
      opacity: 0.5;
      cursor: default;
    }
  }

  .dialog-buttons {
    button.delete-action {
      .dialog-button(@form-button-font, @input-red-text);
    }
  }

  .progress-bar {
    display: none;
  }

  &.is-deleting {
    .is-processing-mixin();

    .item-list, .dependants, .dialog-buttons button.delete-action {
      display: none;
    }

    .instant-delete-check, .load-mask {
      display: none !important;
    }
  }

  &._0-240, &._240-360, &._360-540, &._540-720 {
    .instant-delete-check {

    }
  }

  &._0-240, &._240-360 {
    .instant-delete-check {
      left: calc(~'2% + 9px');
      width: calc(~'96% - 190px');
    }
  }

  &._360-540 {
    .instant-delete-check {
      left: calc(~'3% + 9px');
      width: calc(~'94% - 190px');
    }
  }

}
