.button(@color: @form-button-font, @bg: @form-button-bg, @hoverColor: @color, @hoverBg: lighten(@bg, 10%)) {
  padding: 5px 19px 5px 19px;
  line-height: 16px;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  background-color: @bg;
  color: @color;
  border: 1px solid transparent;
  outline: none;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not(:disabled) {
    color: @hoverColor;
    background-color: @hoverBg;
  }

  &:focus:not(:disabled) {
    box-shadow: 0px 0px 5px @admin-input-blue;
    border: 1px solid @admin-input-blue;
  }

  &.active:not(:disabled) {
    color: @admin-blue-button2;
  }

  &.small {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 15px 5px 15px;
  }

  &.large {
    font-size: 16px;
    line-height: 22px;
  }
}

.button {
  .button(@form-button-font, @form-button-bg);
}