.button(@color: @form-button-font, @bg: @form-button-bg, @hoverColor: @color, @hoverBg: lighten(@bg, 10%)) {
  padding: 1px 19px 1px 19px;
  margin: 0;
  cursor: pointer;
  background-color: @bg;
  color: @color;
  border: 1px solid transparent;
  outline: none;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not(:disabled) {
    color: @hoverColor;
    background-color: @hoverBg;
  }

  &:focus:not(:disabled) {
    box-shadow: 0px 0px 5px @admin-input-blue;
    border: 1px solid @admin-input-blue;
  }

  &.active:not(:disabled) {
    color: @admin-blue-button2;
  }

  &:before {
    float: left;  // for the icons to display inline
  }

  .label {
    line-height: 24px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
}

.button {
  .button(@form-button-font, @form-button-bg);

  &.small {
    padding: 0 15px 0 15px;

    .label {
      font-size: 12px;
    }
  }

  &.large {
    padding: 5px 19px 5px 19px;

    .label {
      font-size: 16px;
    }
  }
}