.docked-window {
  position: absolute !important;
  top: 0;
  right:0;
  bottom:0;
  width: 280px;
  z-index: 100;
  background-color: @admin-white;
  box-shadow: 0 -6px 20px -8px rgba(0, 0, 0, 1), 0 0 0 0 rgba(0, 0, 0, 0.3);
  color: @admin-dark-gray-font;

  &.minimized {
    height:auto;
  }

  .deck-panel {

  }

  .tab-bar {
    font-size:14px;
    background-color: @admin-white;
    color: @admin-dark-gray-font;
    .tab-bar-item {
      padding:10px 15px 10px 15px;
      display: inline-block;
      cursor:pointer;
      &.active {
        background-color: @admin-blue-button2;
        color: @admin-white;
      }
    }
  }
}