.floating-window {
  position: fixed !important;
  top: 100px;
  left: 100px;
  height: 480px;
  width: 320px;
  z-index: 100;

  background-color: #000;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);

  color: white;

  &.minimized {
    height:auto;
  }

  .deck-panel {
    background-color: #252526;
  }

  .tab-bar {
    font-size:15px;
    margin-top:-5px;
    height:35px;
    .tab-bar-item {
      padding:10px 15px 5px 15px;
      display: inline-block;
      cursor:pointer;
      &.active {
        background-color: #252526;
      }
    }
  }
}

.dragging-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.0);
}