.image-uploader {

  input[type=text] {
    width: 100%;
    margin-bottom: 4px;
  }

  .dropzone {
    height: 220px;
    width: 100%;
    border: 3px dashed #a8c6fe !important;
    background-color: #f1f5fe;
    font-size: 22px;
    line-height: 220px;
    font-weight: bold !important;
    color: #555;
    text-align: center;
  }

  .progress {
    width: 100%;
    margin: 25px 0;
    .linear-gradient(top, #444, #666);

    .progress-indicator {
      height: 32px;
      background-color: #8db800;
      .linear-gradient(top, #a7d200, #8db800);
    }

  }

  img {
    width: 100%;
  }

}