.image-uploader {

  input[type=text] {
    width: 100%;
    margin-bottom: 4px;
  }

  .dropzone {
    height: 250px;
    width: 100%;
    line-height: 250px;
  }

  .progress {
    width: 100%;
    margin: 25px 0;
    //.linear-gradient(top, #444, #666);

    .progress-indicator {
      height: 32px;
      background-color: #8db800;
      //.linear-gradient(top, #a7d200, #8db800);
    }

  }

  .image-box:hover img {
    border-color: darken(@admin-input-blue, 10%);
  }

  .image-box {

    position: relative;


    button {
      .button(#555, transparent);
      box-sizing: content-box;
      vertical-align: top;
      height: 24px;
      width: 24px;
      padding: 0;
      margin: 7px 10px 7px 0px;
      border: none;
      cursor: pointer;

      &.reset {
        .button(white, #A6A9A8);
        .box-shadow(0px 0px 5px darken(#A6A9A8, 10%));
        position: absolute;
        padding: 0;
        border-radius: 15px;
        top: 3px;
        right: 3px;
        width: 30px;
        height: 30px;
      }
    }

    img {
      width: 100%;
      border: 1px solid transparent;
    }

    img.selected {
      border-color: darken(@admin-input-blue, 10%);
      .box-shadow(0px 0px 10px darken(@admin-input-blue, 10%));
    }
  }

}
