.image-uploader {

  input[type=text] {
    width: 100%;
    margin-bottom: 4px;
  }

  .dropzone {
    height: 250px;
    width: 100%;
    line-height: 250px;
  }

  .progress {
    width: 100%;
    margin: 25px 0;
    //.linear-gradient(top, #444, #666);

    .progress-indicator {
      height: 32px;
      background-color: #8db800;
      //.linear-gradient(top, #a7d200, #8db800);
    }

  }

  img {
    width: 100%;
  }

  .image-box:hover img {
    border-color: darken(@admin-input-blue, 10%);
    .box-shadow(0px 0px 10px darken(@admin-input-blue, 10%));
  }

  .image-box:hover {
    button {
      visibility: visible !important;
    }
  }
  .image-box {
    .reset {
      float: right;
    }

    button {
      box-sizing: content-box;
      vertical-align: top;
      height: 24px;
      width: 24px;
      padding: 0;
      margin: 7px 10px 7px 0px;
      border: none;
      cursor: pointer;
      visibility: hidden;
      background-color: transparent;
      color: #555;
    }
  }

}
