.toolbar {
  @toolbar-height: 40px;

  background-color: @admin-light-gray-bg;
  height: @toolbar-height;

  button {
    font-family: @admin-font-family;
    padding: 9px 15px 9px 15px;
    background-color: transparent;
    font-size: 14px;
    border-width: 0;
    line-height:22px;
    color: @admin-light-gray-font;
    margin:0;

    &:hover {
      cursor: pointer;
      color: @admin-dark-gray-font;

      &:disabled {
        color:@admin-light-gray-font;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    &.pull-right {
      float: right;
    }

    &.active {
      color:@admin-blue-button2;
      &:disabled {
        color:@admin-light-gray-font;
      }
    }
  }

  .toggle-slide {
    margin: 11px 7px;
  }

  .fold {
    width: 10px;
    height: @toolbar-height;
    line-height: @toolbar-height;
    padding: 0 17px;
    text-align: center;
    .icon-arrow-down;
    .box-sizing(content-box);

    .dropdown {
      display: none;
      position: absolute;
      top: @toolbar-height;
      right: 0;
      z-index: 1000;
      padding: 0 10px;
      background-color: @admin-light-gray-bg;
      .box-shadow(-1px 1px 2px 0px rgba(0,0,0,0.3));

      & > * {
        display: block;
        margin-left: auto;
        margin-right: 0;
      }

      button {
        padding-right: 0;
      }

      .pull-right {
        float: none;
      }
    }

    &:hover .dropdown {
      display: block;
    }
  }
}
