.tags {
  position: relative;
  border: 1px solid #cccccc;
  cursor: text;

  .clearfix();

  .tag {
    float: left;

    background-color: @admin-bg-light-blue;
    border: 1px solid @admin-medium-gray-border;
    .border-radius(6px);
    position: relative;

    padding: 2px 20px 2px 6px;
    margin: 3px;
    cursor: default;

    .remove-button {
      &:extend(.icon);
      .icon-close;

      width: 12px;
      text-decoration: none;
      cursor: pointer;
      position: absolute;
      right: 3px;
      top: 5px;
      color: #aaa;
      font-size: 11px;
    }
  }

  input.text-input {
    border: none;
    min-height: 23px;
    margin: 3px;
    float: left;
    padding: 0;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &:hover {
      border: none !important;
    }
  }

  ul.tag-suggestions {
    position: absolute;
    top: 48px;
    left: 2px;
    z-index: 1;
    background: white;
    margin-left: -1px;
    .input-border();
    .box-shadow(2px 2px 2px @admin-medium-gray-border);

    li {
      padding: 3px;
      font-size: 15px;
    }

    li.selected,
    li:hover {
      background-color: @admin-bg-light-gray;
    }
  }
}