.modal-dialog {
  display: none;
  background-color: white;
  padding: 30px;
  min-width: 400px;
  z-index: @z-index-modal-dialog;
  position: fixed;
  top: 50%;
  left: 50%;

  .dialog-header {
    .clearfix();
    margin-bottom: 20px;

    h2 {
      line-height: 0.8em;
    }
  }

  .dialog-content {
    .clearfix();

    > p {
      margin-bottom: 20px;
    }
  }

  .dialog-buttons {
    .clearfix();
    margin-top: 20px;

    .button-container {
      float: right;
    }

    .button {
      .button(@form-button-font, @admin-button-blue2, @form-button-font, lighten(@admin-button-blue2, 10%));
      padding: 4px 19px 4px 19px;
      margin-left: 11px;
    }
  }
}

.upload-dialog {
  width: 800px;
}

.confirmation-dialog {
  width: 500px;
}
