<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title data-th-text="${reqContent.displayName}">main page controller</title>
</head>

<body data-portal-component-type="page" data-th-class="${editable}? 'edit'">

<div data-th-include="com.enonic.xp.modules.features:/app/view/fragments/menu.html :: siteMenu" data-th-remove="tag">Footer</div>

<div id="mainRegion" data-portal-region="main" data-portal-component-type="region">
    Components in main:
    <div data-th-if="${reqContent.page.regions['main']}" data-th-remove="tag">
        <div data-th-each="component : ${reqContent.page.regions['main'].components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag"></div>
        </div>
    </div>
</div>
<div data-th-include="com.enonic.xp.modules.features:/app/view/fragments/footer.html :: copy">Footer</div>
</body>
</html>