.content-summary-viewer {
  &.invalid .names-and-icon-view .wrapper:before {
    content: "!";
    background: @admin-red;
    color: @admin-white;
  }

  &.pending-delete .names-and-icon-view .names-view {
    .main-name, .sub-name {
      text-decoration: line-through;
    }
  }
}