.image-uploader {
  .reset();
  display: inline-block;

  .result-container {

    &.placeholder {
      background: url("../images/checker-16x16.png") repeat;
    }

    .image-editor {

      .image-canvas {
        border: 1px solid white;

        img {
          background-color: @admin-bg-light-gray;
          background-image: linear-gradient(45deg, @admin-font-gray1 25%, transparent 25%, transparent 75%, @admin-font-gray1 75%, @admin-font-gray1),
          linear-gradient(45deg, @admin-font-gray1 25%, transparent 25%, transparent 75%, @admin-font-gray1 75%, @admin-font-gray1);
          background-size: 20px 20px;
          background-position: 0 0, 10px 10px;
          image-rendering: -moz-crisp-edges;
          image-rendering: -o-crisp-edges;
          image-rendering: -webkit-optimize-contrast;
          -ms-interpolation-mode: nearest-neighbor;
          image-rendering: pixelated;
        }
      }
    }

  }

}

@media screen and (max-height: 360px) {
  .upload-dialog {
    .dialog-content {
      height: 70%;
      .image-uploader {
        height: 100%;
        .dropzone-container {
          height: 100%;
          .dropzone {
            height: 80%;
          }
        }
      }
    }
  }
}
