.content-grid-and-browse-split-panel {
  .browse-toolbar {
    .details-panel-toggle-button, .non-mobile-details-panel-toggle-button {
      // toggle button for medium screen sizes
      z-index: 2;
      float: right;
      line-height: 24px;

      overflow: hidden;
      display: block;
      background-color: transparent;
      border: 1px transparent;

      @media screen and (max-width: 540px) {
        display: none !important;
      }

      &:focus {
        box-shadow: none;
        border: 0px transparent;
      }

      * {
        vertical-align: top;
      }

      &:before {
        font-size: 16px;
      }
      &.expanded {
        top: 2px;
        right: 0px;
        &:before {
          font-size: 21px;
        }
      }

      .icon-list();

      &.expanded {

        @keyframes slide {
          0% {
            z-index: 2;
            width: 0px;
          }
          50% {
            z-index: 2;
          }
          100% {
            z-index: 3;
            width: auto;
          }
        }

        animation-name: slide;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-delay: 0s;

        z-index: 3;
        padding-top: 13px;
        .icon-close2();

        &.non-mobile-details-panel-toggle-button {
          padding-top: 7px;
          position: fixed;
          top: 50px;
          padding-right: 5px;
          height: 40px;
        }
      }

    }
  }
}

.details-panel {
  // common details panel styles
  height: 100%;
  position: absolute;
  float: right;
  z-index: 2;
  width: 280px;
  top: 0px;
  right: -280px;
  box-shadow: 0 4px 20px -8px #000000, 0 0 0 0 rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  background-color: @admin-bg-almost-white;
  .transition(all 0.5s ease-in-out);

  @media screen and (max-width: 540px) {
    display: none;
  }

  &.no-selection {
    .no-selection-message {
      display: block;
    }
  }

  .no-selection-message {
    display: none;

    .watermark-text();
  }

  .details-container {
    position: absolute;
    overflow-y: scroll;
    right: -15px;
    top: 91px;
    left: 5px;
    bottom: 0px;

  }

  .splitter {
    position: relative;
    width: 5px;
    height: 100%;
    float: left;
    background-color: #eeeeee;
    cursor: ew-resize;
    .notSelectable();
  }

  .details-panel-label {
    background-color: @admin-bg-almost-white;
    line-height: 20px;
    padding: 10px 0px 10px 15px;
    display: block;
    font-size: 14px;
    border-bottom: 1px transparent;

    .sub-name, .main-name {
      padding-right: 40px;
    }
  }

  .label {
    font-family: @admin-font-family;
  }

  .widgets-selection-row {

    background-color: @admin-white;

    max-height: 35px;

    .info-widget-toggle-button {
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      float: left;
      padding: 10px 11px 9px 11px;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      box-sizing: border-box;

      .icon-list();

      &.active {
        background-color: @admin-blue;
        &:before {
          color: @admin-white;
        }
      }
    }

    .widget-selector {

      max-width: none;
      width: 100%;
      border: 1px solid #cccccc;
      border-left: 0px;

      input {
        cursor: pointer;
      }

      &.non-default-selected {
        .selected-option {
          background-color: @admin-blue;
          color: @admin-white;
        }

        .dropdown-handle {
          background-color: @admin-white;
        }
      }

      &.single-optioned {
        .selected-option .option-value {
          margin: 0;
        }
        .dropdown-handle {
          display: none;
        }
      }

      .dropdown-handle {
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        max-height: 35px;
        width: 38px;

        &:after {
          margin: -5px 0 0 -5px;
        }

        &.down {
          background-color: @admin-blue;
          &:after {
            border-bottom: 10px solid @admin-white;
          }
        }
      }

      .selected-option {
        background: none;
        width: calc(~'100% - 40px');
        max-height: 35px;
        display: inline-block;
        border: 0px;
      }

      .viewer {
        font-size: 14px;
        text-align: center;
        cursor: pointer;
      }

      .options-container {
        border-top: 0px;
      }

      .grid {
        width: calc(~'100% - 2px') !important;
      }
    }
  }

  &.dragging {
    overflow: visible;
  }

  .ghost-dragger {
    height: 100%;
    background-color: @admin-dark-gray;
    opacity: 0.5;
    position: absolute;
    z-index: @z-index-draggable;
    cursor: ew-resize;
    width: 5px;
    .notSelectable();
  }

  &.floating-details-panel {
    .widget-selector {
      position: absolute;
      .dropdown-handle.down {
        right: 5px;
      }
      .selected-option {
        width: calc(~'100% - 45px');
      }
      .grid {
        width: calc(~'100% - 6px') !important;
      }
    }
  }
}
