.widget-view {

  overflow: hidden;
  .transition(all 0.1s ease-in-out);

  .panel {
    position: relative;
  }

  &.external-widget {

    &[style*="height: 0px"] .error {
      display: none;
    }

    .widget-item-view {
      background-color: @admin-bg-almost-white;
      box-shadow: none;

      .widget-container {
        width: calc(~'100% - 12px');
      }
      .error {
        .watermark-text();
        top: 45%;
        width: calc(~'100% - 12px');
      }
    }
  }

  &.internal-widget {
    .widget-item-view:not(.version-widget-item-view) {
      // common styles for all widget items
      position: relative;
      margin: 10px;
      padding: 5px;
      background-color: @admin-white;
      .box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.1));
    }

  }
}
