.widget-view.internal-widget {

  .properties-widget-item-view {

    dl {
      overflow: hidden;
      padding: 5px;

      dt {
        .ellipsis();
      }

      dd, dt {
        padding: 1px 0px;
        float: left;
        width: 50%;
      }
    }

    min-height: 115px;
  }

  .attachments-widget-item-view {

    min-height: 35px;

    ul.attachment-list {

      li.attachment-container {
        margin: 5px;
        font-size: 12px;

        .icon-attachment2();

        &:before {
          font-size: 24px;
        }

        a {
          font-family: "Open Sans", sans-serif !important;
          display: inline-block;
          line-height: 23px;
          margin-left: 10px;
          width: 80%;
          text-decoration: none;
          .ellipsis();
        }
      }
    }

    .att-placeholder {
      display: block;
      text-align: center;
      margin: 8px auto;
    }
  }

  .status-widget-item-view {
    text-align: center;
    height: 60px;

    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 20px;
      line-height: 60px;
      background-color: @admin-white;

      &.equal {
        color: @admin-green;
        &.pending {
          color: @admin-orange;
        }
        &.expired {
          color: @admin-red;
        }
      }

    }
  }

  .user-access-widget-item-view {

    text-align: center;
    .@{_COMMON_PREFIX}tooltip {

      z-index: 99999;
    }

    &.empty {
      min-width: 57px;
    }
    .user-access-widget-header {
      .icon-menu4 {
        display: inline-block;
        font-size: 25px;
        float: left;
        margin-left: 7px;
      }
      .header-string {
        line-height: 30px;
      }
    }

    .edit-permissions-link {
      display: inline-block;
      margin-top: 5px;

    }

    .empty + .edit-permissions-link {
      margin-top: 0px;
    }

    .user-access-list-view {

      margin-top: 5px;

      .user-access-list-item-view {

        padding: 3px;
        position: relative;

        .clearfix();

        .user-line {

          position: relative;
          margin-right: 100px;
          height: 29px;
          overflow: hidden;
          padding-right: 30px;
          float: left;

          &:after {
            position: absolute;
            content: attr(extra-count);
            font-size: 14px;
            line-height: 29px;
          }

          .user-icon {
            cursor: default;
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: @admin-bg-dark-gray;
            color: @admin-white;
            font-size: 12px;
            line-height: 25px;
            text-align: center;
            overflow: hidden;
            float: left;
            margin: 0px 3px;
            .border-radius(25px);
            border: 2px solid transparent;

            &.active {
              border: 2px solid @admin-blue;
            }
          }

        }

        .access-line {
          font-size: 14px;
          position: absolute;
          line-height: 29px;
          top: 3px;
          right: 10px;
        }
      }
    }
  }
}