.widget-view.dependency-widget {
  height: calc(~'100% - 10px');;

  .widget-item-view {
    height: calc(~'100% - 25px');;

    .names-and-icon-view {
      position: absolute;
      top: 40%;
      width: 100%;
      max-width: 100%;
      padding-right: 10px;
      box-sizing: border-box;

      .wrapper {
        margin: 0 auto 10px auto;
        float: none;
      }

      .names-view {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}