.widget-view.dependency-widget {

  height: 100%;

  .widget-item-view {
    height: calc(~'100% - 175px');

    &.no-inbound.no-outbound {
      height: calc(~'100% - 60px');
    }

    &.no-inbound, &.no-outbound {
      height: calc(~'100% - 115px');
    }

    &:not(.no-inbound) {
      margin-top: 65px !important;
    }

    &.no-inbound .main-container:before {
      top: 47px;
    }

    .main-container:before,
    &.no-inbound.no-outbound .main-container:before {
      height: calc(~'100% - 92px');
    }

    &.no-inbound .main-container:before, &.no-outbound .main-container:before{
      height: calc(~'100% - 81px');
    }

    padding: 20px 0  !important;

    .btn-inbound, .btn-outbound{
      position: absolute;
      height: 35px;
      left: 50%;
      margin-left: -80px;
    }

    .btn-inbound {
      top: -49px;
    }

    .btn-outbound {
      bottom: -52px;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .main-container {
      width: 100%;
      max-width: 100%;
      overflow-y: auto;

      display: inline-block;
      vertical-align: middle;

      &:before {
        content: '';
        position: absolute;
        left: calc(~'50% - 2px');
        border-left: 2px solid #ccc;
        height: calc(~'100% - 68px');
        top: 34px;
      }


      &.no-outbound:before {
        height: calc(~'100% - 92px');
      }

      .dependencies-container {
        width: 50%;

        &.inbound {
          position: absolute;
          top: 20px;
        }

        &.no-dependencies {
          width: 100%;
          position: absolute;

          &.inbound {
            top: 17px;
          }

          &.outbound {
            bottom: 17px;
            left: 0;
          }
        }

        &.outbound {
          float: right;
          position: absolute;
          bottom: 20px;
          left: 50%;

          .names-and-icon-view {
            margin-top: 20px;
            padding-left: 35px;

            .@{_COMMON_PREFIX}wrapper:before {
              content: '';
              position: absolute;
              left: 0;
              top: 16px;
              border-top: 2px solid #ccc;
              width: 23px;
              border-radius: 0;
            }

            &:first-child {
              margin-top: 0;
            }

            .@{_COMMON_PREFIX}names-view {
              float: left;
            }
          }
        }

        &.inbound {
          .names-and-icon-view {
            margin-bottom: 20px;
            padding-right: 37px;

            &:last-child {
              margin-bottom: 0;
            }

            .@{_COMMON_PREFIX}wrapper {
              margin: 0;
              float: right;

              &:after {
                content: '';
                position: absolute;
                right: 2px;
                bottom: 16px;
                border-top: 2px solid #ccc;
                width: 27px;
              }
            }

            .@{_COMMON_PREFIX}names-view {
              float: right;
              margin-right: 15px;
            }
          }
        }

        .names-and-icon-view {
          height: 32px;

          .@{_COMMON_PREFIX}wrapper {
            line-height: 30px;
          }

          .@{_COMMON_PREFIX}names-view {
            margin: 0;
            display: table;
            height: 100%;

            .@{_COMMON_PREFIX}main-name {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }

      .no-dependencies {
        color: @admin-font-gray2;
        text-align: center;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        font-weight: normal;
        .ellipsis();
      }

      .names-and-icon-view.main-content {
        padding: 49% 0;
        overflow: visible;

        .@{_COMMON_PREFIX}wrapper {
          margin: 0 auto;
          float: none;
          background-color: @admin-white;
          height: 54px;
          padding-top: 10px;
        }

        .@{_COMMON_PREFIX}names-view {
          margin: 0 auto;
          text-align: center;
          background-color: @admin-white;
          padding-bottom: 8px;
        }
      }
    }
  }
}