.widget-view {

  margin: 0 0 2px 0;
  overflow: hidden;
  .transition(all 0.1s ease-in-out);

  .panel {
    position: relative;
  }

  &.external-widget {

    &[style*="height: 0px"] .error {
      display: none;
    }

    .widget-item-view {
      background-color: @admin-bg-almost-white;
      box-shadow: none;

      .no-error {
        width: calc(~'100% - 12px');
      }
      .error {
        .watermark-text();
        width: calc(~'100% - 12px');
      }
    }
  }

  &.internal-widget {
    .widget-item-view:not(.version-widget-item-view) {
      // common styles for all widget items
      position: relative;
      margin: 10px 10px 10px;
      padding: 5px;
      background-color: @admin-white;
      .box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.1));
    }

    .version-widget-item-view {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .names-and-icon-view {
        .names-view {
          margin: 0px;
        }
      }

      .tree-grid {
        .grid {
          min-width: 240px; // to allow rendering of all columns when detail panel is collapsed
        }
        .grid-canvas {
          width: calc(~'100% - 15px') !important;
        }
        .slick-row {
          .box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.1));
          margin: 5px 5px 0 7px;
          height: 60px !important;

          &.odd {
            background-color: @admin-white;
          }

          .slick-cell {
            padding: 0;
            span.icon:empty {
              display: none;
            }
            &.description {
              padding: 10px 7px 7px 7px;
              width: 70%;
            }
            &.status {
              position: static;
              float: right;
              margin: 7px 10px 0 7px;
              width: 70px;
            }
          }
        }
        .description img {
          background: lightgrey url("../../common/images/tsi-profil.jpg") center;
          background-size: 32px 32px;
          width: 32px !important;
          height: 32px !important;
          .border-radius(16px);
        }

        .status {

          .badge {
            line-height: 26px;
            text-align: center;
            margin-top: 9px;
            overflow: hidden;
            text-overflow: ellipsis;

            &.draft {
              color: @admin-black;
              background-color: @admin-bg-light-gray;
            }

            &.master {
              color: @admin-white;
              background-color: forestgreen;
            }

          }

        }

      }

    }

    .properties-widget-item-view {

      dl {
        overflow: hidden;
        padding: 5px;
        dd {
          float: left;
          width: 30%;
        }
        dt {
          float: left;
          width: 70%;
          .ellipsis();
        }
        dd, dt {
          margin: 1px 0px;
        }
      }

      min-height: 100px;
    }

    .attachments-widget-item-view {

      ul.uploader-list {

        li.uploader-container {
          margin: 5px;
          font-size: 12px;

          .result-container {
            .icon-attachment2();

            &:before {
              font-size: 24px;
            }
          }

          a {
            font-family: "Open Sans", sans-serif !important;
            display: inline-block;
            line-height: 23px;
            margin-left: 10px;
            width: 80%;
            text-decoration: none;
            .ellipsis();
          }
        }
      }

      .att-placeholder {
        display: block;
        text-align: center;
      }
    }

    .status-widget-item-view {
      text-align: center;
      height: 60px;

      span {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 60px;
        background-color: @admin-white;

        &.equal {
          color: @admin-green;
        }

      }
    }

    .user-access-widget-item-view {

      text-align: center;

      .tooltip {

        z-index: 99999;
      }

      .user-access-widget-header {
        .icon-menu4 {
          display: inline-block;
          font-size: 25px;
          float: left;
          margin-left: 7px;
        }
        .header-string {
          line-height: 30px;
        }
      }

      .edit-permissions-link {
        display: inline-block;
        margin-top: 5px;

      }

      .empty + .edit-permissions-link {
        margin-top: 0px;
      }

      .user-access-list-view {

        margin-top: 5px;

        &.empty {
          display: none;
        }

        .user-access-list-item-view {

          padding: 3px;
          position: relative;

          .clearfix();

          .user-line {

            position: relative;
            margin-right: 100px;
            height: 29px;
            overflow: hidden;
            padding-right: 30px;
            float: left;

            &:after {
              position: absolute;
              content: attr(extra-count);
              font-size: 14px;
              line-height: 29px;
            }

            .user-icon {
              cursor: default;
              display: inline-block;
              width: 25px;
              height: 25px;
              background-color: @admin-bg-dark-gray;
              color: @admin-white;
              font-size: 12px;
              line-height: 25px;
              text-align: center;
              overflow: hidden;
              float: left;
              margin: 0px 3px;
              .border-radius(25px);
              border: 2px solid transparent;

              &.active {
                border: 2px solid @admin-blue;
              }
            }

          }

          .access-line {
            font-size: 14px;
            position: absolute;
            line-height: 29px;
            top: 3px;
            right: 10px;
          }
        }
      }
    }
  }
}
