.install-module-dialog {
  min-width: 800px;

  .dialog-header .path {
    font-size: 16px;
  }

  .text-input.large {
    font-size: 13px;
    border: 2px solid @admin-medium-gray-border;
  }

  .url-input {
    width: 100%;
  }

  .button {
    &.cancel-button {

      position: absolute;
      top: 5px;
      right: 5px;

    }
  }

}
