<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">

  <cm:property-placeholder persistent-id="com.enonic.wem.admin" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="resourcesDevDir" value=""/>
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="resourceLocator" class="com.enonic.wem.admin.app.ResourceLocator" init-method="start" destroy-method="stop">
    <argument index="0" ref="blueprintBundleContext"/>
    <property name="resourcesDevDir" value="${resourcesDevDir}"/>
  </bean>

  <service auto-export="interfaces">
    <bean class="com.enonic.wem.admin.app.JaxRsResources">
      <property name="resources">
        <list>
          <bean class="com.enonic.wem.admin.app.MainResource">
            <property name="resourceLocator" ref="resourceLocator"/>
          </bean>
          <bean class="com.enonic.wem.admin.rest.provider.JsonObjectProvider"/>
          <bean class="com.enonic.wem.admin.rest.provider.JsonSerializableProvider"/>
          <bean class="com.enonic.wem.admin.rest.multipart.MultipartFormReader"/>
          <bean class="com.enonic.wem.admin.rest.provider.RenderedImageProvider"/>
          <ref component-id="backgroundImageResource"/>
          <ref component-id="toolsResource"/>
          <bean class="com.enonic.wem.admin.rest.resource.status.StatusResource"/>
          <ref component-id="authResource"/>
          <ref component-id="contentImageResource"/>
          <ref component-id="contentIconResource"/>
          <ref component-id="contentAttachmentResource"/>
          <ref component-id="blobResource"/>
          <ref component-id="moduleResource"/>
          <ref component-id="relationshipResource"/>
          <ref component-id="relationshipTypeResource"/>
          <ref component-id="contentResource"/>
          <ref component-id="securityResource"/>
          <ref component-id="pageResource"/>
          <ref component-id="mixinResource"/>
          <ref component-id="contentTypeResource"/>
          <ref component-id="pageTemplateResource"/>
          <ref component-id="pageDescriptorResource"/>
          <ref component-id="partDescriptorResource"/>
          <ref component-id="layoutDescriptorResource"/>
          <ref component-id="metadataSchemaResource"/>
        </list>
      </property>
    </bean>
  </service>

</blueprint>
