<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">

  <cm:property-placeholder persistent-id="com.enonic.wem.admin" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="resourcesDevDir" value=""/>
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="resourceLocator" class="com.enonic.wem.admin.app.ResourceLocator" init-method="start" destroy-method="stop">
    <argument index="0" ref="blueprintBundleContext"/>
    <property name="resourcesDevDir" value="${resourcesDevDir}"/>
  </bean>

  <service auto-export="interfaces">
    <bean class="com.enonic.wem.admin.app.MainResource">
      <property name="resourceLocator" ref="resourceLocator"/>
    </bean>
  </service>

  <service auto-export="interfaces">
    <bean class="com.enonic.wem.admin.rest.provider.JsonObjectProvider"/>
  </service>

  <service auto-export="interfaces">
    <bean class="com.enonic.wem.admin.rest.provider.JsonSerializableProvider"/>
  </service>

  <service auto-export="interfaces">
    <bean class="com.enonic.wem.admin.rest.multipart.MultipartFormReader"/>
  </service>

  <service auto-export="interfaces">
    <bean class="com.enonic.wem.admin.rest.provider.RenderedImageProvider"/>
  </service>

  <service auto-export="interfaces">
    <bean class="com.enonic.wem.admin.rest.resource.status.StatusResource"/>
  </service>

</blueprint>
