.panel-strip {
  overflow-y: auto;

  > .panel {
    margin: 0;
    position: static;
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 1px solid @admin-medium-gray-border;
  }
}

.panel-strip-scrollable {
  overflow-y: auto;

  .panel-strip {
    position: static;
    overflow-y: hidden;
  }
}