.uploader {

  input[type=text] {
    width: 100%;
    margin-bottom: 4px;
  }

  .dropzone-container {

    .dropzone {
      text-decoration: none;
      display: block;
      height: 250px;
      width: 100%;
      line-height: 250px;
    }
  }

  .progress-bar {
    width: 100%;
    margin: 25px 0;
    height: 32px;
    //.linear-gradient(top, #444, #666);

    .progress-indicator {
      background-color: #8db800;
      //.linear-gradient(top, #a7d200, #8db800);
    }

  }

  .result-container {
  }

}
