.modal-dialog {
  display: none;
  background-color: white;
  padding: 30px;
  min-width: 400px;
  z-index: @z-index-modal-dialog;
  position: fixed;
  top: 50%;
  left: 50%;

  .dialog-header {
    .clearfix();
    margin-bottom: 20px;

    h2 {
      line-height: 0.8em;
    }
  }

  .dialog-content {
    .clearfix();

    > p {
      margin-bottom: 20px;
    }
  }

  .dialog-buttons {
    .clearfix();
    margin-top: 20px;

    .button-container {
      float: right;
    }

    .button {
      .button(@form-button-font, @admin-button-blue2, @form-button-font, lighten(@admin-button-blue2, 10%));
      padding: 4px 19px 4px 19px;
      margin-left: 11px;
    }
  }

  .button {
    &.cancel-button {
      &:extend(.icon);
      .icon-close;

      position: absolute;
      top: 5px;
      right: 5px;

      padding: 4px 4px 4px 4px;
      background-color: white;

      &:before {
        color: #53585f;
      }

      &:hover:not(:disabled) {
        background-color: white;

        &:before, span {
          color: #53585f;
        }
      }

      &:focus:not(:disabled) {
        box-shadow: 0px 0px 5px white;
        border: 1px solid white;
      }
    }
  }
}

.upload-dialog {
  width: 800px;
}

.confirmation-dialog {
  width: 500px;
}
