body {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.admin-start-menu {
    padding: 10px;
    font: 13px normal Arial, sans-serif;
    color: white;
    background: black; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 1, startColorstr = '#000000', endColorstr = '#363639'); /* for IE */
    background: -webkit-gradient(linear, left top, right top, from(#000), to(#363639)); /* for webkit browsers */
    background: -moz-linear-gradient(left, #000, #363639); /* for firefox 3.6+ */
}

.top {
    position: relative;
    padding: 10px 120px 10px 0;
    clear: left;
}

.top .logo {
    float: left;
    margin-right: 390px;
    margin-bottom: 10px;
}

.top .search {
    float: left;
    top: 0;
    width: 550px;
    margin-bottom: 10px;
}

.top .search input {
    width: inherit;
    height: 25px;
    line-height: 100%;
    border: 1px;
}

.top .user {
    line-height: 25px;
    height: inherit;
    background: black;
    padding-right: 20px;
    position: absolute;
    right: -10px;
    top: 10px;
}

.top .user img {
    width: 35px;
    height: 25px;
    float: left;
}

.top .user a {
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

/*  Tile    */
.center {
    overflow-x: auto;
}

.center .scroller {
    width: 2000px;
}

.center .scroller .wrapper {
    float: left;
}

.center .tile {
    display: block;
    position: relative;
    float: left;
    width: 130px;
    height: 110px;
    margin: 5px;
    font-size: 16px;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-position: center;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 5-7 */
    filter: alpha(opacity = 80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8;
}

.tile.start-row {
    clear: left;
    margin-left: 0;
}

.tile.span2 {
    width: 270px !important;
}

.tile:hover {
    cursor: pointer;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity = 100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
}

/*  Tile title & content  */

.tile .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
}

.tile .content {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    padding: 5px;
}

.tile .content img {
    width: 100%;
    height: 100%;
}

.tile .content .item {
    clear: left;
}

.tile .content .item img {
    float: left;
    margin: 0 5px 5px 0;
    width: 24px;
    height: 24px;
}

.tile .content .item p {
    margin: 0 0 5px;
    font-size: 11px;
}

.tile.title-top .title {
    top: 0;
    bottom: auto;
}

.tile.title-top .content {
    top: 25px;
    bottom: 0;
}

.tile.title-bottom .title {
    top: auto;
    bottom: 0;
}

.tile.title-bottom .content {
    bottom: 25px;
    top: 0;
}

.tile.title-left .title {
    text-align: left;
}

.tile.title-right .title {
    text-align: right;
}

.tile.title-mask .title {
    background: url("../../../admin/resources/images/bg_black.png") repeat;
}

.tile.title-mask .content {
    bottom: 0;
    top: 0;
    padding: 0;
}

/*  Pager  */

.pager-container {
    text-align: center;
    padding: 10px 0 0;
}

ul.pager {
    margin: 0 auto;
    display: inline-block;
}

ul.pager li {
    background: url("../../html-templates/images/unchecked.png");
    width: 18px;
    height: 18px;
    margin: 2px;
    float: left;
    cursor: pointer;
}

ul.pager li.current {
    background: url("../../html-templates/images/checked.png");
    width: 18px;
    height: 18px;
    margin: 2px;
    float: left;
    cursor: default;
}

ul.bottom {
    padding: 10px 0 0;
}

ul.bottom li {
    float: right;
    margin-left: 20px;
}

ul.bottom li a {
    font-weight: bold;
    color: white;
}

/*  Individual tiles configs    */

.tile.dashboard {
    background-image: url('../../html-templates/images/dashboard.jpg');
    background-size: 100% 100%;
}

.tile.content-manager {
    background-color: #0056D6;
    background-image: url("../../html-templates/images/data.png");
}

.tile.userstores {
    background-color: #06419F;
    background-image: url("../../html-templates/images/user_earth.png");
}

.tile.accounts {
    background-color: #9929BD;
    background-image: url("../../html-templates/images/users2.png");
}

.tile.administrators {
    background-color: #E32400;
    background-image: url("../../html-templates/images/earth.png");
}

.tile.schema-manager {
    background-color: #AE1D00;
    background-image: url("../../html-templates/images/cube_molecule.png");
}

.tile.schedule {
    background-color: #0251CA;
    background-image: url("../../html-templates/images/clock.png");
}

.tile.cluster {
    background-color: #060606;
    background-image: url("../../html-templates/images/virus.png");
}

.tile.activity {
    background-color: #67A13A;
}

.tile.live-trace {
    background-color: #060606;
    background-image: url("../../html-templates/images/linechart.jpg");
    background-size: 100% 100%;
}

/* http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */