@admin-black: black;
@admin-white: #fff;
@admin-red: #cb0300;
@admin-green: #609e24;
@admin-blue: #4294de;

@admin-almost-white: #f5f5f5;
@admin-dark-gray: #53585F;
@admin-shadow-gray: #888;


@admin-bg-light-gray: #eee;
@admin-bg-dark-gray: #333;
@admin-bg-light-blue: #ebf5ff;
@admin-bg-almost-white: #fafafa;

@admin-medium-gray-border: #ccc;
@admin-dark-gray-border: #aaa;

@admin-font-gray: #eee;
@admin-font-gray1: #acacac;
@admin-font-gray2: #777;
@admin-font-gray3: #333;


@input-dark-red:#843534;
@input-red-text:#a94442;
@input-light-red:#f2dede;

@admin-input-blue: #98c9f2;
@admin-input-red: #f0a197;

@admin-button-blue1: #5a94ee;
@admin-button-blue2: #2c76e9;
@admin-button-blue3: #263fe9;

@form-button-bg: #919594;
@form-button-bg-hover: #b1b1b1;
@form-button-font: white;
@form-button-font-disabled: #aaaaaa;

@admin-tooltip-bg: #fffcad;
