.linear-gradient(@side, @startColor, @stopColor) {
  background: @startColor; /* Old browsers */
  background: -webkit-linear-gradient(@side, @startColor, @stopColor); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(@side, @startColor, @stopColor); /* FF3.6+ */
  background: -ms-linear-gradient(@side, @startColor, @stopColor); /* IE10+ */
  background: -o-linear-gradient(@side, @startColor, @stopColor); /* Opera 11.10+ */
  background: linear-gradient(@side, @startColor, @stopColor); /* W3C */
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.border-radius(@size) {
  -webkit-border-radius: @size;
  -moz-border-radius: @size;
  -ms-border-radius: @size;
  -o-border-radius: @size;
  border-radius: @size;
}

.clearfix() {
  zoom: 1;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.noSelect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.noAppearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.box-sizing(@value) {
  -moz-box-sizing: @value;
  -webkit-box-sizing: @value;
  -ms-box-sizing: @value;
  box-sizing: @value;
}

.placeholder(@size, @style) {
  &::-webkit-input-placeholder {
    font-size: @size;
    font-style: @style;
  }

  &::-moz-placeholder {
    font-size: @size;
    font-style: @style;
  }

  &:-moz-placeholder {
    font-size: @size;
    font-style: @style;
  }

  &:-ms-input-placeholder {
    font-size: @size;
    font-style: @style;
  }
}

.transition (@value1,@value2:X,...) {
  @params: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-transition: @params;
  -moz-transition: @params;
  -o-transition: @params;
  transition: @params;
}

.transform (@function) {
  -webkit-transform: @function;
  -moz-transform: @function;
  -ms-transform: @function;
  -o-transform: @function;
  transform: @function;
}

.scale (@factor) {
  .transform(scale(@factor));
}

.rotate (@degrees) {
  .transform(rotate(@degrees));
}

.ellipsis() {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.placeholderColor(@color) {
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: @color;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @color;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @color;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: @color;
  }
}

.animation (@name, @duration: 1s, @delay: 0s, @ease: ease, @iteration: infinite) {
  -webkit-animation: @name @duration @delay @ease @iteration;
  -moz-animation: @name @duration @delay @ease @iteration;
  -ms-animation: @name @duration @delay @ease @iteration;
  animation: @name @duration @delay @ease @iteration;
}

.default-slick-cell-styling(@padding: 8px) {
  border: none;
  padding: @padding;
  .box-sizing(border-box);
}

.flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex(@values) {
  -webkit-box-flex: @values;
  -moz-box-flex: @values;
  -webkit-flex: @values;
  -ms-flex: @values;
  flex: @values;
}

.order(@value) {
  -webkit-box-ordinal-group: @value;
  -moz-box-ordinal-group: @value;
  -ms-flex-order: @value;
  -webkit-order: @value;
  order: @value;
}

.align-items(@value) {
  -webkit-align-items: @value;
  -moz-align-items: @value;
  -ms-align-items: @value;
  -ms-flex-align: @value;
  align-items: @value;
}

.opacity(@value) {
  -webkit-opacity: @value;
  -moz-opacity: @value;
  opacity: @value;
}

.arrow(@color, @height) {

  &:before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: @height solid transparent;
  }

  &.bottom {
    margin-top: @height;

    &:before {
      border-bottom-color: @color;
      top: -2 * @height;
      left: 50%;
      margin-left: -@height;
    }
  }

  &.left {
    margin-right: @height;

    &:before {
      border-left-color: @color;
      right: -2 * @height;
      top: 50%;
      margin-top: -@height;
    }
  }

  &.top {
    margin-bottom: @height;

    &:before {
      border-top-color: @color;
      bottom: -2 * @height;
      left: 50%;
      margin-left: -@height;
    }
  }

  &.right {
    margin-left: @height;

    &:before {
      border-right-color: @color;
      left: -2 * @height;
      top: 50%;
      margin-top: -@height;
    }
  }
}
