.access-control-list-item {

  position: relative;
  padding: 5px;

  .names-and-icon-view {
    margin: 0 130px 0 0;
  }

  .access-selector {
    position: absolute;
    top: 12px;
    right: 40px;
  }

  .icon-close {
    position: absolute;
    top: 14px;
    right: 5px;
  }

}