.access-selector {

  label {
    color: @admin-blue;
    pointer-events: none;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  select {
    color: @admin-blue;
    border: none;
    background: none;
    .noAppearance();

    padding: 0 20px 0 0;
  }

}