.access-control-list {

  &.inherited {

    .permission-toggle {

      &.inherit {
        padding: 2px 10px;
        border: 0 none;
        background: @admin-almost-white;
        color: @admin-dark-gray-font;

        &:before {
          display: block;
          content: 'V ';
        }
      }

    }

  }

}