.grid-panel2 {
  .grid {
    width: 100% !important;
    .grid-canvas {
      width: 100% !important;
    }

    .selected {
      background-color: @admin-blue;
      color: white;
    }

    .slick-cell {
      border: 0;
      padding: 5px;
    }

    .slick-row {
      &.odd {
        background-color: #fafafa;
      }
      input[type=checkbox] {
        margin:10px;
      }
      h6 {
        font-size: 14px;
        line-height: 16px;
      }
      img {
        display: block;
        float: left;
        margin-right: 15px;
      }
      .text {
        float:left;
      }
      p {
        line-height: 1.4;
        color: #777777;
        clear: left;
        font-size:11px;
      }
      .selected p {
        color: white;
      }

    }
  }
}