.name-and-icon-view {

  margin: 0 0 0 42px;

  .main-name {

    font-size: 14px;
    line-height: 16px;

    .ellipsis();

    height: 1.14em;
  }

  .sub-name {

    color: @admin-light-gray-font;

    font-size: 12px;
    .ellipsis();
  }
}