
/** Arrow */

/* Arrow (cssarrowplease.com/) */
.live-edit-arrow-bottom:after,
.live-edit-arrow-bottom:before,
.live-edit-arrow-top:after,
.live-edit-arrow-top:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.live-edit-arrow-top:after,
.live-edit-arrow-top:before {
  bottom: 100%;
}

.live-edit-arrow-top:after {
  border-color: rgba(255, 249, 203, 0);
  border-bottom-color: #f6f5f7;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

.live-edit-arrow-top:before {
  border-color: rgba(152, 152, 152, 0);
  border-bottom-color: #aaa;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}

.live-edit-arrow-bottom:after,
.live-edit-arrow-bottom:before {
  top: 100%;
}

.live-edit-arrow-bottom:after {
  border-color: rgba(255, 249, 203, 0);
  border-top-color: #f6f5f7;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

.live-edit-arrow-bottom:before {
  border-color: rgba(152, 152, 152, 0);
  border-top-color: #aaa;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}
