
.live-edit-components-container {
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  font: 14px Tahoma, sans-serif;
}

.live-edit-components-container.live-edit-collapsed .live-edit-toggle-components-container {
  background-image: url("../images/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center 10px;
  height: 100px;
}

.live-edit-components-container .live-edit-toggle-components-container {
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
}

.live-edit-components-container {
  -webkit-transition: right 100ms ease-in;
  transition: right 100ms ease-in;
}

.live-edit-form-container {
  overflow: hidden;
}

.live-edit-toggle-components-container {
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2e70FA;
  height: 100px;
  box-shadow: 0 0 10px #777777;
}

.live-edit-toggle-text-container {
  display: block;
  -webkit-transform: rotate(90deg) translateY(0);
  transform: rotate(90deg) translateY(0);
  padding-left: 45px;
  padding-top: 10px;
  font-weight: bold;
  color: #ffffff;
}

.live-edit-components {
  right: 0;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  top: 0;
  min-width: 205px;
  z-index: -2;
  box-shadow: 0 0 10px #777777;
}

.live-edit-components input {
  margin: 8px;
  padding: 5px 3px;
  width: 87%;
  -webkit-user-select: auto;
}

.live-edit-components ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.live-edit-components ul li {
  margin-bottom: 8px;
}

.live-edit-component-list-header {
  text-align: center;
  position: relative;
}

.live-edit-component-list-header:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.live-edit-component-list-header span {
  background-color: #eeeeee;
  padding: 0 8px;
  color: #4a87e5;
}

.live-edit-component {
  overflow: hidden;
  padding: 8px;
  cursor: move;
}

.live-edit-component:hover {
  background-color: #3892dd;
  color: #fff;
}

.live-edit-component img {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.live-edit-component-text-name {
  font-size: 14px;
  margin-bottom: 2px;;
}

.live-edit-component-text-subtitle {
}
