@import "../modules/colors";

.live-edit-component-menu {
  position: absolute;
  min-width: 150px;
  padding: 0;
  background-color: $baseColor;
  border: 1px solid $borderColor;
  box-shadow: $shadow;
}

.live-edit-component-menu-title-bar {
  overflow: hidden;
  margin-bottom: 2px;
  cursor: hand;
  cursor: grab !important;
  cursor: -moz-grab;
  cursor: url($resourcePath + '/images/cursor-grab.png'), pointer !important;
  cursor: -webkit-grab;
}

.live-edit-component-menu-title-icon,
.live-edit-component-menu-title-text,
.live-edit-component-menu-title-close-button {
  padding: 5px;
}

.live-edit-component-menu-title-icon {
  padding: 7px;
  float: left;
}

.live-edit-component-menu-title-icon > div {
  width: 22px;
  height: 22px;
}

.live-edit-component-menu-page-icon {
  background: transparent url($resourcePath + "/images/component-types/22/file.png") center center no-repeat;
}

.live-edit-component-menu-region-icon {
  background: transparent url($resourcePath + "/images/component-types/22/compass.png") center center no-repeat;
}

.live-edit-component-menu-part-icon {
  background: transparent url($resourcePath + "/images/component-types/22/puzzle.png") center center no-repeat;
}

.live-edit-component-menu-paragraph-icon {
  background: transparent url($resourcePath + "/images/component-types/22/text-color.png") center center no-repeat;
}

.live-edit-component-menu-layout-icon {
  background: transparent url($resourcePath + "/images/component-types/22/insert-template.png") center center no-repeat;
}

.live-edit-component-menu-content-icon {
  background: transparent url($resourcePath + "/images/component-types/22/text-color.png") center center no-repeat;
}

.live-edit-component-menu-title-text {
  float: left;
  font-size: 14px;
  color: #000;
  padding-top: 7px;
  padding-left: 2px;
}

.live-edit-component-menu-title-close-button {
  float: right;
  cursor: pointer;
  background: transparent url($resourcePath + "/images/close.png") center center no-repeat;
  width: 22px;
  height: 22px;
  padding: 5px 7px;
}

.live-edit-button {
  cursor: pointer !important;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

/* Component menu button */
.live-edit-component-menu-button {
  padding: 7px 10px;
}

.live-edit-component-menu-button:hover {
  background-color: $hoverColor;
  color: $hoverTextColor !important;
}

.live-edit-button-text {
  font-size: 14px;
  color: #606060;
  line-height: 20px;
  text-transform: capitalize;
}

.live-edit-button-icon {
  display: block;
  width: auto;
  height: 24px;
  padding-bottom: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center 5px;
}

.live-edit-component-menu-button:hover .live-edit-button-text {
  color: #fff !important;
}