@import "../modules/colors";

#live-edit-drag-helper {
  border: 1px solid #c6c6c6;
  padding: 6px 16px 6px 8px;
  box-shadow: $shadow;
  background-color: #fff;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
}

#live-edit-drag-helper img {
  border: 0;
  vertical-align: top;
  margin-right: 5px;
}

#live-edit-drag-helper-status-icon {
  vertical-align: middle;
}

#live-edit-drag-helper-text {
  display: inline-block;
  padding-top: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.live-edit-drop-target-placeholder {
  list-style-type: none; /* The placeholder in jQuery UI has the same tag name as the dragged component */
  clear: both;
  border: 2px dashed #000;
  padding: 28px;
  color: #000;
  font-size: 20px;
  text-align: center;
  background-color: #eee;
  margin: 1px 0 10px 0;
}

.live-edit-component-padding {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}