@import "../variables";

.live-edit-loader-splash-container {
    z-index: 2000000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .9);
}

.live-edit-loader-splash-content {
    z-index: 2000010;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    text-align: center;
    cursor: progress !important;
}

.live-edit-loader-splash-content .live-edit-loader-splash-spinner {
    font-size: 85px;
    margin-bottom: 10px;
    animation: live-edit-spinner .5s infinite linear;
    -webkit-animation: live-edit-spinner .5s infinite linear;
}