@import "../modules/variables";
@import "../modules/colors";

.live-edit-empty-region-placeholder {
  background-color: #fff;
  border: 2px dashed #add8e6;
  clear: both;
  color: #add8e6;
  font-size: 20px;
  padding: 28px 10px;
  text-align: center;
}

.live-edit-empty-part-placeholder {
  border: 1px dashed $borderColor;
  clear: both;
  color: #d3d3d3;
  margin-bottom: 10px;
  padding: 11px;
  text-align: center;
}


/*** HTML element placeholders */
.live-edit-drop-target-placeholder {
  list-style-type: none; /* The placeholder in jQuery UI has the same tag name as the dragged component */
  clear: both;
  border: 2px dashed #000;
  padding: 28px;
  color: #000;
  font-size: 20px;
  text-align: center;
  background-color: #eee;
  margin: 1px 0 10px 0;
}

.live-edit-html-element-placeholder {
  position: relative;
  color: #444;
  background-color: Lightgoldenrodyellow;
  border: 1px solid #ccc;
}

.live-edit-html-element-placeholder div {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  padding-top: 22px;
}

.live-edit-html-element-placeholder .live-edit-iframe {
  background: transparent url($resourcePath + "/images/window_star.png") no-repeat;
}

.live-edit-html-element-placeholder .live-edit-object {
  background: transparent url($resourcePath + "../images/plug.png") no-repeat;
}