[id^=live-edit-ui-cmp-],
[id^=live-edit-ui-cmp-] *,
#live-edit-drag-helper-text {
  border: 0;
  outline: 0;
  color: #000;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.2;
}
