.live-edit-loader-splash-container {
  z-index: 2000000;
}

.live-edit-loader-splash-content {
  z-index: 2000010;
}

svg.live-edit-highlight-border {
  z-index: 1000000;
}

#live-edit-shader-north {
  z-index: 1000050;
}

#live-edit-shader-east {
  z-index: 1000060;
}

#live-edit-shader-south {
  z-index: 1000070;
}

#live-edit-shader-west {
  z-index: 1000080;
}

#live-edit-page-shader {
  z-index: 1000090;
}

.live-edit-editor-toolbar {
  z-index: 1000100;
}

.live-edit-tool-tip {
  z-index: 1000150;
}

.live-edit-context-menu {
  z-index: 1000200;
}

.live-edit-components-container {
  z-index: 1000250;
}