.option-filter-input {
  .box-sizing(border-box);
  .input-border();
  .input-font();

  background-color: #FFF;
  width: 100%;
  height: 37px;
  padding: 4px 37px 4px 10px;
  line-height: 16px;

  &:focus {
    border-color: @admin-black;
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background: none;
  }

  .placeholder(1em, italic);
}