.attachment-item {

  margin-top: 8px;

  .names-view {
    display: inline-block;

    .sub-name {
      display:none;
    }

    .main-name {
      height: 18px;
      line-height: 18px;
    }
  }

  .remove {
    float: left;
    font-size: 20px;
    cursor: pointer;
    clear: right;
    font-weight: bold;
    .icon-close2();

    &:before {
      position: relative;
      display: block;
    }
  }

}