.content-combo-box {
  .selected-option {
    .edit {
      &:extend(.icon);
      .icon-pencil2;

      float: right;
      margin: 0 20px;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}