.content-combo-box {

  .grid .slick-row {

    &:not(.selected) {
      .slick-cell:not(.selected).status {
        .content-status-mixin();
      }
    }

    .slick-cell {
      &.status {
        text-align: center;
        font-style: normal;

        div:not(.online) {
          line-height: 18px;
        }
        .pending_delete {
          font-size: 0.8em;
        }
      }
    }
  }
}