.wizard-step-form .content-combo-box {
  .selected-option {

    position: relative;
    padding: 0 20px 8px 8px;

    .edit, .remove {
      float: none;
      margin: 0;
      position: absolute;
      top: 8px;
    }
    .edit {
      right: 30px;
    }
    .remove {
      right: 0px;
    }
  }
}