.thumbnail-uploader-el {

  .dropzone-container {
    .thumbnail-dropzone-container();
  }

  .progress-bar {
    position: absolute;
    height: 10px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    margin: 0; // override default margin
  }

  .result-container {
    height: 100%;
    width: 100%;
    line-height: 64px;
    text-align: center;

    img {
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

}