.thumbnail-uploader-el {

  .dropzone-container {
    .thumbnail-dropzone-container();
  }

  .progress-bar {
    position: absolute;
    height: 10px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    margin: 0; // override default margin
  }

  .result-container {
    height: 100%;
    width: 100%;
    line-height: 64px;
    text-align: center;

    img {
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &.invalid .result-container:after {
    position: absolute;
    content: "!";
    background: @admin-red;
    color: @admin-white;
    top: 5px;
    width: 20px;
    height: 20px;
    padding: 2px;
    line-height: 18px;
    border-radius: 14px;
    font-size: 16px;
    z-index: 1;
    right: -10px;
  }

}