@import url('support.css');

/**************
 * CUSTOM CSS *
 **************/

/* Blueprint override */
h1 {font-size:1.3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.2em;margin-bottom:0.75em;}
h3 {font-size:1.1em;line-height:1;margin-bottom:1em;}
label {padding:4px 0;display:block;clear:both;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0 0 10px;}
input.text, input.title {display:block;clear:both;width:94%;}
select {width:100%;}
textarea {height:200px;font-family:'Trebuchet MS',sans-serif;font-size:72%;width:94%;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {margin:0 10px 10px 0;float:left;}

/* UI override */
.ui-tabs .ui-tabs-nav li {
    width: 99%;
}

.ui-tabs .ui-tabs-nav li a {
    width: 88%;
}

/* general */
.icon.text, .list .item img.icon.text {float:left;margin:3px 5px 0 0;}

p.preface {
    font-size: 110%;
}

pre {
    font-size: 0.7em;
    white-space: normal;
}

div.search-item {
    margin-bottom: 24px;
}

div.search-item .context {
    width: auto;
    margin-bottom: 6px;
}

div.search-item .context h2 {
    margin: 0;
}

div.surround {
    float: none;
}

/* forum */
div#forum-posting div.new-post-wrapper textarea#body {
    width: 284px;
}

div.forum-thread .list .item {
    overflow: hidden;
}

/* framework */
#logo {width:112px;height:34px;position:absolute;left:7px;top:9px}
#outer-container {background:#fff;}

/* forms */
label.error {
    clear: both;
    color: #8a1f11;
    padding: 0;
    border: none;
    background: none;
    margin: 0;
}

form img.clear {
    display: block;
}

label.radio {
    clear: both;
    float: left;
    padding-top: 0;
}

label.checkbox span {
    float: left;
}

label.checkbox span.tooltip {
    float: none;
}

label.checkbox input[type=checkbox], label.checkbox input.checkbox {
    float: none;
    margin: 0 0 10px 10px;
    top: 0;
}

form#searchblox input {
    clear: both;
}

form#searchblox input.text {
    margin: 0;
}

/* Video player */
.video-controls .time-container {
    font-size: 70%;
}

.video-controls div.progress-bar-container {
    width: 40%;
}

/* Sitemap */
#sitemap li {
    border-top: 1px solid #cdc4c0;
}

form#searchblox .row {
    float: none;
}

#sitemap ul li {
    border: 0;
}

/* Article */
span.byline {
    font-weight: bold;
    font-size: 90%;
    display: block;
}

/* comments */
#comments h4.float-right {
    float: none;
    margin: 0;
}

/* file archive */
#file-archive ul ul {
    display: none;
}

#file-archive li {
    width: 100%;
}

#file-archive span {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    display: block;
}

#file-archive ul ul .name span {
    padding-left: 26px;
}

#file-archive ul ul ul .name span {
    padding-left: 47px;
}

#file-archive .kind span {
    border: 0;
}

#file-archive .size, #file-archive .kind, #file-archive .date-modified {
    display: none;
}

/* navigation menu */
ul.menu.navigation li.end, ul.menu.navigation li.number {
    display: none;
}

#navigation-header {
    float: left;
}

ul.menu.navigation div, ul.menu.navigation a {
    margin-left: 5px;
    white-space: 
}





/******** SUPPORT *********/


#support-issue-list #issue-list {
    width: 295px;
}

#support-issue-list #filter {
    display: none;
}

#support-issue-list .heading {
    width: 100%;
    padding: 0 !important;
}

#support-issue-list table {
    width: 100%;
}

#support-issue-list table th {
    display: none;
}

#support-issue-list table th:first-child {
    display: block;
}

#support-issue-list table td {
    display: none;
}

#support-issue-list table td:first-child {
    display: block;
}

#support-issue-form fieldset,
#support-issue-form label,
#support-issue-form input,
#support-issue-form textarea,
#support-issue-form select,
#support-issue-form legend,
#support-issue-form .tooltip {
    float: none !important;
    clear: both !important;
    margin: 0 0 10px 0 !important;
}

#support-issue-form fieldset {
    width: 280px !important;
    padding: 0 !important;
}

#support-issue-form label,
#support-issue-form input,
#support-issue-form textarea,
#support-issue-form select,
#support-issue-form legend,
#support-issue-form .tooltip {
    width: 270px !important;
    padding: 5px !important;
}

#support-issue-form .tooltip h3 {
    margin-bottom: 5px !important;
    background: url('../../skins/advanced/standard/images/icon-info.png') top right no-repeat;
}

#support-issue-form .tooltip > div {
    display: none;
}

#support-issue-show #comments .comment {
    width: 270px !important;
    padding: 5px !important;
}

#support-issue-show #comments .comment .message > div {
    width: auto !important;
}

#support-issue-show #comments #comment-form textarea {
    width: 270px !important;
    padding: 5px !important;
}

#support-issue-show #comments #comment-form select {
    width: 270px !important;
    padding: 0 5px !important;
}

#support-issue-show #comments #comment-form .tooltip {
    display: none;
}

#support-issue-show .description > div {
    width: 250px;
    
}

a.download-button {
	width: 92%; 
	height: 60px; 
	padding: 10px;
}

span.grad-button-text-wrapper {
	display: inline-block; 
	float: left; 
	text-align: left;
}

span.grad-button-large-text {
	display: block; 
	font-size: 1.4em; 
	line-height: 1.3;
	margin-top: .4em;
	
}

span.grad-button-small-text {
	display: block; 
	font-size: 50%;
	color: #555;
}


/*


#support-issue-list .control ul {
    display: none;
}

#support-issue-list table .description {
    display: none;
}


#support-issue-show #comments .item {
    width: auto;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
}

#support-issue-show #comments .item .meta {
    float: none !important;
    display: block;
    width: auto;
}

#support-issue-show #comments .item .meta .timestamp {
    font-size: 10px;
}

#support-issue-show #comments .item .comment {
    width: auto;
    float: none !important;
    display: block;
    clear: both;
    margin: 0 !important;
    padding: 5px !important;
}
*/